<template>
  <b-container fluid>
    <!--  <li>-->
    <!--    <a v-on:click="expand()">{{ folder.text }}</a>-->

    <!--    <ul class="sub-folders" v-if="folder.children && folder.children.length > 0" v-show="folder.expanded">-->
    <!--      <folder v-for="child in folder.children" v-bind:folder="child"></folder>-->
    <!--    </ul>-->
    <!--    <div class="folder-empty" v-else v-show="!folder.leaf && folder.expanded">No Data</div>-->
    <!--  </li>-->

    <div>

      <a v-b-toggle="'collapse' + folder.id" @click="fetchChildList(folder)">{{ folder.name }} ( {{folder.count}} )
      </a>
      <a v-if="structureAllow.isAdd">
        <i class="mr-2 fa fa-plus-circle" style="color: #4dbd74" @click="loadStructure(folder)"></i>
      </a>
      <a v-if="structureAllow.isDelete">
        <i class="mr-2 fa fa-times-circle" style="color: #f86c6b" @click="deleteStructure(folder)"></i>
      </a>
      <!--      <button class="btn" @click="fetchChildList(item)">click</button>-->
      <b-collapse v-if="folder.count" :id="'collapse' + folder.id">
        <folder class="m-2" v-for="(child,index) in folder.child_list" v-bind:key="index" v-bind:folder="child"></folder>
      </b-collapse>
    </div>
  </b-container>
</template>

<script>
  import Multiselect from "vue-multiselect";
  import PermissionMixin from "../../../mixins/PermissionMixin";

  export default {
    mixins: [PermissionMixin],
    name: "folder",
    props: {
      folder: Object,
    },
    components: {Multiselect},
    data() {
      return {
        selectedStructure: {},
        title_list: [],
        title_group_list: [],
        child_list: [],
        wordTitle: '',
        group: {
          id: '',
          parent: '',
          title: '',
          group: ''
        },
        isAdd: false,
        isEdit: false,
        isDelete: false,
        structureAllow: {}
      }
    },
    async created() {
      await this.fetchGroupPermission()
      this.structureAllow = await this.initialPermission('title_group', 'structure')
      if (!this.structureAllow.isView) {
        this.$router.push({name: 'Page403'})
      }
      // this.checkPermission = this.groupPermission.find(x => x.name === 'System Management')
      // console.log(this.checkPermission)
      // this.isAdd = this.checkPermission.permission_code.includes('title_group_structure_add_structure')
      // this.isEdit = this.checkPermission.permission_code.includes('title_group_structure_change_structure')
      // this.isDelete = this.checkPermission.permission_code.includes('title_group_structure_delete_structure')
    },
    methods: {
      expand() {
        if (this.folder.leaf) {
          return;
        }

        this.folder.expanded = !this.folder.expanded;
      },
      // async fetchChildList(item) {
      //   console.log(item)
      //   const EventBus = this.$root;
      //   EventBus.$emit('fetchChildList', item)
      // },
      async fetchChildList(item) {
        // console.log(item)
        const ctx = this;
        ctx.titleChosen = [];

        await ctx.$services.titleGroup.findStructureById(item.id)
          .then(function (child_list) { // child
            ctx.child_list = child_list; // get child list

            // console.log('f-chikd' , ctx.child_list) // get child from service
            // { "id": "GS20200500011" :,
            //   child_list : [""],
            //   "name": "BATMAN",
            //   "title_id": "ST20200400026",
            //   "group_id": null, "count": 2
            // }

            // console.log(item)
            // console.log('choosen', ctx.title_group_list);
            ctx.titleChosen = ctx.title_group_list.find(x => x.id === item.id) // while click
            if (!ctx.titleChosen) {
              ctx.titleChosen = ctx.child_list.find(x => x.id === item.id)
              // console.log(ctx.titleChosen)
            }
            // console.log('choosen mid', ctx.titleChosen);


            // ctx.titleChosen = Object.assign(ctx.titleChosen, {child_list: ctx.child_list});
            // console.log('choosen last', ctx.titleChosen);

            // ctx.title_group_list[0].child_list = {};
            // ctx.title_group_list[0].child_list = ctx.child_list;


            // ctx.$nextTick(function () {
            //   ctx.title_group_list[0].id = item.id.toLowerCase()
            // })
            // ctx.title_group_list[0].id = item.id.toLowerCase();
            // ctx.title_group_list[0].id = item.id.toUpperCase();
            // ctx.title_group_list[0] = ctx.titleChosen;
            // console.log('2' , ctx.title_group_list)
            let i = 0;
            let n = ''
            for (i = 0; i <= ctx.title_group_list.length; i++) {
              // console.log('i', i, item.id, ctx.titleChosen.id)

              // if (item.id === ctx.titleChosen.id) {
              // console.log('i', i);
              item.child_list = {};
              item.child_list = ctx.child_list;
              n = item.id;
              item.id = '';
              item.id = n;
              return

              // }
            }




            // console.log('ctx.title_group_list' , ctx.title_group_list)


            // ctx.child_list.ctx.titleChosen.push( ctx.child_list)

            // ctx.titleChosen = Object.assign(ctx.titleChosen, {child_list: ctx.child_list})
            // console.log('mom', ctx.titleChosen)
            // console.log('child fol', ctx.title_group_list)
            // item = ctx.titleChosen
          })
      },

      loadStructure(item) {
        console.log(item)
        const EventBus = this.$root;
        EventBus.$emit('update', item)
      },
      async deleteStructure(item) {
        console.log(item)
        const EventBus = this.$root;
        EventBus.$emit('delete', item)
      },
    }
  };
</script>

<style>
  /*li.is-folder {*/
  /*  padding: 1rem;*/
  /*  border-left: 1px solid #d3d3d3;*/
  /*  margin-bottom: 0.5rem*/
  /*}*/
  /*li.is-folder > span {*/
  /*  padding: 0.5rem;*/
  /*  border: 1px solid #d3d3d3;*/
  /*  cursor: pointer;*/
  /*  display:inline-block*/
  /*}*/
  /*li.is-leaf {*/
  /*  padding: 0 0 0 1rem;*/
  /*  color: #000;*/
  /*}*/
  /*ul.sub-folders {*/
  /*  padding: 1rem 1rem 0 0;*/
  /*  margin: 0;*/
  /*  box-sizing: border-box;*/
  /*  width: 100%;*/
  /*  list-style: none*/
  /*}*/
  /*div.folder-empty {*/
  /*  padding: 1rem 1rem 0 1rem;*/
  /*  color: #000;*/
  /*  opacity: 0.5*/
  /*}*/
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
