<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess">
      Update title group success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add title group success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownMsgError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedMsgError">
      {{messageError}}. This alert will dismiss after {{ dismissCountDownMsgError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete title group success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>

    <b-row class="text-center" v-if="structureAllow.isAdd">
      <b-col cols="1">
        <a v-b-modal.add-title-group>
          <i class="fa fa-plus-circle fa-lg " style="font-size: 150%"></i><br>Add
        </a>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="col-12">
        <b-card class="mt-2">
          <div slot="header">
            <strong>Structure</strong>
          </div>
          <!--                    <div v-for="(item, key, index) in title_group_list" class="mt-2">-->
          <!--                      <a v-b-toggle="'collapse' + item.id + index" @click="fetchChildList(item)">-->
          <!--                        <i class="fa fa-caret-right"></i>-->
          <!--                        {{item.name}} ({{item.count}})-->
          <!--                      </a>-->
          <!--                      <a>-->
          <!--                        <i class="mr-2 fa fa-plus-circle" style="color: #4dbd74" @click="loadStructure(item.id)"></i>-->
          <!--                      </a>-->
          <!--                      <a>-->
          <!--                        <i class="mr-2 fa fa-times-circle" style="color: #f86c6b" @click="deleteStructure(item.id)"></i>-->
          <!--                      </a>-->
          <!--                      {{item}}-->
          <!--                      <b-collapse :id="'collapse' + item.id + index" :visible="key === expanded">-->
          <!--                        <div v-for="(temp, key, index) in item.child_list" class="mt-2">-->
          <!--                          <a class="ml-3" v-b-toggle="'collapse' + temp.id + index">-->
          <!--                            <i class="fa fa-caret-right"></i>-->
          <!--                            {{temp.name}} ({{temp.count}})-->
          <!--                          </a>-->
          <!--                          <a>-->
          <!--                            <i class="mr-2 fa fa-plus-circle" style="color: #4dbd74" @click="loadStructure(temp.id)"></i>-->
          <!--                          </a>-->
          <!--                          <a>-->
          <!--                            <i class="mr-2 fa fa-times-circle" style="color: #f86c6b" @click="deleteStructure(temp.id)"></i>-->
          <!--                          </a>-->
          <!--                        </div>-->
          <!--                      </b-collapse>-->
          <!--                    </div>-->
          <div v-for="(item, index) in title_group_list">
            <Root v-bind:folder="item">
            </Root>
          </div>
        </b-card>
      </b-col>
    </b-row>

    <!-- Modal -->
    <b-modal
      id="add-title-group"
      size="lg"
      ref="modal"
      @ok="saveTitleGroup"
      @reset="resetTitleGroup"
      @hidden="resetTitleGroup"
      @cancel="resetTitleGroup"
      no-close-on-backdrop
      title="Add Title Group">
      <b-row>
        <b-form-group :horizontal="true"
                      class="col-md-12"
                      label="Select root:">
          <b-form-radio-group
            v-model="selectRoot"
            :options="options"
            class="mb-3"
            value-field="item"
            text-field="name"
            disabled-field="notEnabled"
          ></b-form-radio-group>
        </b-form-group>
      </b-row>
      <b-row v-if="selectRoot === 'A'">
        <b-form-group class="col-md-12" label="Group name:" :horizontal="true">
          <b-form-select v-model="group.group" class="ml-2" style="width: 100%">
            <template>
              <option v-for="(item, index) in group_name_list" :value="item.id">{{item.name}}</option>
            </template>
          </b-form-select>
        </b-form-group>
      </b-row>
      <b-row v-if="selectRoot === 'B'">
        <b-form-group class="col-md-12" label="Title name:" :horizontal="true">
          <!--          <multiselect v-model="group.title" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :options="title_list" :multiple="false" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="false" :close-on-select="false" :options-limit="300" :limit="3" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="fetchTitle">-->
          <!--            <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>-->
          <!--            <template slot="clear" slot-scope="props">-->
          <!--              <div class="multiselect__clear" v-if="group.title" @mousedown.prevent.stop="clearAll(props.search)"></div>-->
          <!--            </template><span slot="noResult">Oops! No elements found. Consider changing the search query.</span>-->
          <!--          </multiselect>-->

          <multiselect v-model="group.title" tag-placeholder="Add this as new tag" placeholder="Search or add a tag"
                       label="name" track-by="id" :options="title_list" :multiple="false" :taggable="true"
                       @search-change="fetchTitle"></multiselect>
        </b-form-group>
      </b-row>
    </b-modal>
    <b-modal
      id="add-child"
      size="lg"
      ref="modal"
      @ok="addChild"
      @reset="resetTitleGroup"
      @hidden="resetTitleGroup"
      @cancel="resetTitleGroup"
      no-close-on-backdrop
      title="Add Child">
      <b-form-group class="col-md-12" label="Id:" :horizontal="true">
        <b-form-input v-model="selectedStructure.id" disabled></b-form-input>
      </b-form-group>
      <b-form-group class="col-md-12" label="Parent:" :horizontal="true">
        <b-form-input v-model="selectedStructure.name" disabled></b-form-input>
      </b-form-group>
      <b-form-group :horizontal="true"
                    class="col-md-12"
                    label="Select root:">
        <b-form-radio-group
          v-model="selectRoot"
          :options="options"
          value-field="item"
          text-field="name"
          disabled-field="notEnabled"
        ></b-form-radio-group>
      </b-form-group>
      <b-form-group v-if="selectRoot === 'A'" class="col-md-12" label="Group name:" :horizontal="true">
        <b-form-select v-model="group.group" class="ml-2" style="width: 100%">
          <template>
            <option v-for="(item, index) in group_name_list" :value="item.id">{{item.name}}</option>
          </template>
        </b-form-select>
      </b-form-group>
      <b-form-group v-if="selectRoot === 'B'" class="col-md-12" label="Title name:" :horizontal="true">
        <!--          <multiselect v-model="group.title" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :options="title_list" :multiple="false" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="false" :close-on-select="false" :options-limit="300" :limit="3" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="fetchTitle">-->
        <!--            <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>-->
        <!--            <template slot="clear" slot-scope="props">-->
        <!--              <div class="multiselect__clear" v-if="group.title" @mousedown.prevent.stop="clearAll(props.search)"></div>-->
        <!--            </template><span slot="noResult">Oops! No elements found. Consider changing the search query.</span>-->
        <!--          </multiselect>-->

        <multiselect v-model="group.title" tag-placeholder="Add this as new tag" placeholder="Search or add a tag"
                     label="name" track-by="id" :options="title_list" :multiple="false" :taggable="true"
                     @search-change="fetchTitle"></multiselect>
      </b-form-group>
    </b-modal>
  </b-container>
</template>

<script>
  import Multiselect from "vue-multiselect";
  import Root from './Root.vue';
  import Folder from './Folder.vue';
  import PermissionMixin from "../../../mixins/PermissionMixin";

  export default {
    mixins: [PermissionMixin],
    name: "Structure",
    components: {
      Multiselect, Folder, Root
    },
    data() {
      return {
        expanded: 0,
        isLoading: false,
        group: {
          parent: '',
          title: '',
          group: ''
        },
        options: [
          {item: 'A', name: 'Group name'},
          {item: 'B', name: 'Title name'},
        ],
        selectRoot: '',
        showCast: true,
        showActor: true,
        showDirector: true,
        title_group_list: [],
        title_group_id: '',
        group_name_list: [],
        group_name: '',
        wordTitle: '',
        selectedTitle: {},
        title_list: [],
        messageError: '',
        director: [
          {name: 'test director 1'},
          {name: 'test director 2'}
        ],
        actor: [
          {name: 'test actor 1'},
          {name: 'test actor 2'}
        ],
        fieldsTitle: [
          {key: 'index', sortable: true},
          {key: 'id', label: 'Title Id', sortable: true},
          {key: 'name', sortable: true},
          {key: 'title_type', sortable: true},
          {key: 'duration', sortable: true},
          {key: 'total_episode', sortable: true},
        ],
        item_recursive: {},
        dismissSecsUpdateSuccess: 5,
        dismissCountDownUpdateSuccess: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsMsgError: 5,
        dismissCountDownMsgError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        selectedStructure: {},
        child_list: [],
        dataNoChildList: [],
        titleChosen: [],
        parent: {},
        checkPermission: {},
        isAdd: false,
        structureAllow: {}
      }
    },
    computed: {},
    async created() {
      await this.fetchGroupPermission()
      this.structureAllow = await this.initialPermission('title_group', 'structure')
      if (!this.structureAllow.isView) {
        this.$router.push({name: 'Page403'})
      }
      // this.checkPermission = this.groupPermission.find(x => x.name === 'System Management')
      // console.log(this.checkPermission)
      // let isViewStructure = this.checkPermission.permission_code.includes('title_group_structure_view_structure')
      // if (!isViewStructure) {
      //   this.$router.push({name: 'Page403'})
      // }
      // this.isAdd = this.checkPermission.permission_code.includes('title_group_structure_add_structure')
      await this.fetch();
      await this.fetchGroupName();
    },
    async mounted() {
      const EventBus = this.$root;
      EventBus.$on('fetchChildList', (param1) => {
        this.fetchChildList(param1)
      });
      EventBus.$on('update', (param1) => {
        this.loadStructure(param1)
      });
      EventBus.$on('delete', (param1) => {
        this.deleteStructure(param1)
      });
      this.$on('hook:beforeDestroy', () => {
        EventBus.$off('update');
      });
    },
    methods: {
      async fetch() {
        const ctx = this;
        await ctx.$services.titleGroup.findStructure()
          .then(function (title_group) {
            ctx.title_group_list = title_group;
            console.log('fetch' , ctx.title_group_list)
            // console.log('fetch' , ctx.title_group_list)
            // ctx.fetchChildList(ctx.title_group_list);
          })
      },
      fetchGroupName() {
        const ctx = this;
        ctx.$services.titleGroup.findGroup()
          .then(function (title_group) {
            ctx.group_name_list = title_group;
          })
      },
      async fetchTitle(word) {
        const ctx = this;
        ctx.wordTitle = word;
        let params = ctx.wordTitle !== "" && ctx.wordTitle !== null ? {...params, search: ctx.wordTitle} : undefined;
        if (ctx.wordTitle !== '') {
          try {
            ctx.isLoading = true;
            const title = await this.$services.title.find(params);
            this.title_list = title.results;
            ctx.isLoading = false;
          } catch (e) {
          }
        } else {
        }
      },
      // async fetchChildList(item) {
      //   this.$nextTick()
      //   {
      //     const ctx = this;
      //     ctx.titleChosen = [];
      //     await ctx.$services.titleGroup.findStructureById(item.id)
      //       .then(function (child_list) { // child
      //         ctx.child_list = child_list;
      //
      //
      //         // item = Object.assign(item, {child_list: ctx.child_list})
      //         // console.log(item)
      //
      //
      //         ctx.titleChosen = ctx.title_group_list.find(x => x.id === item.id)
      //         ctx.titleChosen = Object.assign(ctx.titleChosen, {child_list: ctx.child_list})
      //         console.log('mom', ctx.titleChosen)
      //         console.log('child', ctx.title_group_list)
      //         // item = ctx.titleChosen
      //       })
      //   }
      // },
      async loadStructure(item) {
        console.log(item)
        const ctx = this;
        ctx.selectedStructure = item
        ctx.$bvModal.show('add-child')
      },
      async deleteStructure(item) {
        console.log(item)
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          try {
            await this.$services.titleGroup.removeStructure(item.id);
            this.deleteSuccess();
            this.fetch()
          } catch (e) {
            this.messageError = e.response.data;
            this.msgError();
            this.fetch();
          }
        }
      },
      saveTitleGroup() {
        console.log(this.group)
        if (this.selectRoot === 'A') {
          try {
            this.$services.titleGroup.addStructure({group: this.group.group})
              .then(() => {
                this.addSuccess();
                this.fetch()
              }).catch((e) => {
                this.messageError = e.response.data;
                this.msgError();
                this.fetch();
              }
            )
          } catch (e) {

          }
        } else {
          try {
            this.$services.titleGroup.addStructure({title: this.group.title.id})
              .then(() => {
                this.addSuccess();
                this.fetch()
              }).catch((e) => {
                this.messageError = e.response.data;
                this.msgError();
                this.fetch();
              }
            )
          } catch (e) {

          }
        }
      },

      addChild() {
        if (this.selectRoot === 'A') {
          try {
            this.$services.titleGroup.addStructure({parent: this.selectedStructure.id, group: this.group.group})
              .then(() => {
                this.addSuccess();
                this.fetch()
              }).catch((e) => {
                this.messageError = e.response.data;
                this.msgError();
                this.fetch();
              }
            )
          } catch (e) {

          }
        } else {
          try {
            this.$services.titleGroup.addStructure({parent: this.selectedStructure.id, title: this.group.title.id})
              .then(() => {
                this.addSuccess();
                this.fetch()
              }).catch((e) => {
                this.messageError = e.response.data;
                this.msgError();
                this.fetch();
              }
            )
          } catch (e) {

          }
        }
      },
      resetTitleGroup() {
        this.selectRoot = '';
        this.group = {
          id: '',
          parent: '',
          title: '',
          group: ''
        };
      },
      onRowSelectedTitle(items) {
        this.selectedTitle = items
      },
      onRowSelected(item) {
        this.selectedItems = item
      },
      updateSuccess() {
        this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      msgError() {
        this.dismissCountDownMsgError = this.dismissSecsMsgError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
        this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedMsgError(dismissCountDownMsgError) {
        this.dismissCountDownMsgError = dismissCountDownMsgError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
    }
  }
</script>

<style scoped>

</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
