<template>
  <div class="app">
    <AppHeader fixed>
      <SidebarToggler class="d-lg-none" display="md" mobile/>
      <b-link class="navbar-brand">
        <img class="navbar-brand-full" src="../../public/img/logo.png" width="120" height="40" alt="Rms Logo"
             style="border: solid black;">
        <img class="navbar-brand-minimized" src="../../public/img/logo.png" width="30" height="30"
             style="border: solid black;" alt="Rms Logo">
      </b-link>
      <SidebarToggler class="d-md-down-none" display="lg" :defaultOpen=true />
      <b-navbar-nav class="d-md-down-none">
        <!--        <b-nav-item class="px-3" to="/dashboard">Dashboard</b-nav-item>-->
        <!--        <b-nav-item class="px-3" to="/users" exact>Users</b-nav-item>-->
        <!--        <b-nav-item class="px-3">Settings</b-nav-item>-->
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <!--        <b-nav-item class="d-md-down-none">-->
        <!--          <i class="icon-bell"></i>-->
        <!--          <b-badge pill variant="danger">5</b-badge>-->
        <!--        </b-nav-item>-->
        <!--        <b-nav-item class="d-md-down-none">-->
        <!--          <i class="icon-list"></i>-->
        <!--        </b-nav-item>-->
        <!--        <b-nav-item class="d-md-down-none">-->
        <!--          <i class="icon-location-pin"></i>-->
        <!--        </b-nav-item>-->
      </b-navbar-nav>
      <!--      <AsideToggler class="d-none d-lg-block" />-->
      <!--<AsideToggler class="d-lg-none" mobile />-->
      <b-button class="m-2" @click="logout"><i class="fa fa-sign-out"></i> Logout</b-button>
    </AppHeader>
    <div>
      <AppSidebar fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :navItems="navShow"></SidebarNav>
        <SidebarFooter/>
        <SidebarMinimizer/>
      </AppSidebar>
      <main class="main">
        <Breadcrumb :list="list"/>
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
    </div>
    <!--    <TheFooter>-->
    <!--      &lt;!&ndash;footer&ndash;&gt;-->
    <!--      <div>-->
    <!--        <a href="https://coreui.io">CoreUI</a>-->
    <!--        <span class="ml-1">&copy; 2018 creativeLabs.</span>-->
    <!--      </div>-->
    <!--      <div class="ml-auto">-->
    <!--        <span class="mr-1">Powered by</span>-->
    <!--        <a href="https://coreui.io">CoreUI for Vue</a>-->
    <!--      </div>-->
    <!--    </TheFooter>-->
  </div>
</template>

<script>
import nav from '@/_nav'
import {
  Aside as AppAside,
  AsideToggler,
  Breadcrumb,
  Footer as TheFooter,
  Header as AppHeader,
  Sidebar as AppSidebar,
  SidebarFooter,
  SidebarForm,
  SidebarHeader,
  SidebarMinimizer,
  SidebarNav,
  SidebarToggler
} from '@coreui/vue'
import PermissionMixin from "../mixins/PermissionMixin";


export default {
    mixins: [PermissionMixin],
    name: 'DefaultContainer',
    components: {
      AsideToggler,
      AppHeader,
      AppSidebar,
      AppAside,
      TheFooter,
      Breadcrumb,
      SidebarForm,
      SidebarFooter,
      SidebarToggler,
      SidebarHeader,
      SidebarNav,
      SidebarMinimizer
    },
    data() {
      return {
        nav: nav.items,
        checkPermission: false,
        navShow: [],
        token: [],
        token_is_allow: []
      }
    },
    async mounted() {
    },
    async created() {
      if (!localStorage.token) {
        this.$router.push({name: 'Login'})
      }
      await this.fetchPermission()
      await this.fetchGroupPermission()
      // console.log(this.permission)
      // console.log(this.groupPermission)
      try {
        let data = this.groupPermission.filter(x => x.is_allow === true)
        // console.log(this.nav)
        const featureAllows = []
        const cxt = this
        this.navShow =   this.nav.filter(x => x.title || x.url === '/home')
        const userPermissions = await this.getUserPermission()
        this.$store.dispatch('initPermission', userPermissions)
        for (let item of this.nav) {
          if (Array.isArray(item.children)){
            item.children =  item.children.filter(x => userPermissions.includes(x.code))
            item.children = item.children.map(function (app){
              if (Array.isArray(app.children)){
                app.children = app.children.filter(y => userPermissions.includes(y.code))
              }
              return app
            })
            if (item.children.length > 0){
              this.navShow.push(item)
            }
          }

        }
        // this.navShow = featureAllows
        // console.log(this.nav)
        // const navHome1 = this.nav.find(x => x.title === true)
        // const navHome2 = this.nav.find(x => x.url === '/home')
        // // // const navMasterData = this.nav.find(x => x.url === '/master-data')
        // const navProgram = this.nav.find(x => x.url === '/program')
        // // const navSystemManagement = this.nav.find(x => x.url === '/system-management')
        // // const navAsset = this.nav.find(x => x.url === '/asset')
        // // console.log(navAsset)
        // Object.assign(navHome1, {is_allow: true})
        // Object.assign(navHome2, {is_allow: true})
        // // Object.assign(navMasterData, {is_allow: true})
        // Object.assign(navProgram, {is_allow: true})
        // // Object.assign(navSystemManagement, {is_allow: true})
        // // // const perAsset = this.token.find(x => x.codename === 'asset.all_asset')
        // // // const navAsset = this.nav.find(x => x.url === '/asset')
        // // // const perStudio = this.token.find(x => x.codename === 'studies.all_studio')
        // // // const navStudio = navMasterData.children.find(x => x.url === '/master-data/studies')
        // // // const perPeople = this.token.find(x => x.codename === 'people.peopleChoices')
        // // // const navPeople = navMasterData.children.find(x => x.url === '/master-data/people')
        // // // const perRole = this.token.find(x => x.codename === 'roles.all_role')
        // // // const navRole = navMasterData.children.find(x => x.url === '/master-data/roles')
        // // const perAuthorized = this.token.find(x => x.codename === 'account.all_account')
        // // const navAuthorized = this.nav.find(x => x.url === '/authorized')
        // // const perPublishZone = this.token.find(x => x.codename === 'account.all_account')
        // // // const navPublishZone = navMasterData.children.find(x => x.url === '/master-data/publish-zone')
        // // // if (navMasterData.is_allow === true) {
        // // //   Object.assign(navStudio, perStudio)
        // // //   Object.assign(navPeople, perPeople)
        // // //   Object.assign(navRole, perRole)
        // // //   Object.assign(navPublishZone, perPublishZone)
        // // // }
        // // // navMasterData.children = navMasterData.children.filter(x => x.is_allow === true)
        // //
        // // if (perAuthorized.is_allow === true) {
        // //   Object.assign(navAuthorized, perAuthorized)
        // // }
        // //
        // // // if (perAsset.is_allow === true) {
        // // //   Object.assign(navAsset, perAsset)
        // // // }
        // for (let item of this.nav) {
        //   if (this.token_is_allow.find(x => x.code === item.code)) {
        //     Object.assign(item, {is_allow: true})
        //   }
        // }
        // console.log(this.nav)
        // this.navShow = this.nav.filter(x => x.is_allow === true)
        console.log(this.navShow)
      } catch (e) {

      }
    },
    computed: {
      name() {
        return this.$route.name
      },
      list() {
        return this.$route.matched.filter((route) => route.name || route.meta.label)
      }
    },
    methods: {
      logout(){
        this.$services.account.logout().catch(console.log)
        this.$router.push({ name: 'Login'})
      }
    }
  }
</script>

<style>
  .brand-minimized .app-header .navbar-brand .navbar-brand-minimized {
    display: block;
    width: 71px;
    height: 23px;
  }

  .sidebar .nav {
    background-color: #263238;
  }

  .sidebar .nav-dropdown.open > .nav-dropdown-items {
    background-color: #78909C;
  }

  .sidebar .nav-link.active {
    background-color: #607D8B;
  }
</style>
