<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Sync cms success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownEditError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedEditError">
      Sync cms error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete info success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete info error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>
    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-6">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="OnSearch()">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group>
          <b-button @click="refreshInfo" variant="success">Refresh</b-button>
        </b-form-group>
        <b-form-group class="ml-3">
          <b-button :disabled="selectedItems.length <= 0" variant="primary" @click="selectSyncCms"
                    v-model="selectedAllSyncCms">
            Sync Cms selected
          </b-button>
        </b-form-group>
      </b-row>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-3">
          <multiselect
            class="mb-2"
            v-model="itemsCategory"
            tag-placeholder="Add this as new category"
            placeholder="Select category"
            label="name" track-by="code"
            :options="options_category"
            @input="fetchByCategory"
            :limit="200">
          </multiselect>
        </b-form-group>
        <b-form-group>
          <b-form-checkbox :checked="selectedItems.length > 0" switch size="lg" @change="selectLocalization"
                           v-model="selectedAllLocalization">
            Localization selected
          </b-form-checkbox>
        </b-form-group>
      </b-row>
      <br>
      <b-card>
        <b-table
          ref="table"
          responsive
          :items="Array.isArray(itemAssets) ? itemAssets: []"
          :fields="fields"
          :tbody-tr-class="rowClass"
          @row-selected="onRowSelected"
          selectedVariant="success"
          style="text-align: center;text-overflow: ellipsis;">
          <template slot="HEAD_index" slot-scope="row">
            <b-form-checkbox @change="selectAll" v-model="selectedAll"
                             :checked="selectedItems.length === itemAssets.length"></b-form-checkbox>
          </template>
          <template slot="asset_id" slot-scope="row">
            <router-link :to="{name: 'DetailAssetInfo', params: {id: row.item.asset_id}}">
              <a class="mr-1"> {{row.item.asset_id}}</a>
            </router-link>
          </template>
          <template slot="index" slot-scope="row">
            <b-form-checkbox name="selected-items" v-model="selectedItems" :value="row.item"
                             :disabled="row.item.status_process === 'transfer'">
            </b-form-checkbox>
          </template>
          <template slot="file_name" slot-scope="row">
            {{row.item.file_name}}
            <span v-if="moment(row.item.datetime_updated).format('DD/MM/YYYY') === newInfo" style="color: #28a745"><i
              class="fa fa-exclamation-circle"></i></span>
          </template>
          <template slot="is_local" slot-scope="row">
            <b-form-checkbox switch v-model="row.item.is_local" @change="updateLocal(row.item)"
                             :disabled="row.item.status_process === 'transfer'">
            </b-form-checkbox>
          </template>
          <template slot="sync_cms" slot-scope="row">
            <b-form-group v-model="row.item.syncCms">
              <i class="fa fa-check-circle" v-if="row.item.syncCms === true"
                 style="color: #4dbd74; font-size: 19px"></i>
              <i class="fa fa-times-circle" v-if="row.item.syncCms === false"
                 style="color: #f86c6b; font-size: 19px"></i>
            </b-form-group>
          </template>
          <template slot="sub_titles" slot-scope="row">
            <b-button size="sm" class="mr-1" v-for="(language, index) in row.item.sub_titles"
                      :variant="label_lang[language]" v-bind:key="index">
              {{language}}
            </b-button>
          </template>
          <template slot="audio" slot-scope="row">
            <b-button size="sm" class="mr-1" v-for="(language, index) in row.item.audio"
                      :variant="label_lang[language.lang]" v-bind:key="index">
              {{language.lang}}
            </b-button>
          </template>
          <template slot="status_process" slot-scope="row">
            <b-button size="sm" class="mr-1" :variant="process[row.item.status_process]">
              {{row.item.status_process}}
            </b-button>
          </template>
          <template slot="status" slot-scope="row">
            <b-button size="sm" class="mr-1" :variant="status[row.item.status]">
              {{row.item.status}}
            </b-button>
          </template>
          <template slot="action" slot-scope="row">
            <b-button size="sm" class="mr-1" variant="danger" @click="deleteInfo(row.item)">
              Delete
            </b-button>
          </template>
        </b-table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" :class="previous ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="paginatorInfo(page, previous)">Previous</a>
            </li>
            <li v-for="(page_number, index) in page_of_number" v-bind:key="index" class="page-item"
                :class="page_number === page ? 'active': '' "
                v-if="Math.abs(page_number - page) < 3 || page_number === page_of_number - 1 || page_number === 0">
              <a class="page-link pageNum" href="#" @click="paginatorInfo(page, page_number)"
              >{{page_number}}</a></li>
            <li class="page-item" :class="next ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="paginatorInfo(page, next)">Next</a>
            </li>
          </ul>
        </nav>
      </b-card>
    </div>

    <b-modal
      id="error-sync"
      ref="modal"
      hide-footer
      title="Title of asset is empty.">
      <b-form-group
        validated
        label="Asset Id:"
        label-for="asset_id"
        style="font-weight: bold"
        invalid-feedback="Content Id is required">
        <b-list-group v-for="(id, index) in errorTitle" v-bind:key="index">
          <p style="font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-circle" style="font-size: 10px; color: #f86c6b"></i>&nbsp;&nbsp;{{id}}
          </p>
        </b-list-group>
      </b-form-group>
      <b-button class="mt-3" variant="outline-danger" block @click="hideErrorSync">Close</b-button>
    </b-modal>
  </b-container>
</template>

<script>
  import ContentMixin from "../../mixins/ContentMixin";
  import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
  import Multiselect from 'vue-multiselect'
  import moment from 'moment';

  export default {
    components: {Datepicker, Multiselect},
    mixins: [ContentMixin],
    data() {
      return {
        itemsCategory: [],
        newInfo: moment(new Date()).format('DD/MM/YYYY'),
        errorTitle: [],
        selectedAll: false,
        selectedAllSyncCms: false,
        selectedAllLocalization: false,
        itemAssets: [
          {
            asset_id: '000001',
            file_name: 'test',
            title_en: 'test',
            title_th: 'test',
            is_local: true,
            sync_cms: true,
            sub_titles: 'test',
            audio: 'test',
            status_process: 'test',
            status: 'test',
            duration: 'test',
          }
        ],
        options_category: [],
        page_of_number: [],
        next: 0,
        previous: 0,
        page: 1,
        page_size: 10,
        page_total: 0,
        selectedItems: [],
        items: [],
        search: '',
        fields: [
          {key: 'index', sortable: true,},
          {key: 'asset_id', sortable: true, sortDirection: 'desc'},
          {key: 'file_name', sortable: true, sortDirection: 'desc'},
          {key: 'title_en', sortable: true, sortDirection: 'desc'},
          {key: 'title_th', sortable: true, sortDirection: 'desc'},
          {key: 'is_local', label: 'Localization', sortable: true,},
          {key: 'sync_cms', sortable: true,},
          {key: 'sub_titles', sortable: true,},
          {key: 'audio', label: 'Audio Track', sortable: true,},
          {key: 'status_process', label: 'Process', sortable: true,},
          {key: 'status', label: 'Status', sortable: true,},
          {key: 'duration', label: 'Duration (min)', sortable: true,},
        ],
        dismissSecsEditSuccess: 5,
        dismissCountDownEditSuccess: 0,
        dismissSecsEditError: 5,
        dismissCountDownEditError: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsAddError: 5,
        dismissCountDownAddError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        dismissSecsDeleteError: 5,
        dismissCountDownDeleteError: 0,
      }
    },
    async created() {
      try {
        const {data} = await this.$services.asset.getCategory();
        const {results} = data;
        this.options_category = results;
      } catch (e) {
        if (e.request.status === 404) {
          await this.$bvModal.msgBoxOk('Not Found (404)');
        }
        if (e.request.status === 500) {
          await this.$bvModal.msgBoxOk('Server Error (500)');
        }
      }
      try {
        const token = localStorage.getItem('token');
      } catch (e) {
        this.$router.push({name: 'Page401'})
      }
      await this.paginatorInfo();
    },
    computed: {
      sortOptions() {
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      },
      rows() {
        return this.items.length
      }
    },
    methods: {
      moment,
      async OnSearch() {
        if (this.search && this.search.length > 0) {
          try {
            const {data} = await this.$services.asset.searchInfo(this.search);
            const {results} = data;
            this.itemAssets = results;
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
          }
        } else {
          this.paginatorInfo()
        }
      },
      async fetchByCategory(item) {
        if (item) {
          try {
            const {data} = await this.$services.asset.searchInfo(item.code);
            if (data) {
              this.itemAssets = data.results;
            }
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
          }
        } else {
          await this.paginatorInfo()
        }
      },
      onRowSelected(items) {
        this.selectedItems = items
      },
      selectAll() {
        const result = this.itemAssets.filter(({status_process}) => status_process !== 'transfer');
        if (this.selectedItems.length === result.length) {
          this.selectedItems = [];
        } else {
          this.selectedItems = result;
        }
      },
      async selectLocalization() {
        if (this.selectedAllLocalization === false) {
          this.selectedItems
            .filter(({is_local}) => is_local !== 0)
            .map(item => {
              const is_local = true;
              return Object.assign(item, {is_local})
            });
          if (this.selectedItems.length > 0) {
            try {
              await this.$services.asset.updateAllLocal({data: this.selectedItems.map(x => x.asset_id)});
            } catch (e) {
              if (e.request.status === 404) {
                await this.$bvModal.msgBoxOk('Not Found (404)');
              }
              if (e.request.status === 500) {
                await this.$bvModal.msgBoxOk('Server Error (500)');
              }

            }
          } else {
            this.selectedItems
              .filter(({is_local}) => is_local !== 0)
              .map(item => {
                const is_local = false;
                return Object.assign(item, {is_local})
              });
          }
        }
      },
      async selectSyncCms() {
        if (this.selectedAllSyncCms === false) {
          this.selectedItems
            .filter(({sync_cms}) => sync_cms !== 0)
            .map(item => {
              const sync_cms = true;
              return Object.assign(item, {sync_cms})
            });
          if (this.selectedItems.length > 0) {
            try {
              const assetEmptyTitleEn = this.selectedItems.filter(({title_en}) => !title_en);
              const assetEmptyTitleTh = this.selectedItems.filter(({title_th}) => !title_th);
              const assetSyncTitleEn = this.selectedItems.filter(({title_en}) => title_en);
              const assetSyncTitleTh = this.selectedItems.filter(({title_th}) => title_th);
              const assetEmptyTitleAll = assetEmptyTitleEn.concat(assetEmptyTitleTh.filter(x => !assetEmptyTitleEn.includes(x)));
              const assetSyncTitleAll = (assetSyncTitleTh.filter(x => assetSyncTitleEn.includes(x)));
              if (assetEmptyTitleEn.length > 0 && assetEmptyTitleTh.length > 0) {
                this.errorTitle = assetEmptyTitleAll.map(({asset_id}) => `${asset_id}`);
                this.$bvModal.show('error-sync')
              } else {
                await this.$services.asset.updateAllSyncCms({data: assetSyncTitleAll.map(x => x.asset_id)});
                await this.paginatorInfo();
                this.editSuccess()
              }
            } catch (e) {
              if (e.request.status === 404) {
                await this.$bvModal.msgBoxOk('Not Found (404)');
              }
              if (e.request.status === 500) {
                await this.$bvModal.msgBoxOk('Server Error (500)');
              }

            }
          }
        } else {
          this.selectedItems
            .filter(({sync_cms}) => sync_cms !== 0)
            .map(item => {
              const sync_cms = false;
              return Object.assign(item, {sync_cms})
            });
        }
      },
      hideErrorSync() {
        this.$bvModal.hide('error-sync')
      },
      rowClass(item, type) {
        return this.selectedItems.indexOf(item) > -1 ? 'table-primary' : '';
      },
      async refreshInfo() {
        await this.paginatorInfo();
        this.selectedItems = [];
        this.selectedAll = false;
      },
      async updateLocal(local) {
        let {asset_id, is_local} = local;
        is_local = !is_local;
        try {
          await this.$services.asset.updateLocal(asset_id, {is_local});
        } catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
        }
      },
      async paginatorInfo(value1, value2) {
        this.page = value2;
        try {
          const {data} = await this.$services.asset.paginatorInfo(this.page_size, this.page);
          if (data) {
            const {results, paginator} = data;
            this.page = paginator.page;
            this.next = paginator.next;
            this.previous = paginator.previous;
            this.page_total = paginator.page_total;
            this.page_of_number = Array.from({length: paginator.page_total}, (v, k) => k + 1);
            this.itemAssets = results;
            console.log(this.itemAssets)
          }
        } catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
        }
      },
      async deleteInfo(info) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          const {asset_id} = info;
          try {
            await this.$services.asset.deleteInfo(asset_id);
            await this.paginatorInfo();
            this.deleteSuccess();
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.deleteError();
          }
        } else {
        }
      },
      editSuccess() {
        this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
      },
      editError() {
        this.dismissCountDownEditError = this.dismissSecsEditError
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      addError() {
        this.dismissCountDownAddError = this.dismissSecsAddError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      deleteError() {
        this.dismissCountDownDeleteError = this.dismissSecsDeleteError
      },
      mounted() {
      },
      countDownChangedEditSuccess(dismissCountDownEditSuccess) {
        this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
      },
      countDownChangedEditError(dismissCountDownEditError) {
        this.dismissCountDownEditError = dismissCountDownEditError
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedAddError(dismissCountDownAddError) {
        this.dismissCountDownAddError = dismissCountDownAddError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
      countDownChangedDeleteError(dismissCountDownDeleteError) {
        this.dismissCountDownDeleteError = dismissCountDownDeleteError
      },
    }
  }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }

  input,
  select {
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 100%;
    border: 1px solid #e4e7ea;
    width: 100%;
    border-radius: 0.25rem;
  }

  .ant-calendar-picker-input {
    min-height: 43px;
    display: block;
    padding: 8px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px;
  }

  .ant-calendar-range-picker-input {
    height: 70%;
  }
</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
