<template>
  <b-row>
    <b-col>
      <transition name="slide">
      <b-card>
        <div slot="header">
          <b-button @click="add_row" variant="primary" color="primary">Add New Record</b-button>
          <div class="card-header-actions">
            <b-form-group>
              <b-input-group>
                <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="filter"></b-form-input>
                <b-input-group-prepend>
                  <b-button variant="primary">
                    <i class="fa fa-search"></i> Search
                  </b-button>
                </b-input-group-prepend>                
              </b-input-group>
            </b-form-group>
          </div>
        </div>
        <b-table
          ref="table"
          bordered="bordered"
          :filter="filter"
          responsive
          :items="Array.isArray(items) ? items: []"
          :fields="fields"          
          style="text-align: center;text-overflow: ellipsis;">          
          <template slot="file_name" slot-scope="row">
            <p>{{row.item.file_name}}</p>            
          </template>    
          <template slot="episode_name" slot-scope="row">
            <p>{{ row.item.episode_name }}</p>
          </template>
          <template slot="duration" slot-scope="row">
            <p>{{row.item.duration}} / minute </p>
          </template>      
          <template slot="status_name" slot-scope="row">
            <p>{{row.item.status_name}}</p>
          </template>
          <!-- 
          <template slot="status" slot-scope="row">
            <b-button size="sm" class="mr-1" :variant="status[row.item.status]">
              {{row.item.status}}
            </b-button>
          </template> -->
          <template slot="action" slot-scope="row">
            <b-button size="sm" class="mr-1" variant="danger" @click="edit(row.item)">
              Edit
            </b-button>
            <b-button size="sm" class="mr-1" variant="danger" @click="deleteInfo(row.item)">
              Delete
            </b-button>
          </template>
        </b-table>
      </b-card>
      </transition>
    </b-col>

    <!-- modal add -->
    <q-dialog v-model="modal" persistent transition-show="flip-down" transition-hide="flip-up">
      <b-card
        header="Add New Record"        
        header-tag="header"
        header-bg-variant="white"        
        footer-tag="footer"
        footer-bg-variant="white"
        footer-border-variant="info"
        header-border-variant="info"
        title="Title"
        style="max-width: 100rem;"
      >
        <b-card-text>
          <el-form :model="form" ref="form" :rules="rules"  label-width="140px" class="demo-dynamic">
            <el-form-item label="File Name" prop="file_name">
              <el-input v-model="form.file_name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Episode" prop="episode">              
              <b-form-select v-model="form.episode" :options="options"></b-form-select>
            </el-form-item>                                   
            <el-form-item label="Quration" prop="quration">
              <el-input v-model="form.quration" type="number" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Status" prop="status">
              <b-form-select v-model="form.status" :options="stt_ops"></b-form-select>
            </el-form-item>
          </el-form>
        </b-card-text>
        <template v-slot:footer >
          <div style="text-align: end;">
            <b-button @click="modal = false" variant="danger" style="margin: 5px">Cancel</b-button>
            <b-button @click="valid_add()" variant="success" style="margin: 5px">Save</b-button>
          </div>
      </template>
      </b-card>      
    </q-dialog>
    <!-- end add -->

    <!-- modal update -->
    <q-dialog v-model="modal_edit" persistent transition-show="flip-down" transition-hide="flip-up">
      <b-card
        :header="title"        
        header-tag="header"
        header-bg-variant="white"        
        footer-tag="footer"
        footer-bg-variant="white"
        footer-border-variant="info"
        header-border-variant="info"
        title="Title"
        style="max-width: 100rem;"
      >
        <b-card-text>
          <el-form :model="form_edit" ref="form_edit" :rules="rules_edit"  label-width="140px" class="demo-dynamic">
            <el-form-item label="File Name" prop="file_name">
              <el-input v-model="form_edit.file_name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Episode" prop="episode">              
              <b-form-select v-model="form_edit.episode" :options="options"></b-form-select>
            </el-form-item>                                   
            <el-form-item label="Quration" prop="quration">
              <el-input v-model="form_edit.quration" type="number" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Status" prop="status">
              <b-form-select v-model="form_edit.status" :options="stt_ops"></b-form-select>
            </el-form-item>
          </el-form>
        </b-card-text>
        <template v-slot:footer >
          <div style="text-align: end;">
            <b-button @click="modal_edit = false" variant="danger" style="margin: 5px">Cancel</b-button>
            <b-button @click="valid_edit()" variant="success" style="margin: 5px">Save</b-button>
          </div>
      </template>
      </b-card>      
    </q-dialog>
    <!-- end update -->
      Asset
    </b-col>
  </b-row>
  
</template>

<script>
const stt_ops = [
  // { value:null, text: 'Please select an Status'},
  { value:0, text: 'Pending'},
  { value:1,text: 'Runing'},
]

const fields = [
  { key: 'id', thStyle: {width: '5%'}},
  { key: 'file_name', thStyle: {width: '20%'}},
  { key: 'episode_name', thStyle: {width: '10%'}},
  { key: 'duration', thStyle: {width: '10%'}},
  { key: 'media_info', thStyle: {width: '20%'}},
  { key: 'datetime_created', thStyle: {width: '10%'}},
  { key: 'status_name', thStyle: {width: '10%'}},
  { key: 'action', label: 'Action', sorter: false, thStyle: { width: '15%'}}
]
import Base from '../../services/shares'
export default {
  name: 'Asset',  
  data () {    
    return {
      modal: false,
      modal_edit: false,
      filter: '',
      title: '',
      items: [],
      fields,
      options: [],
      stt_ops,      
      form: {
        id: null,
        episode_id: null,
        file_name: '',
        status: 0,
        duration: null,
        // created: new Date().toJSON().slice(0,10).replace(/-/g,'/')
      },
      form_edit: {
        id: null,
        episode: null,
        file_name: '',
        status: null,
        duration: null,
        media_info: null
        // created: new Date().toJSON().slice(0,10).replace(/-/g,'/')
      },
      rules: {
        file_name: [{ required: true, message: 'Please Input Activity File Name', trigger: 'blur' }],
        episode: [{ required: true, message: 'Please Select Episode', trigger: 'change' }],                
        duration: [{ required: true, message: 'Please Input Activity Duration', trigger: 'blur' }],
        status: [{ required: true, message: 'Please Select Status', trigger: 'change' }],
        media_info: [{ required: true, message: 'Please Input Activity Media Info', trigger: 'blur' }],
      },
      rules_edit: {
        file_name: [{ required: true, message: 'Please Input Activity File Name', trigger: 'blur' }],
        episode: [{ required: true, message: 'Please Select Episode', trigger: 'change' }],                
        duration: [{ required: true, message: 'Please Input Activity Duration', trigger: 'blur' }],
        status: [{ required: true, message: 'Please Select Status', trigger: 'change' }],
        media_info: [{ required: true, message: 'Please Input Activity Media Info', trigger: 'blur' }],
        
      },
    }
  },

  methods: {   
    async getdata () {         
      const {data} = await this.$services.asset.get('asset')
      this.$data.items = data    
      // console.log('data:', data)
    },

    async episode () {    
      let episode = await this.$services.episode.get('episode')      
      for (var row in episode.data.results ) {        
        this.$data.options.push({'value': episode.data.results[row]['id'], 'text': episode.data.results[row]['name']})
      }

    },

    add_row () {           
      this.$data.modal = true
      this.$data.form = {
        episode: null,
        file_name: '',
        status: 0,
        duration: null,
        // created: new Date().toJSON().slice(0,10).replace(/-/g,'/')
      } 
    },

    valid_add () {      
      this.$refs.form.validate((valid) => {
        if (valid) {          
          this.insert()
        }
      })
    },

    async insert () {      
      try {
        const {data} = await this.$services.asset.post('asset/', this.$data.form)
        this.getdata()
        this.episode()
        this.$data.modal = false
        this.$notify({
          title: 'Success',
          message: 'Inset Asset Complete',
          type: 'success'
        })
      } catch (e) {
        this.$data.modal = true
        this.$notify({
          title: 'error',
          message: e.request.statusText,
          type: 'error'
        })    
      }
    },

    edit (row) {      
      this.$data.title = 'Will Update Record id: ' + row.id
      this.$data.form_edit = {
        id: row.id,
        file_name: row.file_name,
        episode: row.episode,
        status: row.status,
        duration: row.duration,
        media_info: row.media_info,
        account_created: row.account_created
      }
      this.$data.modal_edit = true
      
    },

    valid_edit () {      
      this.$refs.form_edit.validate((valid) => {
        if (valid) {          
          this.update()
        }
      })
    },

    async update () {
      try {
        const {data} = await this.$services.asset.put('asset/', this.$data.form_edit)
        this.getdata()
        this.episode()
        this.$data.modal_edit = false
        this.$notify({
          title: 'Success',
          message: 'Update Asset Complete',
          type: 'success'
        })
      } catch (e) {
        this.$data.modal_edit = false
        this.$notify({
          title: 'error',
          message: e.request.statusText,
          type: 'error'
        })    
      }
    },

    deleteInfo(row) {            
      this.$bvModal.msgBoxConfirm('Please confirm that you want to delete id: ' + row.id, {
        title: 'Please Confirm',
        size: 'sm',
        buttonSize: 'sm',
        okVariant: 'danger',
        okTitle: 'YES',
        cancelTitle: 'NO',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true
      })
        .then(value => {
          if (value) {
            this.delete(row)
          }
        })
        .catch(err => {
          // An error occurred
        })
    },

    async delete (row) {
      try {
        const {data} = await this.$services.asset.delete('asset/'+ row.id)
        this.getdata()
        this.episode()
        // this.$data.modal_edit = false
        this.$notify({
          title: 'Success',
          message: 'Delete Asset Complete',
          type: 'success'
        })
      } catch (e) {
        // this.$data.modal_edit = false
        this.$notify({
          title: 'error',
          message: e.request.statusText,
          type: 'error'
        })    
      }
    },

    filterobject (id, items) {   
      for (var i in items) {
        if (items[i]['value'] == id) {
          return items[i].text
        }
      }
    }
  },

  mounted () {
    this.getdata(),
    this.episode()
    // console.log('http:', this.$services.asset)
  }
}
</script>