<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add category success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError">
      Add category error!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError">
      Add category error!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete category success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete category error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>
    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="search" placeholder="Ex. Code, Name, .." v-model="filter">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button style="height: 35px;" v-b-modal.add-category class="float-right mr-2" type="submit" size="sm"
                      variant="primary" @click="">
              <i class="fa fa-plus-circle"></i> Add Category
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <br>
      <b-card>
        <div slot="header">
          <strong>Asset Category</strong>
        </div>
        <b-table
          :items="Array.isArray(itemsCategory) ? itemsCategory: []"
          :fields="fields"
          responsive="sm"
          style="text-align: center"
          :filter="filter"
          id="category-table">
          <template slot="actions" slot-scope="row">
            <router-link :to="{name: 'DetailAssetCategory', params: {id: row.item.code}}">
              <b-button variant="primary" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit
              </b-button>
            </router-link>
            <b-button @click="deleteCategory(row.item)" variant="danger" size="sm">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
      </b-card>
    </div>

    <!-- Add category Modal -->
    <b-modal
      id="add-category"
      ref="modal"
      title="Add Category"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <form ref="form">
        <b-alert
          :show="dismissCountDownAddError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedAddError">
          Add category error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          label="Code:"
          label-for="code"
          style="font-weight: bold"
          invalid-feedback="Code is required">
          <b-form-input
            id="code"
            v-model="category.code"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Name:"
          label-for="name"
          style="font-weight: bold"
          invalid-feedback="Name is required">
          <b-form-input
            id="name"
            v-model="category.name"
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [ContentMixin, validToken],
        data() {
            return {
                type: {
                    code: '',
                    name: ''
                },
                types: [],
                select_code: '',
                search: '',
                categoryStage: null,
                category: {
                    code: '',
                    name: ''
                },
                filter: null,
                itemsCategory: [],
                selected: {},
                fields: [
                    {key: 'code', sortable: true, sortDirection: 'desc'},
                    {key: 'name', sortable: true,},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        async created() {
            await this.loadCategories();

        },
        computed: {
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        methods: {
            async loadCategories() {
                try {
                    const {data} = await this.$services.asset.getCategory();
                    if (data) {
                        this.itemsCategory = data.results
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async OnSearch() {
                if (this.search && this.search.length > 0)
                    await this.loadChannels({search: this.search})
                else {
                    this.loadChannels({page: this.page})
                }
            },
            resetModal() {
                this.category = {
                    code: '',
                    name: '',
                };
                this.categoryStage = null
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.categoryStage = valid ? 'valid' : 'invalid';
                return valid
            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                this.confirmAdd();
            },
            async confirmAdd(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {code, name} = this.category;
                    try {
                        await this.$services.asset.addCategory({
                            code,
                            name
                        });
                        await this.loadCategories();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    return undefined;
                }
            },
            async deleteCategory(category) {
                if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
                    if (category) {
                        const {code} = category;
                        try {
                            await this.$services.asset.deleteCategory(code);
                            this.loadCategories();
                            this.deleteSuccess()
                        } catch (e) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                            this.deleteError();
                        }
                    } else {
                        this.deleteError();
                    }
                } else {
                    return undefined;
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
