<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add node success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError">
      Add node error!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit node success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownEditError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedEditError">
      Edit node error!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete node success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete node error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>
    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="filter">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button style="height: 35px;" v-b-modal.add-node class="float-right mr-2" type="submit" size="sm"
                      variant="primary" @click="">
              <i class="fa fa-plus-circle"></i> Add Node
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <br>

      <b-card>
        <div slot="header">
          <strong>Asset Node</strong>
        </div>
        <b-table
          :items="Array.isArray(itemsNode) ? itemsNode: []"
          :fields="fields"
          :filter="filter"
          responsive="sm"
          style="text-align: center"
          id="category-table">
          <template slot="actions" slot-scope="row">
            <router-link :to="{name: 'DetailAssetNode', params: {id: row.item._id}}">
              <b-button variant="outline-primary" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit
              </b-button>
            </router-link>
            <b-button @click="deleteNode(row.item)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
      </b-card>
    </div>

    <!-- Add node Modal -->
    <b-modal
      id="add-node"
      ref="modal"
      title="Add Node"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <form ref="form">
        <b-alert
          :show="dismissCountDownAddError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedAddError">
          Add node error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          label="Name:"
          label-for="name"
          style="font-weight: bold"
          invalid-feedback="Name is required">
          <b-form-input
            id="name"
            v-model="node.name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Before status:"
          label-for="before_status"
          style="font-weight: bold"
          invalid-feedback="Before status is required">
          <b-form-input
            id="name"
            v-model="node.beforeStatus"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="After status:"
          label-for="after_status"
          style="font-weight: bold"
          invalid-feedback="After status is required">
          <b-form-input
            id="name"
            v-model="node.afterStatus"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="File name ref:"
          label-for="isFileNameRef"
          style="display:flex; font-weight: bold"
          invalid-feedback="File name ref is required">
          <b-form-checkbox class="ml-2" switch v-model="node.isFileRef">
          </b-form-checkbox>
        </b-form-group>
        <b-form-group
          validated
          label="Asset:"
          label-for="isAsset"
          style="display:flex;font-weight: bold"
          invalid-feedback="Asset is required">
          <b-form-checkbox class="ml-2" switch v-model="node.isAsset">
          </b-form-checkbox>
        </b-form-group>
        <b-form-group
          validated
          label="Clear cache flag:"
          label-for="clear_cache_flag"
          style="display:flex;font-weight: bold"
          invalid-feedback="Clear cache flag is required">
          <b-form-checkbox class="ml-2" switch v-model="node.isCache">
          </b-form-checkbox>
        </b-form-group>
        <b-form-group
          validated
          label="Send cms:"
          label-for="is_send_cms"
          style="display:flex;font-weight: bold"
          invalid-feedback="Send cms is required">
          <b-form-checkbox class="ml-2" switch v-model="node.isCms">
          </b-form-checkbox>
        </b-form-group>
        <b-form-group
          validated
          label="Qc:"
          label-for="is_qc"
          style="display:flex;font-weight: bold"
          invalid-feedback="Qc is required">
          <b-form-checkbox class="ml-2" switch v-model="node.isQc">
          </b-form-checkbox>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [ContentMixin, validToken],
        data() {
            return {
                node: {
                    name: '',
                    beforeStatus: '',
                    afterStatus: '',
                    isFileRef: true,
                    isAsset: true,
                    isCache: false,
                    isCms: false,
                    isQc: false
                },
                paths: [],
                path: {
                    path: ''
                },
                search: '',
                filter: null,
                nodeStage: null,
                itemsNode: [],
                selected: {},
                fields: [
                    {key: '_id', label: 'ID', sortable: true, sortDirection: 'desc'},
                    {key: 'name', sortable: true,},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        async created() {
            await this.loadNodes();
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
        },
        computed: {
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        methods: {
            async loadNodes() {
                try {
                    const {data} = await this.$services.asset.getNode();
                    if (data) {
                        this.itemsNode = data.results
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async OnSearch() {
                if (this.search && this.search.length > 0)
                    await this.loadNodes({search: this.search});
                else {
                    this.loadNodes({page: this.page})
                }
            },
            resetModal() {
                this.node = {
                    name: '',
                    beforeStatus: '',
                    afterStatus: '',
                    isFileRef: true,
                    isAsset: true,
                    isCache: false,
                    isCms: false,
                    isQc: false
                };
                this.nodeStage = null
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.nodeStage = valid ? 'valid' : 'invalid';
                return valid
            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                this.confirmAdd();
            },
            async confirmAdd(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {name, beforeStatus, afterStatus, isFileRef, isAsset, isCache, isCms, isQc} = this.node;
                    try {
                        await this.$services.asset.addNode({
                            name,
                            beforeStatus,
                            afterStatus,
                            isFileRef,
                            isAsset,
                            isCache,
                            isCms,
                            isQc
                        });
                        await this.loadNodes();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    return undefined;
                }
            },
            async deleteNode(node) {
                if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
                    if (node) {
                        const {_id} = node;
                        try {
                            await this.$services.asset.deleteNode(_id);
                            this.loadNodes();
                            this.deleteSuccess()
                        } catch (e) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                            this.deleteError();
                        }
                    } else {
                        this.deleteError();
                    }
                } else {
                    this.deleteError();
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
