<template>
  <b-container fluid>
    <form ref="form">
      <b-row>
        <b-col sm="3"></b-col>
        <b-col sm="6">
          <b-card style="max-width: 100%; padding: 3rem">
            <div slot="header">
              <strong>Asset detail</strong>
            </div>
            <!--    <b-alert-->
            <!--      :show="dismissCountDownEditError"-->
            <!--      dismissible-->
            <!--      fade-->
            <!--      variant="danger"-->
            <!--      @dismiss-count-down="countDownChangedEditError">-->
            <!--      Edit content error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...-->
            <!--    </b-alert>-->
            <b-form-group
              validated
              label="Transcoder:"
              label-for="transcoder_status"
              style="display: flex; font-weight: bold"
              invalid-feedback="Transcoder is required">
              <b-button
                id="transcoder_status"
                size="sm"
                class="ml-3"
                :variant="process[temInfo.status_process]"
                v-model="temInfo.status_process">{{temInfo.status_process}}
              </b-button>
            </b-form-group>
            <b-form-group
              validated
              label="Asset Id:"
              label-for="asset_id"
              style="font-weight: bold"
              invalid-feedback="Asset Id is required">
              <b-form-input
                id="asset_id"
                class="ml-3"
                v-model="temInfo.asset_id"
                disabled
                required>
              </b-form-input>
            </b-form-group>

            <b-form-group
              label="Title en:"
              label-for="title_en"
              style="font-weight: bold"
              invalid-feedback="Title en is required">
              <b-form-input
                id="title_en"
                rows="4"
                class="ml-3"
                v-model="temInfo.title_en">
              </b-form-input>
            </b-form-group>
            <b-form-group
              label="Title th:"
              label-for="title_th"
              style="font-weight: bold"
              invalid-feedback="Title th is required">
              <b-form-input
                id="title_th"
                rows="4"
                class="ml-3"
                v-model="temInfo.title_th">
              </b-form-input>
            </b-form-group>
            <b-form-group
              label="Synopsis en:"
              label-for="synopsis_en"
              style="font-weight: bold"
              invalid-feedback="Synopsis en is required">
              <b-form-input
                id="synopsis_en"
                rows="4"
                class="ml-3"
                v-model="temInfo.synopsis_en">
              </b-form-input>
            </b-form-group>
            <b-form-group
              label="Synopsis th:"
              label-for="synopsis_th"
              style="font-weight: bold"
              invalid-feedback="Synopsis th is required">
              <b-form-input
                id="synopsis_th"
                rows="4"
                class="ml-3"
                v-model="temInfo.synopsis_th">
              </b-form-input>
            </b-form-group>
            <b-form-group
              validated
              label="Duration:"
              label-for="duration"
              style="font-weight: bold"
              invalid-feedback="Duration is required">
              <b-form-input
                id="duration"
                class="ml-3"
                v-model="temInfo.duration"
                disabled
                required>
              </b-form-input>
            </b-form-group>
            <b-form-group
              validated
              label="Localization:"
              label-for="localization"
              style="display: flex; font-weight: bold"
              invalid-feedback="Localization is required">
              <b-form-checkbox
                switch
                id="localization"
                class="ml-3"
                v-model="temInfo.is_local">
              </b-form-checkbox>
            </b-form-group>
            <b-form-group
              validated
              label="Sync Cms:"
              label-for="syncCms"
              style="display: flex; font-weight: bold"
              invalid-feedback="Sync Cms is required">
              <i class="fa fa-check-circle ml-3" v-if="temInfo.syncCms === true"
                 style="color: #4dbd74; font-size: 19px"></i><i v-if="temInfo.syncCms === true">&nbsp;&nbsp;&nbsp;( {{temInfo.cms_id}} )</i>
              <i class="fa fa-times-circle ml-3" v-if="temInfo.syncCms === false"
                 style="color: #f86c6b; font-size: 19px"></i>
            </b-form-group>
            <b-form-group
              validated
              label="Sub title:"
              label-for="sub_titles"
              style="display: flex; font-weight: bold"
              invalid-feedback="Sub title is required">&nbsp;&nbsp;
              <b-button size="sm" class=" mr-1" id="sub_titles" v-for="(language, index) in temInfo.sub_titles"
                        :variant="label_lang[language]" v-bind:key="index">
                {{language}}
              </b-button>
            </b-form-group>
            <b-form-group
              validated
              label="Datetime publish:"
              label-for="publish_date"
              style="display: flex; font-weight: bold"
              invalid-feedback="Datetime publish is required">
              <kendo-datetimepicker class="ml-3" required :interval="1" :format="'dd/MM/yyyy hh:mm'" :week-number="true"
                                    style="width: 100% !important;"
                                    v-model="temInfo.publish_date" id="publish_date"></kendo-datetimepicker>
            </b-form-group>
            <b-form-group
              validated
              label="Datetime expired:"
              label-for="expired_date"
              style="display: flex; font-weight: bold"
              invalid-feedback="Datetime expired is required">
              <kendo-datetimepicker class="ml-3" required :interval="15" :format="'dd/MM/yyyy hh:mm'"
                                    :week-number="true"
                                    style="width: 100% !important;"
                                    v-model="temInfo.expired_date" id="expired_date"></kendo-datetimepicker>
            </b-form-group>
            <b-form-group
              validated
              label="File:"
              label-for="file_name"
              style="font-weight: bold"
              invalid-feedback="File is required">
              <b-form-input
                id="file_name"
                class="ml-3"
                v-model="temInfo.file_name"
                disabled>
              </b-form-input>
            </b-form-group>
            <b-form-group
              label="Description:"
              label-for="description"
              style="font-weight: bold"
              invalid-feedback="Description is required">
              <b-form-textarea
                id="description"
                rows="4"
                class="ml-3"
                v-model="temInfo.description">
              </b-form-textarea>
            </b-form-group>
          </b-card>
        </b-col>
        <b-col sm="3"></b-col>
      </b-row>
      <b-row>
        <b-col sm="12">
          <b-tabs content-class="mt-3" align="center">
            <b-tab active>
              <template v-slot:title>
                <i class="fa fa-video-camera"></i> Video
              </template>
              <b-table
                responsive
                :items="Array.isArray(temInfo.video) ? temInfo.video: []"
                :fields="fieldsVideo"
                style="text-align: center;">
              </b-table>
            </b-tab>
            <b-tab>
              <template v-slot:title>
                <i class="fa fa-music"></i> Audio
              </template>
              <b-table :items="Array.isArray(temInfo.audio) ? temInfo.audio: []"
                       :fields="fieldsAudio"
                       striped
                       style="text-align: center"
                       responsive="sm">
                <template slot="show_detail" slot-scope="row">
                  <b-button size="sm" @click="row.toggleDetails" class="mr-2" variant="dark">
                    {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                  </b-button>
                </template>
                <template v-slot:row-details="row">
                  <b-card>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Index:</b></b-col>
                      <b-col class="text-sm-left">{{ row.item.index }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Codec:</b></b-col>
                      <b-col class="text-sm-left">{{ row.item.codec }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Language:</b></b-col>
                      <b-col sm="3" class="text-sm-left">
                        <b-form-select v-model="row.item.lang" :options="options_lang"></b-form-select>
                      </b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Channel layout:</b></b-col>
                      <b-col class="text-sm-left">{{ row.item.channel_layout }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Bit rate:</b></b-col>
                      <b-col class="text-sm-left">{{ row.item.bit_rate }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Is enable:</b></b-col>
                      <b-col class="text-sm-left">
                        <b-form-checkbox switch v-model="row.item.is_enable"></b-form-checkbox>
                      </b-col>
                    </b-row>
                  </b-card>
                </template>
              </b-table>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col sm="5"></b-col>
        <b-col sm="2">
          <b-button to="/asset/asset-info" variant="primary" class="btn btn-primary float-left">
            <i class="fa fa-arrow-circle-left"></i> Back
          </b-button>
          <b-button class="ml-2" variant="success" @click="updateInfo">
            <i class="fa fa-plus-circle"></i> Save
          </b-button>
        </b-col>
        <b-col sm="5"></b-col>
      </b-row>
      <br>
    </form>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import moment from 'moment';

    export default {
        mixins: [ContentMixin],
        name: "DetailAsset",
        data() {
            return {
                options_lang: [
                    {value: 'tha', text: 'tha'},
                    {value: 'eng', text: 'eng'},
                    {value: 'kor', text: 'kor'},
                    {value: 'jpn', text: 'jpn'},
                    {value: 'und', text: 'und'},
                ],
                fieldsAudio: [
                    {key: 'lang', label: 'Language', sortable: true},
                    {key: 'channel_layout', sortable: true},
                    {key: 'show_detail', sortable: true},
                ],
                itemAssets: [],
                fieldsVideo: [
                    {key: 'index', sortable: true},
                    {key: 'bit_rate', sortable: true},
                    {key: 'width', sortable: true},
                    {key: 'height', sortable: true},
                    {key: 'aspect_ratio', sortable: true},
                    {key: 'codec', sortable: true}
                ],
                sortBy: 'content_no',
                perPage: 10,
                currentPage: 1,
                Action: 'create',
                total_episode: 1,
                ep_no_suffix_flag: 'Y',
                selected: {},
                temInfo: [],
                infoStage: null,
                message_success: '',
                name_en: '',
                name_th: '',
                synopsis_en: '',
                synopsis_th: '',
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        computed: {
            rowsCreated() {
                return this.contents.length
            },
            rowsUpdated() {
                return this.temData.content_list.length;
            }
        },
        async created() {
            if (this.$route.params.id) {
                try {
                    const {data} = await this.$services.asset.getByIdInfo(this.$route.params.id);
                    if (data) {
                        this.temInfo = data.results;
                        console.log(this.temInfo)
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            } else {
            }
            console.log(this.$route.params.id)
        },
        methods: {
            moment,
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.infoStage = valid ? 'valid' : 'invalid';
                return valid
            },
            async updateInfo(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    try {
                        const {asset_id, is_local, publish_date, expired_date, description, title_en, title_th, synopsis_en, synopsis_th,  audio} = this.temInfo
                        console.log(this.temInfo)
                        delete this.temInfo._id
                        await this.$services.asset.updateInfo(asset_id, this.temInfo);
                        this.$router.push({name: 'AssetInfo'})
                        this.editSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.editError();
                    }
                } else {
                    this.editError();
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>
