<template>
  <b-container fluid>
    <b-row>
      <b-col sm="12">
        <b-card>
          <div slot="header">
            <strong>Detail Asset Node</strong>
          </div>
          <form ref="form">
            <!--        <b-alert-->
            <!--          :show="dismissCountDownEditError"-->
            <!--          dismissible-->
            <!--          fade-->
            <!--          variant="danger"-->
            <!--          @dismiss-count-down="countDownChangedEditError">-->
            <!--          Edit category error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...-->
            <!--        </b-alert>-->
            <b-form-group
              validated
              label="ID:"
              label-for="_id"
              style="font-weight: bold"
              invalid-feedback="ID is required">
              <b-form-input
                id="_id"
                v-model="temNode._id"
                disabled
                required>
              </b-form-input>
            </b-form-group>
            <b-form-group
              validated
              label="Name:"
              label-for="name"
              :state="nodeStage"
              style="font-weight: bold"
              invalid-feedback="Name is required">
              <b-form-input
                id="name"
                v-model="temNode.name"
                required>
              </b-form-input>
            </b-form-group>
            <b-card>
            <b-form-group
              validated
              label="Watch path:"
              label-for="watch_path"
              style="font-weight: bold; display: flex"
              invalid-feedback="Watch path is required">
              <b-button class="ml-2" variant="primary" size="sm" @click="addWatchPath">Add watch path</b-button>
            </b-form-group>
            <b-table
              :items="Array.isArray(itemsWatchPath) ? itemsWatchPath: []"
              :fields="fieldsWatchPath"
              responsive="sm"
              style="text-align: center"
              id="category-table">
              <template slot="actions" slot-scope="row">
                <b-button @click="loadOnePath(row.item)" variant="primary" size="sm" class="mr-1">
                  <i class="fa fa-edit"></i> Edit
                </b-button>
                <b-button @click="deleteOnePath(row.item)" variant="danger" size="sm">
                  <i class="fa fa-remove"></i> Delete
                </b-button>
              </template>
            </b-table>
            </b-card>
            <b-card>
            <b-form-group
              validated
              label="Next path:"
              label-for="next_path"
              style="font-weight: bold;display: flex"
              invalid-feedback="Next path is required">
              <b-button class="ml-2" size="sm" variant="primary" @click="addNextPath">Add next path</b-button>
            </b-form-group>
            <b-table
              :items="Array.isArray(itemsNextPath) ? itemsNextPath: []"
              :fields="fieldsNextPath"
              responsive="sm"
              style="text-align: center"
              id="category-table">
              <template slot="actions" slot-scope="row">
                <b-button @click="loadOnePath(row.item)" variant="primary" size="sm" class="mr-1">
                  <i class="fa fa-edit"></i> Edit
                </b-button>
                <b-button @click="deleteOnePath(row.item)" variant="danger" size="sm">
                  <i class="fa fa-remove"></i> Delete
                </b-button>
              </template>
            </b-table>
            </b-card>
            <b-form-group
              validated
              label="Before status:"
              label-for="before_status"
              style="font-weight: bold"
              :state="nodeStage"
              invalid-feedback="Before status is required">
              <b-form-input id="before_status" v-model="temNode.beforeStatus" required></b-form-input>
            </b-form-group>
            <b-form-group
              validated
              label="After status:"
              label-for="afterStatus"
              style="font-weight: bold"
              :state="nodeStage"
              invalid-feedback="After status is required">
              <b-form-input id="afterStatus" v-model="temNode.afterStatus" required></b-form-input>
            </b-form-group>
            <b-form-group
              validated
              label="File ref:"
              label-for="isFileRef"
              style="display:flex; font-weight: bold"
              invalid-feedback="File ref is required">
              <b-form-checkbox class="ml-2" switch v-model="temNode.isFileRef">
              </b-form-checkbox>
            </b-form-group>
            <b-form-group
              validated
              label="Asset:"
              label-for="isAsset"
              style="display:flex;font-weight: bold"
              invalid-feedback="Asset is required">
              <b-form-checkbox class="ml-2" switch v-model="temNode.isAsset">
              </b-form-checkbox>
            </b-form-group>
            <b-card>
            <b-form-group
              validated
              label="Generate smile path:"
              label-for="generate_smile_path"
              style="font-weight: bold; display: flex"
              invalid-feedback="Generate smile path is required">
              <b-button size="sm" class="ml-2" variant="primary" @click="addGenerateSmilePath">Add generate smile
                path
              </b-button>
            </b-form-group>
            <b-table
              :items="Array.isArray(itemsSmilePath) ? itemsSmilePath: []"
              :fields="fieldsSmilePath"
              responsive="sm"
              style="text-align: center"
              id="category-table">
              <template slot="actions" slot-scope="row">
                <b-button @click="loadOnePath(row.item)" variant="primary" size="sm" class="mr-1">
                  <i class="fa fa-edit"></i> Edit
                </b-button>
                <b-button @click="deleteOnePath(row.item)" variant="danger" size="sm">
                  <i class="fa fa-remove"></i> Delete
                </b-button>
              </template>
            </b-table>
            </b-card>
            <b-form-group
              validated
              label="Cache:"
              label-for="isCache"
              style="display:flex;font-weight: bold"
              invalid-feedback="Cache is required">
              <b-form-checkbox class="ml-2" switch v-model="temNode.isCache">
              </b-form-checkbox>
            </b-form-group>
            <b-form-group
              validated
              label="Cms:"
              label-for="isCms"
              style="display:flex;font-weight: bold"
              invalid-feedback="Cms is required">
              <b-form-checkbox class="ml-2" switch v-model="temNode.isCms">
              </b-form-checkbox>
            </b-form-group>
            <b-form-group
              validated
              label="Qc:"
              label-for="isQc"
              style="display:flex;font-weight: bold"
              invalid-feedback="Qc is required">
              <b-form-checkbox class="ml-2" switch v-model="temNode.isQc">
              </b-form-checkbox>
            </b-form-group>
          </form>
        </b-card>
      </b-col>
    </b-row>
    <br>
    <b-row>
      <b-col sm="6" class="pr-1">
        <b-form-group style="float: right">
          <b-button to="/asset/asset-node" variant="primary" class="btn btn-primary float-left">
            <i class="fa fa-arrow-circle-left"></i> Back
          </b-button>
        </b-form-group>
      </b-col>
      <b-col sm="6" class="pl-1">
        <b-form-group style="float: left">
          <b-button variant="success" @click="confirmEditNode">
            <i class="fa fa-plus-circle"></i> Save
          </b-button>
        </b-form-group>
      </b-col>
    </b-row>
    <br>
    <!--     Add watch path Modal-->
    <b-modal
      id="add-watch-path"
      ref="modal"
      size="md"
      @show="resetModal"
      @hidden="resetModal"
      title="Add watch path"
      @ok="confirmAddWatchPath">
      <form ref="form">
        <b-form-group
          validated
          label="category code:"
          label-for="content_category_id"
          style="font-weight:normal;"
          invalid-feedback="Content category id is required">
          <b-form-select v-model="path.categoryCode" class="ml-2" @input="searchTypeByCode" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="item in category_code">
              {{ item.code }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          label="Type:"
          label-for="type"
          style="font-weight:normal;"
          invalid-feedback="Type is require">
          <b-form-select v-model="path.typeCode" class="ml-2" :value="valueType" required @input="selectedType">
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="item in itemsCategoryType.options">
              {{ item.code }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          label="Path:"
          label-for="path"
          style="font-weight:normal;"
          invalid-feedback="Path is required">
          <b-form-input
            v-model="path.path"
            class="ml-2"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Action:"
          label-for="action"
          style="font-weight:normal;display: none"
          invalid-feedback="Action is required">
          <b-form-input
            v-model="path.action"
            value="watch"
            class="ml-2"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Node ID:"
          label-for="nodeId"
          style="font-weight:normal;display: none"
          invalid-feedback="Node ID is required">
          <b-form-input
            v-model="path.nodeId"
            :value="this.temNode._id"
            class="ml-2"
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <!--     Add next path Modal-->
    <b-modal
      id="add-next-path"
      ref="modal"
      size="md"
      @show="resetModal"
      @hidden="resetModal"
      title="Add next path"
      @ok="confirmAddNextPath">
      <form ref="form">
        <b-form-group
          validated
          label="category code:"
          label-for="content_category_id"
          style="font-weight:normal;"
          invalid-feedback="Content category id is required">
          <b-form-select v-model="path.categoryCode" class="ml-2" @input="searchTypeByCode" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="item in category_code">
              {{ item.code }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          label="Type:"
          label-for="type"
          style="font-weight:normal;"
          invalid-feedback="Type is require">
          <b-form-select v-model="path.typeCode" class="ml-2" :value="valueType" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="item in itemsCategoryType.options">
              {{ item.code }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          label="Path:"
          label-for="path"
          style="font-weight:normal;"
          invalid-feedback="Path is required">
          <b-form-input v-model="path.path" class="ml-2"></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Action:"
          label-for="action"
          style="font-weight:normal;display: none"
          invalid-feedback="Action is required">
          <b-form-input
            v-model="path.action"
            value="watch"
            class="ml-2"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Node ID:"
          label-for="nodeId"
          style="font-weight:normal;display: none"
          invalid-feedback="Node ID is required">
          <b-form-input
            v-model="path.nodeId"
            :value="this.temNode._id"
            class="ml-2"
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <!--     Add generate smile path Modal-->
    <b-modal
      id="add-generate-smile-path"
      ref="modal"
      size="md"
      @show="resetModal"
      @hidden="resetModal"
      title="Add generate smile path"
      @ok="confirmAddSmilePath">
      <form ref="form">
        <b-form-group
          validated
          label="category code:"
          label-for="content_category_id"
          style="font-weight:normal;"
          invalid-feedback="Content category id is required">
          <b-form-select v-model="path.categoryCode" class="ml-2" @input="searchTypeByCode" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="item in category_code">
              {{ item.code }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          label="Type:"
          label-for="type"
          style="font-weight:normal;"
          invalid-feedback="Type is require">
          <b-form-select v-model="path.typeCode" class="ml-2" :value="valueType" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="item in itemsCategoryType.options">
              {{ item.code }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          label="Path:"
          label-for="path"
          style="font-weight:normal;"
          invalid-feedback="Path is required">
          <b-form-input v-model="path.path" class="ml-2"></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Action:"
          label-for="action"
          style="font-weight:normal;display: none"
          invalid-feedback="Action is required">
          <b-form-input
            v-model="path.action"
            value="watch"
            class="ml-2"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Node ID:"
          label-for="nodeId"
          style="font-weight:normal;display: none"
          invalid-feedback="Node ID is required">
          <b-form-input
            v-model="path.nodeId"
            :value="this.temNode._id"
            class="ml-2"
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <!--     Edit one path Modal-->
    <b-modal
      id="edit-one-path"
      ref="modal"
      size="md"
      @show="resetModal"
      @hidden="resetModal"
      title="Edit path"
      @ok="confirmEditOnePath">
      <form ref="form">
        <b-form-group
          validated
          label="ID:"
          label-for="_id"
          style="font-weight:normal;"
          invalid-feedback="ID is required">
          <b-form-input
            v-model="selected._id"
            class="ml-2"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="category code:"
          label-for="content_category_id"
          style="font-weight:normal;"
          invalid-feedback="Content category id is required">
          <b-form-select v-model="selected.categoryCode" class="ml-2" @input="searchTypeByCode" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="item in category_code">
              {{ item.code }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          label="Type:"
          label-for="type"
          style="font-weight:normal;"
          invalid-feedback="Type is require">
          <b-form-select v-model="selected.typeCode" class="ml-2" :value="valueType" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="item in itemsCategoryType.options">
              {{ item.code }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          label="Path:"
          label-for="path"
          style="font-weight:normal;"
          invalid-feedback="Path is required">
          <b-form-input v-model="selected.path" class="ml-2"></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Action:"
          label-for="action"
          style="font-weight:normal;display: none"
          invalid-feedback="Action is required">
          <b-form-input
            v-model="selected.action"
            value="watch"
            class="ml-2"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Node ID:"
          label-for="nodeId"
          style="font-weight:normal;display: none"
          invalid-feedback="Node ID is required">
          <b-form-input
            v-model="selected.nodeId"
            :value="this.temNode._id"
            class="ml-2"
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>

  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [ContentMixin, validToken],
        data() {
            return {
                selected: {},
                valueType: 'none',
                category_code: [],
                select_category_code: 'none',
                itemsWatchPath: [],
                itemsNextPath: [],
                itemsSmilePath: [],
                fieldsWatchPath: [
                    {key: 'path', sortable: true, sortDirection: 'desc'},
                    {key: 'actions', sortable: true, sortDirection: 'desc'}
                ],
                fieldsNextPath: [
                    {key: 'path', sortable: true, sortDirection: 'desc'},
                    {key: 'actions', sortable: true, sortDirection: 'desc'}
                ],
                fieldsSmilePath: [
                    {key: 'path', sortable: true, sortDirection: 'desc'},
                    {key: 'actions', sortable: true, sortDirection: 'desc'}
                ],
                options_type: [{value: 'svod', text: 'svod'}, {value: 'tvod', text: 'tvod'}],
                paths: [],
                path: {
                    path: '',
                    categoryCode: '',
                    typeCode: 'none',
                    nodeId: '',
                    action: ''
                },
                select_code: '',
                search: '',
                nodeStage: null,
                channel: {
                    code: '',
                    name: '',
                    bms_code: '',
                    is_catchup: false,
                    languages: '',
                    definition_code: ''
                },
                itemsNode: [],
                itemsCategoryType: [],
                temNode: [],
                fields: [
                    {key: '_id', label: 'ID', sortable: true, sortDirection: 'desc'},
                    {key: 'node', sortable: true,},
                    {key: 'status', sortable: true,},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        async created() {
            if (this.$route.params.id) {
                try {
                    const {data} = await this.$services.asset.getByIdNode(this.$route.params.id);
                    if (data) {
                        const {_id, name, beforeStatus, afterStatus, isFileRef, isAsset, isCache, isCms, isQc} = data;
                        this.temNode = data.results;
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            } else {
            }
            await this.getCategory();
            await this.loadWatchPath();
            await this.loadNextPath();
            await this.loadSmilePath();
        },
        computed: {
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        methods: {
            async searchTypeByCode(code) {
                if (code) {
                    this.select_category_code = code;
                } else {
                    this.select_category_code = null;
                }
                this.loadCategoryType(code)
            },
            async selectedType(type) {
                if (type) {
                    this.valueType = type;
                } else {
                    this.valueType = null;
                }
            },
            async loadCategoryType(code) {
                try {
                    if (code !== 'none') {
                        const {data} = await this.$services.asset.getByCodeCategory(code);
                        if (data) {
                            this.itemsCategoryType = data.results;
                        }
                    } else {
                        this.itemsCategoryType = 'none'
                    }
                } catch (e) {
                    if (e.request.status === 404 && code !== 'none') {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async getCategory() {
                try {
                    const {data} = await this.$services.asset.getCategory();
                    if (data) {
                        this.category_code = data.results
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },

            async addWatchPath() {
                this.$bvModal.show('add-watch-path');
            },
            async addNextPath() {
                this.$bvModal.show('add-next-path');
            },
            async addGenerateSmilePath() {
                this.$bvModal.show('add-generate-smile-path');
            },
            async loadWatchPath() {
                try {
                    const {data} = await this.$services.asset.getPath(this.temNode._id, 'watch');
                    if (data) {
                        this.itemsWatchPath = data.results;
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async loadNextPath() {
                try {
                    const {data} = await this.$services.asset.getPath(this.temNode._id, 'next');
                    if (data) {
                        this.itemsNextPath = data.results;
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async loadSmilePath() {
                try {
                    const {data} = await this.$services.asset.getPath(this.temNode._id, 'smile');
                    if (data) {
                        this.itemsSmilePath = data.results;
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async confirmAddWatchPath(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {path, action, nodeId, typeCode, categoryCode} = this.path;
                    this.path.action = 'watch';
                    this.path.nodeId = this.temNode._id;
                    try {
                        await this.$services.asset.addPath(this.path);
                        this.addSuccess();
                        this.loadWatchPath();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        });
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    this.addError();
                }
            },
            async confirmAddNextPath(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {path, action, nodeId, typeCode, categoryCode} = this.path;
                    this.path.action = 'next';
                    this.path.nodeId = this.temNode._id;
                    try {
                        await this.$services.asset.addPath(this.path);
                        this.addSuccess();
                        this.loadNextPath();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        });
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    this.addError();
                }
            },
            async confirmAddSmilePath(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {path, action, nodeId, typeCode, categoryCode} = this.path;
                    this.path.action = 'smile';
                    this.path.nodeId = this.temNode._id;
                    try {
                        await this.$services.asset.addPath(this.path);
                        this.addSuccess();
                        this.loadSmilePath();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        });
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    this.addError();
                }
            },
            async loadOnePath(onePath) {
                await this.getCategory();
                await this.loadCategoryType(onePath.categoryCode);
                try {
                    const {_id} = onePath;
                    const {data} = await this.$services.asset.getPathById(_id);
                    if (data) {
                        this.selected = data.results;
                        this.$bvModal.show('edit-one-path')
                    }
                }catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            addNewPath() {
                this.paths.push(this.path);
            },
            removePath(index) {
                this.paths.splice(this.paths.indexOf(index), 1);
            },
            async OnSearch() {
                if (this.search && this.search.length > 0)
                    await this.loadChannels({search: this.search})
                else {
                    this.loadChannels({page: this.page})
                }
            },
            resetModal() {
                this.path = {
                    path: '',
                    categoryCode: '',
                    typeCode: 'none',
                    nodeId: '',
                    action: ''
                };
                this.nodeStage = null
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.nodeStage = valid ? 'valid' : 'invalid';
                return valid
            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                this.confirmAdd();
            },
            async confirmEditNode(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    const {_id, afterStatus, beforeStatus, isAsset, isCache, isCms, isFileRef, isQc, name} = this.temNode;
                    try {
                        await this.$services.asset.updateNode(_id, this.temNode);
                        this.$router.push({name: 'AssetNode'})
                        this.editSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.editError();
                    }
                } else {
                    this.editError();
                }
            },
            async confirmEditOnePath(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    const {_id, categoryCode, typeCode, path, nodeId, action} = this.selected;
                    try {
                        await this.$services.asset.updatePathById(_id, {action, categoryCode, nodeId, path, typeCode});
                        this.loadWatchPath();
                        this.loadNextPath();
                        this.loadSmilePath();
                        this.editSuccess();
                        this.$bvModal.hide('edit-one-path')
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.editError();
                    }
                } else {
                    this.editError();
                }
            },
            async deleteOnePath(path) {
                if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
                    const {_id} = path;
                    try {
                        await this.$services.asset.deletePathById(_id);
                        await this.loadWatchPath();
                        await this.loadNextPath();
                        await this.loadSmilePath();
                        this.deleteSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.deleteError();
                    }
                } else {
                    this.deleteError();
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>
