<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit type success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownEditError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedEditError">
      Edit type error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add type success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError">
      Add type error!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete type success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete type error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>
    <b-row>
      <b-col sm="12">
        <b-card>
          <div slot="header">
            <strong>Detail Asset Category</strong>
          </div>
          <form ref="form">
            <b-form-group
              validated
              label="Code:"
              label-for="code"
              style="font-weight: bold"
              invalid-feedback="Code is required">
              <b-form-input
                id="code"
                v-model="temCategory.code"
                disabled
                required>
              </b-form-input>
            </b-form-group>
            <b-form-group
              validated
              label="Name:"
              label-for="name"
              style="font-weight: bold"
              invalid-feedback="Name is required">
              <b-form-input
                id="name"
                v-model="temCategory.name"
                required>
              </b-form-input>
            </b-form-group>
            <b-form-group
              validated
              label="Type:"
              label-for="type"
              style="font-weight:bold;display: flex"
              invalid-feedback="Type is require">
              <b-form-group>
                <b-button class="ml-2" size="sm" v-b-modal.add-category-type variant="primary">Add type</b-button>
              </b-form-group>
            </b-form-group>
          </form>
          <b-table
            :items="Array.isArray(itemsCategoryType.options) ? itemsCategoryType.options: []"
            :fields="fields"
            responsive="sm"
            style="text-align: center"
            id="category-table">
            <template slot="actions" slot-scope="row">
              <b-button variant="primary" @click="loadType(row.item)" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit
              </b-button>
              <b-button @click="deleteCategoryType(row.item)" variant="danger" size="sm">
                <i class="fa fa-remove"></i> Delete
              </b-button>
            </template>
          </b-table>
        </b-card>
      </b-col>
    </b-row>
    <br>
    <b-row>
      <b-col sm="6" class="pr-1">
        <b-form-group  style="float: right">
          <b-button to="/asset/asset-category" variant="primary" class="btn btn-primary float-left">
            <i class="fa fa-arrow-circle-left"></i> Back
          </b-button>
        </b-form-group>
      </b-col>
      <b-col sm="6" class="pl-1">
        <b-form-group style="float: left">
          <b-button variant="success" @click="updateCategory">
            <i class="fa fa-plus-circle"></i> Save
          </b-button>
          </b-form-group>
      </b-col>
    </b-row>
    <br>

    <!-- Add category type Modal -->
    <b-modal
      id="add-category-type"
      ref="modal"
      title="Add Category type"
      @show="resetModal"
      @hidden="resetModal"
      @ok="addNewType">
      <form ref="form">
        <b-alert
          :show="dismissCountDownAddError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedAddError">
          Add category error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          label="Code:"
          label-for="code"
          style="font-weight: bold"
          invalid-feedback="Code is required">
          <b-form-input
            id="code"
            v-model="type.code"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Name:"
          label-for="name"
          style="font-weight: bold"
          invalid-feedback="Name is required">
          <b-form-input
            id="name"
            v-model="type.name"
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <!-- Edit category type Modal -->
    <b-modal
      id="edit-category-type"
      ref="modal"
      title="Edit Category type"
      @ok="editType">
      <form ref="form">
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit type error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          label="Code:"
          label-for="code"
          style="font-weight: bold"
          invalid-feedback="Code is required">
          <b-form-input
            id="code"
            v-model="selected.code"
            disabled
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Name:"
          label-for="name"
          style="font-weight: bold"
          invalid-feedback="Name is required">
          <b-form-input
            id="name"
            v-model="selected.name"
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [ContentMixin, validToken],
        name: "GenerateSeries",
        data() {
            return {
                selected: {},
                temCategory: [],
                categoryTypeStage: null,
                type: {
                    code: '',
                    name: ''
                },
                types: [],
                itemsCategoryType: [],
                fields: [
                    {key: 'code', sortable: true, sortDirection: 'desc'},
                    {key: 'name', sortable: true,},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        computed: {},
        async created() {
            await this.loadCategoryType();
            if (this.$route.params.id) {
                try {
                    const {data} = await this.$services.asset.getByCodeCategory(this.$route.params.id);
                    if (data) {
                        const {_id, code, name, options} = data;
                        this.temCategory = data.results;
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            } else {
            }
        },
        methods: {
            resetModal() {
                this.type = {
                    code: '',
                    name: '',
                };
                this.categoryTypeStage = null
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.categoryTypeStage = valid ? 'valid' : 'invalid';
                return valid
            },
            async addNewType(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {code, name} = this.type;
                    try {
                        await this.$services.asset.addCategoryType(this.$route.params.id, {
                            code,
                            name
                        });
                        await this.loadCategoryType();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    return undefined;
                }
            },
            async deleteCategoryType(category) {
                if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
                    if (category) {
                        try {
                            await this.$services.asset.deleteCategoryType(this.itemsCategoryType.code, category.code);
                            this.loadCategoryType();
                            this.deleteSuccess()
                        } catch (e) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                            this.deleteError();
                        }
                    } else {
                        this.deleteError();
                    }
                } else {
                    return undefined;
                }
            },
            async editType() {
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    if (this.$route.params.id) {
                        const {code, name} = this.selected;
                        try {
                            await this.$services.asset.updateCategoryType(this.$route.params.id, {code, name});
                            this.selected = {};
                            this.loadCategoryType();
                            this.editSuccess();
                            this.$nextTick(() => {
                                this.$refs.modal.hide()
                            });
                        } catch (e) {
                            if (e.request.status === 404) {
                                await this.$bvModal.msgBoxOk('Not Found (404)');
                            }
                            if (e.request.status === 500) {
                                await this.$bvModal.msgBoxOk('Server Error (500)');
                            }
                        }
                    }
                } else {
                }
            },
            async loadType(type) {
                try {
                    const {code, name} = type;
                    if (code) {
                        this.selected = {code, name};
                        this.$bvModal.show('edit-category-type')
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async loadCategoryType() {
                try {
                    const {data} = await this.$services.asset.getByCodeCategory(this.$route.params.id);
                    if (data) {
                        this.itemsCategoryType = data.results;
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async updateCategory() {
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    if (this.$route.params.id) {
                        const {name} = this.temCategory;
                        try {
                            await this.$services.asset.updateCategory(this.$route.params.id, {name});
                            this.selected = {};
                            this.editSuccess();
                            this.$nextTick(() => {
                                this.$refs.modal.hide()
                            });
                            this.$router.push({name: 'AssetCategory'})
                        } catch (e) {
                            if (e.request.status === 404) {
                                await this.$bvModal.msgBoxOk('Not Found (404)');
                            }
                            if (e.request.status === 500) {
                                await this.$bvModal.msgBoxOk('Server Error (500)');
                            }
                        }
                    }
                } else {
                }
            },
            async deleteCategory() {
                if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
                    if (content.content_id) {
                        const {content_id} = content;
                        try {
                            await this.$services.program.removeContent(content_id);
                            this.temData.content_list.splice(this.temData.content_list.indexOf(content), 1)
                            this.deleteSuccess()
                        } catch (e) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                            this.deleteError();
                        }
                    } else {
                        this.temData.content_list.splice(this.temData.content_list.indexOf(content), 1)
                        this.deleteSuccess()
                    }
                } else {
                    return undefined;
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        },

    }
</script>
