<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess"
    >Update episode success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...</b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess"
    >Add episode success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...</b-alert>
    <b-alert
      :show="dismissCountDownMsgError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedMsgError"
    >{{messageError}}. This alert will dismiss after {{ dismissCountDownMsgError }} seconds...</b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess"
    >Delete episode success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...</b-alert>

    <div>
      <b-row class="text-center">
        <b-col cols="1" v-if="!isCreate() && episodeAllow.isEdit">
          <a @click="saveCensor">
            <i class="fa fa-save fa-lg mt-4"></i>
            <br />Save
          </a>
        </b-col>
        <b-col cols="1" v-if="isCreate() && episodeAllow.isAdd">
          <a @click="saveCensor">
            <i class="fa fa-save fa-lg mt-4"></i>
            <br />Add
          </a>
        </b-col>
        <b-col cols="1">
          <a style="border: none;background-color: #fff" class="p-0 m-0" @click="backPage()">
            <i class="fa fa-mail-reply fa-lg mt-4"></i>
            <br />Back
          </a>
        </b-col>
      </b-row>

      <b-row md="12">
        <b-col sm="12" class="mt-3" style="display: inline-table; justify-content: flex-end">
          <b-form-group v-if="!isCreate()" label="Select Episode">
            <multiselect
              v-model="word"
              :options="episode_list"
              @search-change="fetchEpisode"
              disabled
              :seachable="true"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Select episode"
              label="episode_name"
              track-by="episode_id"
              :preselect-first="true"
            ></multiselect>
          </b-form-group>
          <b-form-group v-if="isCreate()" label="Select Episode">
            <multiselect
              v-model="word"
              :options="episode_list"
              @search-change="fetchEpisode"
              :seachable="true"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Select episode"
              label="name"
              track-by="id"
              :preselect-first="true"
            ></multiselect>
          </b-form-group>
        </b-col>
        <b-button class="mb-2 mt-3" v-b-modal.add-censor variant="primary">Add Censor</b-button>
        <b-table
          style="text-align: center;"
          sort-by="tc_in"
          head-variant="light"
          :items="Array.isArray(censors.censor_list) ? censors.censor_list: []"
          :fields="fieldsEpisodeCensor"
        >
          <template v-slot:cell(reason)="row">{{row.item.reason_description}}</template>
          <template v-slot:cell(action)="row">
            <b-button variant="primary" @click="loadCensor(row.item)" size="sm" class="mr-1">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button variant="danger" @click="deleteCensor(row.item)" size="sm">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
      </b-row>
    </div>

    <!-- Add Censor Modal -->
    <b-modal
      id="add-censor"
      ref="modal"
      no-close-on-backdrop
      size="lg"
      @show="resetModal"
      @reset="resetModal"
      @hidden="resetModal"
      @cancel="resetModal"
      @ok="addCensor"
      title="Add Censor"
    >
      <b-row>
        <b-form-group
          class="col-md-6"
          validated
          label="Tc in"
          label-for="tc_in"
          invalid-feedback="Tc in is required"
        >
          <b-form-input
            min="0"
            id="duration"
            v-model="censor.tc_in"
            type="number"
            required
            style="display: inline-flex;width:40%"
          ></b-form-input>Ex. 010203 = 1 hr 2 min 3 sec
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Tc out"
          label-for="tc_out"
          invalid-feedback="Tc out is required"
        >
          <b-form-input
            min="0"
            id="tc_out"
            v-model="censor.tc_out"
            type="number"
            required
            style="display: inline-flex;width:40%"
          ></b-form-input>Ex. 010203 = 1 hr 2 min 3 sec
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Tc in fps"
          label-for="tc_in_fps"
          invalid-feedback="Tc in fps is required"
        >
          <b-form-input
            type="number"
            max="99"
            v-model="censor.tc_in_fps"
            style="display: inline-flex;width:40%"
            required
          ></b-form-input>25 frame = 1 second.
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Tc out fps"
          label-for="tc_out_fps"
          invalid-feedback="Tc out fps is required"
        >
          <b-form-input
            type="number"
            max="99"
            v-model="censor.tc_out_fps"
            style="display: inline-flex;width:40%"
            required
          ></b-form-input>25 frame = 1 second.
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Type"
          label-for="type"
          invalid-feedback="Type is required"
        >
          <b-form-select label="type" v-model="censor.type" required>
            <template slot="first">
              <option :value="null" disabled>-- Please select type --</option>
              <option value="CUT">CUT</option>
              <option value="BLUR">BLUR</option>
              <option value="MOSAIC">MOSAIC</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Reason"
          label-for="reason"
          invalid-feedback="Reason is required"
        >
          <b-form-select v-model="censor.reason" style="width: 100%;">
            <template slot="first">
              <option :value="''"></option>
            </template>
            <option
              v-for="(item, index) in reasonChoices"
              :key="item.id"
              :value="item.id"
            >{{item.description}}</option>
          </b-form-select>
        </b-form-group>
      </b-row>
    </b-modal>

    <!-- Edit Censor Modal -->
    <b-modal
      no-close-on-backdrop
      id="edit-censor"
      ref="modal"
      size="lg"
      @show="resetModal"
      @reset="resetModal"
      @hidden="resetModal"
      @cancel="resetModal"
      @ok="editCensor"
      title="Edit Censor"
    >
      <b-row>
        <b-form-group
          class="col-md-6"
          validated
          label="Tc in"
          label-for="tc_in"
          invalid-feedback="Tc in is required"
        >
          <b-form-input
            min="0"
            id="duration"
            v-model="selectedCensor.tc_in"
            type="number"
            required
            style="display: inline-flex;width:40%"
          ></b-form-input>Ex. 010203 = 1 hr 2 min 3 sec
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Tc out"
          label-for="tc_out"
          invalid-feedback="Tc out is required"
        >
          <b-form-input
            min="0"
            id="tc_out"
            v-model="selectedCensor.tc_out"
            type="number"
            required
            style="display: inline-flex;width:40%"
          ></b-form-input>Ex. 010203 = 1 hr 2 min 3 sec
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Tc in fps"
          label-for="tc_in_fps"
          invalid-feedback="Tc in fps is required"
        >
          <b-form-input
            type="number"
            max="99"
            v-model="selectedCensor.tc_in_fps"
            style="display: inline-flex;width:40%"
            required
          ></b-form-input>25 frame = 1 second.
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Tc out fps"
          label-for="tc_out_fps"
          invalid-feedback="Tc out fps is required"
        >
          <b-form-input
            type="number"
            max="99"
            v-model="selectedCensor.tc_out_fps"
            style="display: inline-flex;width:40%"
            required
          ></b-form-input>25 frame = 1 second.
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Type"
          label-for="type"
          invalid-feedback="Type is required"
        >
          <b-form-select label="type" v-model="selectedCensor.type" required>
            <template slot="first">
              <option :value="null" disabled>-- Please select type --</option>
              <option value="CUT">CUT</option>
              <option value="BLUR">BLUR</option>
              <option value="MOSAIC">MOSAIC</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Reason"
          label-for="reason"
          invalid-feedback="Reason is required"
        >
          <b-form-select v-model="selectedCensor.reason" style="width: 100%;">
            <template slot="first">
              <option :value="''"></option>
            </template>
            <option
              v-for="(item, index) in reasonChoices"
              :key="item.id"
              :value="item.id"
            >{{item.description}}</option>
          </b-form-select>
        </b-form-group>
      </b-row>
    </b-modal>
  </b-container>
</template>

<script>
import moment from "moment";
import Vue from "vue";
import Multiselect from "vue-multiselect";
import VueTimepicker from "vue2-timepicker";
import PermissionMixin from "../../mixins/PermissionMixin";

export default {
  mixins: [PermissionMixin],
  name: "Episode",
  components: { VueTimepicker, Multiselect },
  data() {
    return {
      selectedCensor: {},
      censors: {
        episode: "",
        censor_list: [],
      },
      censor: {
        tc_in: "",
        tc_out: "",
        tc_in_fps: "",
        tc_out_fps: "",
        type: "",
        reason: "",
      },
      wordEpisode: "",
      episode_list: [],
      value: 0,
      moment,
      period: [],
      datetime_start: "",
      datetime_end: "",
      selectedTag: "",
      word: "",
      title_list: [],
      indexCensor: 0,
      publishZone: [],
      thumbnailTagChoices: [],
      selectedImage: null,
      Action: null,
      genNoSegment: "",
      censor_list: [],
      fieldsPublish: [
        { key: "desc", sortable: true },
        { key: "period", sortable: true },
        { key: "action", sortable: true },
      ],
      fieldsSegment: [
        { key: "segment_no", sortable: true },
        { key: "duration", sortable: true },
        { key: "action", sortable: true },
      ],
      fieldsEpisodeCensor: [
        { key: "tc_in", label: "Tc in", sortable: true },
        { key: "tc_out", label: "Tc out", sortable: true },
        { key: "type", sortable: true },
        { key: "reason_description", label: "Reason", sortable: true },
        { key: "action", sortable: true },
      ],
      dismissSecsUpdateSuccess: 5,
      dismissCountDownUpdateSuccess: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsMsgError: 5,
      dismissCountDownMsgError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsMsgErrorPublish: 5,
      dismissCountDownMsgErrorPublish: 0,
      messageError: "",
      messageErrorPublish: "",
      languages: [],
      episodeStage: null,
      publishes: [],
      selected: [],
      nameAkaOfNull: [],
      text_source_update: "",
      checkPermission: {},
      isAdd: false,
      isEdit: false,
      isDelete: false,
      isViewAka: false,
      isAddAka: false,
      isEditAka: false,
      isDeleteAka: false,
      isViewPublish: false,
      isAddPublish: false,
      isEditPublish: false,
      isDeletePublish: false,
      isViewSegment: false,
      isAddSegment: false,
      isEditSegment: false,
      isDeleteSegment: false,
      isViewThumbnail: false,
      isAddThumbnail: false,
      isEditThumbnail: false,
      isDeleteThumbnail: false,
      episodeAllow: {},
      akaepisodeAllow: {},
      publishepisodeAllow: {},
      segmentepisodeAllow: {},
      thumbnailepisodeAllow: {},
      reasonChoices: [],
    };
  },
  computed: {},
  async created() {
    await this.fetchGroupPermission();
    this.episodeAllow = await this.initialPermission("episode", "episode");
    this.akaepisodeAllow = await this.initialPermission(
      "episode",
      "akaepisode"
    );
    this.publishepisodeAllow = await this.initialPermission(
      "episode",
      "publishepisode"
    );
    this.segmentepisodeAllow = await this.initialPermission(
      "episode",
      "segment"
    );
    this.thumbnailepisodeAllow = await this.initialPermission(
      "episode",
      "thumbnailepisode"
    );
    // this.checkPermission = this.groupPermission.find(x => x.name === 'Program Library')
    // let isViewEpisode = this.checkPermission.permission_code.includes('episode_episode_view_episode')
    if (!this.episodeAllow.isDetail) {
      this.$router.push({ name: "Page403" });
    }
    console.log(this.$route.params.id);
    await this.initSelected();
    await this.fetch();
  },
  methods: {
    async fetchEpisode(word) {
      const ctx = this;
      ctx.wordEpisode = word;
      let params =
        ctx.wordEpisode !== "" && ctx.wordEpisode !== null
          ? { ...params, search: ctx.wordEpisode }
          : undefined;
      if (ctx.wordEpisode !== "") {
        try {
          const episode = await this.$services.episode.find(params);
          this.episode_list = episode.results;
        } catch (e) {
          console.log(e);
        }
      } else {
      }
    },
    backPage() {
      this.$router.push({ name: "Censor List" });
    },
    convertDate(datetime) {
      let [date, time] = datetime.split(" ");
      let [day, month, year] = date.split("/");
      let [hour, minutes, seconds] = time.split(":");
      return `${[year, month, day].join("-")}T${[hour, minutes, seconds].join(
        ":"
      )}`;
    },
    async fetch() {
      const { params } = this.$route;
      console.log(params, params.id);
      if (params && params.id) {
        const ctx = this;
        this.$services.censor
          .findById(ctx.$route.params.id)
          .then(function (episode) {
            console.log(episode);
            ctx.censors = episode;
            console.log(ctx.censors);
            // let {duration, segment_list, publish_list, asset_id, id, thumbnail_list} = ctx.episode;
            // // duration = ctx.convertDuration(duration);
            // segment_list = segment_list.map(episode => ({
            //   ...episode,
            //   // duration: ctx.convertDuration(episode.duration)
            // }));
            // if (asset_id === '') {
            //   asset_id = id;
            // }
            // publish_list = publish_list.map(({publish_id, desc, period_list}) => ({
            //   publish_id: publish_id,
            //   desc: desc,
            //   period_list: period_list.map(({datetime_start, datetime_end}) => ({
            //     datetime_start: moment(datetime_start).format('DD/MM/YYYY HH:mm:ss'),
            //     datetime_end: moment(datetime_end).format('DD/MM/YYYY HH:mm:ss')
            //   }))
            // }))
            // ctx.episode = {...ctx.episode, duration, segment_list, publish_list, asset_id, thumbnail_list};
            ctx.word = episode;
            // console.log(ctx.episode)
            ctx.checkDuplicateTime();
          })
          .catch((e) => {
            ctx.errorHttp(e);
          });
      } else {
      }
    },
    async deleteCensor(index) {
      if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
        this.censors.censor_list.splice(
          this.censors.censor_list.indexOf(index),
          1
        );
      }
    },
    async addCensor() {
      let reason = {};
      if (this.censor.reason || this.censor.reason !== "") {
        await this.$services.reason
          .findById(this.censor.reason)
          .then((x) => {
            this.censor.reason_description = x.description;
          })
          .catch(console.log);
      } else {
        this.censor.reason = "";
        this.censor.description = "";
      }
      console.log(reason);
      console.log(this.censor);
      const ctx = this;
      if (ctx.censors.censor_list.length > 0) {
        if (ctx.censor.tc_in > ctx.censor.tc_out) {
          await ctx.$bvModal.msgBoxOk("Tc out must be greater than tc in.");
        } else {
          let isDuplicate = false;
          ctx.censors.censor_list.map((item) => {
            console.log(ctx.censors.censor_list.length);
            console.log(item);
            if (ctx.censor.tc_in < ctx.censor.tc_out) {
              if (
                (item.tc_out < ctx.censor.tc_in &&
                  item.tc_out < ctx.censor.tc_out) ||
                (item.tc_in > ctx.censor.tc_in &&
                  item.tc_in > ctx.censor.tc_out)
              ) {
                console.log("1");
                //ctx.censors.censor_list.push(ctx.censor);
              } else {
                if (
                  (item.tc_out === ctx.censor.tc_in &&
                    item.tc_out_fps < ctx.censor.tc_in_fps) ||
                  (ctx.censor.tc_out === item.tc_in &&
                    ctx.censor.tc_out_fps < item.tc_in_fps)
                ) {
                  console.log("2");
                  // ctx.censors.censor_list.push(ctx.censor);
                } else {
                  console.log("3");
                  isDuplicate = true;
                  // ctx.$bvModal.msgBoxOk(
                  //   "This censor is intersect another list."
                  // );
                }
              }
            } else {
              if (
                (item.tc_out_fps < ctx.censor.tc_in_fps &&
                  ctx.censor.tc_in_fps < ctx.censor.tc_out_fps) ||
                (item.tc_in_fps > ctx.censor.tc_in_fps &&
                  ctx.censor.tc_in_fps < ctx.censor.tc_out_fps < item.tc_in_fps)
              ) {
                console.log("4");
                // ctx.censors.censor_list.push(ctx.censor);
              } else {
                console.log("5");
                if (ctx.censor.tc_in === ctx.censor.tc_out) {
                  if (ctx.censor.tc_in_fps < ctx.censor.tc_out_fps) {
                  } else {
                    isDuplicate = true;
                  }
                } else {
                  isDuplicate = true;
                }
                // ctx.$bvModal.msgBoxOk("This censor is intersect another list.");
              }
            }
            console.log(ctx.censors.censor_list.length);
          });
          if (!isDuplicate) {
            ctx.censors.censor_list.push(ctx.censor);
          } else {
            await ctx.$bvModal.msgBoxOk(
              "This censor is intersect another list."
            );
          }
        }
      } else {
        if (ctx.censor.tc_in > ctx.censor.tc_out) {
          await ctx.$bvModal.msgBoxOk("Tc out must be greater than tc in.");
        } else {
          if (
            ctx.censor.tc_in_fps < ctx.censor.tc_out_fps ||
            ctx.censor.tc_in < ctx.censor.tc_out
          ) {
            ctx.censors.censor_list.push(ctx.censor);
            console.log(ctx.censors);
          } else {
            await ctx.$bvModal.msgBoxOk(
              "At tc in equal to tc out, Tc out fps must be greater than tc in fps."
            );
          }
        }
      }
    },
    resetModal() {
      this.censor = {
        tc_in: "",
        tc_out: "",
        tc_in_fps: "",
        tc_out_fps: "",
        type: "",
        reason: "",
      };
    },
    async loadCensor(censor) {
      this.indexCensor = this.censors.censor_list.indexOf(censor);
      try {
        const parsedEditCensor = JSON.stringify(censor);
        localStorage.setItem("editCensor", parsedEditCensor);
        if (localStorage.getItem("editCensor")) {
          try {
            this.selectedCensor = JSON.parse(
              localStorage.getItem("editCensor")
            );
            console.log(this.selectedCensor);
          } catch (e) {
            localStorage.removeItem("editCensor");
          }
        }
        this.$bvModal.show("edit-censor");
      } catch (e) {
        if (e.request.status === 404) {
          await this.$bvModal.msgBoxOk("Not Found (404)");
        }
        if (e.request.status === 500) {
          await this.$bvModal.msgBoxOk("Server Error (500)");
        }
      }
    },
    async editCensor() {
      let tempCensor = {};
      console.log(this.selectedCensor);
      console.log(this.censors.censor_list);
      let reason = {};
      if (this.selectedCensor.reason !== "") {
        reason = await this.$services.reason.findById(
          this.selectedCensor.reason
        );
      } else {
        this.selectedCensor.reason = "";
        reason.description = "";
      }
      tempCensor = this.selectedCensor;
      console.log(tempCensor);
      console.log(reason);
      console.log(this.selectedCensor);
      const ctx = this;
      this.censors.censor_list.splice(
        this.censors.censor_list.indexOf(this.selectedCensor),
        1
      );
      if (ctx.censors.censor_list.length > 0) {
        if (ctx.selectedCensor.tc_in > ctx.selectedCensor.tc_out) {
          this.selectedCensor = JSON.parse(localStorage.getItem("editCensor"));
          Vue.set(this.censors.censor_list, this.indexCensor, {
            tc_in: this.selectedCensor.tc_in,
            tc_out: this.selectedCensor.tc_out,
            tc_in_fps: this.selectedCensor.tc_in_fps,
            tc_out_fps: this.selectedCensor.tc_out_fps,
            type: this.selectedCensor.type,
            reason: this.selectedCensor.reason,
            reason_description: this.selectedCensor.reason_description,
          });
          await ctx.$bvModal.msgBoxOk("Tc out must be greater than tc in.");
        } else {
          let isDuplicate = false;
          ctx.censors.censor_list.map((item) => {
            console.log(ctx.censors.censor_list.length);
            console.log(item);
            if (ctx.selectedCensor.tc_in < ctx.selectedCensor.tc_out) {
              if (
                (item.tc_out < ctx.selectedCensor.tc_in &&
                  item.tc_out < ctx.selectedCensor.tc_out) ||
                (item.tc_in > ctx.selectedCensor.tc_in &&
                  item.tc_in > ctx.selectedCensor.tc_out)
              ) {
                console.log("1");
                //ctx.censors.censor_list.push(ctx.censor);
              } else {
                if (
                  (item.tc_out === ctx.selectedCensor.tc_in &&
                    item.tc_out_fps < ctx.selectedCensor.tc_in_fps) ||
                  (ctx.selectedCensor.tc_out === item.tc_in &&
                    ctx.selectedCensor.tc_out_fps < item.tc_in_fps)
                ) {
                  console.log("2");
                  // ctx.censors.censor_list.push(ctx.censor);
                } else {
                  console.log("3");
                  isDuplicate = true;
                  // ctx.$bvModal.msgBoxOk(
                  //   "This censor is intersect another list."
                  // );
                }
              }
            } else {
              if (
                (item.tc_out_fps < ctx.selectedCensor.tc_in_fps &&
                  ctx.selectedCensor.tc_in_fps <
                    ctx.selectedCensor.tc_out_fps) ||
                (item.tc_in_fps > ctx.selectedCensor.tc_in_fps &&
                  ctx.selectedCensor.tc_in_fps <
                    ctx.selectedCensor.tc_out_fps <
                    item.tc_in_fps)
              ) {
                console.log("4");
                // ctx.censors.censor_list.push(ctx.censor);
              } else {
                console.log("5");
                if (ctx.selectedCensor.tc_in === ctx.selectedCensor.tc_out) {
                  if (
                    ctx.selectedCensor.tc_in_fps < ctx.selectedCensor.tc_out_fps
                  ) {
                  } else {
                    isDuplicate = true;
                  }
                } else {
                  isDuplicate = true;
                }
                // ctx.$bvModal.msgBoxOk("This censor is intersect another list.");
              }
            }
            console.log(ctx.censors.censor_list.length);
          });
          console.log(tempCensor);
          if (!isDuplicate) {
            console.log("!dub");
            Vue.set(this.censors.censor_list, this.indexCensor, {
              tc_in: this.selectedCensor.tc_in,
              tc_out: this.selectedCensor.tc_out,
              tc_in_fps: this.selectedCensor.tc_in_fps,
              tc_out_fps: this.selectedCensor.tc_out_fps,
              type: this.selectedCensor.type,
              reason: this.selectedCensor.reason,
              reason_description: reason.description,
            });
          } else {
            console.log("dub");
            this.selectedCensor = JSON.parse(
              localStorage.getItem("editCensor")
            );
            Vue.set(this.censors.censor_list, this.indexCensor, {
              tc_in: this.selectedCensor.tc_in,
              tc_out: this.selectedCensor.tc_out,
              tc_in_fps: this.selectedCensor.tc_in_fps,
              tc_out_fps: this.selectedCensor.tc_out_fps,
              type: this.selectedCensor.type,
              reason: this.selectedCensor.reason,
              reason_description: this.selectedCensor.reason_description,
            });
            await ctx.$bvModal.msgBoxOk(
              "This censor is intersect another list."
            );
          }
        }
      } else {
        if (ctx.selectedCensor.tc_in > ctx.selectedCensor.tc_out) {
          await ctx.$bvModal.msgBoxOk("Tc out must be greater than tc in.");
        } else {
          if (
            ctx.selectedCensor.tc_in_fps < ctx.selectedCensor.tc_out_fps ||
            ctx.selectedCensor.tc_in < ctx.selectedCensor.tc_out
          ) {
            Vue.set(this.censors.censor_list, this.indexCensor, {
              tc_in: this.selectedCensor.tc_in,
              tc_out: this.selectedCensor.tc_out,
              tc_in_fps: this.selectedCensor.tc_in_fps,
              tc_out_fps: this.selectedCensor.tc_out_fps,
              type: this.selectedCensor.type,
              reason: this.selectedCensor.reason,
              reason_description: reason.description,
            });
            console.log(ctx.censors);
          } else {
            console.log(ctx.censor);
            this.selectedCensor = JSON.parse(
              localStorage.getItem("editCensor")
            );
            Vue.set(this.censors.censor_list, this.indexCensor, {
              tc_in: this.selectedCensor.tc_in,
              tc_out: this.selectedCensor.tc_out,
              tc_in_fps: this.selectedCensor.tc_in_fps,
              tc_out_fps: this.selectedCensor.tc_out_fps,
              type: this.selectedCensor.type,
              reason: this.selectedCensor.reason,
              reason_description: this.selectedCensor.reason_description,
            });
            await ctx.$bvModal.msgBoxOk(
              "At tc in equal to tc out, Tc out fps must be greater than tc in fps."
            );
          }
        }
      }
    },
    errorHttp(statusCode) {
      if (statusCode === 404) {
        this.$bvModal.msgBoxOk("Not Found (404)");
      } else if (statusCode === 500) {
        this.$bvModal.msgBoxOk("Server Error (500)");
      }
    },
    convertDuration: (duration) =>
      `${duration.slice(0, 2)}:${duration.slice(2, 4)}:${duration.slice(4, 6)}`,
    toDuration: (duration) => duration.split(":").join(""),
    async initSelected() {
      const ctx = this;

      // await ctx.$services.language.find({is_aka: 'Y'})
      //   .then((languages) => {
      //     ctx.languages = languages;
      //   })
      //   .catch(console.log)

      // await ctx.$services.publish.find()
      //   .then((publishes) => {
      //     ctx.publishes = publishes.results;
      //   })
      //   .catch(console.log)

      await ctx.$services.reason
        .find()
        .then((reason) => {
          console.log(reason);
          ctx.reasonChoices = reason;
        })
        .catch(console.log);

      // ctx.$services.config.findByTagThumbnail()
      //   .then((config) => {
      //     ctx.thumbnailTagChoices = config;
      //   })
      //   .catch(console.log);
    },
    isCreate() {
      return !this.$route.params.id;
    },
    async deleteEpisode(episodeId) {
      if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
        try {
          await this.$services.episode.remove(episodeId);
          this.$router.push({ name: "Episode List" });
          this.deleteSuccess();
        } catch (e) {}
      }
    },
    toBase64: (file) =>
      new Promise((resolve, reject) => {
        console.log(file);
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      }),
    async convertImg(e) {
      const file = e;
      console.log(file);

      if (!file.type.includes("image/")) {
        alert("Please select an image file");
        return;
      }
      if (typeof FileReader === "function") {
        this.url = URL.createObjectURL(file);
        this.episode.thumbnail_list.push({
          tag: this.selectedTag,
          text_source: await this.toBase64(file),
          uri: this.url,
        });
      } else {
        alert("Sorry, FileReader API not supported");
      }
      // console.log(e)
      // const file = e;
      // console.log(file)
      // console.log(this.url)
      // if (file) {
      //   this.url = URL.createObjectURL(file);
      //   let canvas, ctx, dataURL, base64;
      //   console.log(dataURL)
      //   canvas = document.createElement("canvas");
      //   dataURL = canvas.toDataURL("image/png");
      //   base64 = dataURL.replace("/^data:image\/png;base64,/", "");
      //   this.title.thumbnail_list.push({
      //     tag: this.selectedTag,
      //     file_name: file.name,
      //     text_source: base64,
      //     url: this.url
      //   });
      // }
      console.log(this.episode.thumbnail_list);
    },
    deleteThumbnail(thumbnail) {
      this.episode.thumbnail_list.splice(
        this.episode.thumbnail_list.indexOf(thumbnail),
        1
      );
    },
    // checkDuplicateTime() {
    //   console.log('a')
    //   console.log(this.censors)
    //   for (let item of this.censors.censor_list) {
    //     console.log('b')
    //     const tc_start_mat = item.tc_start.split(':')
    //     tc_start_mat = tc_start_mat[0] + tc_start_mat[1] + tc_start_mat[2]
    //     const tc_stop_mat = item.tc_stop.split(':')
    //     tc_stop_mat = tc_stop_mat[0] + tc_stop_mat[1] + tc_stop_mat[2]
    //     console.log(Number(tc_start_mat), Number(tc_stop_mat))
    //     if (tc_start_mat === tc_stop_mat) {
    //       console.log('false')
    //       return false
    //     }
    //   }
    // },
    async loadPublish(publish) {
      this.indexPublish = this.episode.publish_list.indexOf(publish);
      try {
        this.editPublish = publish;
        const parsedEditPublish = JSON.stringify(publish);
        localStorage.setItem("editPublish", parsedEditPublish);
        if (localStorage.getItem("editPublish")) {
          try {
            this.selected = JSON.parse(localStorage.getItem("editPublish"));
          } catch (e) {
            localStorage.removeItem("editPublish");
          }
        }
        this.$bvModal.show("edit-publish");
      } catch (e) {
        if (e.request.status === 404) {
          await this.$bvModal.msgBoxOk("Not Found (404)");
        }
        if (e.request.status === 500) {
          await this.$bvModal.msgBoxOk("Server Error (500)");
        }
      }
    },
    generateSegment() {
      this.episode.segment_list = [];
      let { segment_list } = this.episode;
      segment_list = Array.isArray(segment_list) ? segment_list : [];
      const segmentSize = segment_list.length;
      if (segmentSize !== this.genNoSegment) {
        if (segmentSize < this.genNoSegment) {
          const { duration } = this.episode;
          let duration1 = duration[0] + duration[1];
          let duration2 = duration[2] + duration[3];
          let duration3 = duration[4] + duration[5];
          duration1 = Number(duration1 * 60 * 60);
          duration2 = Number(duration2 * 60);
          duration3 = Number(duration3);
          let allDuration =
            (duration1 + duration2 + duration3) / this.genNoSegment;
          allDuration = allDuration / 60 / 60;
          duration1 = Math.trunc(allDuration);
          duration2 = (allDuration - duration1) * 60;
          let decimalD2 = duration2;
          duration2 = Math.trunc(duration2);
          duration3 = (decimalD2 - duration2) * 60;
          duration3 = Number(duration3.toFixed(2));
          let lastDuration3 = duration3;
          duration3 = Math.trunc(duration3);
          let finalDuration3 = 0;
          if (!Number.isInteger(lastDuration3)) {
            let decimalDuration3 = lastDuration3 - duration3;
            decimalDuration3 = decimalDuration3 * this.genNoSegment;
            decimalDuration3 = Math.round(decimalDuration3);
            finalDuration3 = (Number(duration3) + decimalDuration3).toString();
          }
          duration1 = duration1.toString();
          duration2 = duration2.toString();
          duration3 = duration3.toString();
          if (duration1.length === 1) {
            duration1 = "0" + duration1;
          }
          if (duration2.length === 1) {
            duration2 = "0" + duration2;
          }
          if (duration3.length === 1) {
            duration3 = "0" + duration3;
          }
          let resultDuration = duration1 + duration2 + duration3;
          const size = this.genNoSegment - segmentSize;
          let items = new Array(size).fill(
            {
              segment_no: segmentSize,
              duration: resultDuration,
            },
            0,
            size
          );
          items = items.map(({ segment_no, duration }, index) => ({
            duration,
            segment_no: segment_no + index + 1,
          }));
          this.episode.segment_list.push(...items);
          if (!Number.isInteger(lastDuration3)) {
            this.episode.segment_list[this.genNoSegment - 1].duration =
              duration1.toString() + duration2.toString() + finalDuration3;
          }
        } else {
          this.episode.segment_list = segment_list.slice(0, this.genNoSegment);
        }
      }
    },
    async fetchTitle(word) {
      const ctx = this;
      ctx.word = word;
      let params =
        ctx.word !== "" && ctx.word !== null
          ? { ...params, search: ctx.word, title_type: "SERIES" }
          : undefined;
      if (ctx.word !== "") {
        try {
          const title = await this.$services.title.find(params);
          this.title_list = title.results;
        } catch (e) {}
      } else {
      }
    },
    fetchEpisodeName() {
      for (let item of this.nameAkaOfNull) {
        item.name = this.episode.name;
      }
    },
    addInputPeriod() {
      if (!Array.isArray(this.period)) {
        this.period = [];
      }
      this.period.push({ datetime_start: "", datetime_end: "" });
    },
    removeInputPeriod(indexPeriod) {
      this.period.splice(indexPeriod, 1);
    },
    removeInputEditPeriod(indexPeriod) {
      this.selected.period_list.splice(indexPeriod, 1);
    },
    async saveAddPublish() {
      console.log(this.publishZone);
      try {
        console.log("a");
        let set_datetime_start = this.datetime_start;
        let set_datetime_end = this.datetime_end;
        console.log(set_datetime_start, set_datetime_end);
        let resultPublish = [];
        console.log("b", this.publishZone);
        for (let item of this.publishZone) {
          await this.$services.title.validatePeriod(
            this.episode.title_info.id,
            {
              datetime_start: moment(
                this.convertDate(this.datetime_start)
              ).format(),
              datetime_end: moment(
                this.convertDate(this.datetime_end)
              ).format(),
            }
          );
          const getPublishId = await this.$services.publish.findById(item);
          let isDubPublishId = resultPublish.find(
            ({ publish_id }) => publish_id === getPublishId.id
          );
          if (!isDubPublishId) {
            let arrayPeriod = [];
            arrayPeriod.push({
              datetime_start: set_datetime_start,
              datetime_end: set_datetime_end,
            });
            resultPublish.push({
              publish_id: getPublishId.id,
              desc: getPublishId.desc,
              period_list: arrayPeriod,
            });
            console.log(resultPublish);
          } else {
            isDubPublishId.period_list.push({
              datetime_start: set_datetime_start,
              datetime_end: set_datetime_end,
            });
            console.log(resultPublish);
          }
        }
        for (let item of resultPublish) {
          let messagesError = [];
          const period_list = item.period_list.sort(
            (a, b) => new Date(a.datetime_start) - new Date(b.datetime_start)
          );
          for (let index = 0; index < period_list.length; index++) {
            let current = period_list[index];
            let datetime_start = new Date(current["datetime_start"]).getTime();
            let datetime_end = new Date(current["datetime_end"]).getTime();
            if (datetime_end <= datetime_start) {
              // error
              messagesError.push("error");
              break;
            }
            if (index + 1 < period_list.length) {
              let next = period_list[index + 1];
              let next_datetime_start = new Date(
                next["datetime_start"]
              ).getTime();
              if (next_datetime_start <= datetime_end) {
                // error
                messagesError.push("error");
                break;
              }
            } else {
              break;
            }
          }
          if (messagesError.length === 0) {
            if (this.episode.publish_list.length === 0) {
              let publishIds = resultPublish.map(
                ({ publish_id }) => publish_id
              );
              if (
                this.episode.publish_list.find(({ publish_id }) =>
                  publishIds.includes(publish_id)
                )
              ) {
              } else {
                this.episode.publish_list.push(...resultPublish);
              }
            } else {
              let publishIds = resultPublish.map(
                ({ publish_id }) => publish_id
              );
              if (
                this.episode.publish_list.find(({ publish_id }) =>
                  publishIds.includes(publish_id)
                )
              ) {
                await this.$bvModal.msgBoxOk("Publish zone is duplicate.");
              } else {
                this.episode.publish_list.push(...resultPublish);
              }
            }
          } else {
            await this.$bvModal.msgBoxOk("Datetime is duplicate.");
          }
          console.log(this.episode.publish_list);
          resultPublish = [];
        }
      } catch (e) {
        console.log(e.response);
        this.messageErrorPublish = e.response.data["non_field_errors"].pop();
        this.msgErrorPublish();
        this.fetch();
      }
    },
    async saveEditPublish() {
      try {
        console.log(this.selected);
        console.log(this.period);
        for (let item of this.period) {
          let getPublishId = await this.$services.publish.findById(
            this.selected.publish_id
          );
          this.selected = { ...this.selected, desc: getPublishId.desc };
          this.selected.period_list.push(item);
          console.log(this.selected.period_list);
        }
        for (let item of this.selected.period_list) {
          await this.$services.title.validatePeriod(
            this.episode.title_info.id,
            {
              datetime_start: moment(
                this.convertDate(item.datetime_start)
              ).format(),
              datetime_end: moment(
                this.convertDate(item.datetime_end)
              ).format(),
            }
          );
        }
        let messagesError = [];
        const period_list = this.selected.period_list.sort(
          (a, b) => new Date(a.datetime_start) - new Date(b.datetime_start)
        );
        for (let index = 0; index < period_list.length; index++) {
          let current = period_list[index];
          let datetime_start = new Date(current["datetime_start"]).getTime();
          let datetime_end = new Date(current["datetime_end"]).getTime();
          if (datetime_end <= datetime_start) {
            // error
            messagesError.push("error");
            break;
          }
          if (index + 1 < period_list.length) {
            let next = period_list[index + 1];
            let next_datetime_start = new Date(
              next["datetime_start"]
            ).getTime();
            if (next_datetime_start <= datetime_end) {
              // error
              messagesError.push("error");
              break;
            }
          } else {
            break;
          }
        }
        if (messagesError.length === 0) {
          if (this.episode.publish_list.length === 0) {
            let publishIds = this.selected.period_list.map(
              ({ publish_id }) => publish_id
            );
            if (
              this.episode.publish_list.find(({ publish_id }) =>
                publishIds.includes(publish_id)
              )
            ) {
            } else {
              this.episode.publish_list.push(...this.selected.period_list);
            }
          } else {
          }
          Vue.set(this.episode.publish_list, this.indexPublish, this.selected);
        } else {
          await this.$bvModal.msgBoxOk("Datetime is duplicate.");
        }
      } catch (e) {
        console.log(e.response);
        this.messageErrorPublish = e.response.data["non_field_errors"].pop();
        this.msgErrorPublish();
        this.fetch();
      }
    },
    resetPublish() {
      this.publishZone = [];
      this.datetime_start = "";
      this.datetime_end = "";
      this.period = [];
    },
    removePublish(publish) {
      this.episode.publish_list.splice(
        this.episode.publish_list.indexOf(publish),
        1
      );
    },
    removeGenSegment(segment) {
      this.episode.segment_list.splice(
        this.episode.segment_list.indexOf(segment),
        1
      );
    },
    // checkFormValidity() {
    //   try {
    //     const valid = this.$refs.form.checkValidity();
    //     this.episodeStage = valid ? 'valid' : 'invalid';
    //     return valid
    //   } catch (e) {
    //   }
    // },
    matchBase64Update2(ctx, uri) {
      return new Promise(function (resolve, reject) {
        ctx.matchBase64Update1(uri, function (data) {
          resolve(data);
        });
      });
    },
    matchBase64Update1(url, callback) {
      const xhr = new XMLHttpRequest();
      xhr.onload = function () {
        const reader = new FileReader();

        reader.onloadend = function () {
          callback(reader.result);
        };
        reader.readAsDataURL(xhr.response);
      };
      xhr.open("GET", url);
      xhr.responseType = "blob";
      xhr.send();
    },
    async resultBase64(url) {
      const ctx = this;
      ctx.text_source_update = await ctx.matchBase64Update2(ctx, url);
    },
    async updateThumbnail() {
      for (let item of this.episode.thumbnail_list) {
        await this.resultBase64(item.uri);
        item.text_source = this.text_source_update;
      }
    },
    async saveCensor() {
      if (this.isCreate()) {
        this.censors.episode = this.word.id;
      } else {
        this.censors.episode = this.word.episode_id;
      }
      delete this.censors.episode_id;
      delete this.censors.episode_name;
      console.log(this.censors);
      if (await this.$bvModal.msgBoxConfirm("Do you really want to save?")) {
        const ctx = this;
        try {
          await this.$services.censor.add(this.censors);
          await this.$bvModal
            .msgBoxOk("Add censor is success.")
            .then(() => {
              ctx.$router.push({ name: "Censor List" });
            })
            .catch(console.log);
        } catch (e) {
          console.log(e.response);
          this.messageError = Object.values(e.response.data)[0][0];
          this.msgError();
          this.fetch();
        }
      }
    },
    updateSuccess() {
      this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess;
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess;
    },
    msgError() {
      this.dismissCountDownMsgError = this.dismissSecsMsgError;
    },
    msgErrorPublish() {
      this.dismissCountDownMsgErrorPublish = this.dismissSecsMsgErrorPublish;
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess;
    },
    countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
      this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess;
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess;
    },
    countDownChangedMsgError(dismissCountDownMsgError) {
      this.dismissCountDownMsgError = dismissCountDownMsgError;
    },
    countDownChangedMsgErrorPublish(dismissCountDownMsgErrorPublish) {
      this.dismissCountDownMsgErrorPublish = dismissCountDownMsgErrorPublish;
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess;
    },
  },
};
</script>

<style scoped>
</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>


