<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6">
          <div class="clearfix" style="text-align: center">
            <h4 class="pt-3">No account.</h4>
            <p class="text-muted">Please contact admin. </p>
            <p class="text-muted">Go to login.
              <router-link to="/pages/login" variant="primary">Click</router-link>
            </p>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ContactAdmin',
    created() {
      localStorage.clear();
    },
  }
</script>
