<template>
  <div class="text-center m-5">
    <b-spinner variant="primary" style="width: 3rem; height: 3rem;"></b-spinner>
    <br>
    <b style="font-size: 20px">Please wait...</b>
  </div>
</template>

<script>
  export default {
    data() {
      return {
      }
    },
    async created() {
      try {
        console.log(this.$route.hash)
        const a = this.$route.hash.search('access_token')
        const b = this.$route.hash.search('&token_type')
        const token = this.$route.hash.substr(a + 13, b - 51)
        const {data} = await this.$services.account.validateByToken(token);
        if (data) {
          const {token} = data;
          this.$router.push({name: 'Home'})
          localStorage.setItem('token', `Bearer ${token}`);
        } else {
          this.$router.push({name: 'Page500'})
        }
      } catch (e) {
        this.$router.push({name: 'Page401'})
      }
      // this.$route.qu
    }
  }
</script>
