<template>
<!--  <div class="app flex-row align-items-center">-->
<!--    <div class="container">-->
<!--      <b-row class="justify-content-center">-->
<!--        <b-col md="8">-->
<!--          <b-card-group>-->
<!--            <b-card no-body class="p-4">-->
<!--              <b-card-body>-->
<!--                <b-form>-->
<!--                  <h1>Login</h1>-->
<!--                  <p class="text-muted">Sign In to your account</p>-->
<!--                  <b-input-group class="mb-3">-->
<!--                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>-->
<!--                    <b-form-input type="text" class="form-control" placeholder="Username" autocomplete="username email" />-->
<!--                  </b-input-group>-->
<!--                  <b-input-group class="mb-4">-->
<!--                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>-->
<!--                    <b-form-input type="password" class="form-control" placeholder="Password" autocomplete="current-password" />-->
<!--                  </b-input-group>-->
<!--                  <b-row>-->
<!--                    <b-col cols="6">-->
<!--                      <b-button to="/home" variant="primary" class="px-4">Login</b-button>-->
<!--                    </b-col>-->
<!--                    <b-col cols="6" class="text-right">-->
<!--                      <b-button variant="link" class="px-0">Forgot password?</b-button>-->
<!--                    </b-col>-->
<!--                  </b-row>-->
<!--                </b-form>-->
<!--              </b-card-body>-->
<!--            </b-card>-->
<!--            <b-card no-body class="text-white bg-primary py-5 d-md-down-none" style="width:44%">-->
<!--              <b-card-body class="text-center">-->
<!--                <div>-->
<!--                  <h2>Sign up</h2>-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                  <b-button to="/pages/register" variant="primary" class="active mt-3">Register Now!</b-button>-->
<!--                </div>-->
<!--              </b-card-body>-->
<!--            </b-card>-->
<!--          </b-card-group>-->
<!--        </b-col>-->
<!--      </b-row>-->
<!--    </div>-->
<!--  </div>-->
</template>

<script>
    export default {
      async created() {

        localStorage.clear();
        try {
          const {data} = await this.$services.account.authenticateByGoogle();
          if (data) {
            const {token} = data;
            location.replace(data.redirect_uri);
          } else {
            this.$router.push({name: 'Page500'})
          }
        } catch (e) {
          console.log(e)
          location.replace('/pages/401')
        }

        // try {
        //   // console.log(this.$route.hash)
        //   // const a = this.$route.hash.search('access_token')
        //   // const b = this.$route.hash.search('&token_type')
        //   // const token = this.$route.hash.substr(a + 13, b - 51)
        //
        //   // const token = 'd40fb68aa30cdbc73646e4daa38bc7f0904b6390e9075d73b8be78788af8508f';
        //   if (token) {
        //     // const {token} = data;
        //     this.$router.push({name: 'Home'})
        //     localStorage.setItem('token', `Bearer ${token}`);
        //   } else {
        //     this.$router.push({name: 'Page500'})
        //   }
        // } catch (e) {
        //   this.$router.push({name: 'Page401'})
        // }
        // this.$route.qu
      },
      methods: {},
      mounted() {
      }
    }
</script>
