<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">401</h1>
            <h4 class="pt-3">Unauthorized</h4>
            <p class="text-muted">Your request could not be processed. </p>
            <p class="text-muted">Go to login.
              <router-link to="/pages/login" variant="primary">Click</router-link>
            </p>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Page403',
    created() {
      localStorage.clear();
    },
  }
</script>
