<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownImportSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedImportSuccess">
      Import episode success!. This alert will dismiss after {{ dismissCountDownImportSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownExportSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedExportSuccess">
      Export episode success!. This alert will dismiss after {{ dismissCountDownExportSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess">
      Update episode success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownUpdateError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedUpdateError">
      Update episode error!. This alert will dismiss after {{ dismissCountDownUpdateError}} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add episode success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError">
      Add episode error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete episode success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete episode error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownMsgError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedMsgError">
      {{messageError}} This alert will dismiss after {{ dismissCountDownMsgError }} seconds...
    </b-alert>

    <div>
      <b-overlay :show="showOverlay" rounded="sm">
        <template v-slot:overlay>
          <b-spinner label="Loading..."></b-spinner>
          {{ messageImport }}
        </template>
        <b-row class="justify-content-center">
          <b-form-group class="col-md-2" v-if="akaAllow.isExport">
            <b-button-group style="width: 100%">
              <b-button class="float-right mr-2" variant="primary" v-b-modal.add-episode>
                <i class="fa fa-plus-circle"></i> Add Episode
              </b-button>
            </b-button-group>
          </b-form-group>
          <b-form-group class="col-md-3" v-if="akaAllow.isExport">
            <b-button-group style="width: 100%">
              <b-button class="float-right mr-2" variant="primary" @click="deleteSelected(selectedConfirmEpisode)"
                        :disabled="!selectedConfirmEpisode.length">
                <i class="fa fa-minus-circle"></i> Delete selected
              </b-button>
            </b-button-group>
          </b-form-group>
          <b-form-group class="col-md-2" v-if="akaAllow.isExport">
            <b-button-group style="width: 100%">
              <b-button class="float-right mr-2" variant="primary" @click="akaExport()"
                        :disabled="!selectedConfirmEpisode.length">
                <i class="fa fa-cloud-download"></i> Export CSV
              </b-button>
            </b-button-group>
          </b-form-group>
          <b-form-group class="col-md-5" v-if="akaAllow.isImport">
            <b-form-file
              placeholder="Import CSV"
              v-model="csv_file"
              @input="loadCSV($event)"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              drop-placeholder="Drop file here..."
            ></b-form-file>
          </b-form-group>
        </b-row>
        <b-card>
          <div slot="header">
            <strong>Episode</strong>
          </div>
          <b-table
            v-bind:items.sync="selectedEpisode"
            :fields="fields"
            responsive="sm"
            style="text-align: center"
            id="content-table">
            <template v-slot:cell(selected)="row">
              <b-form-checkbox v-model="selectedConfirmEpisode" :value="row.item" :disabled="akaAllow.isDisable"
              ></b-form-checkbox>
            </template>
            <template v-slot:cell(title_name)="row">
              {{row.item.title_info.name}}
            </template>
            <template v-slot:cell(duration)="row">
              {{durationDisplay(row.item.duration)}}
            </template>
            <template v-slot:cell(action)="row">
              <b-button size="sm" variant="danger" @click="deleteEpisode(row.item)">Delete</b-button>
            </template>
          </b-table>
        </b-card>
      </b-overlay>
    </div>

    <b-modal
      id="add-episode"
      size="lg"
      ref="modal"
      @show="matchAll"
      @hidden="matchAll"
      @ok="addEpisodeModal"
      no-close-on-backdrop
      title="Add Episode">
      <b-row class="justify-content-center">
        <b-form-group class="col-md-9">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, Page" v-model="word" @input="fetch">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-3">
          <b-button-group style="width: 100%">
            <b-button class="float-right mr-2" variant="primary" v-b-toggle.advance-search>
              <i class="fa fa-search"></i> Advance Search
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-collapse id="advance-search">
        <b-col sm="12" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="col-md-12">
            <b-input-group>
              <b-input-group-prepend>
                <b-button variant="primary">
                  Title Name:
                </b-button>
              </b-input-group-prepend>
              <b-form-input type="text" v-model="wordEpisode" @input="fetch">
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-collapse>
      <b-card>
        <div slot="header">
          <strong>Episode</strong>
        </div>
        <b-row class="ml-2 mb-2" v-if="akaAllow.isExport">
          <b-button size="sm" variant="primary" class="ml-2" @click="resetAll">Reset all</b-button>
        </b-row>
        <b-table
          v-bind:items.sync="episodes"
          :fields="fieldsModal"
          responsive="sm"
          style="text-align: center"
          id="content-table">
          <template v-slot:cell(selected)="row">
            <b-form-checkbox v-model="selectedEpisodeModal" :value="row.item" :disabled="akaAllow.isDisable"
            ></b-form-checkbox>
            <!--              {{selectedTitle.filter(x => x.id === row.item.id)}}-->
            <!--              {{selectedTitle.map(x => x.id).includes(row.item.id)}}-->
            <!--              {{row.item}}-->
            <!--              {{selectedTitleModal}}-->
          </template>
          <template v-slot:cell(duration)="row">
            {{durationDisplay(row.item.duration)}}
          </template>
        </b-table>
        <div class="overflow-auto" style="float: right" v-if="this.episodes.length">
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="fetch"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
      </b-card>
    </b-modal>
  </b-container>
</template>

<script>
import PermissionMixin from "../../mixins/PermissionMixin";

export default {
  mixins: [PermissionMixin],
  data() {
    return {
      showOverlay: false,
      waitingOfAlert: null,
      messageImport: 'Loading csv ....',
      csv_file: [],
      messageError: '',
      selectedEpisode: [],
      selectedEpisodeModal: [],
      selectedConfirmEpisode: [],
      pagination: {},
      word: null,
      episodes: [],
      fields: [
        {key: 'selected', sortable: true,},
        {key: 'id', label: 'Episode Id', sortable: true, sortDirection: 'desc'},
        {key: 'name', label: 'Episode Name', sortable: true,},
        {key: 'title_id', sortable: true,},
        {key: 'title_info.name', label: 'Title Name', sortable: true,},
        {key: 'duration', sortable: true,},
        {key: 'action', sortable: true,},
      ],
      fieldsModal: [
        {key: 'selected', sortable: true,},
        {key: 'id', label: 'Episode Id', sortable: true, sortDirection: 'desc'},
        {key: 'name', label: 'Episode Name', sortable: true,},
        {key: 'title_id', sortable: true,},
        {key: 'title_info.name', label: 'Title Name', sortable: true,},
        {key: 'duration', sortable: true,},
      ],
      id: -1,
      dismissSecsImportSuccess: 5,
      dismissCountDownImportSuccess: 0,
      dismissSecsExportSuccess: 5,
      dismissCountDownExportSuccess: 0,
      dismissSecsUpdateSuccess: 5,
      dismissCountDownUpdateSuccess: 0,
      dismissSecsUpdateError: 5,
      dismissCountDownUpdateError: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsAddError: 5,
      dismissCountDownAddError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsDeleteError: 5,
      dismissCountDownDeleteError: 0,
      dismissCountDownMsgError: 0,
      dismissSecsMsgError: 5,
      view_detail: {},
      delete_episode: {},
      add_episode: {},
      wordEpisode: '',
      title_list: [],
      checkPermission: {},
      isAdd: false,
      akaAllow: {}
    }
  },
  async created() {
    this.akaAllow = await this.initialPermission('episode', 'akaepisode')
    if (!this.akaAllow.isView) {
      this.$router.push({name: 'Page403'})
    }
    // this.checkPermission = this.groupPermission.find(x => x.name === 'AKA')
    // let isViewAka = this.checkPermission.permission_code.includes('episode_akaepisode_view_akaepisode')
    // if (!isViewAka) {
    //   this.$router.push({name: 'Page403'})
    // }
    // this.isAdd = this.checkPermission.permission_code.includes('episode_akaepisode_add_akaepisode')
    this.fetch();
    this.initSelected();
  },
  computed: {},
  methods: {
    addEpisodeModal() {
      for (let item of this.selectedEpisodeModal) {
        if (!this.selectedEpisode.map(x => x.id).includes(item.id)) {
          this.selectedEpisode.push(item)
        } else {
        }
      }
      this.selectedEpisode = this.selectedEpisodeModal
      this.selectedConfirmEpisode = this.selectedEpisode
    },
    matchAll() {
      // this.selectedTitleModal = []
      this.selectedEpisodeModal = this.selectedEpisode
    },
    resetAll() {
      this.selectedEpisodeModal = []
    },
    deleteSelected(index) {
      console.log(index);
      for (let item of index) {
        this.selectedEpisode.splice(this.selectedEpisode.indexOf(item), 1);
      }
      this.selectedConfirmEpisode = []
      // this.selectedTitle.splice(this.selectedTitle.indexOf(index), 1);
    },
    async fetch(pageNumber) {
      const ctx = this;
      try {
        let page = Number(pageNumber);
        page = Number.isNaN(page) ? ctx.episodes.page : page;
        const toNext = episodes => {
          ctx.SetInitial(episodes);
        };
        let params = {page}
        let clean = function (key, obj) {
          delete obj[key];
          return obj
        };
        params = ctx.word !== "" && ctx.word !== null
        || ctx.wordEpisode !== "" && ctx.wordEpisode !== null ?
          {
            ...params,
            search: ctx.word,
            title_name: ctx.wordEpisode
          }
          : clean('search', params);
        if (params.page === 0) {
          params.page = 1
        }
        this.$services.episode.find(params)
          .then(toNext)
          .catch(err => err)
      } catch (e) {
      }
    },
    SetInitial({results, current, page_size, count}) {
      this.pagination = {current, page_size, count};
      this.episodes = results;
    },
    initSelected() {
      const ctx = this;

      ctx.$services.title.find()
        .then((title) => {
          ctx.title_list = title.results;
        })
        .catch(console.log);
    },
    downloadCSV(csv) {
      let hiddenElement = document.createElement('a');
      hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
      hiddenElement.target = '_blank';
      hiddenElement.download = 'episode_aka_export.csv';
      hiddenElement.click();
    },
    async akaExport() {
      const ctx = this;
      if (ctx.selectedConfirmEpisode.length > 0) {
        if (await ctx.$bvModal.msgBoxConfirm('Do you really want to export CSV?')) {
          ctx.showOverlay = true;
          ctx.selectedConfirmEpisode = ctx.selectedConfirmEpisode.map(x => x.id)
          await ctx.$services.aka.akaEpisodeExport({episode_list: ctx.selectedConfirmEpisode})
            .then(function (response) {
              let isMutex = true;
              const waitingOfAlert = setInterval(function () {
                ctx.$services.alert.findById(response.data.id).then(function ({percent, message, is_error}) {
                  if (is_error || percent === 100) {
                    ctx.messageImport = `${message} ${percent}%`;
                    clearInterval(waitingOfAlert)
                    if (percent === 100 && isMutex) {
                      isMutex = false
                      ctx.$services.alert.findByIdDownload(response.data.id).then((x) => {
                        ctx.downloadCSV(x.data)
                        ctx.exportSuccess();
                        ctx.showOverlay = false
                      })
                    } else if (isMutex) {
                      isMutex = false
                      ctx.showOverlay = false
                      ctx.messageError = message
                    }
                  } else {
                    ctx.messageImport = `${message} ${percent}%`;
                  }
                })
                // ctx.$services.alert.findByIdDownload(response.data.id).then((x) => {
                //   console.log(x.data)
                //   ctx.downloadCSV(x.data)
                //   ctx.exportSuccess();
                //   // if (percent === 100) {
                //   //   ctx.showOverlay = false;
                //   //   clearInterval(ctx.waitingOfAlert)
                //   // } else if (is_error) {
                //   //   ctx.showOverlay = false;
                //   //   clearInterval(ctx.waitingOfAlert)
                //   // } else {
                //   //
                //   //   ctx.messageImport = `${message} ${percent}%`;
                //   // }
                //   // value = value.map(({id, name, title_type, duration, total_episode, datetime_right_start, datetime_right_end}) =>
                //   //   ({
                //   //     id,
                //   //     name,
                //   //     title_type,
                //   //     duration,
                //   //     total_episode,
                //   //     datetime_right_start: moment(datetime_right_start).format('DD/MM/YYYY HH:mm:ss'),
                //   //     datetime_right_end: moment(datetime_right_end).format('DD/MM/YYYY HH:mm:ss')
                //   //   }))
                //   // for (let item of value) {
                //   //   ctx.selectedTitle.push(item)
                //   // }
                //   // console.log(ctx.selectedTitle)
                // })
              }, 1000)
              // console.log(response.data.id)
              // ctx.waitingOfAlert = setInterval(function () {
              // ctx.$services.alert.findByIdDownload(response.data.id).then((x) => {
              //   console.log(x.data)
              //   ctx.downloadCSV(x.data)
              //   ctx.exportSuccess();
              // if (percent === 100) {
              //   ctx.showOverlay = false;
              //   clearInterval(ctx.waitingOfAlert)
              // } else if (is_error) {
              //   ctx.showOverlay = false;
              //   clearInterval(ctx.waitingOfAlert)
              // } else {
              //
              //   ctx.messageImport = `${message} ${percent}%`;
              // }
              // value = value.map(({id, name, title_type, duration, total_episode, datetime_right_start, datetime_right_end}) =>
              //   ({
              //     id,
              //     name,
              //     title_type,
              //     duration,
              //     total_episode,
              //     datetime_right_start: moment(datetime_right_start).format('DD/MM/YYYY HH:mm:ss'),
              //     datetime_right_end: moment(datetime_right_end).format('DD/MM/YYYY HH:mm:ss')
              //   }))
              // for (let item of value) {
              //   ctx.selectedTitle.push(item)
              // }
              // console.log(ctx.selectedTitle)
              // })
              // }, 1000)
            })
        }
      } else {
        await ctx.$bvModal.msgBoxOk('Please select episode.')
      }
      ctx.selectedEpisode = [];
      ctx.selectedConfirmEpisode = []
    },
    toBase64: file => new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsText(file);
      reader.onload = (event) => resolve(Buffer.from(event.target.result).toString('base64'));
      reader.onerror = error => reject(error);
    }),
    async loadCSV(e) {
      console.log(e)
      if (e !== null) {
        this.showOverlay = true
        const file = e
        let base64Episode = "";
        if (typeof FileReader === 'function') {
          this.url = URL.createObjectURL(file)
          base64Episode = await this.toBase64(file)
          if (base64Episode) {
            try {
              const ctx = this;
              let response = await this.$services.aka.akaEpisodeImport({tmp_file: base64Episode});
              ctx.waitingOfAlert = setInterval(function () {
                ctx.$services.alert.findById(response.data.id).then(({message, percent, is_error}) => {
                  if (percent === 100) {
                    ctx.showOverlay = false;
                    clearInterval(ctx.waitingOfAlert)
                    ctx.importSuccess()
                    ctx.fetch()
                    ctx.csv_file = []
                  } else if (is_error) {
                    ctx.showOverlay = false;
                    clearInterval(ctx.waitingOfAlert)
                    ctx.messageError = message
                    ctx.msgError()
                    ctx.csv_file = []
                  } else {
                    ctx.messageImport = `${message} ${percent}%`;
                  }
                })
              }, 1000)
            } catch (e) {
              ctx.showOverlay = false;
              ctx.messageError = Object.values(e.response.data)[0][0];
              await ctx.msgError();
            }
          }
        } else {
          alert('Sorry, FileReader API not supported')
        }
      }
    },
    mounted() {
    },
    durationDisplay(duration) {
      if (duration) {
        return `${duration.slice(0, 2)}:${duration.slice(2, 4)}:${duration.slice(4, 6)}`
      }
    },
    deleteEpisode(index) {
      this.selectedEpisode.splice(this.selectedEpisode.indexOf(index), 1);
    },
    importSuccess() {
      this.dismissCountDownImportSuccess = this.dismissSecsImportSuccess
    },
    exportSuccess() {
      this.dismissCountDownExportSuccess = this.dismissSecsExportSuccess
    },
    updateSuccess() {
      this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess
    },
    updateError() {
      this.dismissCountDownUpdateError = this.dismissSecsUpdateError
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
    },
    addError() {
      this.dismissCountDownAddError = this.dismissSecsAddError
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
    },
    deleteError() {
      this.dismissCountDownDeleteError = this.dismissSecsDeleteError
    },
    msgError() {
      this.dismissCountDownMsgError = this.dismissSecsMsgError
    },
    countDownChangedImportSuccess(dismissCountDownImportSuccess) {
      this.dismissCountDownImportSuccess = dismissCountDownImportSuccess
    },
    countDownChangedExportSuccess(dismissCountDownExportSuccess) {
      this.dismissCountDownExportSuccess = dismissCountDownExportSuccess
    },
    countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
      this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess
    },
    countDownChangedUpdateError(dismissCountDownUpdateError) {
      this.dismissCountDownUpdateError = dismissCountDownUpdateError
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
    },
    countDownChangedAddError(dismissCountDownAddError) {
      this.dismissCountDownAddError = dismissCountDownAddError
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
    },
    countDownChangedDeleteError(dismissCountDownDeleteError) {
      this.dismissCountDownDeleteError = dismissCountDownDeleteError
    },
    countDownChangedMsgError(dismissCountDownMsgError) {
      this.dismissCountDownMsgError = dismissCountDownMsgError
    },
  }
}
</script>

<style>
ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 5px 5px;
}
</style>
