<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownImportSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedImportSuccess">
      Import title success!. This alert will dismiss after {{ dismissCountDownImportSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownExportSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedExportSuccess">
      Export title success!. This alert will dismiss after {{ dismissCountDownExportSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess">
      Update title success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess">
      Update title success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownUpdateError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedUpdateError">
      Update title error!. This alert will dismiss after {{ dismissCountDownUpdateError}} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add title success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError">
      Add title error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete title success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete title error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownMsgError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedMsgError">
      {{messageError}} This alert will dismiss after {{ dismissCountDownMsgError }} seconds...
    </b-alert>
    <div>
      <b-overlay :show="showOverlay" rounded="sm">
        <template v-slot:overlay>
          <b-spinner label="Loading..."></b-spinner>
          {{ messageImport }}
        </template>
        <b-row class="justify-content-center">
          <b-form-group class="col-md-2" v-if="akaAllow.isExport">
            <b-button-group style="width: 100%">
              <b-button class="float-right mr-2" variant="primary" v-b-modal.add-title>
                <i class="fa fa-plus-circle"></i> Add title
              </b-button>
            </b-button-group>
          </b-form-group>
          <b-form-group class="col-md-3" v-if="akaAllow.isExport">
            <b-button-group style="width: 100%">
              <b-button class="float-right mr-2" variant="primary" @click="deleteSelected(selectedConfirmTitle)"
                        :disabled="!selectedConfirmTitle.length">
                <i class="fa fa-minus-circle"></i> Delete selected
              </b-button>
            </b-button-group>
          </b-form-group>
          <b-form-group class="col-md-2" v-if="akaAllow.isExport">
            <b-button-group style="width: 100%">
              <b-button class="float-right mr-2" variant="primary" @click="akaExport()"
                        :disabled="!selectedConfirmTitle.length">
                <i class="fa fa-cloud-download"></i> Export CSV
              </b-button>
            </b-button-group>
          </b-form-group>
          <b-form-group class="col-md-5" v-if="akaAllow.isImport">
            <b-form-file
              placeholder="Import CSV"
              v-model="csv_file"
              @input="loadCSV($event)"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              drop-placeholder="Drop file here..."
            ></b-form-file>
          </b-form-group>
        </b-row>
        <b-card>
          <div slot="header">
            <strong>Title</strong>
          </div>
          <b-table
            v-bind:items.sync="selectedTitle"
            :fields="fields"
            responsive="sm"
            style="text-align: center"
            id="title-table">
            <template v-slot:cell(selected)="row">
              <b-form-checkbox v-model="selectedConfirmTitle" :value="row.item" :disabled="akaAllow.isDisable"
              ></b-form-checkbox>
              <!--              {{selectedTitle.filter(x => x.id === row.item.id)}}-->
              <!--              {{selectedTitle.map(x => x.id).includes(row.item.id)}}-->
              <!--              {{row.item}}-->
              <!--              {{selectedTitleModal}}-->
            </template>
            <template v-slot:cell(duration)="row">
              {{durationDisplay(row.item.duration)}}
            </template>
            <template v-slot:cell(action)="row">
              <b-button size="sm" variant="danger" @click="deleteTitle(row.item)">Delete</b-button>
            </template>
          </b-table>
        </b-card>
      </b-overlay>
    </div>

    <b-modal
      id="add-title"
      size="lg"
      ref="modal"
      @show="matchAll"
      @hidden="matchAll"
      @ok="addTitleModal"
      no-close-on-backdrop
      title="Add Title">
      <b-row class="justify-content-center">
        <b-form-group class="col-md-9">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, Page" v-model="word" @input="fetch">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-3">
          <b-button-group style="width: 100%">
            <b-button class="float-right mr-2" variant="primary" v-b-toggle.advance-search>
              <i class="fa fa-search"></i> Advance Search
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-collapse id="advance-search">
        <b-col sm="4" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="mr-2" label="Studio:" :horizontal="true" validated>
            <b-form-select v-model="wordStudio" @input="fetch" style="width: 100%;font-size: x-small">
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option v-for="(item, index) in studios" :key="item.id" :value="item.id">{{item.name}}</option>
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col sm="4" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="mr-2" label="Vendor:" :horizontal="true" validated>
            <b-form-select v-model="wordVendor" @input="fetch" style="width: 100%;font-size: x-small">
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option v-for="(item, index) in vendors" :key="item.id" :value="item.id">{{item.name}}</option>
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col sm="4" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="mr-2" label="Title Type:" :horizontal="true" validated>
            <b-form-select v-model="wordTitleType" @input="fetch" style="width: 100%;font-size: x-small">
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option v-for="(item, index) in typeChoices" :key="index" :value="item.value">{{item.value}}</option>
            </b-form-select>
          </b-form-group>
        </b-col>
      </b-collapse>
      <b-card>
        <div slot="header">
          <strong>Title</strong>
        </div>
        <b-row class="ml-2 mb-2" v-if="akaAllow.isExport">
          <b-button size="sm" variant="primary" class="ml-2" @click="resetAll">Reset all</b-button>
        </b-row>
        <b-table
          v-bind:items.sync="titles"
          :fields="fieldsModal"
          responsive="sm"
          style="text-align: center"
          id="title-table">
          <template v-slot:cell(selected)="row">
            <b-form-checkbox v-model="selectedTitleModal" :value="row.item" :disabled="akaAllow.isDisable"
            ></b-form-checkbox>
            <!--              {{selectedTitle.filter(x => x.id === row.item.id)}}-->
            <!--              {{selectedTitle.map(x => x.id).includes(row.item.id)}}-->
            <!--              {{row.item}}-->
            <!--              {{selectedTitleModal}}-->
          </template>
          <template v-slot:cell(duration)="row">
            {{durationDisplay(row.item.duration)}}
          </template>
        </b-table>
        <div class="overflow-auto" style="float: right" v-if="this.titles.length">
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="fetch"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
      </b-card>
    </b-modal>
  </b-container>
</template>

<script>
import PermissionMixin from "../../mixins/PermissionMixin";

export default {
  mixins: [PermissionMixin],
  data() {
    return {
      messageError: '',
      showOverlay: false,
      waitingOfAlert: null,
      messageImport: 'Loading csv ....',
      csv_file: [],
      selectedTitle: [],
      selectedConfirmTitle: [],
      word: null,
      titles: [],
      pagination: {},
      fieldsModal: [
        {key: 'selected', sortable: true,},
        {key: 'id', label: 'Title Id', sortable: true, sortDirection: 'desc'},
        {key: 'name', sortable: true,},
        {key: 'duration', sortable: true,},
        {key: 'total_episode', label: 'Total of Episode', sortable: true,},
      ],
      fields: [
        {key: 'selected', sortable: true,},
        {key: 'id', label: 'Title Id', sortable: true, sortDirection: 'desc'},
        {key: 'name', sortable: true,},
        {key: 'duration', sortable: true,},
        {key: 'total_episode', label: 'Total of Episode', sortable: true,},
        {key: 'action', sortable: true,},
      ],
      id: -1,
      dismissSecsImportSuccess: 5,
      dismissCountDownImportSuccess: 0,
      dismissSecsExportSuccess: 5,
      dismissCountDownExportSuccess: 0,
      dismissSecsUpdateSuccess: 5,
      dismissCountDownUpdateSuccess: 0,
      dismissSecsUpdateError: 5,
      dismissCountDownUpdateError: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsAddError: 5,
      dismissCountDownAddError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsDeleteError: 5,
      dismissCountDownDeleteError: 0,
      dismissCountDownMsgError: 0,
      dismissSecsMsgError: 5,
      view_detail: {},
      delete_title: {},
      add_title: {},
      studios: [],
      vendors: [],
      typeChoices: [],
      wordStudio: '',
      wordVendor: '',
      wordTitleType: '',
      checkPermission: {},
      isAdd: false,
      selectedTitleModal: [],
      akaAllow: {}
    }
  },
  async created() {
    this.akaAllow = await this.initialPermission('title', 'aka')
    if (!this.akaAllow.isView) {
      this.$router.push({name: 'Page403'})
    }
    // this.checkPermission = this.groupPermission.find(x => x.name === 'AKA')
    // let isViewAka = this.checkPermission.permission_code.includes('title_aka_view_aka')
    // if (!isViewAka) {
    //   this.$router.push({name: 'Page403'})
    // }
    // this.isAdd = this.checkPermission.permission_code.includes('title_aka_add_aka')
    this.fetch();
    this.initSelected();
  },
  computed: {},
  methods: {
    addTitleModal() {
      console.log(this.selectedTitleModal)
      for (let item of this.selectedTitleModal) {
        if (!this.selectedTitle.map(x => x.id).includes(item.id)) {
          this.selectedTitle.push(item)
        } else {
        }
      }
      this.selectedTitle = this.selectedTitleModal
      this.selectedConfirmTitle = this.selectedTitle
    },
    matchAll() {
      // this.selectedTitleModal = []
      this.selectedTitleModal = this.selectedTitle
    },
    resetAll() {
      this.selectedTitleModal = []
      // this.selectedTitle = this.selectedTitleModal
    },
    deleteSelected(index) {
      console.log(index);
      for (let item of index) {
        this.selectedTitle.splice(this.selectedTitle.indexOf(item), 1);
      }
      this.selectedConfirmTitle = []
      // this.selectedTitle.splice(this.selectedTitle.indexOf(index), 1);
    },
    async fetch(pageNumber) {
      const ctx = this;
      try {
        let page = Number(pageNumber);
        page = Number.isNaN(page) ? ctx.titles.page : page;
        const toNext = titles => {
          ctx.SetInitial(titles);
        };
        let params = {page}
        let clean = function (key, obj) {
          delete obj[key];
          return obj
        };
        params = ctx.word !== "" && ctx.word !== null
        || ctx.wordStudio !== "" && ctx.wordStudio !== null
        || ctx.wordVendor !== "" && ctx.wordVendor !== null
        || ctx.wordTitleType !== "" && ctx.wordTitleType !== null ?
          {
            ...params,
            search: ctx.word,
            studio_id: ctx.wordStudio,
            vendor_id: ctx.wordVendor,
            title_type: ctx.wordTitleType
          }
          : clean('search', params);
        if (params.page === 0) {
          params.page = 1
        }
        this.$services.title.find(params)
          .then(toNext)
          .catch(err => err)
      } catch (e) {
      }
    },
    SetInitial({results, current, page_size, count}) {
      this.pagination = {current, page_size, count};
      this.titles = results;
    },
    initSelected() {
      const ctx = this;
      // set Studio
      ctx.$services.studio.find()
        .then((studios) => {
          ctx.studios = studios;
        })
        .catch(console.log);

      // set vendors
      ctx.$services.vendor.find()
        .then((vendors) => {
          ctx.vendors = vendors;
        })
        .catch(console.log);

      ctx.$services.config.findByTitleType()
        .then((config) => {
          ctx.typeChoices = config;
        })
        .catch(console.log);
    },
    downloadCSV(csv) {
      let hiddenElement = document.createElement('a');
      hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
      hiddenElement.target = '_blank';
      hiddenElement.download = 'title_aka_export.csv';
      hiddenElement.click();
    },
    async akaExport() {
      const ctx = this;
      console.log(ctx.selectedConfirmTitle)
      if (ctx.selectedConfirmTitle.length > 0) {
        if (await ctx.$bvModal.msgBoxConfirm('Do you really want to export CSV?')) {
          ctx.selectedConfirmTitle = ctx.selectedConfirmTitle.map(x => x.id)
          console.log(ctx.selectedConfirmTitle)
          ctx.showOverlay = true
          await ctx.$services.aka.akaTitleExport({title_list: ctx.selectedConfirmTitle})
            .then(function (response) {
              let isMutex = true;
              ctx.waitingOfAlert = setInterval(function () {
                ctx.$services.alert.findById(response.data.id).then(function ({percent, message, is_error}) {
                  if (is_error || percent === 100) {
                    ctx.messageImport = `${message} ${percent}%`;
                    clearInterval(ctx.waitingOfAlert)
                    if (percent === 100 && isMutex) {
                      isMutex = false
                      ctx.$services.alert.findByIdDownload(response.data.id).then((x) => {
                        ctx.downloadCSV(x.data)
                        ctx.exportSuccess();
                        ctx.showOverlay = false
                      })
                    } else if (isMutex) {
                      isMutex = false
                      ctx.showOverlay = false
                      ctx.messageError = message
                    }
                  } else {
                    ctx.messageImport = `${message} ${percent}%`;
                  }
                })
                // ctx.$services.alert.findByIdDownload(response.data.id).then((x) => {
                //   console.log(x.data)
                //   ctx.downloadCSV(x.data)
                //   ctx.exportSuccess();
                //   // if (percent === 100) {
                //   //   ctx.showOverlay = false;
                //   //   clearInterval(ctx.waitingOfAlert)
                //   // } else if (is_error) {
                //   //   ctx.showOverlay = false;
                //   //   clearInterval(ctx.waitingOfAlert)
                //   // } else {
                //   //
                //   //   ctx.messageImport = `${message} ${percent}%`;
                //   // }
                //   // value = value.map(({id, name, title_type, duration, total_episode, datetime_right_start, datetime_right_end}) =>
                //   //   ({
                //   //     id,
                //   //     name,
                //   //     title_type,
                //   //     duration,
                //   //     total_episode,
                //   //     datetime_right_start: moment(datetime_right_start).format('DD/MM/YYYY HH:mm:ss'),
                //   //     datetime_right_end: moment(datetime_right_end).format('DD/MM/YYYY HH:mm:ss')
                //   //   }))
                //   // for (let item of value) {
                //   //   ctx.selectedTitle.push(item)
                //   // }
                //   // console.log(ctx.selectedTitle)
                // })
              }, 1000)
            })
        }
      } else {
        await ctx.$bvModal.msgBoxOk('Please select title.')
      }
      ctx.selectedTitle = [];
      ctx.selectedConfirmTitle = []
    },
    toBase64: file => new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsText(file);
      reader.onload = (event) => resolve(Buffer.from(event.target.result).toString('base64'));
      reader.onerror = error => reject(error);
    }),
    async loadCSV(e) {
      console.log(e)
      if (e !== null) {
        this.showOverlay = true
        const file = e
        let base64Title = "";
        if (typeof FileReader === 'function') {
          this.url = URL.createObjectURL(file)
          base64Title = await this.toBase64(file)
          if (base64Title) {
            try {
              const ctx = this;
              let response = await this.$services.aka.akaTitleImport({tmp_file: base64Title});
              ctx.waitingOfAlert = setInterval(function () {
                ctx.$services.alert.findById(response.data.id).then(({message, percent, is_error}) => {
                  if (percent === 100) {
                    ctx.showOverlay = false;
                    clearInterval(ctx.waitingOfAlert)
                    ctx.importSuccess()
                    ctx.fetch()
                    ctx.csv_file = []
                  } else if (is_error) {
                    ctx.showOverlay = false;
                    clearInterval(ctx.waitingOfAlert)
                    ctx.messageError = message
                    ctx.msgError()
                    ctx.csv_file = []
                  } else {
                    ctx.messageImport = `${message} ${percent}%`;
                  }
                })
              }, 1000)
            } catch (e) {
              ctx.showOverlay = false;
              ctx.messageError = Object.values(e.response.data)[0][0];
              await ctx.msgError();
            }
          }
        } else {
          alert('Sorry, FileReader API not supported')
        }
      }
    },
    mounted() {
    },
    durationDisplay(duration) {
      if (duration) {
        return `${duration.slice(0, 2)}:${duration.slice(2, 4)}:${duration.slice(4, 6)}`
      }
    },
    deleteTitle(index) {
      this.selectedTitle.splice(this.selectedTitle.indexOf(index), 1);
    },
    importSuccess() {
      this.dismissCountDownImportSuccess = this.dismissSecsImportSuccess
    },
    exportSuccess() {
      this.dismissCountDownExportSuccess = this.dismissSecsExportSuccess
    },
    updateSuccess() {
      this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess
    },
    updateError() {
      this.dismissCountDownUpdateError = this.dismissSecsUpdateError
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
    },
    addError() {
      this.dismissCountDownAddError = this.dismissSecsAddError
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
    },
    deleteError() {
      this.dismissCountDownDeleteError = this.dismissSecsDeleteError
    },
    msgError() {
      this.dismissCountDownMsgError = this.dismissSecsMsgError
    },
    countDownChangedImportSuccess(dismissCountDownImportSuccess) {
      this.dismissCountDownImportSuccess = dismissCountDownImportSuccess
    },
    countDownChangedExportSuccess(dismissCountDownExportSuccess) {
      this.dismissCountDownExportSuccess = dismissCountDownExportSuccess
    },
    countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
      this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess
    },
    countDownChangedUpdateError(dismissCountDownUpdateError) {
      this.dismissCountDownUpdateError = dismissCountDownUpdateError
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
    },
    countDownChangedAddError(dismissCountDownAddError) {
      this.dismissCountDownAddError = dismissCountDownAddError
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
    },
    countDownChangedDeleteError(dismissCountDownDeleteError) {
      this.dismissCountDownDeleteError = dismissCountDownDeleteError
    },
    countDownChangedMsgError(dismissCountDownMsgError) {
      this.dismissCountDownMsgError = dismissCountDownMsgError
    },
  }
}
</script>

<style>
ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 5px 5px;
}
</style>
