<template>
  <b-container fluid>
  <!--  <li>-->
  <!--    <a v-on:click="expand()">{{ folder.text }}</a>-->

  <!--    <ul class="sub-folders" v-if="folder.children && folder.children.length > 0" v-show="folder.expanded">-->
  <!--      <folder v-for="child in folder.children" v-bind:folder="child"></folder>-->
  <!--    </ul>-->
  <!--    <div class="folder-empty" v-else v-show="!folder.leaf && folder.expanded">No Data</div>-->
  <!--  </li>-->

  <div v-for="(item, index) in folder" :key="index">
    <i class="mr-2 fa fa-caret-right"></i>
    <a v-b-toggle="'collapse' + item.id">{{ item.name }} ( {{item.child_list.length}} )
    </a>
    <a>
      <i class="mr-2 fa fa-plus-circle" style="color: #4dbd74" @click="loadStructure(item.id)"></i>
    </a>
    <a>
      <i class="mr-2 fa fa-times-circle" style="color: #f86c6b" @click="deleteStructure(item.id)"></i>
    </a>
    <b-collapse v-if="item.child_list" :id="'collapse' + item.id">
      <folder class="ml-2" v-bind:folder="item.child_list"></folder>
    </b-collapse>
  </div>

  </b-container>
</template>

<script>
  import Multiselect from "vue-multiselect";

  export default {
    name: "folder",
    props: {
      folder: Array,
    },
    components: {Multiselect},
    data() {
      return {
        selectedStructure: {},
        title_list: [],
        wordTitle: '',
        group: {
          id: '',
          parent: '',
          title: '',
          group: ''
        },
      }
    },

    methods: {
      expand() {
        if (this.folder.leaf) {
          return;
        }

        this.folder.expanded = !this.folder.expanded;
      },
      loadStructure(id) {
        console.log(id)
        const EventBus = this.$root;
        EventBus.$emit('update', id)
      },
      async deleteStructure(id) {
        console.log(id)
        const EventBus = this.$root;
        EventBus.$emit('delete', id)
      },
    }
  };
</script>

<style>
  /*li.is-folder {*/
  /*  padding: 1rem;*/
  /*  border-left: 1px solid #d3d3d3;*/
  /*  margin-bottom: 0.5rem*/
  /*}*/
  /*li.is-folder > span {*/
  /*  padding: 0.5rem;*/
  /*  border: 1px solid #d3d3d3;*/
  /*  cursor: pointer;*/
  /*  display:inline-block*/
  /*}*/
  /*li.is-leaf {*/
  /*  padding: 0 0 0 1rem;*/
  /*  color: #000;*/
  /*}*/
  /*ul.sub-folders {*/
  /*  padding: 1rem 1rem 0 0;*/
  /*  margin: 0;*/
  /*  box-sizing: border-box;*/
  /*  width: 100%;*/
  /*  list-style: none*/
  /*}*/
  /*div.folder-empty {*/
  /*  padding: 1rem 1rem 0 1rem;*/
  /*  color: #000;*/
  /*  opacity: 0.5*/
  /*}*/
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
