<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess">
      Update group name success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add group name success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownMsgError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedMsgError">
      {{messageError}}. This alert will dismiss after {{ dismissCountDownMsgError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete group name success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>

    <b-row class="text-center">
      <b-col cols="1">
        <a v-b-modal.add-group-name>
          <i class="fa fa-plus-circle fa-lg " style="font-size: 150%"></i><br>Add
        </a>
      </b-col>
    </b-row>
    <b-card class="mt-2">
      <div slot="header">
        <strong>Group Name</strong>
      </div>
      <b-table
        v-bind:items.sync="group_name_list"
        :fields="fieldsTitleGroupList"
        responsive="sm"
        style="text-align: center"
        id="title-table">
        <template v-slot:cell(action)="row">
          <b-button variant="outline-primary"
                    @click="loadGroupName(row.item)"
                    size="sm" class="mr-1">
            <i class="fa fa-edit"></i> Edit
          </b-button>
          <b-button variant="danger" size="sm" class="mr-1" @click="deleteGroupName(row.item.id)">
            <i class="fa fa-remove"></i> Delete
          </b-button>
        </template>
      </b-table>

    </b-card>
    <!-- Modal -->
    <b-modal
      id="add-group-name"
      size="lg"
      ref="modal"
      no-close-on-backdrop
      @cancel="resetGroupName"
      @hidden="resetGroupName"
      @reset="resetGroupName"
      @ok="saveGroupName"
      title="Add Group Name">
      <b-row>
        <b-form-group validated
                      class="col-md-12"
                      label="Group Name:">
          <b-form-input style="width: 100%" v-model="group_name.name" required>
          </b-form-input>
        </b-form-group>
      </b-row>
    </b-modal>
    <b-modal
      id="edit-group-name"
      size="lg"
      ref="modal"
      no-close-on-backdrop
      @ok="updateGroupName"
      title="Add Group Name">
      <b-row>
        <b-form-group validated
                      class="col-md-12"
                      label="Id:">
          <b-form-input style="width: 100%" v-model="selectGroupName.id" disabled>
          </b-form-input>
        </b-form-group>
      </b-row>
      <b-row>
        <b-form-group validated
                      class="col-md-12"
                      label="Name:">
          <b-form-input style="width: 100%" v-model="selectGroupName.name" required>
          </b-form-input>
        </b-form-group>
      </b-row>
    </b-modal>
  </b-container>
</template>

<script>
  import moment from 'moment';

  export default {
    name: "Deals",
    data() {
      return {
        showCast: true,
        showActor: true,
        showDirector: true,
        title_group_list: [],
        title_group_id: '',
        group_name_list: [],
        selectGroupName: {},
        group_name: {
          id: '',
          name: ''
        },
        director: [
          {name: 'test director 1'},
          {name: 'test director 2'}
        ],
        actor: [
          {name: 'test actor 1'},
          {name: 'test actor 2'}
        ],
        fieldsTitleGroupList: [
          {key: 'id', sortable: true},
          {key: 'name', sortable: true},
          {key: 'action', sortable: true},
        ],
        messageError: '',
        dismissSecsUpdateSuccess: 5,
        dismissCountDownUpdateSuccess: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsMsgError: 5,
        dismissCountDownMsgError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
      }
    },
    computed: {},
    async created() {
      await this.fetch();
    },
    methods: {
      fetch() {
        const ctx = this;
        ctx.$services.titleGroup.findGroup()
          .then(function (title_group) {
            ctx.group_name_list = title_group;
          })
      },
      saveGroupName() {
        console.log(this.group_name)
        try {
          console.log(this.group_name)
          this.$services.titleGroup.addGroupName({name: this.group_name.name})
            .then(() => {
              this.addSuccess();
              this.fetch()
            }).catch((e) => {
              this.messageError = Object.values(e.response.data)[0][0];
              this.msgError();
              this.fetch();
            }
          )
        } catch (e) {
          console.log(e)
          this.messageError = Object.values(e.response.data)[0][0];
          this.msgError();
          this.fetch();
        }
      },
      updateGroupName() {
        try {
          console.log(this.selectGroupName)
          this.$services.titleGroup.updateGroupNameById(this.selectGroupName.id, this.selectGroupName)
            .then(() => {
              this.updateSuccess();
              this.fetch()
            }).catch(() => {
              this.messageError = Object.values(e.response.data)[0][0];
              this.msgError();
              this.fetch();
            }
          )
        } catch (e) {
          console.log(e)
          this.messageError = Object.values(e.response.data)[0][0];
          this.msgError();
          this.fetch();
        }
      },
      loadGroupName(group_name) {
        console.log(group_name)
        let {id, name} = group_name
        this.selectGroupName = {id, name}
        this.$bvModal.show('edit-group-name')
      },
      resetGroupName() {
        this.group_name = {
          id: '',
          name: ''
        };
      },
      async deleteGroupName(id) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          try {
            await this.$services.titleGroup.removeGroupName(id);
            this.deleteSuccess();
            this.fetch()
          } catch (e) {
            this.messageError = Object.values(e.response.data)[0][0];
            this.msgError();
            this.fetch();
          }
        }
      },
      onRowSelectedTitle(items) {
        this.selectedTitle = items
      },
      onRowSelected(item) {
        this.selectedItems = item
      },
      updateSuccess() {
        this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      msgError() {
        this.dismissCountDownMsgError = this.dismissSecsMsgError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
        this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedMsgError(dismissCountDownMsgError) {
        this.dismissCountDownMsgError = dismissCountDownMsgError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
    }
  }
</script>

<style scoped>

</style>
