<template>
  <b-container fluid>
    <b-overlay :show="showOverlay" rounded="sm">
      <template v-slot:overlay>
        <b-spinner label="Loading..."></b-spinner>
        {{ messageImport }}
      </template>
      <b-alert
        :show="dismissCountDownUpdateSuccess"
        dismissible
        fade
        variant="success"
        @dismiss-count-down="countDownChangedUpdateSuccess">
        Update publish tools success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
      </b-alert>
      <b-alert
        :show="dismissCountDownAddSuccess"
        dismissible
        fade
        variant="success"
        @dismiss-count-down="countDownChangedAddSuccess">
        Add publish tools success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
      </b-alert>
      <b-alert
        :show="dismissCountDownMsgError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedMsgError">
        {{messageError}}. This alert will dismiss after {{ dismissCountDownMsgError }} seconds...
      </b-alert>
      <b-alert
        :show="dismissCountDownDeleteSuccess"
        dismissible
        fade
        variant="success"
        @dismiss-count-down="countDownChangedDeleteSuccess">
        Delete publish tools success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
      </b-alert>
      <b-row class="text-center" v-if="publishAllow.isAdd">
        <b-col cols="2">
          <a @click="savePublishTools">
            <i class="fa fa-save fa-lg mt-4"></i><br>Save publish tools
          </a>
        </b-col>
      </b-row>
      <b-card class="mt-2">
        <div slot="header">
          <strong>
            Publish tools
          </strong>
        </div>

        <b-row sm="12" class="mt-3">
          <b-form inline class="col-12" ref="form">
            <b-col sm="5" class="mb-2" style="display: inline-flex;justify-content: flex-start">
              <b-form-group
                class="col-md-12 mb-2"
                label="Datetime Publish:"
                label-for="datetime_start"
                style="font-weight:normal;"
                validated
                invalid-feedback="Datetime publish is required">
                <kendo-datetimepicker type="date" class="ml-2" style="width: 100%"
                                      v-model="publish_tools.datetime_start"
                                      :time-format="'HH:mm:ss'"
                                      :interval="5" :format="'dd/MM/yyyy HH:mm:ss'" required>
                </kendo-datetimepicker>
              </b-form-group>
            </b-col>
            <b-col sm="5" class="mb-2 ml-2" style="display: inline-flex;justify-content: flex-start">
              <b-form-group
                class="col-md-12 mb-2"
                label="Datetime Expire:"
                label-for="datetime_end"
                style="font-weight:normal;"
                validated
                invalid-feedback="Datetime end is required">
                <kendo-datetimepicker type="date" class="ml-2" style="width: 100%" v-model="publish_tools.datetime_end"
                                      :time-format="'HH:mm:ss'"
                                      :interval="5" :format="'dd/MM/yyyy HH:mm:ss'" required>
                </kendo-datetimepicker>
              </b-form-group>
            </b-col>
            <b-col sm="12" class="mb-2" style="display: inline-flex;justify-content: flex-start">
              <b-form-group
                class="col-md-12 mb-2"
                label="Publish Zone:"
                label-for="publish_zone"
                style="font-weight:normal;"
                invalid-feedback="Publish zone is required">
                <b-form-checkbox
                  v-for="item in publishes"
                  v-model="publish_tools.publish_zone_ids"
                  :key="item.id"
                  :value="item.id"
                  class="ml-3"
                  style="display: inline-flex"
                  name="publish-1">
                  {{ item.desc }}
                </b-form-checkbox>
              </b-form-group>
            </b-col>
<!--            <b-col sm="12" class="mb-2" style="display: inline-flex;justify-content: flex-start">-->
<!--              <b-form-group-->
<!--                class="col-md-12 mb-2"-->
<!--                label="Select type:"-->
<!--                label-for="select_type"-->
<!--                style="font-weight:normal;">-->
<!--                <b-form-radio-group-->
<!--                  id="radio-group-1"-->
<!--                  v-model="selectedDays"-->
<!--                  :options="optionsDays"-->
<!--                  class="ml-3"-->
<!--                  @input="resetDaysType"-->
<!--                  style="display: inline-flex"-->
<!--                  name="publish-1">-->
<!--                </b-form-radio-group>-->
<!--              </b-form-group>-->
<!--            </b-col>-->
<!--            <b-col sm="6" class="mb-2" v-if="selectedDays === 'days_expire'"-->
<!--                   style="display: inline-flex;justify-content: flex-start">-->
<!--              <b-form-group-->
<!--                class="col-md-12 mb-2"-->
<!--                label="Days expire:"-->
<!--                label-for="days_expire"-->
<!--                style="font-weight:normal;"-->
<!--                validated-->
<!--                invalid-feedback="Time expire is required">-->
<!--                <b-form-input-->
<!--                  class="ml-2"-->
<!--                  type="number"-->
<!--                  style="width: 100%;"-->
<!--                  min="1"-->
<!--                  v-model="publish_tools.days_expire"-->
<!--                ></b-form-input>-->
<!--              </b-form-group>-->
<!--            </b-col>-->
<!--            <b-col sm="6" class="mb-2" v-if="selectedDays === 'days_expire'"-->
<!--                   style="display: inline-flex;justify-content: flex-start">-->
<!--              <b-form-group-->
<!--                v-if="publish_tools.days_expire.length"-->
<!--                class="col-md-12 mb-2"-->
<!--                label="Time expire:"-->
<!--                label-for="time_expire"-->
<!--                style="font-weight:normal;width: 100%;"-->
<!--                validated-->
<!--                invalid-feedback="Time expire is required">-->
<!--                <b-form-timepicker-->
<!--                  id="timepicker-buttons"-->
<!--                  now-button-->
<!--                  reset-button-->
<!--                  class="ml-2"-->
<!--                  show-seconds-->
<!--                  v-model="publish_tools.time_expire"-->
<!--                  size="md"-->
<!--                  locale="en"-->
<!--                  style="width: 100%;"-->
<!--                ></b-form-timepicker>-->
<!--              </b-form-group>-->
<!--            </b-col>-->
<!--            <b-col sm="6" class="mb-2" v-if="selectedDays === 'datetime_expire'"-->
<!--                   style="display: inline-flex;justify-content: flex-start">-->
<!--              <b-form-group-->
<!--                class="col-md-12 mb-2"-->
<!--                label="Datetime expire:"-->
<!--                label-for="datetime_expire"-->
<!--                style="font-weight:normal;"-->
<!--                validated-->
<!--                invalid-feedback="Datetime expire is required">-->
<!--                <kendo-datetimepicker type="date" class="ml-2" style="width: 100%"-->
<!--                                      v-model="publish_tools.datetime_expire"-->
<!--                                      :time-format="'HH:mm:ss'"-->
<!--                                      :interval="5" :format="'dd/MM/yyyy HH:mm:ss'" required>-->
<!--                </kendo-datetimepicker>-->
<!--              </b-form-group>-->
<!--            </b-col>-->
          </b-form>
        </b-row>
        <b-card>
          <div slot="header">
            <strong>
              Episode
            </strong>
          </div>
          <b-row sm="12" class="text-center">
            <b-col cols="1">
              <a v-b-modal.publish-tools>
                <i class="fa fa-plus-circle fa-lg"></i><br>New
              </a>
            </b-col>
          </b-row>
          <br>
          <b-row>
            <b-table
              id="publish-tools-1"
              class="col-12"
              responsive="sm"
              head-variant="light"
              :sort-by.async="sortBy"
              :items="Array.isArray(publish_tools.episode_id_list) ? publish_tools.episode_id_list: []"
              :fields="fieldsEpisodeChosen"
              @row-selected="onRowSelected">
              <template v-slot:cell(action)="row">
                <b-button @click="deleteEpisode(row.item)" variant="danger">Delete
                </b-button>
              </template>
            </b-table>
          </b-row>
        </b-card>
      </b-card>
      <b-modal
        id="publish-tools"
        size="lg"
        ref="modal"
        no-close-on-backdrop
        title="Search Episode"
        @reset="resetModalEpisode"
        @hidden="resetModalEpisode"
        @ok="addEpisode">
        <b-card>
          <div slot="header">
            <strong>Episode</strong>
          </div>
          <b-row>
            <b-form-group class="col-md-8">
              <b-input-group>
                <b-input-group-prepend>
                  <b-button variant="primary">
                    <i class="fa fa-search"></i> Search
                  </b-button>
                </b-input-group-prepend>
                <b-form-input type="text" placeholder="Ex. Id, Name" v-model="wordEpisode" @input="fetchEpisode">
                </b-form-input>
              </b-input-group>
            </b-form-group>
            <b-form-group class="col-md-4">
              <b-button-group style="width: 100%">
                <b-button class="float-right mr-2" variant="primary" v-b-toggle.advance-search>
                  <i class="fa fa-search"></i> Advance Search
                </b-button>
              </b-button-group>
            </b-form-group>
          </b-row>
          <b-collapse id="advance-search">
            <b-col sm="12" style="display: inline-table; justify-content: flex-end;font-size: small">
              <b-form-group class="col-md-12">
                <b-input-group>
                  <b-input-group-prepend>
                    <b-button variant="primary">
                      Title Name:
                    </b-button>
                  </b-input-group-prepend>
                  <b-form-input type="text" v-model="wordTitle" @input="fetchEpisode">
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
          </b-collapse>
          <b-table
            responsive="sm"
            :items="Array.isArray(episode_list) ? episode_list : []"
            :fields="fieldsEpisodeNoPeriodModal"
            selectable
            selected-variant="success"
            :select-mode="selectMode"
            @row-selected="onRowSelectedEpisode"
            style="font-size: x-small;overflow: scroll;max-height: 520px; text-align: center"
            head-variant="light">
            <template v-slot:cell(selected)="{ rowSelected }">
              <template v-if="rowSelected">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <span class="sr-only">Selected</span>
              </template>
              <template v-else>
                <span aria-hidden="true">&nbsp;</span>
                <span class="sr-only">Not selected</span>
              </template>
            </template>
          </b-table>
        </b-card>
      </b-modal>
    </b-overlay>
  </b-container>
</template>

<script>
  import Multiselect from 'vue-multiselect';
  import VueTimepicker from 'vue2-timepicker';
  import moment from 'moment';
  import PermissionMixin from "../../../mixins/PermissionMixin";

  export default {
    mixins: [PermissionMixin],
    name: "PublishTools",
    components: {Multiselect, VueTimepicker},
    data() {
      return {
        moment,
        selectMode: 'multi',
        waitingOfAlert: null,
        messageImport: '',
        isLoading: false,
        showOverlay: false,
        selectedDays: '',
        optionsDays: [
          {text: 'Days expire', value: 'days_expire'},
          {text: 'Datetime expire', value: 'datetime_expire'},
        ],
        sortBy: 'name',
        selectedEpisode: [],
        publish_zone: [],
        publish_tools: {
          datetime_start: '',
          datetime_end: '',
          publish_zone_ids: [],
          episode_id_list: [],
          // time_start: '',
          // time_expire: '',
          // days_expire: '',
          // datetime_expire: ''
        },
        publishes: [],
        publish_tools_stage: null,
        wordEpisode: '',
        episode_list: [],
        episode_chosen: [],
        episode_id_list: [],
        keepEpisode: [],
        messageError: '',
        fieldsPublishTools: [
          {key: 'start', sortable: true},
          {key: 'end', sortable: true},
          {key: 'publish_zone_ids', label: 'Publish Zone', sortable: true},
        ],
        fieldsEpisodeNoPeriodModal: [
          {key: 'selected', sortable: true},
          {key: 'id', label: 'Episode Id', sortable: true},
          {key: 'name', label: 'Episode Name', sortable: true},
          {key: 'title_id', label: 'Title Id', sortable: true},
          {key: 'title_info.name', label: 'Title Name', sortable: true},
        ],
        fieldsEpisodeModal: [
          {key: 'id', label: 'Episode Id', sortable: true},
          {key: 'name', sortable: true},
        ],
        fieldsEpisodeChosen: [
          {key: 'id', label: 'Episode Id', sortable: true},
          {key: 'name', sortable: true},
          {key: 'title_id', label: 'Title Id', sortable: true},
          {key: 'title_name', label: 'Title Name', sortable: true},
          {key: 'action', sortable: true},
        ],
        dismissSecsUpdateSuccess: 5,
        dismissCountDownUpdateSuccess: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsMsgError: 5,
        dismissCountDownMsgError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        wordTitle: '',
        episodes: [],
        checkPermission: {},
        isAdd: false,
        isEdit: false,
        isDelete: false,
        publishAllow: {}
      }
    },
    computed: {},
    async created() {
      this.publishAllow = await this.initialPermission('episode', 'publishepisode')
      if (!this.publishAllow.isView) {
        this.$router.push({name: 'Page403'})
      }
      // await this.fetchGroupPermission()
      // this.checkPermission = this.groupPermission.find(x => x.name === 'Program Library')
      // let isViewPublish = this.checkPermission.permission_code.includes('publish_publish_view_publish')
      // if (!isViewPublish) {
      //   this.$router.push({name: 'Page403'})
      // }
      // this.isAdd = this.checkPermission.permission_code.includes('publish_publish_add_publish')
      // this.isEdit = this.checkPermission.permission_code.includes('publish_publish_change_publish')
      // this.isDelete = this.checkPermission.permission_code.includes('publish_publish_delete_publish')
      await this.initSelected();
    },
    methods: {
      // resetDaysType() {
      //   this.publish_tools.time_expire = '';
      //   this.publish_tools.days_expire = '';
      //   this.publish_tools.datetime_expire = ''
      // },
      onRowSelectedEpisode(items) {
        this.selectedEpisode = items
      },
      async initSelected() {
        const ctx = this;
        await ctx.$services.publish.find()
          .then((publishes) => {
            ctx.publishes = publishes.results;
          })
          .catch(console.log)
      },
      async addEpisode() {
        console.log(this.selectedEpisode)
        for (let item of this.selectedEpisode) {
          this.publish_tools.episode_id_list.push(
            {
              id: item.id,
              name: item.name,
              title_id: item.title_info.id,
              title_name: item.title_info.name,
            }
          )
        }
        console.log(this.publish_tools)
      },
      async onSearch() {
        if (this.publish_tools.title && this.publish_tools.title.length > 0) {
          console.log('a')
        } else {
          console.log('b')
        }
      },
      resetModalEpisode() {
        this.selectedEpisode = []
        this.wordEpisode = '';
      },
      deleteEpisode(item) {
        console.log(this.publish_tools)
        console.log(this.episode_chosen, item)
        this.publish_tools.episode_id_list.splice(this.publish_tools.episode_id_list.indexOf(item), 1)
      },
      onRowSelected(item) {
        console.log(this.selectedItems)
      },
      async fetchEpisode(pageNumber) {
        const ctx = this;
        try {
          let page = Number(pageNumber);
          page = Number.isNaN(page) ? ctx.episodes.page : page;
          const toNext = episodes => {
            ctx.SetInitial(episodes);
          };
          let params = {page}
          let clean = function (key, obj) {
            delete obj[key];
            return obj
          };
          params = ctx.wordEpisode !== "" && ctx.wordEpisode !== null
          || ctx.wordTitle !== "" && ctx.wordTitle !== null ?
            {
              ...params,
              search: ctx.wordEpisode,
              title_name: ctx.wordTitle
            }
            : clean('search', params);
          if (params.page === 0 || !params.page) {
            params.page = 1
          }
          this.$services.episode.find(params)
            .then(toNext)
            .catch(err => err)
        } catch (e) {
        }
      },
      SetInitial({results, current, page_size, count}) {
        this.pagination = {current, page_size, count};
        this.episode_list = results;
      },
      saveEpisode() {
        console.log(this.selectedEpisode)
      },
      convertDate(datetime) {
        if (datetime) {
          let [date, time] = datetime.split(' ');
          let [day, month, year] = date.split('/');
          let [hour, minutes, seconds] = time.split(':');
          return `${[year, month, day].join('-')}T${[hour, minutes, seconds].join(':')}`
        }
      },
      matchDataBeforeSave() {
        if (this.publish_tools.datetime_start) {
          let [date, time] = this.publish_tools.datetime_start.split(' ');
          this.publish_tools.time_start = time
        }
        if (this.publish_tools.datetime_start && this.publish_tools.datetime_end) {
          this.publish_tools.datetime_start = moment(this.convertDate(this.publish_tools.datetime_start)).format()
          this.publish_tools.datetime_end = moment(this.convertDate(this.publish_tools.datetime_end)).format()
        }
        console.log(this.publish_tools)
        // if (this.publish_tools.datetime_expire !== '' && this.publish_tools.datetime_expire) {
        //   this.publish_tools.datetime_expire = moment(this.convertDate(this.publish_tools.datetime_expire)).format()
        // } else {
        //   delete this.publish_tools.datetime_expire
        // }
        // if (this.publish_tools.days_expire !== '' && this.publish_tools.days_expire) {
        //   this.publish_tools.days_expire = Number(this.publish_tools.days_expire)
        // } else {
        //   delete this.publish_tools.days_expire
        // }
        this.keepEpisode = this.publish_tools.episode_id_list
        this.publish_tools.episode_id_list = this.publish_tools.episode_id_list.map(x => x.id)
        console.log(this.publish_tools)
        // console.log(this.selectedDays)
      },
      matchDataBeforeError() {
        this.publish_tools.episode_id_list = this.keepEpisode
        if (this.publish_tools.datetime_start && this.publish_tools.datetime_end) {
          this.publish_tools.datetime_start = moment(this.publish_tools.datetime_start).format('DD/MM/YYYY HH:mm:ss')
          this.publish_tools.datetime_end = moment(this.publish_tools.datetime_end).format('DD/MM/YYYY HH:mm:ss')
        }
        // if (this.publish_tools.datetime_expire) {
        //   this.publish_tools.datetime_expire = moment(this.publish_tools.datetime_expire).format('DD/MM/YYYY HH:mm:ss')
        // } else {
        //   delete this.publish_tools.datetime_expire
        // }
        // if (this.publish_tools.days_expire) {
        //   this.publish_tools.days_expire = String(this.publish_tools.days_expire)
        // } else {
        //   delete this.publish_tools.days_expire
        // }
        console.log(this.publish_tools)
      },
      async savePublishTools() {
        if (this.checkFormValidity() && this.publish_tools.publish_zone_ids.length && this.publish_tools.episode_id_list.length && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          const ctx = this;
          try {
            ctx.matchDataBeforeSave();
            // console.log(this.publish_tools)
            // if ((this.publish_tools.days_expire && this.publish_tools.datetime_expire !== '') || (this.publish_tools.days_expire !== '' && this.publish_tools.datetime_expire)) {
            //
            //   console.log(this.publish_tools)
              ctx.showOverlay = true;
              let {id} = await ctx.$services.publish.addPublishToolsById(this.publish_tools);
              console.log(id)
              ctx.waitingOfAlert = await setInterval(function () {
                ctx.$services.alert.findById(id).then(({message, percent, value, is_error}) => {
                  console.log(message, percent, value, is_error)
                  if (percent === 100) {
                    this.messageImport = `${message} ${percent}%`;
                    ctx.showOverlay = false;
                    clearInterval(ctx.waitingOfAlert)
                    ctx.addSuccess();
                    ctx.publish_tools = {
                      datetime_start: '',
                      datetime_end: '',
                      publish_zone_ids: [],
                      episode_id_list: [],
                      // time_start: '',
                      // time_expire: '',
                      // days_expire: '',
                      // datetime_expire: ''
                    };
                  } else if (is_error) {
                    this.messageImport = `${message} ${percent}%`;
                    ctx.showOverlay = false;
                    clearInterval(ctx.waitingOfAlert)
                    ctx.messageError = message
                    ctx.msgError();
                    ctx.matchDataBeforeError()
                  } else {
                    this.messageImport = `${message} ${percent}%`;
                  }
                })
              }, 1000)
              // ctx.showOverlay = false;
          } catch (e) {
            ctx.showOverlay = false;
            ctx.messageError = Object.values(e.response.data)[0][0];
            await ctx.msgError();
            await ctx.matchDataBeforeError()
          }
        } else {
          if (!this.checkFormValidity() || !this.publish_tools.publish_zone_ids.length || !this.publish_tools.episode_id_list.length) {
            await this.$bvModal.msgBoxOk('Please fill in the blank.')
          }
        }
      },
      checkFormValidity() {
        try {
          const valid = this.$refs.form.checkValidity();
          this.publish_tools_stage = valid ? 'valid' : 'invalid';
          return valid
        } catch (e) {
        }
      },
      updateSuccess() {
        this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      msgError() {
        this.dismissCountDownMsgError = this.dismissSecsMsgError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
        this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedMsgError(dismissCountDownMsgError) {
        this.dismissCountDownMsgError = dismissCountDownMsgError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
    },
  }
</script>

<style scoped>

</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
