<template>
  <b-container fluid>
    <b-overlay :show="showOverlay" rounded="sm">
      <template v-slot:overlay>
        <b-spinner label="Loading..."></b-spinner>
        {{ messageImport }}
      </template>
      <b-alert
        :show="dismissCountDownUpdateSuccess"
        dismissible
        fade
        variant="success"
        @dismiss-count-down="countDownChangedUpdateSuccess">
        Update publish tools success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
      </b-alert>
      <b-alert
        :show="dismissCountDownAddSuccess"
        dismissible
        fade
        variant="success"
        @dismiss-count-down="countDownChangedAddSuccess">
        Add publish tools success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
      </b-alert>
      <b-alert
        :show="dismissCountDownMsgError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedMsgError">
        {{messageError}}. This alert will dismiss after {{ dismissCountDownMsgError }} seconds...
      </b-alert>
      <b-alert
        :show="dismissCountDownDeleteSuccess"
        dismissible
        fade
        variant="success"
        @dismiss-count-down="countDownChangedDeleteSuccess">
        Delete publish tools success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
      </b-alert>
    <b-card>
      <div slot="header">
        <strong>
          Schedule Publish
        </strong>
      </div>
      <el-form :model="schedule_publish" ref="schedule_publish" :rules="rules" class="demo-dynamic">
        <b-col sm="8" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item label="Title Name" prop="title_id">
            <multiselect v-model="selectedTitle" tag-placeholder="Add this as new tag"
                         placeholder="Search Title Name" label="name" track-by="id" :options="title_list"
                         :multiple="false" :taggable="true" @search-change="fetchTitle"
                         :show-no-results="true" @input="saveTitle"></multiselect>
          </el-form-item>
        </b-col>
        <b-col sm="4" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item label="Total episode" prop="total_episode">
            <el-input v-model="schedule_publish.total_episode" type="number" :disabled="true"
                      autocomplete="off"></el-input>
          </el-form-item>
        </b-col>
        <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item label="Start Pac No" prop="start_pac_no">
            <el-input v-model="schedule_publish.start_pac_no" type="number" @input="check('start')"
                      :max="schedule_publish.total_episode" min="1" autocomplete="off"></el-input>
          </el-form-item>
        </b-col>
        <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item label="End Pac No" prop="end_pac_no">
            <el-input v-model="schedule_publish.end_pac_no" type="number" @input="check('end')"
                      :max="schedule_publish.total_episode" :min="schedule_publish.start_pac_no"
                      autocomplete="off"></el-input>
          </el-form-item>
        </b-col>
        <!--        <b-col sm="4" class="mb-2" style="display: inline-table; justify-content: flex-end">-->
        <!--          <el-form-item label="Time Start" prop="time_start">-->
        <!--            <kendo-timepicker v-model="schedule_publish.time_start" format="HH:mm:ss" style="width: 100%"></kendo-timepicker>-->
        <!--          </el-form-item>-->
        <!--        </b-col>-->
        <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item label="Datetime Start Generate" prop="datetime_start">
            <kendo-datetimepicker type="date" class="ml-2" style="width: 100%" v-model="schedule_publish.datetime_start"
                                  id="start"
                                  :time-format="'HH:mm:ss'" v-on:change="startChange"
                                  :interval="5" :format="'dd/MM/yyyy HH:mm:ss'">
            </kendo-datetimepicker>
          </el-form-item>
        </b-col>
        <!--        <b-col sm="4" class="mb-2" style="display: inline-table; justify-content: flex-end">-->
        <!--          <el-form-item label="Datetime End" prop="datetime_end">-->
        <!--            <kendo-datetimepicker type="date" class="ml-2" style="width: 100%" v-model="schedule_publish.datetime_end"-->
        <!--                                  :time-format="'HH:mm:ss'"-->
        <!--                                  :interval="5" :format="'dd/MM/yyyy HH:mm:ss'" required>-->
        <!--            </kendo-datetimepicker>-->
        <!--          </el-form-item>-->
        <!--        </b-col>-->
        <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item label="Select Expire" prop="select">
            <b-form-select class="ml-4" style="width: 100%;" @change="change" v-model="schedule_publish.select"
                           :options="option_day_time"></b-form-select>
          </el-form-item>
        </b-col>
        <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item :label="label" prop="expire">
            <b-form-input v-model="schedule_publish.expire" type="number" min="1" autocomplete="off"
                      v-show="day"></b-form-input>
            <div v-show="time">
              <kendo-datetimepicker type="date" class="ml-2" style="width: 100%" v-model="schedule_publish.expire"
                                    id="end"
                                    :time-format="'HH:mm:ss'" v-on:change="endChange"
                                    :interval="5" :format="'dd/MM/yyyy HH:mm:ss'">
              </kendo-datetimepicker>
            </div>
          </el-form-item>
        </b-col>
        <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item label="Time Expire" prop="time_expire" v-show="day">
            <kendo-timepicker v-model="schedule_publish.time_expire" format="HH:mm:ss"
                              style="width: 100%"></kendo-timepicker>
          </el-form-item>
        </b-col>
        <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item label="Day" prop="select_of_weekdays">
            <el-checkbox-group v-model="schedule_publish.select_of_weekdays">
              <el-checkbox label="0">Mon</el-checkbox>
              <el-checkbox label="1">Tue</el-checkbox>
              <el-checkbox label="2">Wed</el-checkbox>
              <el-checkbox label="3">Thu</el-checkbox>
              <el-checkbox label="4">Fri</el-checkbox>
              <el-checkbox label="5">Sat</el-checkbox>
              <el-checkbox label="6">Sun</el-checkbox>
            </el-checkbox-group>
          </el-form-item>
        </b-col>
        <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item label="Select Every Week" prop="shift_days">
            <b-form-select class="ml-4" style="width: 100%;" value="Every Week" v-model="schedule_publish.shift_days"
                           :options="option_day_type"></b-form-select>
          </el-form-item>
        </b-col>
        <b-col sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <el-form-item label="Publish zone" prop="publish_zone_ids">
            <el-checkbox-group v-model="schedule_publish.publish_zone_ids">
              <el-checkbox v-for="item in publishes" :label="item.id" v-bind:key="item.id">{{item.desc}}</el-checkbox>
            </el-checkbox-group>
          </el-form-item>
        </b-col>
        <b-col v-if="publishAllow.isAdd" sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end">
          <b-button variant="success" class="mr-5" style="width: 15%;" @click="saveSchedulePublish">OK</b-button>
          <b-button variant="danger" style="width: 15%;">Cancel</b-button>
        </b-col>
      </el-form>
    </b-card>
    </b-overlay>
  </b-container>
</template>

<script>
  import moment from 'moment';
  import Multiselect from 'vue-multiselect';
  import PermissionMixin from "../../../mixins/PermissionMixin";
  import $ from 'jquery';

  export default {
    mixins: [PermissionMixin],
    name: "SchedulePublish",
    components: {Multiselect},
    data() {
      return {
        messageError: '',
        showOverlay: false,
        waitingOfAlert: null,
        messageImport: '',
        isLoading: false,
        token: [],
        schedule_publish: {
          title_id: '',
          total_episode: '',
          start_pac_no: '',
          end_pac_no: '',
          datetime_start: '',
          datetime_expire: '',
          days_expire: '',
          time_expire: '',
          select_of_weekdays: [],
          shift_days: 7,
          publish_zone_ids: [],
          select: '',
          expire: '',
        },
        day: false,
        time: false,
        label: '',
        selectedTitle: [],
        title_list: [],
        publishes: [],
        schedule_publish_stage: null,
        option_day_time: [
          {'value': 1, 'text': 'Day Expire'},
          {'value': 2, 'text': 'DateTime Expire'}
        ],
        option_day_type: [
          {'value': 0, 'text': 'Every Week'},
          {'value': 7, 'text': 'Bi Week'},
          {'value': 30, 'text': 'Every Month'}
        ],
        publishAllow: {},
        dismissSecsUpdateSuccess: 5,
        dismissCountDownUpdateSuccess: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsMsgError: 5,
        dismissCountDownMsgError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        rules: {
          title_id: [{required: true, message: 'Please Select Title name', trigger: 'change'}],
          total_episode: [{required: true, message: 'Please Input Total episode', trigger: 'blur'}],
          start_pac_no: [{required: true, message: 'Please Input Start Pac No', trigger: 'blur'}],
          end_pac_no: [{required: true, message: 'Please Input End Pac No', trigger: 'blur'}],
          datetime_start: [{required: true, message: 'Please Select Datetime Start', trigger: 'blur'}],
          datetime_end: [{required: true, message: 'Please Select Datetime End', trigger: 'blur'}],
          select: [{required: true, message: 'Please Select Date Expire or Time Expire', trigger: 'change'}],
          expire: [{required: true, message: 'Please Input activity field', trigger: 'blur'}],
          time_start: [{required: true, message: 'Please Select Time Start', trigger: 'blur'}],
          time_expire: [{required: true, message: 'Please Select Expire Start', trigger: 'blur'}],
          select_of_weekdays: [{required: true, message: 'Please Select Day', trigger: 'change'}],
          publish_zone_ids: [{required: true, message: 'Please Select Publish Zone', trigger: 'change'}],
        },
      }
    },
    computed: {},
    async created() {
      this.publishAllow = await this.initialPermission('episode', 'publishepisode')
      if (!this.publishAllow.isView) {
        this.$router.push({name: 'Page403'})
      }
      await this.initSelected();
      // console.log('test:', this.$refs['day_expire'])
    },
    mounted() {
      let start = $("#start").data("kendoDateTimePicker");
      let end = $("#end").data("kendoDateTimePicker");
      start.max(end.value());
      end.min(start.value());
    },
    methods: {
      startChange: function (e) {
        let start = $("#start").data("kendoDateTimePicker");
        let end = $("#end").data("kendoDateTimePicker");
        let startDate = start.value(),
          endDate = end.value();
        if (startDate) {
          startDate = new Date(startDate);
          startDate.setDate(startDate.getDate());
          end.min(startDate);
        } else if (endDate) {
          start.max(new Date(endDate));
        } else {
          endDate = new Date();
          start.max(endDate);
          end.min(endDate);
        }
      },
      endChange: function (e) {
        let start = $("#start").data("kendoDateTimePicker");
        let end = $("#end").data("kendoDateTimePicker");
        let endDate = end.value(),
          startDate = start.value();
        if (endDate) {
          endDate = new Date(endDate);
          endDate.setDate(endDate.getDate());
          start.max(endDate);
        } else if (startDate) {
          end.min(new Date(startDate));
        } else {
          endDate = new Date();
          start.max(endDate);
          end.min(endDate);
        }
      },
      async initSelected() {
        const ctx = this;
        await ctx.$services.publish.find()
          .then((publishes) => {
            ctx.publishes = publishes.results;
          })
          .catch(console.log)
      },

      check(name) {
        if (name == 'start') {
          if (this.$data.schedule_publish.start_pac_no > 0 && this.$data.schedule_publish.start_pac_no > this.$data.schedule_publish.total_episode) {
            this.$data.schedule_publish.start_pac_no = 1
          }
        } else {
          if (this.$data.schedule_publish.end_pac_no > this.$data.schedule_publish.start_pac_no && this.$data.schedule_publish.end_pac_no > this.$data.schedule_publish.total_episode) {
            this.$data.schedule_publish.end_pac_no = this.$data.schedule_publish.total_episode
          }
        }
      },

      change() {
        this.$data.schedule_publish.expire = ''
        if (this.$data.schedule_publish.select == 1) {
          this.$data.day = true
          this.$data.time = false
          this.$data.label = 'Day Expire'
          this.schedule_publish.time_expire = ''

        } else {
          this.$data.day = false
          this.$data.time = true
          this.$data.label = 'Date Time Expire'
          this.schedule_publish.time_expire = '00:00:00'
        }
        // console.log('change:', this.$data.day, this.$data.time)
      },

      convertDate(datetime) {
        // console.log('datetime:', datetime)
        if (datetime.search('T') == -1) {
          let [date, time] = datetime.split(' ');
          let [day, month, year] = date.split('/');
          let [hour, minutes, seconds] = time.split(':');
          return `${[year, month, day].join('-')}T${[hour, minutes, seconds].join(':')}`
        } else {
          return datetime
        }
        // if (datetime) {
        //   let [date, time] = datetime.split(' ');
        //   let [day, month, year] = date.split('/');
        //   let [hour, minutes, seconds] = time.split(':');
        //   return `${[year, month, day].join('-')}T${[hour, minutes, seconds].join(':')}`
        // }
      },
      matchDataBeforeSave() {
        if (this.schedule_publish.datetime_start) {
          this.schedule_publish.datetime_start = moment(this.convertDate(this.schedule_publish.datetime_start)).format()
        }
      },

      // saveSchedulePublish() {
      //   this.$refs.schedule_publish.validate((valid) => {
      //     if (valid) {
      //       const loading = this.$loading({
      //         lock: true,
      //         text: 'Processing Schedule Publish',
      //         spinner: 'el-icon-loading',
      //         background: 'rgba(0, 0, 0, 0.7)'
      //       });
      //       setTimeout(() => {
      //         loading.close();
      //         this.sendSchedulePublish()
      //       }, 2000);
      //     }
      //   })
      // },
      matchBeforeSave() {
        this.schedule_publish.datetime_start = this.convertDate(this.schedule_publish.datetime_start)
        if (this.$data.schedule_publish.select == 1) {
          this.$data.schedule_publish.days_expire = this.$data.schedule_publish.expire
          delete this.$data.schedule_publish.datetime_expire
        }

        if (this.$data.schedule_publish.select == 2) {
          this.$data.schedule_publish.datetime_expire = this.convertDate(this.$data.schedule_publish.expire)
          delete this.$data.schedule_publish.days_expire
        }
        delete this.$data.schedule_publish.select
        delete this.$data.schedule_publish.expire
      },
      async saveSchedulePublish() {
        const ctx = this;
        try {
          this.matchBeforeSave()
          ctx.showOverlay = true;
          let {id} = await this.$services.publish.schedule(this.$data.schedule_publish);
          ctx.waitingOfAlert = await setInterval(function () {
            ctx.$services.alert.findById(id).then(({message, percent, value, is_error}) => {
              console.log(message, percent, value, is_error)
              if (percent === 100) {
                ctx.messageImport = `${message} ${percent}%`;
                ctx.showOverlay = false;
                clearInterval(ctx.waitingOfAlert)
                ctx.addSuccess();
                ctx.schedule_publish = {
                  title_id: '',
                  total_episode: '',
                  start_pac_no: '',
                  end_pac_no: '',
                  datetime_start: '',
                  days_expire: '',
                  time_expire: '',
                  select_of_weekdays: [],
                  shift_days: '',
                  publish_zone_ids: []
                };
              } else if (is_error) {
                ctx.messageImport = `${message} ${percent}%`;
                ctx.showOverlay = false;
                clearInterval(ctx.waitingOfAlert)
                ctx.messageError = message
                ctx.msgError();
                ctx.matchDataBeforeError()
              } else {
                ctx.messageImport = `${message} ${percent}%`;
              }
            })
          }, 1000)
        } catch (e) {
          ctx.showOverlay = false;
          ctx.messageError = Object.values(e.response.data)[0][0];
          await ctx.msgError();
          await ctx.matchDataBeforeError()
        }
        //   this.selectedTitle = [];
        //   this.$notify({
        //     title: 'Success',
        //     message: 'Save Schedule Publish is success.',
        //     type: 'success'
        //   })
        //   const loading = this.$loading({
        //     lock: true,
        //     text: 'Processing Alert',
        //     spinner: 'el-icon-loading',
        //     background: 'rgba(0, 0, 0, 0.7)'
        //   });
        //   setTimeout(() => {
        //     loading.close();
        //     this.checkschedule(data.id)
        //   }, 2000);
        //
        // })
        //   .catch((e) => {
        //     this.$notify({
        //       title: 'error',
        //       message: e.request.statusText,
        //       type: 'error'
        //     })
        //   })
      },
      async checkschedule(id) {
        await this.$services.alert.findById(id)
          .then((data) => {
            let type = 'success'
            let title = 'Success'
            if (data.is_error == true) {
              type = 'error'
              title = 'error'
            }
            this.$notify({
              title: title,
              message: 'Get Alert Status Schedule Publish ' + data.message,
              type: type
            })
          })
          .catch((e) => {
            this.$notify({
              title: 'error',
              message: e.request.statusText,
              type: 'error'
            })
          })
      }
      ,
      checkFormValidity() {
        try {
          const valid = this.$refs.form.checkValidity();
          this.schedule_publish_stage = valid ? 'valid' : 'invalid';
          return valid
        } catch (e) {
        }
      }
      ,
      async fetchTitle(word) {
        const ctx = this;
        ctx.wordTitle = word;
        let params = ctx.wordTitle !== "" && ctx.wordTitle !== null ? {...params, search: ctx.wordTitle} : undefined;
        if (ctx.wordTitle !== '') {
          try {
            const title = await this.$services.title.find(params);
            this.title_list = title.results;
          } catch (e) {
            console.log(e)
          }
        } else {
        }
      }
      ,
      saveTitle() {
        if (this.selectedTitle) {
          this.schedule_publish.title_id = this.selectedTitle.id;
          this.schedule_publish.total_episode = this.selectedTitle.total_episode;
        } else {
          this.schedule_publish.title_id = ''
        }
      },
      updateSuccess() {
        this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      msgError() {
        this.dismissCountDownMsgError = this.dismissSecsMsgError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
        this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedMsgError(dismissCountDownMsgError) {
        this.dismissCountDownMsgError = dismissCountDownMsgError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
    }
  }
</script>

<style scoped>
</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

