<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess">
      Update episode success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownUpdateError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedUpdateError">
      Update episode error!. This alert will dismiss after {{ dismissCountDownUpdateError}} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add episode success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError">
      Add episode error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete episode success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete episode error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-6">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, Page" v-model="word" @input="fetch">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-4">
          <b-button-group style="width: 100%">
            <b-button class="float-right mr-2" variant="primary" v-b-toggle.advance-search>
              <i class="fa fa-search"></i> Advance Search
            </b-button>
          </b-button-group>
        </b-form-group>
        <b-form-group class="col-md-2">
    <b-form-select v-model="word_month" class="mb-3" @change="fetch">
      <template v-slot:first>
      <b-form-select-option value="">Select month.</b-form-select-option>
      </template>
      <b-form-select-option value="1">1 month</b-form-select-option>
      <b-form-select-option value="2">2 month</b-form-select-option>
      <b-form-select-option value="3">3 month</b-form-select-option>
      <b-form-select-option value="4">4 month</b-form-select-option>
    </b-form-select>
        </b-form-group>
      </b-row>
      <b-collapse id="advance-search">
        <b-col sm="5" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="mr-2" label="Datetime Start:" :horizontal="true" validated>
            <kendo-datetimepicker class="ml-1" style="width: 100%;font-size: x-small !important;"
                                  v-model="word_datetime_start"
                                  v-on:close="fetch"
                                  :time-format="'HH:mm:ss'"
                                  disabled
                                  :interval="5" :format="'yyyy-MM-dd HH:mm:ss'">
            </kendo-datetimepicker>
          </b-form-group>
        </b-col>
        <b-col sm="5" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="mr-2" label="Datetime End:" :horizontal="true" validated>
            <kendo-datetimepicker class="ml-1" style="width: 100%;font-size: x-small !important;"
                                  v-model="word_datetime_end"
                                  disabled
                                  v-on:close="fetch"
                                  :time-format="'HH:mm:ss'"
                                  :interval="5" :format="'yyyy-MM-dd HH:mm:ss'">
            </kendo-datetimepicker>
          </b-form-group>
        </b-col>
        <b-col sm="2" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-button variant="danger" @click="resetSearch">Reset search</b-button>
        </b-col>
      </b-collapse>
      <b-overlay :show="showOverlay" rounded="sm">
        <template v-slot:overlay>
          <b-spinner label="Loading..."></b-spinner>
        </template>
      <b-card>
        <div slot="header">
          <strong>Deal</strong>
        </div>
        <b-table
          :items="Array.isArray(this.deals) ? this.deals: []"
          :fields="fields"
          responsive="sm"
          style="text-align: center"
          id="content-table">
          <template v-slot:cell(right_type)="row">
            {{row.item.right_type ? row.item.right_type: '-'}}
          </template>
          <template v-slot:cell(datetime_contract_expired)="row">
            {{row.item.datetime_contract_expired ? row.item.datetime_contract_expired: '-'}}
          </template>
          <template v-slot:cell(datetime_right_expired)="row">
            {{row.item.datetime_right_expired ? row.item.datetime_right_expired: '-'}}
          </template>
        </b-table>
        <div class="overflow-auto" style="float: right" v-if="this.deals.length">
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="fetch"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
      </b-card>
      </b-overlay>
    </div>
  </b-container>
</template>

<script>
import moment from 'moment';
import PermissionMixin from "../../mixins/PermissionMixin";

export default {
  mixins: [PermissionMixin],
  data() {
    return {
      moment,
      word_month: '',
      pagination: {},
      word: null,
      deals: [],
      fields: [
        {key: 'id', sortable: true},
        {key: 'ref_no', sortable: true,},
        {key: 'right_type', sortable: true,},
        {key: 'title_count', sortable: true,},
        {key: 'datetime_contract_expired', sortable: true,},
        {key: 'datetime_right_expired', sortable: true,},
        {key: 'status', sortable: true,},
      ],
      id: -1,
      dismissSecsUpdateSuccess: 5,
      dismissCountDownUpdateSuccess: 0,
      dismissSecsUpdateError: 5,
      dismissCountDownUpdateError: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsAddError: 5,
      dismissCountDownAddError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsDeleteError: 5,
      dismissCountDownDeleteError: 0,
      studios: [],
      vendors: [],
      statusChoices: [],
      word_datetime_start: '',
      word_datetime_end: '',
      wordStudio: '',
      wordVendor: '',
      wordStatus: '',
      checkPermission: {},
      dealAllow: {},
      isAdd: false,
      isEdit: false,
      isDelete: false,
      showOverlay: false
    }
  },
  async created() {
    this.dealAllow = await this.initialPermission('deal', 'deal')
    if (!this.dealAllow.isView) {
      this.$router.push({name: 'Page403'})
    }
    // this.isAdd = this.checkPermission.permission_code.includes('deal_deal_add_deal')
    // this.isEdit = this.checkPermission.permission_code.includes('deal_deal_view_detail_deal')
    // this.isDelete = this.checkPermission.permission_code.includes('deal_deal_delete_deal')
    await this.fetch();
    this.initSelected();
  },
  computed: {},
  methods: {
    async fetch(pageNumber) {
      console.log(pageNumber)
      const ctx = this;
      try {
        ctx.showOverlay = true
        let page = Number(pageNumber);
        page = Number.isNaN(page) ? ctx.deals.page : page;
        const toNext = deals => {
          console.log(deals)
          ctx.SetInitial(deals);
        };
        let params = {page}
        let clean = function (key, obj) {
          delete obj[key];
          return obj
        };
        params = ctx.word !== "" && ctx.word !== null
        || ctx.word_month !== "" && ctx.word_month !== null
        || ctx.word_datetime_start !== "" && ctx.word_datetime_start !== null
        || ctx.word_datetime_end !== "" && ctx.word_datetime_end !== null ?
          {
            ...params,
            search: ctx.word,
            month: ctx.word_month,
            datetime_contract_start: ctx.word_datetime_start,
            datetime_contract_end: ctx.word_datetime_end
          }
          : clean('search', params);
        if (params.page === 0) {
          params.page = 1
        }
        this.$services.dashboard.find(params)
          .then(toNext)
          .catch(err => err)
      } catch (e) {
      }
    },
    async resetSearch() {
      this.word = '';
      this.word_month = '';
      this.word_datetime_start = '';
      this.word_datetime_end = '';
      await this.fetch()
    },
    SetInitial(deals) {
      console.log(deals)
      this.pagination = deals;
      this.deals = deals.results;
      this.showOverlay = false
    },
    onOpen: function (e) {
      console.log("DateRangePicker is opened");
    },
    onClose: function (e) {
      console.log("DateRangePicker is closed");
    },
    onChange: function (e) {
      console.log("DateRangePicker selected date is changed");
    },
    convertDate(datetime) {
      if (datetime) {
        let [date, time] = datetime.split(' ');
        let [day, month, year] = date.split('/');
        let [hour, minutes, seconds] = time.split(':');
        return `${[year, month, day].join('-')}T${[hour, minutes, seconds].join(':')}`
      }
    },
    initSelected() {
      const ctx = this;
      // set Studio
      ctx.$services.studio.find()
        .then((studios) => {
          ctx.studios = studios;
        })
        .catch(console.log);

      // set vendors
      ctx.$services.vendor.find()
        .then((vendors) => {
          ctx.vendors = vendors;
        })
        .catch(console.log);

      ctx.$services.config.findByTitleStatus()
        .then((config) => {
          ctx.statusChoices = config;
        })
        .catch(console.log);
    },
    async remove() {
      try {
        await this.$services.deal.remove(this.id);
        await this.deleteSuccess();
        await this.fetch();
      } catch (e) {
        await this.deleteError()
      }
    },
    async confirmRemove(id) {
      if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
        this.id = id;
        await this.remove()
      }
    },
    async contract(value){
      let date = new Date();
      let start = date.getFullYear() + "-" + (date.getMonth()) + "-" + date.getDate() + " " +  date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
      let end = date.getFullYear() + "-" + (date.getMonth() + value) + "-" + date.getDate() + " " +  date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
      const ctx = this;
      try {
        let page = Number(pageNumber);
        page = Number.isNaN(page) ? ctx.deals.page : page;
        const toNext = deals => {
          ctx.SetInitial(deals);
        };
        let params = {page}
        let clean = function (key, obj) {
          delete obj[key];
          return obj
        };
        params = start !== "" && start !== null
        || end !== "" && end !== null?
          {
            ...params,
            contract_datetime_start: start,
            contract_datetime_end: end,
          }
          : clean('search', params);
        if (params.page === 0) {
          params.page = 1
        }
        this.$services.dashboard.find(params)
          .then(toNext)
          .catch(err => err)
      } catch (e) {
      }
    },
    mounted() {},
    updateSuccess() {
      this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess
    },
    updateError() {
      this.dismissCountDownUpdateError = this.dismissSecsUpdateError
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
    },
    addError() {
      this.dismissCountDownAddError = this.dismissSecsAddError
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
    },
    deleteError() {
      this.dismissCountDownDeleteError = this.dismissSecsDeleteError
    },
    countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
      this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess
    },
    countDownChangedUpdateError(dismissCountDownUpdateError) {
      this.dismissCountDownUpdateError = dismissCountDownUpdateError
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
    },
    countDownChangedAddError(dismissCountDownAddError) {
      this.dismissCountDownAddError = dismissCountDownAddError
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
    },
    countDownChangedDeleteError(dismissCountDownDeleteError) {
      this.dismissCountDownDeleteError = dismissCountDownDeleteError
    },
  }
}
</script>

<style>
ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 5px 5px;
}
</style>
