<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit config success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownEditError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedEditError">
      Edit config Error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add config success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError">
      Add config error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete config success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete config error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownSendSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedSendSuccess">
      Send config success!. This alert will dismiss after {{ dismissCountDownSendSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownSendError"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedSendError">
      send config error!. This alert will dismiss after {{ dismissCountDownSendError }} seconds...
    </b-alert>

    <div>
      <button v-b-modal.add-config class="btn btn-primary float-right">Add Config</button>
      <br><br>
      <b-card>
        <div slot="header">
          <strong>Scrolling Config</strong>
        </div>
        <b-table
          :items="Array.isArray(configs) ? configs: []"
          :fields="fields"
          responsive="sm"
          style="text-align: center">
          <template slot="actions" slot-scope="row">
            <b-button @click="loadConfig(row.item)" variant="outline-primary" size="sm" class="mr-1">
              Edit
            </b-button>
            <b-button @click="deleteConfig(row.item)" variant="danger" size="sm" class="mr-1">
              Delete
            </b-button>
          </template>
        </b-table>
      </b-card>
    </div>

    <!-- Add Config Modal -->
    <b-modal
      id="add-config"
      ref="modal"
      title="Add Config"
      @ok="confirmAdd"
      @hidden="resetAddModal"
      @show="resetAddModal"
      show
      size="lg">
      <form ref="formAdd">
      <b-row :style="configCustom">
        <b-col>
          <b-form-group
            validated
            description=""
            label="Font name:"
            label-for="font_name"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="font_name"
              type="text"
              autocomplete="name"
              :state="configStage"
              v-model="config.font_name"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Font size:"
            label-for="font_size"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="font_size"
              type="number"
              :state="configStage"
              v-model="config.font_size"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Font color:"
            label-for="font_color"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="font_color"
              type="color"
              :state="configStage"
              v-model="config.font_color"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            label="Font bold:"
            label-for="font_bold"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-checkbox
              id="font_bold"
              type="checkbox"
              :state="configStage"
              v-model="config.font_bold"
              required
              autocomplete="checkbox">
            </b-form-checkbox>
          </b-form-group>
          <b-form-group
            validated
            label="Font italic:"
            label-for="font_italic"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-checkbox
              id="font_italic"
              type="checkbox"
              :state="configStage"
              v-model="config.font_italic"
              required
              autocomplete="checkbox">
            </b-form-checkbox>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Background color:"
            label-for="bg_color"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="bg_color"
              type="color"
              :state="configStage"
              v-model="config.bg_color"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Opacity:"
            label-for="opacity"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="opacity"
              type="number"
              :state="configStage"
              v-model="config.opacity"
              min="0"
              max="100"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Margin top:"
            label-for="margin_top"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="margin_top"
              type="number"
              :state="configStage"
              v-model="config.margin_top"
              min="0"
              max="100"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Margin bottom:"
            label-for="margin_bottom"
            :label-cols="4"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="margin_bottom"
              type="number"
              :state="configStage"
              v-model="config.margin_bottom"
              min="0"
              max="100"
              required>
            </b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
            validated
            description=""
            label="Margin right:"
            label-for="margin_right"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="margin_right"
              type="number"
              :state="configStage"
              v-model="config.margin_right"
              min="0"
              max="100"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Margin left:"
            label-for="margin_left"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="margin_left"
              type="number"
              :state="configStage"
              v-model="config.margin_left"
              min="0"
              max="100"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Speed:"
            label-for="speed"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="speed"
              type="number"
              step="1000"
              min="1000"
              :state="configStage"
              v-model="config.speed"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Interval:"
            label-for="interval"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="interval"
              type="number"
              :state="configStage"
              v-model="config.interval"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Duration:"
            label-for="duration"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="duration"
              type="number"
              :state="configStage"
              v-model="config.duration"
              required>
            </b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Style:"
            label-for="style"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-select
              class="col-md-10"
              id="style"
              :state="configStage"
              v-model="config.style"
              required>
              <option :value="0">outline</option>
              <option :value="1">box</option>
              <option :value="2">shadow</option>
            </b-form-select>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Direction:"
            label-for="direction"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-select
              class="col-md-10"
              id="direction"
              :state="configStage"
              v-model="config.direction"
              required>
              <option value="left">right to left</option>
              <option value="right">left to right</option>
              <option value="down">top to bottom</option>
              <option value="up">bottom to top</option>
            </b-form-select>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Definition Code:"
            label-for="definition_code"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-select
              class="col-md-10"
              id="style"
              :state="configStage"
              v-model="config.definition_code"
              required>
              <option value="SD">SD</option>
              <option value="HD">HD</option>
            </b-form-select>
          </b-form-group>
          <!--          <div class="text-center"><b>HD</b></div>-->
          <!--          <b-card style="height: 180px; width: 320px; margin-left: 7%">-->
          <!--            <marquee style="height: 100%; text-align: center" behavior="scroll" :direction="this.scrollConfig.direction"-->
          <!--                     :scrollamount="this.scrollConfig.speed / 1000">-->
          <!--              <div v-if="this.scrollConfig.font_bold && this.scrollConfig.font_italic" style="font-weight: bold; font-style: italic"-->
          <!--                   class="configCustom">Test (ทดสอบ)-->
          <!--              </div>-->
          <!--              <div v-if="this.scrollConfig.font_bold && !this.scrollConfig.font_italic" style="font-weight: bold;"-->
          <!--                   class="configCustom">Test (ทดสอบ)-->
          <!--              </div>-->
          <!--              <div v-if="this.scrollConfig.font_italic && !this.scrollConfig.font_bold" style="font-style: italic;"-->
          <!--                   class="configCustom">Test (ทดสอบ)-->
          <!--              </div>-->
          <!--              <div marquee v-if="!this.scrollConfig.font_italic && !this.scrollConfig.font_bold" class="configCustom">Test (ทดสอบ)-->
          <!--              </div>-->
          <!--            </marquee>-->
          <!--          </b-card>-->
        </b-col>
        <b-row style="margin-left: 4.5%">
          <b-container style="height: 480px; width: 720px; border: 1px solid; padding: 0;">
            <marquee style="height: 100%; text-align: center; background-image: url('https://media2.giphy.com/media/fEVFIJrCtNccw/giphy.gif'); background-size: cover;"
                     behavior="scroll" :direction="this.config.direction"
                     :scrollamount="this.config.speed / 1000">
              <div v-if="this.config.font_bold && this.config.font_italic"
                   style="width: max-content; font-weight: bold; font-style: italic"
                   v-bind:class="{shadow: this.config.style === 2,box: this.config.style === 1,outline: this.config.style === 0}"
                   class="configCustom">Test (ทดสอบ)
              </div>
              <div v-if="this.config.font_bold && !this.config.font_italic"
                   style="width: max-content; font-weight: bold;"
                   v-bind:class="{shadow: this.config.style === 2,box: this.config.style === 1,outline: this.config.style === 0}"
                   class="configCustom">Test (ทดสอบ)
              </div>
              <div v-if="this.config.font_italic && !this.config.font_bold"
                   style="width: max-content; font-style: italic;"
                   v-bind:class="{shadow: this.config.style === 2,box: this.config.style === 1,outline: this.config.style === 0}"
                   class="configCustom">Test (ทดสอบ)
              </div>
              <div marquee v-if="!this.config.font_italic && !this.config.font_bold" class="configCustom"
                   v-bind:class="{shadow: this.config.style === 2,box: this.config.style === 1,outline: this.config.style === 0}"
                   style="width: max-content;">Test (ทดสอบ)
              </div>
            </marquee>
          </b-container>
        </b-row>
      </b-row>
      </form>
    </b-modal>

    <!-- Edit Config Modal -->
    <b-modal
      id="edit-config"
      ref="modal"
      size="lg"
      title="Edit Config"
      @ok="confirmSave">
      <form ref="formEdit">
      <b-row :style="selectedCustom">
        <b-col>
            <b-form-group
              validated
              description=""
              label="Font name:"
              label-for="font_name"
              :label-cols="4"
              :state="selectedStage"
              style="font-weight: bold">
              <b-form-input
                class="col-md-10"
                id="font_name"
                type="text"
                :state="selectedStage"
                autocomplete="name"
                v-model="selected.font_name"
                required>
              </b-form-input>
            </b-form-group>
            <b-form-group
              validated
              description=""
              label="Font size:"
              label-for="font_size"
              :label-cols="4"
              :state="selectedStage"
              style="font-weight: bold">
              <b-form-input
                class="col-md-10"
                id="font_size"
                type="number"
                :state="selectedStage"
                v-model="selected.font_size"
                required>
              </b-form-input>
            </b-form-group>
            <b-form-group
              validated
              description=""
              label="Font color:"
              label-for="font_color"
              :label-cols="4"
              :state="selectedStage"
              style="font-weight: bold">
              <b-form-input
                class="col-md-10"
                id="font_color"
                type="color"
                :state="selectedStage"
                v-model="selected.font_color"
                required>
              </b-form-input>
            </b-form-group>
            <b-form-group
              validated
              label="Font bold:"
              label-for="font_bold"
              :label-cols="4"
              :state="selectedStage"
              style="font-weight: bold">
              <b-form-checkbox
                id="font_bold"
                type="checkbox"
                :state="selectedStage"
                v-model="selected.font_bold"
                autocomplete="checkbox"
                required>
              </b-form-checkbox>
            </b-form-group>
            <b-form-group
              validated
              label="Font italic:"
              label-for="font_italic"
              :label-cols="4"
              :state="selectedStage"
              style="font-weight: bold">
              <b-form-checkbox
                id="font_italic"
                type="checkbox"
                :state="selectedStage"
                v-model="selected.font_italic"
                required
                autocomplete="checkbox">
              </b-form-checkbox>
            </b-form-group>
          <b-form-group
            validated
            description=""
            label="Background color:"
            label-for="bg_color"
            :label-cols="4"
            :state="configStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="bg_color"
              type="color"
              :state="configStage"
              v-model="selected.bg_color"
              required>
            </b-form-input>
          </b-form-group>
            <b-form-group
              validated
              description=""
              label="Opacity:"
              label-for="opacity"
              :label-cols="4"
              :state="selectedStage"
              style="font-weight: bold">
              <b-form-input
                class="col-md-10"
                min="0"
                max="100"
                id="opacity"
                type="number"
                :state="selectedStage"
                v-model="selected.opacity"
                required>
              </b-form-input>
            </b-form-group>
            <b-form-group
              validated
              description=""
              label="Margin top:"
              label-for="margin_top"
              :label-cols="4"
              :state="selectedStage"
              style="font-weight: bold">
              <b-form-input
                class="col-md-10"
                id="margin_top"
                type="number"
                :state="selectedStage"
                v-model="selected.margin_top"
                min="0"
                max="100"
                required>
              </b-form-input>
            </b-form-group>
            <b-form-group
              validated
              description=""
              label="Margin bottom:"
              label-for="margin_bottom"
              :label-cols="4"
              :state="selectedStage"
              style="font-weight: bold">
              <b-form-input
                class="col-md-10"
                id="margin_bottom"
                type="number"
                :state="selectedStage"
                v-model="selected.margin_bottom"
                min="0"
                max="100"
                required></b-form-input>
            </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
            validated
            description=""
            label="Margin right:"
            label-for="margin_right"
            :label-cols="4"
            :state="selectedStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="margin_right"
              type="number"
              :state="selectedStage"
              v-model="selected.margin_right"
              min="0"
              max="100"
              required></b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Margin left:"
            label-for="margin_left"
            :label-cols="4"
            :state="selectedStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="margin_left"
              type="number"
              :state="selectedStage"
              v-model="selected.margin_left"
              min="0"
              max="100"
              required></b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Speed:"
            label-for="speed"
            :label-cols="4"
            :state="selectedStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="speed"
              type="number"
              step="1000"
              min="1000"
              :state="selectedStage"
              v-model="selected.speed"
              required></b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Interval:"
            label-for="interval"
            :label-cols="4"
            :state="selectedStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="interval"
              type="number"
              :state="selectedStage"
              v-model="selected.interval"
              required></b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Duration:"
            label-for="duration"
            :label-cols="4"
            :state="selectedStage"
            style="font-weight: bold">
            <b-form-input
              class="col-md-10"
              id="duration"
              type="number"
              :state="selectedStage"
              v-model="selected.duration"
              required></b-form-input>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Style:"
            label-for="style"
            :label-cols="4"
            :state="selectedStage"
            style="font-weight: bold">
            <b-form-select
              class="col-md-10"
              id="style"
              :state="selectedStage"
              v-model="selected.style"
              required>
              <option :value="0">outline</option>
              <option :value="1">box</option>
              <option :value="2">shadow</option>
            </b-form-select>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Direction:"
            label-for="direction"
            :label-cols="4"
            :state="selectedStage"
            style="font-weight: bold">
            <b-form-select
              class="col-md-10"
              id="direction"
              :state="selectedStage"
              v-model="selected.direction"
              required>
              <option value="left">right to left</option>
              <option value="right">left to right</option>
              <option value="down">top to bottom</option>
              <option value="up">bottom to top</option>
            </b-form-select>
          </b-form-group>
          <b-form-group
            validated
            description=""
            label="Definition Code:"
            label-for="definition_code"
            :label-cols="4"
            :state="selectedStage"
            style="font-weight: bold">
            <b-form-select
              class="col-md-10"
              id="style"
              :state="selectedStage"
              v-model="selected.definition_code"
              required>
              <option value="SD">SD</option>
              <option value="HD">HD</option>
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-row style="margin-left: 4.5%">
          <b-container style="height: 480px; width: 720px; border: 1px solid; padding: 0;">
            <marquee style="margin: 0; height: 100%; text-align: center; background-image: url('https://media2.giphy.com/media/fEVFIJrCtNccw/giphy.gif'); background-size: cover;"
                     behavior="scroll" :direction="this.selected.direction"
                     :scrollamount="this.selected.speed / 1000">
              <div v-if="this.selected.font_bold && this.selected.font_italic"
                   style="width: max-content; font-weight: bold; font-style: italic"
                   v-bind:class="{shadow: this.selected.style === 2,box: this.selected.style === 1,outline: this.selected.style === 0}"
                   class="selectedCustom">Test (ทดสอบ)
              </div>
              <div v-if="this.selected.font_bold && !this.selected.font_italic"
                   style="width: max-content; font-weight: bold;"
                   v-bind:class="{shadow: this.selected.style === 2,box: this.selected.style === 1,outline: this.selected.style === 0}"
                   class="selectedCustom">Test (ทดสอบ)
              </div>
              <div v-if="this.selected.font_italic && !this.selected.font_bold"
                   style="width: max-content; font-style: italic;"
                   v-bind:class="{shadow: this.selected.style === 2,box: this.selected.style === 1,outline: this.selected.style === 0}"
                   class="selectedCustom">Test (ทดสอบ)
              </div>
              <div marquee v-if="!this.selected.font_italic && !this.selected.font_bold" class="selectedCustom"
                   v-bind:class="{shadow: this.selected.style === 2,box: this.selected.style === 1,outline: this.selected.style === 0}"
                    style="width: max-content;">Test (ทดสอบ)
              </div>
            </marquee>
          </b-container>
        </b-row>
      </b-row>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [validToken],
        components: {Multiselect},
        data() {
            return {
                options: [],
                config: {
                    font_color: '#ffffff',
                    font_size: 25,
                    margin_top: 1,
                    margin_bottom: 2,
                    margin_right: 10,
                    margin_left: 10,
                    opacity: 93,
                    interval: 1000,
                    duration: 0,
                    font_bold: false,
                    font_italic: false,
                    font_name: 'TBold.ttf',
                    speed: 6000,
                    direction: 'left',
                    style: 2,
                    definition_code: '',
                    bg_color: ''
                },
                page_size: 0,
                selectedRemoveId: -1,
                configs: [],
                configStage: null,
                selectedStage: null,
                selected: {},
                fields: [
                    {key: '_id', sortable: true, sortDirection: 'desc'},
                    {key: 'definition_code', sortable: true,},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
                dismissSecsSendSuccess: 5,
                dismissCountDownSendSuccess: 0,
                dismissSecsSendError: 5,
                dismissCountDownSendError: 0,
            }
        },
        async created() {
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
            await this.loadConfigs();
        },
        computed: {
            configCustom() {
                return {
                    '--font-color': this.config.font_color,
                    '--font-size': (this.config.font_size) + 'px',
                    '--margin-top': (this.config.margin_top) + '%',
                    '--margin-bottom': (this.config.margin_bottom) + '%',
                    '--margin-right': (this.config.margin_right) + '%',
                    '--margin-left': (this.config.margin_left) + '%',
                    '--opacity': (this.config.opacity) / 100,
                    '--font-bold': (this.config.font_bold),
                    '--font-italic': (this.config.font_italic),
                    '--font-name': this.config.font_name,
                    '--speed': this.config.speed,
                    '--direction': this.config.direction,
                    '--interval': this.config.interval,
                    '--bg-color': this.config.bg_color
                }
            },

            selectedCustom() {
                return {
                    '--font-color': this.selected.font_color,
                    '--font-size': (this.selected.font_size) + 'px',
                    '--margin-top': (this.selected.margin_top) + '%',
                    '--margin-bottom': (this.selected.margin_bottom) + '%',
                    '--margin-right': (this.selected.margin_right) + '%',
                    '--margin-left': (this.selected.margin_left) + '%',
                    '--opacity': (this.selected.opacity) / 100,
                    '--font-bold': (this.selected.font_bold),
                    '--font-italic': (this.selected.font_italic),
                    '--font-name': this.selected.font_name,
                    '--speed': this.selected.speed,
                    '--direction': this.selected.direction,
                    '--bg-color': this.selected.bg_color
                }
            },
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            },
        },
        methods: {
            async loadConfigs() {
                try {
                    const {data} = await this.$services.config.getAllConfig();
                    if (data)
                        this.configs = data;
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async loadConfig(config) {
                try {
                    const {_id} = config;
                    const {data} = await this.$services.config.getByIDConfig(_id);
                    if (data) {
                        this.selected = data;
                        this.$bvModal.show('edit-scrollConfig')
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            checkFormValidityAdd() {
                const validAdd = this.$refs.formAdd.checkValidity();
                this.configStage = validAdd ? 'valid' : 'invalid';
                return validAdd

            },
            checkFormValidityEdit() {
                const validEdit = this.$refs.formEdit.checkValidity();
                this.selectedStage = validEdit ? 'valid' : 'invalid';
                return validEdit

            },
            resetAddModal() {
                this.config = {
                    font_color: '#ffffff',
                    font_size: 25,
                    margin_top: 1,
                    margin_bottom: 2,
                    margin_right: 10,
                    margin_left: 10,
                    opacity: 93,
                    interval: 1000,
                    duration: 0,
                    font_bold: false,
                    font_italic: false,
                    font_name: 'TBold.ttf',
                    speed: 6000,
                    style: 2,
                    definition_code: '',
                    direction: 'left',
                    bg_color: ''

                };
            },
            resetModal() {
                this.config = {};
                this.configStage = null;
                    this.channel = null
            },
            handleOk(bvModalEvt) {
                // Prevent modal from closing
                bvModalEvt.preventDefault();
                // Trigger submit handler
                this.confirmAdd();
                // this.confirmSave();
            },
            async confirmSave(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidityEdit() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    try {
                        const {_id, font_name, font_size, font_color, font_bold, font_italic, opacity, margin_top, margin_bottom, margin_right, margin_left, speed, interval, duration, style, direction, definition_code, bg_color} = this.selected;
                        await this.$services.config.updateConfig(_id, {
                            font_name,
                            font_size,
                            font_color,
                            font_bold,
                            font_italic,
                            opacity,
                            margin_top,
                            margin_bottom,
                            margin_right,
                            margin_left,
                            speed,
                            interval,
                            duration,
                            style,
                            direction,
                            definition_code,
                            bg_color
                        });
                        await this.loadConfigs();
                        this.selected = {};
                        this.editSuccess();
                        this.$bvModal.hide('edit-scrollConfig')
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                    }
                } else {
                    this.checkFormValidityEdit();
                    this.editError();
                    this.$bvModal.hide('edit-scrollConfig')
                }
            },
            async confirmAdd(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidityAdd() && await this.$bvModal.msgBoxConfirm('Do you really want to save ?')) {
                    try {
                        const {font_name, font_size, font_color, font_bold, font_italic, opacity, margin_top, margin_bottom, margin_right, margin_left, speed, interval, duration, style, direction, definition_code, bg_color} = this.config;
                        await this.$services.config.addConfig({
                            font_name,
                            font_size,
                            font_color,
                            font_bold,
                            font_italic,
                            opacity, margin_top,
                            margin_bottom,
                            margin_right,
                            margin_left,
                            speed,
                            interval,
                            duration,
                            style,
                            direction,
                            definition_code,
                            bg_color
                        });
                        await this.loadConfigs();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                    }
                } else {
                    this.checkFormValidityAdd();
                    this.addError();
                    this.$nextTick(() => {
                        this.$refs.modal.hide()
                    })
                }
            },
            async deleteConfig(config) {
                if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
                    try {
                        const {_id} = config;
                        await this.$services.config.removeConfig(_id);
                        await this.loadConfigs();
                        this.deleteSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                    }
                } else {
                    this.deleteError();
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            sendSuccess() {
                this.dismissCountDownSendSuccess = this.dismissSecsSendSuccess
            },
            sendError() {
                this.dismissCountDownSendError = this.dismissSecsSendError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
            countDownChangedSendSuccess(dismissCountDownSendSuccess) {
                this.dismissCountDownSendSuccess = dismissCountDownSendSuccess
            },
            countDownChangedSendError(dismissCountDownSendError) {
                this.dismissCountDownSendError = dismissCountDownSendError
            },
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>

<style>
  div.configCustom {
    color: var(--font-color);
    font-size: var(--font-size);
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    margin-right: var(--margin-right);
    margin-left: var(--margin-left);
    opacity: var(--opacity);
    font-weight: var(--font-bold);
    font-style: var(--font-italic);
    font-family: var(--font-name);
    marquee-speed: var(--speed);
    direction: var(--direction);
    background-color: var(--bg-color);
  }

  div.selectedCustom {
    color: var(--font-color);
    font-size: var(--font-size);
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    margin-right: var(--margin-right);
    margin-left: var(--margin-left);
    opacity: var(--opacity);
    font-weight: var(--font-bold);
    font-style: var(--font-italic);
    font-family: var(--font-name);
    marquee-speed: var(--speed);
    direction: var(--direction);
    background-color: var(--bg-color);
  }

  .shadow {
    text-shadow: 1px 1px 1px #000000;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .outline {
    outline: auto;
    outline-color: #000000;
  }

  .box {
    background-color: #000000;
  }

</style>
