<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess"
    >
      Edit message success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownEditError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedEditError"
    >
      Edit message Error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess"
    >
      Add message success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError"
    >
      Add message error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess"
    >
      Delete message success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError"
    >
      Delete message error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownSendSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedSendSuccess"
    >
      Send message success!. This alert will dismiss after {{ dismissCountDownSendSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownSendError"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedSendError"
    >
      send message error!. This alert will dismiss after {{ dismissCountDownSendError }} seconds...
    </b-alert>

    <div>
      <button v-b-modal.add-message class="btn btn-primary float-right">Add Message</button>
      <br><br>
      <b-card>
        <div slot="header">
          <strong>Scrolling Text</strong>
        </div>
        <b-table
          :items="Array.isArray(messages) ? messages: []"
          :fields="fields"
          responsive="sm"
          style="text-align: center"
        >
          <template slot="actions" slot-scope="row">
            <b-button @click="loadMessage(row.item)" variant="outline-primary" size="sm" class="mr-1">
              Edit
            </b-button>
            <b-button @click="deleteMessage(row.item)" variant="danger" size="sm" class="mr-1">
              Delete
            </b-button>
            <b-button @click="openModalChannel(row.item)" variant="success" size="sm">
              Send
            </b-button>
          </template>
        </b-table>
      </b-card>
    </div>

    <!-- Add Message Modal -->
    <b-modal
      id="add-message"
      ref="modal"
      title="Add Message"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd"
    >
      <form ref="form">
        <b-form-group
          validated
          :state="messageStage"
          label="Message Eng"
          label-for="message_eng"
          invalid-feedback="Message Eng is required">
          <b-form-textarea
            :state="messageStage"
            id="message_eng"
            v-model="message.message_eng"
            required></b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          :state="messageStage"
          label="Message Thai"
          label-for="name-input"
          invalid-feedback="Message Thai is required">
          <b-form-textarea
            :state="messageStage"
            id="message_thai"
            v-model="message.message_thai"
            required></b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>

    <!-- Edit Message Modal -->
    <b-modal
      id="edit-message"
      ref="modal"
      title="Edit Message"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmSave">
      <form ref="form">
        <b-form-group
          :state="messageStage"
          label="ID"
          label-for="id"
          invalid-feedback="Id is required">
          <b-form-input
            :state="messageStage"
            id="id"
            v-model="selected._id"
            required
            disabled></b-form-input>
        </b-form-group>
        <b-form-group
          :state="messageStage"
          label="Message Eng"
          label-for="message_eng"
          invalid-feedback="Message Eng is required"
        >
          <b-form-textarea
            :state="messageStage"
            id="message_eng"
            v-model="selected.message_eng"
            required></b-form-textarea>
        </b-form-group>
        <b-form-group
          :state="messageStage"
          label="Message Thai"
          label-for="name-input"
          invalid-feedback="Message Thai is required">
          <b-form-textarea
            :state="messageStage"
            id="message_thai"
            v-model="selected.message_thai"
            required></b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>

    <!-- select channel -->
    <b-modal
      id="select-channel"
      ref="modal"
      title="Select Channel"
      @show="resetModal"
      @hidden="resetModal"
      :ok-disabled="checkChannel"
      @ok="confirmSend">
      <form ref="form">
        <multiselect
          v-model="channel"
          :state="messageStage"
          tag-placeholder="Add this as new channel"
          placeholder="Search channel"
          label="name" track-by="code"
          :options="options"
          :multiple="true"
          :taggable="true"
          :limit="200"
          @input="addTag">
        </multiselect>
        <br>
        <b-button size="sm" class="float-right ml-1" variant="danger" @click="unSelectAllChannel">Unselect all
        </b-button>
        <b-button size="sm" class="float-right" variant="success" @click="selectAllChannel"> Select all</b-button>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [validToken],
        components: {Multiselect},
        data() {
            return {
                channel: null,
                options: [],
                new_message_eng: '',
                new_message_thai: '',
                message: {
                    id: -1,
                    message_eng: '',
                    message_thai: '',
                },
                page_size: 0,
                selectedRemoveId: -1,
                submittedMessage: [],
                messages: [],
                messageStage: null,
                selected: {},
                fields: [
                    {key: '_id', sortable: true, sortDirection: 'desc'},
                    {key: 'message_eng', sortable: true,},
                    {key: 'message_thai', sortable: true,},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
                dismissSecsSendSuccess: 5,
                dismissCountDownSendSuccess: 0,
                dismissSecsSendError: 5,
                dismissCountDownSendError: 0,
            }
        },
        async created() {
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
            await this.loadMessages();
            await this.addChannels()
        },
        computed: {
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            },
            checkChannel() {
                if (this.channel !== null) {
                    if (this.channel.length === 0) {
                        return true;
                    } else {
                        return false
                    }
                }
                return true
            }
        },
        methods: {
            selectAllChannel() {
                this.channel = this.options;
            },
            unSelectAllChannel() {
                this.channel = [];
            },
            async addTag(channel) {
                try {
                    const {code} = channel;
                    const {data} = await this.$services.channel.getByCodeChannel(code);
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async onSearch(search, id) {
                try {
                    const {data} = await this.$services.channel.getChannel({search, page_size: 176});
                    const {results} = data;
                    this.options = results
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async addChannels(params = {}) {
                try {
                    const {data} = await this.$services.channel.getChannel({page_size: 176});
                    const {results} = data;
                    this.options = results;
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async loadMessages() {
                try {
                    const {data} = await this.$services.message.getAllMessage();
                    const {results} = data;
                    if (results)
                        this.messages = results;
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async loadMessage(message) {
                try {
                    const {_id} = message;
                    const {data} = await this.$services.message.getByIDMessage(_id);
                    if (data) {
                        this.selected = data;
                        this.$bvModal.show('edit-message')
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async openModalChannel(message) {
                try {
                    const {_id} = message;
                    const {data} = await this.$services.message.getByIDMessage(_id);
                    if (data) {
                        this.selected = data;
                        this.$bvModal.show('select-channel')
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.messageStage = valid ? 'valid' : 'invalid';
                return valid
            },
            resetModal() {
                this.message = {
                    id: -1,
                    message_thai: '',
                    message_eng: ''
                };
                this.messageStage = null,
                    this.channel = null
            },
            handleOk(bvModalEvt) {
                // Prevent modal from closing
                bvModalEvt.preventDefault();
                // Trigger submit handler
                this.confirmAdd();
                // this.confirmSave();
            },
            async confirmSave(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    try {
                        const {message_thai, message_eng, _id} = this.selected;
                        await this.$services.message.updateMessage(_id, {message_eng, message_thai});
                        await this.loadMessages();
                        this.selected = {};
                        this.editSuccess();
                        this.$bvModal.hide('edit-message')
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                    }
                } else {
                    this.checkFormValidity();
                    this.editError();
                }
            },
            async confirmAdd(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity()) {
                    try {
                        const {message_thai, message_eng} = this.message;
                        await this.$services.message.addMessage({message_thai, message_eng});
                        await this.loadMessages();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                    }
                } else {
                    this.checkFormValidity();
                    this.addError();
                    this.$nextTick(() => {
                        this.$refs.modal.hide()
                    })
                }
            },
            async deleteMessage(message) {
                if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
                    try {
                        const {_id} = message;
                        await this.$services.message.removeMessage(_id);
                        await this.loadMessages();
                        this.deleteSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                    }
                } else {
                    this.deleteError();
                }
            },
            async confirmSend(_id, result) {
                result = this.channel.map((codes) => {
                    return codes.code;
                });
                _id = this.selected._id;
                if (await this.$bvModal.msgBoxConfirm("Do you really want to send?")) {
                    try {
                        await this.$services.message.sendMessage(_id, result);
                        this.sendSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                    }
                } else {
                    this.sendError();
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            sendSuccess() {
                this.dismissCountDownSendSuccess = this.dismissSecsSendSuccess
            },
            sendError() {
                this.dismissCountDownSendError = this.dismissSecsSendError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
            countDownChangedSendSuccess(dismissCountDownSendSuccess) {
                this.dismissCountDownSendSuccess = dismissCountDownSendSuccess
            },
            countDownChangedSendError(dismissCountDownSendError) {
                this.dismissCountDownSendError = dismissCountDownSendError
            },
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
