<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit channel success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add channel success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete channel success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete channel error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Code, Name, .." v-model="search" @input="OnSearch()">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button style="height: 35px;" v-b-modal.add-channel class="float-right mr-2" type="submit" size="sm"
                      variant="primary" @click="">
              <i class="fa fa-plus-circle"></i> Add Channel
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <br>

      <b-card>
        <div slot="header">
          <strong>Channel</strong>
        </div>
        <b-table
          :items="Array.isArray(channels) ? channels: []"
          :fields="fields"
          responsive="sm"
          style="text-align: center"
          id="channel-table">
          <template slot="is_catchup" slot-scope="row">
            <b-form-checkbox switch v-model="row.item.is_catchup" @change="updateCatchup(row.item)">
              {{row.item.is_catchup}}
            </b-form-checkbox>
          </template>
          <template slot="languages" slot-scope="row">
            <b-badge v-if="Array.isArray(row.item.languages)"
                     v-for="(language, index) in row.item.languages"  :variant="label_lang[language]" v-bind:key="index"> {{language}}
            </b-badge>
          </template>
          <template slot="actions" slot-scope="row">
            <b-button @click="loadChannel(row.item)" variant="outline-primary" size="sm" class="mr-1">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="deleteChannel(row.item)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" :class="previous ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadChannels({page: previous, search})">Previous</a>
            </li>
            <li v-for="(page_number, index) in page_of_number"  v-bind:key="index" class="page-item" :class="page_number === page ? 'active': '' "
                v-if="Math.abs(page_number - page) < 3 || page_number === page_of_number - 1 || page_number === 0">
              <a class="page-link pageNum" href="#" @click="loadChannels({page: page_number, search})"
              >{{page_number}}</a></li>
            <li class="page-item" :class="next ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadChannels({page: next, search})">Next</a>
            </li>
          </ul>
        </nav>
      </b-card>
    </div>

    <!-- Add Channel Modal -->
    <b-modal
      id="add-channel"
      ref="modal"
      title="Add Channel"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <form ref="form">
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit channel error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          label="Code"
          label-for="code"
          invalid-feedback="Code is required">
          <b-form-input
            id="code"
            v-model="channel.code"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Name"
          label-for="name"
          invalid-feedback="Name is required">
          <b-form-input
            id="name"
            v-model="channel.name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Bms Code"
          label-for="bms_code"
          invalid-feedback="Bms Code is required">
          <b-form-input
            id="bms_code"
            v-model="channel.bms_code"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Language"
          label-for="language">
          <b-form-checkbox-group id="languages" v-model="channel.languages">
            <b-form-checkbox id="thai" value="thai" v-model="channel.languages">thai</b-form-checkbox>
            <b-form-checkbox id="english" value="english" v-model="channel.languages">english</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
        <b-form-group
          validated
          label="Definition Type"
          label-for="definition_code"
          invalid-feedback="Definition Type is required">
          <b-form-select label="Definition Type" v-model="channel.definition_code" class="mb-3" required>
            <template slot="first">
              <option :value="null" disabled>-- Please select definition type --</option>
              <option value="SD">SD</option>
              <option value="HD">HD</option>
            </template>
          </b-form-select>
        </b-form-group>
      </form>
    </b-modal>

    <!--     Edit Channel Modal-->
    <b-modal
      id="edit-channel"
      ref="modal"
      @show="resetModal"
      @hidden="resetModal"
      title="Edit Channel"
      @ok="confirmEdit">
      <form ref="form">
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit channel error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          :state="channelStage"
          label="Code"
          label-for="code"
          invalid-feedback="Code is required">
          <b-form-input
            id="code"
            :state="channelStage"
            v-model="selected.code"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          :state="channelStage"
          label="Name"
          label-for="name"
          invalid-feedback="Name is required">
          <b-form-input
            id="name"
            :state="channelStage"
            v-model="selected.name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          :state="channelStage"
          label="Bms Code"
          label-for="bms_code"
          invalid-feedback="Bms Code is required">
          <b-form-input
            id="bms_code"
            :state="channelStage"
            v-model="selected.bms_code"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Language"
          label-for="language">
          <b-form-checkbox-group id="languages" v-model="selected.languages">
            <b-form-checkbox id="thai" value="thai" v-model="selected.languages">thai</b-form-checkbox>
            <b-form-checkbox id="english" value="english" v-model="selected.languages">english</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
        <!--          <b-form-group-->
        <!--            validated-->
        <!--            label="Language"-->
        <!--            label-for="language">-->
        <!--            <b-form-checkbox id="language1" type="checkbox"-->
        <!--                             required-->
        <!--                             v-model="language.thai"-->
        <!--                             autocomplete="checkbox">Thai-->
        <!--            </b-form-checkbox>-->
        <!--            <b-form-checkbox id="language2" type="checkbox"-->
        <!--                             required-->
        <!--                             v-model="language.english"-->
        <!--                             autocomplete="checkbox">English-->
        <!--            </b-form-checkbox>-->
        <!--          </b-form-group>-->
        <b-form-group
          validated
          label="Definition Type"
          label-for="definition_code"
          invalid-feedback="Definition Type is required">
          <b-form-select label="Definition Type" v-model="selected.definition_code" class="mb-3" required>
            <template slot="first">
              <option :value="null" disabled>-- Please select definition type --</option>
              <option value="SD">SD</option>
              <option value="HD">HD</option>
            </template>
          </b-form-select>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import ContentMixin from "../mixins/ContentMixin";
    import validToken from "../mixins/validToken";

    export default {
        mixins: [ContentMixin, validToken],
        data() {
            return {
                select_code: '',
                search: '',
                channelStage: null,
                page_of_number: [],
                next: 0,
                previous: 0,
                page: 1,
                page_total: 0,
                page_size: 15,
                channel: {
                    code: '',
                    name: '',
                    bms_code: '',
                    is_catchup: false,
                    languages: '',
                    definition_code: ''
                },
                channels: [],
                selected: {},
                fields: [
                    {key: 'code', sortable: true, sortDirection: 'desc'},
                    {key: 'name', label: 'Name', sortable: true,},
                    {key: 'bms_code', sortable: true,},
                    {key: 'is_catchup', label: 'Catch Up', sortable: true,},
                    {key: 'languages', sortable: true,},
                    {key: 'definition_code', sortable: true,},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        async created() {
            this.loadChannels().then();
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }

        },
        computed: {
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        methods: {
            async loadChannels(params = {}) {
                try {
                    const {data} = await this.$services.channel.getChannel(params);
                    const {results, paginator} = data;
                    this.page = paginator.page;
                    this.next = paginator.next;
                    this.page_size = paginator.page_size;
                    this.previous = paginator.previous;
                    this.page_total = paginator.page_total;
                    this.page_of_number = Array.from({length: paginator.page_total}, (v, k) => k + 1);
                    this.channels = results
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async OnSearch() {
                if (this.search && this.search.length > 0)
                    await this.loadChannels({search: this.search})
                else {
                    this.loadChannels({page: this.page})
                }
            },
            async loadChannel(channel) {
                const {code} = channel;

                const {data} = await this.$services.channel.getByCodeChannel(code);
                if (data) {
                    this.selected = data;
                    this.selected_code = code;
                    this.$bvModal.show('edit-channel')
                }
            },
            async updateCatchup({code, is_catchup}) {
                is_catchup = !is_catchup;
                try {
                    await this.$services.channel.updateChannel(code, {is_catchup});
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            resetModal() {
                this.channel = {
                    code: '',
                    name: '',
                    bms_code: '',
                    is_catchup: false,
                    languages: ['thai'],
                    definition_code: null
                };
                this.channelStage = null
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.channelStage = valid ? 'valid' : 'invalid';
                return valid
            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                this.confirmAdd();
            },
            async confirmEdit(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    const {code, name, bms_code, is_catchup, languages, definition_code} = this.selected;
                    try {
                        await this.$services.channel.updateChannel(this.selected_code, {
                            name,
                            code,
                            bms_code,
                            is_catchup,
                            languages,
                            definition_code
                        });
                        const response = await this.$services.channel.getByCodeChannel(code);
                        const toMapping = (code,item) => channel => code === channel.code ? item : channel;
                        const {data} =  response;
                        this.channels = this.channels.map(toMapping(this.selected_code, data));
                        this.editSuccess();
                        this.$bvModal.hide('edit-channel')
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.editError();
                    }
                } else {
                    this.checkFormValidity();
                    return undefined;
                }
            },
            async confirmAdd(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {code, name, bms_code, is_catchup, languages, definition_code} = this.channel;
                    try {
                        await this.$services.channel.addChannel({
                            code,
                            name,
                            bms_code,
                            is_catchup,
                            languages,
                            definition_code
                        });
                        await this.loadChannels();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    return undefined;
                }
            },
            async deleteChannel(channel) {
                if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
                    const {code} = channel;
                    try {
                        await this.$services.channel.deleteChannel(code);
                        this.channels.splice(this.channels.indexOf(channel), 1)
                        this.deleteSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.deleteError();
                    }
                } else {
                    return undefined;
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
