<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit channel success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add channel success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete channel success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete channel error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-4"
                      label="Code"
                      label-for="code"
                      invalid-feedback="Code is required">
          <multiselect
            v-model="channel"
            tag-placeholder="Add this as new channel"
            placeholder="Select channel"
            label="name" track-by="code"
            @input="fetchByChannel"
            :options="channel_list"
            :limit="200">
          </multiselect>
        </b-form-group>
        <b-form-group class="col-md-4"
                      label="Date"
                      label-for="date"
                      invalid-feedback="Date is required">
          <a-range-picker :defaultValue="[moment(startDate), moment(endDate)]" @change="onChange" format="DD-MM-YYYY"/>
        </b-form-group>
        <b-form-group class="col-md-6">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="fetchEpgs()">
            </b-form-input>
          </b-input-group>
        </b-form-group>
      </b-row>
      <br>
      <b-card>
        <b-table
          responsive
          id="epg-table"
          :items="Array.isArray(items) ? items: []"
          :fields="fields"
          style="text-align: center;">
        </b-table>
      </b-card>
    </div>

  </b-container>
</template>

<script>
    import ContentMixin from "../mixins/ContentMixin";
    import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
    import Multiselect from 'vue-multiselect'
    import moment from 'moment';
    import validToken from "../mixins/validToken";

    export default {
        components: {Datepicker, Multiselect},
        mixins: [ContentMixin, validToken],
        data() {
            return {
                range: {
                    start: new Date(),
                    end: new Date()
                },
                formats: {
                    input: ['L', 'DD/MM/YYYY', 'DD/MM/YYYY'], // Only for `v-date-picker`
                    dayPopover: 'L', // Only for `v-date-picker`
                },
                selected: [],
                items: [],
                search: '',
                channel: {
                    bms_code: "N30",
                    code: "-",
                    definition_code: "HD",
                    is_catchup: false,
                    languages: [],
                    name: "Please select channel."
                },
                channelSelected: '',
                channel_list: [],
                startDate: new Date(),
                endDate: new Date(),
                fields: [
                    {key: 'date_start', label: 'Date', sortable: true, sortDirection: 'desc'},
                    {key: 'time_start', sortable: true, sortDirection: 'desc'},
                    {key: 'time_end', sortable: true, sortDirection: 'desc'},
                    {key: 'duration', sortable: true,},
                    {key: 'episode_id', sortable: true,},
                    {key: 'title_id', sortable: true,},
                    {key: 'title_th', sortable: true,},
                    {key: 'episode_name', sortable: true,},
                    {key: 'channel_name', sortable: true,},
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        async created() {
            await this.fetchChannels();
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
            // await this.fetchEpgs();
        },
        computed: {
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            },
            rows() {
                return this.items.length
            }
        },
        methods: {
            moment,
            async onSearch() {
                this.fetchEpgs()
            },
            async onChange(date, dateString) {
                this.startDate = dateString[0].split('-').reverse().join('');
                this.endDate = dateString[1].split('-').reverse().join('');
                await this.fetchEpgs()
            },
            async fetchChannels(params = {}) {
                try {
                    const {data} = await this.$services.channel.getChannel({page_size: 176});
                    const {results} = data;
                    this.channel_list = results;
                    console.log(this.channel_list)
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async fetchByChannel(channel) {
                if (channel && this.startDate && this.endDate) {
                    this.channelSelected = channel.code;
                } else {
                    this.channelSelected = null;
                }
                this.fetchEpgs()
            },
            convertDateEpg() {
                if (this.startDate instanceof Date && this.endDate instanceof Date) {
                    this.startDate = moment(this.startDate).format('YYYYMMDD');
                    this.endDate = moment(this.startDate).format('YYYYMMDD');
                }
            },
            isDateEpg() {
                if (typeof this.startDate === 'string' && typeof this.endDate === 'string') {

                    return true
                } else if (this.startDate instanceof Date && this.endDate instanceof Date) {
                    this.convertDateEpg();
                    return true
                }
                return false
            },
            async fetchEpgs() {
                let params = this.channelSelected ? {code: this.channelSelected} : {};
                params = this.search ? Object.assign(params, {search: this.search}) : params;

                try {
                    if (Object.keys(params).length > 0 && this.isDateEpg()) {
                        const {data} = await this.$services.epg.getEpg(this.startDate, this.endDate, params);
                        const {results} = data;
                        // this.items = []
                        this.items = results;
                    } else {
                        this.items = []
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style scoped>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }

  input,
  select {
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 100%;
    border: 1px solid #e4e7ea;
    width: 100%;
    border-radius: 0.25rem;
  }

  .ant-calendar-picker-input {
    min-height: 43px;
    display: block;
    padding: 8px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px;
  }

  .ant-calendar-range-picker-input {
    height: 70%;
  }
</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
