<template>
  <b-container>

  <div>
    <h3 class="text-center">Rights Management System - RMS</h3>
  </div>
  </b-container>
</template>

<script>
    import validToken from "../mixins/validToken";

    export default {
        mixins: [validToken],
        data() {
            return {}
        },
        computed: {},
        methods: {},
        created() {
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
        }
    }
</script>

<style>
</style>
