<template>
  <b-container fluid>
    <b-overlay :show="showOverlay" rounded="sm">
      <template v-slot:overlay>
        <b-spinner label="Loading..."></b-spinner>
        {{ message }}
      </template>
      <b-alert
        :show="dismissCountDownEditSuccess"
        dismissible
        fade
        variant="success"
        @dismiss-count-down="countDownChangedEditSuccess">
        Edit account success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
      </b-alert>
      <b-alert
        :show="dismissCountDownAddSuccess"
        dismissible
        fade
        variant="success"
        @dismiss-count-down="countDownChangedAddSuccess">
        Add account success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
      </b-alert>
      <b-alert
        :show="dismissCountDownDeleteSuccess"
        dismissible
        fade
        variant="success"
        @dismiss-count-down="countDownChangedDeleteSuccess">
        Delete account success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
      </b-alert>
      <b-alert
        :show="dismissCountDownDeleteError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedDeleteError">
        Delete account error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
      </b-alert>

      <div>
        <b-row class="justify-content-center">
          <b-form-group class="col-md-8">
            <b-input-group>
              <b-input-group-prepend>
                <b-button variant="primary">
                  <i class="fa fa-search"></i> Search
                </b-button>
              </b-input-group-prepend>
              <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="getdata">
              </b-form-input>
            </b-input-group>
          </b-form-group>
          <b-form-group class="col-md-2">
            <b-button-group>
              <b-button @click="addAccount()" class="float-right mr-2" variant="primary" v-if="accountAllow.isAdd">              
                <i class="fa fa-plus-circle"></i> Add Account
              </b-button>
            </b-button-group>
          </b-form-group>
        </b-row>
        <b-card>
          <div slot="header">
            <strong>Account</strong>
          </div>
          <b-table
            bordered
            :items="Array.isArray(data) ? data: []"
            :fields="fields"
            :filter="search"
            responsive="sm"
            :sort-by.sync="sortBy"
            :busy="isBusy"
            style="text-align: center">
            <template v-slot:cell(actions)="row">
              <b-button @click="loadAccount(row.item)" variant="outline-primary" size="sm" class="mr-1" v-if="accountAllow.isEdit">              
                <i class="fa fa-edit"></i> Edit
              </b-button>
              <b-button @click="remove(row.item)" variant="danger" size="sm" class="mr-1" v-if="accountAllow.isDelete">
                <i class="fa fa-remove"></i> Delete
              </b-button>
            </template>
            <template v-slot:table-busy>
              <div class="text-center text-danger my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>Loading...</strong>
              </div>
            </template>
          </b-table>
          <div class="overflow-auto" style="float: right" v-if="this.data.length">
            <b-pagination
              v-model="pagination.current"
              :total-rows="pagination.count"
              :per-page="pagination.page_size"
              @change="getdata"
              first-text="First"
              prev-text="Prev"
              next-text="Next"
              last-text="Last"
            ></b-pagination>
          </div>
        </b-card>

      </div>

      <!-- Add Account Modal -->
      <b-modal
        no-close-on-backdrop
        id="add-account"
        ref="modal"
        title="Add Account"
        :hide-footer="!accountAllow.isAdd"
        @show="resetModal"
        @hidden="resetModal"
        @ok="confirmAdd"
        size="xl">
        <b-alert
          :show="dismissCountDownAddError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedAddError">
          Add account error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
        </b-alert>
        <form ref="form">
          <b-form-group validated label="Employee Id" label-for="employee_id" invalid-feedback="Employee ID is required" required>
            <b-form-input id="employee_id" v-model="form.employee_id" required></b-form-input>
          </b-form-group>
          <b-form-group validated label="First Name" label-for="first_name" invalid-feedback="First Name is required" required>
            <b-form-input id="first_name" v-model="form.first_name" required></b-form-input>
          </b-form-group>
          <b-form-group validated label="Last Name" label-for="last_name" invalid-feedback="Last Name is required" required>
            <b-form-input id="last_name" v-model="form.last_name" required></b-form-input>
          </b-form-group>
          <b-form-group validated label="Email" label-for="email" invalid-feedback="Email is required" required>
            <b-form-input type="email" id="email" v-model="form.email" required></b-form-input>
          </b-form-group>
        </form>
        <b-table :busy="isBusyPermission" sticky-header :items="p_data" :fields="p_fields" :filter="p_search" responsive="sm" :sort-by.sync="sortBy" style="text-align: center" bordered="bordered">
          <template v-slot:head(selected)="scope" >
            Check All <input type="checkbox" v-model="all" @click="selectall(all)" />
          </template>
          <template v-slot:cell(selected)="row">
            <b-form-group>
              <input type="checkbox" v-model="row.item.selected" @click="selectrow(row)"/>
            </b-form-group>
          </template>
          <template v-slot:[mycell(col)]="data" v-for="col in column">
            <b-form-group>
              <input type="checkbox" v-model="data.item[col]" v-show="data.item['status_' + col]" @click="selectcolumn(data.item[col], data.index, col)" />
            </b-form-group>
          </template>
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
        </b-table>
      </b-modal>

      <!-- Edit Account Modal -->
      
      <b-modal
        no-close-on-backdrop
        id="edit-account"
        ref="modal"
        title="Edit Account"
        :hide-footer="!accountAllow.isEdit"
        @show="resetModal"
        @hidden="resetModal"
        @ok="confirmSave"
        size="xl">
        <form ref="form">
          <b-alert
            :show="dismissCountDownEditError"
            dismissible
            fade
            variant="danger"
            @dismiss-count-down="countDownChangedEditError">
            Edit account error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
          </b-alert>
          <b-form-group validated label="Employee Id" label-for="employee_id" invalid-feedback="Employee ID is required" required>
            <b-form-input id="employee_id" v-model="selected.employee_id" required></b-form-input>
          </b-form-group>
          <b-form-group validated label="First Name" label-for="first_name" invalid-feedback="First Name is required" required>
            <b-form-input id="first_name" v-model="selected.first_name" required></b-form-input>
          </b-form-group>
          <b-form-group validated label="Last Name" label-for="last_name" invalid-feedback="Last Name is required" required>
            <b-form-input id="last_name" v-model="selected.last_name" required></b-form-input>
          </b-form-group>
          <b-form-group validated label="Email" label-for="email" invalid-feedback="Email is required" required>
            <b-form-input id="email" v-model="selected.email" required></b-form-input>
          </b-form-group>
        </form>
        <b-table :busy="isBusyPermission" sticky-header :items="p_data" :fields="p_fields" :filter="p_search" responsive="sm" :sort-by.sync="sortBy" style="text-align: center" bordered="bordered">
          <template v-slot:head(selected)="scope" >
            Check All <input type="checkbox" v-model="all" @click="selectall(all)" />
          </template>
          <template v-slot:cell(selected)="row">
            <b-form-group>
              <input type="checkbox" v-model="row.item.selected" @click="selectrow(row)"/>
            </b-form-group>
          </template>
          <template v-slot:[mycell(col)]="data" v-for="col in column">
            <b-form-group>
              <input type="checkbox" v-model="data.item[col]" v-show="data.item['status_' + col]" @click="selectcolumn(data.item[col], data.index, col)" />
            </b-form-group>
          </template>
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
        </b-table>
      </b-modal>
    </b-overlay>
  </b-container>
</template>

<script>
  import ContentMixin from "@/mixins/ContentMixin";
  import validToken from "@/mixins/validToken";
  import PermissionMixin from "@/mixins/PermissionMixin";
  export default {
    mixins: [ContentMixin, validToken, PermissionMixin],
    data() {
      return {
        sortBy: 'content_no',
        search: '',
        isBusy: true,
        isBusyPermission: true,
        pagination: {},
        form: {
          employee_id: '',
          first_name: '',
          last_name: '',
          email: '',
        },
        page_of_number: [],
        next: 0,
        previous: 0,
        page: 1,
        page_total: 0,
        data: [],
        contentStage: null,
        selected: {},
        fields: [
          {key: 'employee_id', sortable: true, sortDirection: 'desc', thStyle: {width: '10%'}},
          {key: 'first_name', sortable: true, thStyle: {width: '20%'}},
          {key: 'last_name', sortable: true, thStyle: {width: '20%'}},
          {key: 'email', sortable: true, thStyle: {width: '20%'}},
          {key: 'actions', thStyle: {width: '10%'}}
        ],
        dismissSecsEditSuccess: 5,
        dismissCountDownEditSuccess: 0,
        dismissSecsEditError: 5,
        dismissCountDownEditError: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsAddError: 5,
        dismissCountDownAddError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        dismissSecsDeleteError: 5,
        dismissCountDownDeleteError: 0,
        accountAllow: {},
        permission: {
          account_id: '',
          form: []
        },
        p_fields: [],
        p_search: '',
        p_data: [],
        column: [],
        all: false,
        showOverlay: false,
        message: '',
      }
    },
    async created() {
      this.accountAllow = await this.initialPermission('account', 'account')
      if (!this.accountAllow.isView) {
        this.$router.push({name: 'Page403'})
      }
      await this.getdata()
    },
    computed: {
      rows() {
        return this.contents.length
      },
      sortOptions() {
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    methods: {
      async getdata(pageNumber) {
        const ctx = this;
        try {
          let page = Number(pageNumber);
          page = Number.isNaN(page) ? ctx.data.page : page;
          const toNext = data => {
            ctx.SetInitial(data);
          };
          let params = {page}
          let clean = function (key, obj) {
            delete obj[key];
            return obj
          };
          params = ctx.search !== "" && ctx.search !== null ?
            {
              ...params,
              search: ctx.search,
            }
            : clean('search', params);
          if (params.page === 0) {
            params.page = 1
          }
          this.$services.account.read(params)
            .then(toNext)
            .catch(err => err)
        } catch (e) {
        }
      },
      SetInitial({results, current, page_size, count}) {
        this.pagination = {current, page_size, count};
        this.data = results;
        this.isBusy = false
      },

      resetModal() {
        this.form = {
          employee_id: '',
          first_name: '',
          last_name: '',
          email: ''
        };
      },

      handleOk(bvModalEvt) {
        bvModalEvt.preventDefault();
        this.confirmAdd();

      },

      checkFormValidity() {
        const valid = this.$refs.form.checkValidity();
        return valid
      },

      async confirmAdd(bvModalEvt) {
        bvModalEvt.preventDefault()
        let form = []
        let data = this.$data.p_data
        for(var row in data){
          for(var i in this.$data.column){
            if (data[row]['status_' + this.$data.column[i]]) {
              if (data[row][this.$data.column[i]]) {
                var column = ''
                if (this.$data.column[i] == 'detail') {
                  column = 'view_' + this.$data.column[i] + '_' + data[row]['model']
                }else{
                  column = this.$data.column[i] + '_' + data[row]['model']
                }
                
                form.push({'content_type_id': data[row]['content_type_id'], 'codename': this.$data.column[i] + '_' + data[row]['model']})
              }
            }
          }
        }
        this.$data.form['form'] = form
        if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          try {
            this.$data.message = 'Add User'
            this.$data.showOverlay = true
            this.$nextTick(() => {
              this.$refs.modal.hide()
            })
            const {data} = await this.$services.account.add(this.$data.form)
            this.$data.showOverlay = false
            this.addSuccess()
            this.$data.isBusy = true
            this.getdata()
            // const ctx = this
            // setTimeout(function () {
            //   ctx.getdata()
            // }, 5000);

          } catch (e) {
            this.$data.showOverlay = false
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.addError();
          }
        } else {
          this.checkFormValidity();
          this.$nextTick(() => {
            this.$refs.modal.show()
          })
        }
      },

      async loadAccount(row) {
        try {
          if (row) {
            this.$data.isBusyPermission = true
            this.$data.p_data = []
            this.$data.p_fields = []
            this.$data.column = []
            this.selected = row;
            this.$bvModal.show('edit-account')
            this.findpermission(row.id)
          }
        } catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
        }
      },

      async addAccount() {
        try {
          this.$bvModal.show('add-account')
          this.$data.isBusyPermission = true
          this.$data.p_data = []
          this.$data.p_fields = []
          this.$data.column = []          
          this.getpermission()
        } catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
        }
      },

      async confirmSave(bvModalEvt) {
        bvModalEvt.preventDefault();
        let form = []
        let data = this.$data.p_data

        for(var row in data){
          for(var i in this.$data.column){
            if (data[row]['status_' + this.$data.column[i]]) {
              if (data[row][this.$data.column[i]]) {
                var column = ''
                if (this.$data.column[i] == 'detail') {
                  column = 'view_' + this.$data.column[i] + '_' + data[row]['model']
                }else{
                  column = this.$data.column[i] + '_' + data[row]['model']
                }

                form.push({'content_type_id': data[row]['content_type_id'], 'codename': column})
              }
            }
          }
        }
        this.$data.selected['form'] = form
        if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          try {
            this.$nextTick(() => {
              this.$refs.modal.hide()
            })
            this.$data.showOverlay = true
            this.$data.message = 'Update User'
            const {data} = await this.$services.account.update(this.$data.selected, this.$data.selected.id)
            this.$data.showOverlay = false
            this.getdata()

            this.selected = {};
            this.editSuccess();
          } catch (e) {
            this.$data.showOverlay = false
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.editError();
          }
        } else {
          this.$bvModal.show('edit-account')
        }
      },
      async remove(row) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          try {
            await this.$services.account.remove(row.id);
            await this.getdata();
            this.deleteSuccess();
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.deleteError();
          }
        } else {
          this.$bvModal.hide()
        }
      },

      async getpermission() {
        const ctx = this;        
        ctx.$services.account.readpermission()
          .then(function (data) {
            ctx.$data.column = data['column']
            ctx.$data.p_data = data['data']
            ctx.$data.p_fields = [
              {key: 'selected', thStyle: {width: '10%'}},
              {key: 'app_label', sortable: true, sortDirection: 'desc', thStyle: {width: '10%'}},
              {key: 'model', sortable: true, thStyle: {width: '10%'}},
            ]

            for (var i in ctx.$data.column) {
              ctx.$data.p_fields.push({key: ctx.$data.column[i], thStyle: {width: '10%'}})
            }
            ctx.checkall()
            ctx.$data.isBusyPermission = false
          })
      },

      async findpermission(account_id) {        
        const ctx = this        
        ctx.$services.account.findPermission(account_id)
          .then(function (data) {
            ctx.$data.p_data = data
            ctx.$data.column = data['column']
            ctx.$data.p_data = data['data']
            ctx.$data.p_fields = [
              {key: 'selected', thStyle: {width: '10%'}},
              {key: 'app_label', sortable: true, sortDirection: 'desc', thStyle: {width: '10%'}},
              {key: 'model', sortable: true, thStyle: {width: '10%'}},
            ]

            for (var i in ctx.$data.column) {
              ctx.$data.p_fields.push({key: ctx.$data.column[i], thStyle: {width: '10%'}})
            }
            ctx.checkall()
            ctx.$data.isBusyPermission = false
          })
      },

      mycell(key) {
        return `cell(${key})`
      },

      selectall(value) {
        for(var row in this.$data.p_data){
          for (var i in this.$data.column) {
            if (this.$data.p_data[row]['status_' + this.$data.column[i]]) {
              if (value == false) {
                this.$data.p_data[row][this.$data.column[i]] = true
                this.$data.p_data[row]['selected'] = true
              }else{
                this.$data.p_data[row][this.$data.column[i]] = false
                this.$data.p_data[row]['selected'] = false
              }
            }
          }
        }
      },

      selectrow(row) {
        for (var i in this.$data.column) {
          if (this.$data.p_data[row.index]['status_' + this.$data.column[i]]) {
            if (row.value == false) {
              this.$data.p_data[row.index][this.$data.column[i]] = true
            }else{
              this.$data.p_data[row.index][this.$data.column[i]] = false
            }
          }
        }

        this.checkall()
      },

      selectcolumn(row, index, column) {
        let checkbox = 0
        let model = 0
        if(this.$data.p_data[index][column] == false){
          this.$data.p_data[index][column] = true
        }else{
          this.$data.p_data[index][column] = false
        }

        for (var i in this.$data.column){
          if (this.$data.p_data[index]['status_' + this.$data.column[i]]) {
            checkbox += 1
            if (this.$data.p_data[index][this.$data.column[i]] == true) {
              model += 1
            }
          }
        }

        if (checkbox == model) {
          this.$data.p_data[index]['selected'] = true
        }else{
          this.$data.p_data[index]['selected'] = false
        }
        this.checkall()
      },

      checkall() {
        for(var row in this.$data.p_data){
          for (var i in this.$data.column) {
            if (this.$data.p_data[row]['status_' + this.$data.column[i]]) {
              if (this.$data.p_data[row][this.$data.column[i]] == false) {
                this.$data.all = false
                return false
              }
            }
          }
        }

        this.$data.all = true
      },

      editSuccess() {
        this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
      },
      editError() {
        this.dismissCountDownEditError = this.dismissSecsEditError
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      addError() {
        this.dismissCountDownAddError = this.dismissSecsAddError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      deleteError() {
        this.dismissCountDownDeleteError = this.dismissSecsDeleteError
      },
      countDownChangedEditSuccess(dismissCountDownEditSuccess) {
        this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
      },
      countDownChangedEditError(dismissCountDownEditError) {
        this.dismissCountDownEditError = dismissCountDownEditError
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedAddError(dismissCountDownAddError) {
        this.dismissCountDownAddError = dismissCountDownAddError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
      countDownChangedDeleteError(dismissCountDownDeleteError) {
        this.dismissCountDownDeleteError = dismissCountDownDeleteError
      },
    }
  }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
