<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit content success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add content success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete content success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete content error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="OnSearch()">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button v-b-modal.add-user class="float-right mr-2" variant="primary">
              <i class="fa fa-plus-circle"></i> Add User</b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>User</strong>
        </div>
        <b-table
          :items="Array.isArray(users) ? users: []"
          :fields="fields"
          responsive="sm"
          :sort-by.sync="sortBy"
          style="text-align: center"
          id="content-table">
          <template slot="actions" slot-scope="row">
            <b-button @click="loadUser(row.item)" variant="outline-primary" size="sm" class="mr-1">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="deleteContent(row.item)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" :class="previous ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadContents({page: previous, search})">Previous</a>
            </li>
            <li v-for="(page_number, index) in page_of_number" :key="index" class="page-item" :class="page_number === page ? 'active': '' "
                v-if="Math.abs(page_number - page) < 3 || page_number === page_of_number - 1 || page_number === 0">
              <a class="page-link pageNum" href="#" @click="loadContents({page: page_number, search})"
              >{{page_number}}</a></li>
            <li class="page-item" :class="next ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadContents({page: next, search})">Next</a>
            </li>
          </ul>
        </nav>
      </b-card>

    </div>

    <!-- Add User Modal -->
    <b-modal
      id="add-user"
      ref="modal"
      title="Add User"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add content error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>
      <form ref="form">
        <b-form-group
          validated
          label="Email"
          label-for="email"
          invalid-feedback="Email is required"
          required>
          <b-form-input
            id="email"
            type="email"
            v-model="user.email"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Employee ID"
          label-for="employee_id"
          invalid-feedback="Employee ID is required"
          required>
          <b-form-input
            id="employee_id"
            v-model="user.employee_id"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="First Name"
          label-for="first_name"
          invalid-feedback="First Name is required"
          required>
          <b-form-input
            id="first_name"
            v-model="user.first_name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Last Name"
          label-for="last_name"
          invalid-feedback="Last Name is required"
          required>
          <b-form-input
            id="last_name"
            v-model="user.last_name"
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <!-- Edit User Modal -->
    <b-modal
      id="edit-user"
      ref="modal"
      title="Edit User"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add content error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>
      <form ref="form">
        <b-form-group
          validated
          label="Id"
          label-for="id"
          invalid-feedback="Id is required"
          required>
          <b-form-input
            id="id"
            type="id"
            v-model="selected.id"
            disabled
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Email"
          label-for="email"
          invalid-feedback="Email is required"
          required>
          <b-form-input
            id="email"
            type="email"
            v-model="selected.email"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Employee ID"
          label-for="employee_id"
          invalid-feedback="Employee ID is required"
          required>
          <b-form-input
            id="employee_id"
            v-model="selected.employee_id"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="First Name"
          label-for="first_name"
          invalid-feedback="First Name is required"
          required>
          <b-form-input
            id="first_name"
            v-model="selected.first_name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Last Name"
          label-for="last_name"
          invalid-feedback="Last Name is required"
          required>
          <b-form-input
            id="last_name"
            v-model="selected.last_name"
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import ContentMixin from "@/mixins/ContentMixin";

    export default {
        mixins: [ContentMixin],
        data() {
            return {
                sortBy: 'content_no',
                search: '',
                user: {
                    id: '',
                    email: '',
                    employee_id: '',
                    first_name: '',
                    last_name: '',
                },
                page_of_number: [],
                next: 0,
                previous: 0,
                page: 1,
                page_total: 0,
                users: [
                    {id: 'test01', email: 'test@truedigital.com',employee_id: 'E123456', first_name: 'test', last_name: 'testtest'}
                ],
                contentStage: null,
                selected: {},
                fields: [
                    {key: 'id', sortable: true, sortDirection: 'desc'},
                    {key: 'email'},
                    {key: 'employee_id', sortable: true,},
                    {key: 'first_name', sortable: true,},
                    {key: 'last_name', sortable: true,},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        async created() {
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
            await this.loadContents()
        },
        computed: {
            rows() {
                return this.contents.length
            },
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        methods: {
            async loadContents(params = {}) {
                try {
                    const {data} = await this.$services.program.getAllContent(params);
                    const {results, next, page, previous, page_total} = data;
                    this.page = page;
                    this.next = next;
                    this.previous = previous;
                    this.page_total = page_total;
                    this.page_of_number = Array.from({length: page_total}, (v, k) => k + 1);
                    this.contents = results
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },

            async OnSearch() {
                if (this.search && this.search.length > 0)
                    await this.loadContents({page: this.page, search: this.search})
                else {
                    this.loadContents({page: this.page})
                }
            },
            async loadUser(user) {
                try {
                    if (user) {
                        this.selected = user;
                        this.$bvModal.show('edit-user')
                    }
                }catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.contentStage = valid ? 'valid' : 'invalid';
                return valid
            },
            resetModal() {
                this.user = {
                    email: '',
                    employee_id: '',
                    first_name: '',
                    last_name: '',
                };

            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                this.confirmAdd();
            },
            async confirmSave(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    const {content_id, name_en, name_th, synopsis_en, synopsis_th, duration, content_no} = this.selected;
                    try {
                        await this.$services.program.updateContent(content_id, this.selected);
                        await this.loadContents();
                        this.selected = {};
                        this.editSuccess();
                        this.$bvModal.hide('edit-content')
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.editError();
                    }
                } else {
                    this.checkFormValidity();
                }
            },
            async confirmAdd(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {name_th, name_en, synopsis_en, synopsis_th, duration, content_no} = this.content;
                    try {
                        await this.$services.program.addContent({
                            name_en,
                            name_th,
                            synopsis_en,
                            synopsis_th,
                            duration,
                            content_no
                        });
                        await this.loadContents();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    this.checkFormValidity();
                    this.$nextTick(() => {
                        this.$refs.modal.hide()
                    })
                }
            },
            async deleteContent(content) {
                if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
                    const {content_id} = content;
                    try {
                        await this.$services.program.removeContent(content_id);
                        await this.loadContents();
                        this.deleteSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.deleteError();
                    }
                } else {
                    this.$bvModal.hide('edit-content')
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
