<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit cost success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add cost success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete cost success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete cost error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="getdata">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button v-b-modal.add-cost class="float-right mr-2" variant="primary" v-if="costAllow.isAdd">            
              <i class="fa fa-plus-circle"></i> Add Cost
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>Cost</strong>
        </div>
        <b-table
          bordered
          :items="Array.isArray(data) ? data: []"
          :fields="fields"
          :filter="search"
          responsive="sm"
          :sort-by.sync="sortBy"
          :busy="isBusy"
          style="text-align: center">
          <template v-slot:cell(actions)="row">
            <b-button @click="loadCost(row.item)" variant="outline-primary" size="sm" class="mr-1" v-if="costAllow.isDetail">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="remove(row.item)" variant="danger" size="sm" class="mr-1" v-if="costAllow.isDelete">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
        </b-table>
        <div class="overflow-auto" style="float: right" v-if="this.data.length">
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="getdata"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
      </b-card>

    </div>

    <!-- Add Cost Modal -->    
    <b-modal
      no-close-on-backdrop
      id="add-cost"
      ref="modal"
      title="Add Cost"
      :hide-footer="!costAllow.isAdd"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add cost error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>
      <form ref="form">
        <b-form-group
          validated
          label="Name"
          label-for="name"
          invalid-feedback="Name is required"
          required>
          <b-form-input
            id="name"
            v-model="form.name"
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <!-- Edit Cost Modal -->
    
    <b-modal
      no-close-on-backdrop
      id="edit-cost"
      ref="modal"
      title="Edit Cost"
      :hide-footer="!costAllow.isEdit"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmSave">
      <form ref="form">
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit cost error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          label="Cost Id"
          label-for="cost_id"
          invalid-feedback="Cost Id is required">
          <b-form-input
            id="cost_id"
            v-model="selected.id"
            disabled
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Name"
          label-for="name"
          invalid-feedback="Name is required">
          <b-form-input
            id="name"
            v-model="selected.name"
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
  import ContentMixin from "../../mixins/ContentMixin";
  import validToken from "../../mixins/validToken";
  import PermissionMixin from "../../mixins/PermissionMixin";
  export default {
    mixins: [ContentMixin, validToken, PermissionMixin],
    data() {
      return {
        sortBy: 'content_no',
        search: '',
        isBusy: true,
        pagination: {},
        form: {
          name: '',
        },
        page_of_number: [],
        next: 0,
        previous: 0,
        page: 1,
        page_total: 0,
        data: [],
        contentStage: null,
        selected: {},
        fields: [
          {key: 'id', sortable: true, sortDirection: 'desc', thStyle: {width: '10%'}},
          {key: 'name', sortable: true, thStyle: {width: '30%'}},
          {key: 'datetime_created', sortable: true, thStyle: {width: '20%'}},
          {key: 'create_by', sortable: true, thStyle: {width: '20%'}},
          {key: 'actions', thStyle: {width: '20%'}}
        ],
        dismissSecsEditSuccess: 5,
        dismissCountDownEditSuccess: 0,
        dismissSecsEditError: 5,
        dismissCountDownEditError: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsAddError: 5,
        dismissCountDownAddError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        dismissSecsDeleteError: 5,
        dismissCountDownDeleteError: 0,
        costAllow: {},
      }
    },
    async created() {
      this.costAllow = await this.initialPermission('cost', 'cost')
      if (!this.costAllow.isView) {
        this.$router.push({name: 'Page403'})
      }
      await this.getdata();      
    },
    computed: {
      rows() {
        return this.contents.length
      },
      sortOptions() {
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    methods: {
      async getdata(pageNumber) {
        const ctx = this;
        try {
          let page = Number(pageNumber);
          page = Number.isNaN(page) ? ctx.data.page : page;
          const toNext = data => {
            ctx.SetInitial(data);
          };
          let params = {page}
          let clean = function (key, obj) {
            delete obj[key];
            return obj
          };
          params = ctx.search !== "" && ctx.search !== null ?
            {
              ...params,
              search: ctx.search,
            }
            : clean('search', params);
          if (params.page === 0) {
            params.page = 1
          }
          this.$services.cost.read(params)
            .then(toNext)
            .catch(err => err)
        } catch (e) {
        }
      },
      SetInitial({results, current, page_size, count}) {
        this.pagination = {current, page_size, count};
        this.data = results;
        this.isBusy = false
      },

      resetModal() {
        this.form = {          
          name: '',          
        };
      },

      handleOk(bvModalEvt) {
        bvModalEvt.preventDefault();
        this.confirmAdd();

      },

      checkFormValidity() {
        const valid = this.$refs.form.checkValidity();
        return valid
      },

      async confirmAdd(bvModalEvt) {
        bvModalEvt.preventDefault()
        if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          try {
            const {data} = await this.$services.cost.add(this.$data.form)
            this.addSuccess()            
            this.$data.isBusy = true
            const ctx = this
            setTimeout(function () {
              ctx.getdata()
            }, 5000);
            this.$nextTick(() => {
              this.$refs.modal.hide()
            })
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.addError();
          }
        } else {
          this.checkFormValidity();
          this.$nextTick(() => {
            this.$refs.modal.show()
          })
        }
      },

      read() {
        this.getdata()
      },

      async loadCost(row) {
        try {
          if (row) {
            this.selected = row;
            this.$bvModal.show('edit-cost')
          }
        } catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
        }
      },

      async confirmSave(bvModalEvt) {
        bvModalEvt.preventDefault();
        if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          try {
            const {data} = await this.$services.cost.update(this.$data.selected, this.$data.selected.id)
            this.getdata()
            this.$nextTick(() => {
              this.$refs.modal.hide()
            })
            this.selected = {};
            this.editSuccess();
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.editError();
          }
        } else {
          this.$bvModal.show('edit-cost')
        }
      },
      async remove(row) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          try {
            await this.$services.cost.remove(row.id);
            await this.getdata();
            this.deleteSuccess();
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.deleteError();
          }
        } else {
          this.$bvModal.hide()
        }
      },
      editSuccess() {
        this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
      },
      editError() {
        this.dismissCountDownEditError = this.dismissSecsEditError
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      addError() {
        this.dismissCountDownAddError = this.dismissSecsAddError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      deleteError() {
        this.dismissCountDownDeleteError = this.dismissSecsDeleteError
      },
      countDownChangedEditSuccess(dismissCountDownEditSuccess) {
        this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
      },
      countDownChangedEditError(dismissCountDownEditError) {
        this.dismissCountDownEditError = dismissCountDownEditError
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedAddError(dismissCountDownAddError) {
        this.dismissCountDownAddError = dismissCountDownAddError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
      countDownChangedDeleteError(dismissCountDownDeleteError) {
        this.dismissCountDownDeleteError = dismissCountDownDeleteError
      },
    }
  }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
