<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit language success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add language success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete language success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete language error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="getdata">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button v-b-modal.add-language class="float-right mr-2" variant="primary" v-if="languageAllow.isAdd">
              <i class="fa fa-plus-circle"></i> Add Language
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>Language</strong>
        </div>
        <b-table
          bordered
          :items="Array.isArray(data) ? data: []"
          :fields="fields"
          :filter="search"
          responsive="sm"
          :sort-by.sync="sortBy"
          :busy="isBusy"
          style="text-align: center">
          <template v-slot:cell(actions)="row">
            <b-button @click="loadLanguage(row.item)" variant="outline-primary" size="sm" class="mr-1"
                      v-if="languageAllow.isDetail">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="remove(row.item)" variant="danger" size="sm" class="mr-1" v-if="languageAllow.isDelete">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
        </b-table>
        <div class="overflow-auto" style="float: right" v-if="this.data.length">
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="getdata"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
      </b-card>

    </div>

    <!-- Add People Modal -->
    <b-modal
      no-close-on-backdrop
      id="add-language"
      ref="modal"
      title="Add Language"
      :hide-footer="!languageAllow.isAdd"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add language error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>
      <form ref="form">
        <b-form-group
          validated
          label="Code"
          label-for="code"
          invalid-feedback="Code is required"
          required>
          <b-form-input
            id="code"
            v-model="form.code"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Name"
          label-for="name"
          invalid-feedback="Name is required"
          required>
          <b-form-input
            id="name"
            v-model="form.name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Alpha2"
          label-for="alpha2">
          <b-form-input
            id="alpha2"
            v-model="form.alpha2">
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <!-- Edit People Modal -->
    <b-modal
      no-close-on-backdrop
      id="edit-language"
      ref="modal"
      title="Edit Language"
      :hide-footer="!languageAllow.isEdit"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmSave">
      <form ref="form">
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit language error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          label="Code"
          label-for="code">
          <b-form-input
            id="code"
            v-model="selected.code"
            disabled
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Name"
          label-for="name"
          invalid-feedback="Name is required">
          <b-form-input
            id="name"
            v-model="selected.name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group validated label="Alpha2" label-for="alpha2">
          <b-form-input id="alpha2" v-model="selected.alpha2"></b-form-input>
        </b-form-group>
        <b-form-group validated label="is localize" label-for="is_localize" invalid-feedback="is localize is required">
          <b-form-select v-model="selected.is_localize" :options="options" size="sm" class="mt-3"
                         required></b-form-select>
        </b-form-group>
        <b-form-group validated label="is aka" label-for="is_aka" invalid-feedback="is aka is required">
          <b-form-select v-model="selected.is_aka" :options="options" size="sm" class="mt-3" required></b-form-select>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
import ContentMixin from "../../mixins/ContentMixin";
import validToken from "../../mixins/validToken";
import PermissionMixin from "../../mixins/PermissionMixin";

export default {
  mixins: [ContentMixin, validToken, PermissionMixin],
  data() {
    return {
      sortBy: 'content_no',
      search: '',
      isBusy: true,
      form: {
        code: '',
        name: '',
        alpha2: '',
      },
      page_of_number: [],
      next: 0,
      previous: 0,
      page: 1,
      page_total: 0,
      pagination: {},
      data: [],
      options: [{'value': 'Y', 'text': 'true'}, {'value': 'N', 'text': 'false'}],
      contentStage: null,
      selected: {},
      fields: [
        {key: 'code', sortable: true, sortDirection: 'desc', thStyle: {width: '5%'}},
        {key: 'name', sortable: true, thStyle: {width: '20%'}},
        {key: 'alpha2', sortable: true, thStyle: {width: '20%'}},
        {key: 'datetime_created', sortable: true, thStyle: {width: '15%'}},
        {key: 'datetime_updated', sortable: true, thStyle: {width: '15%'}},
        {key: '_is_localize', sortable: true, label: 'is localize', thStyle: {width: '5%'}},
        {key: '_is_aka', sortable: true, label: 'is aka', thStyle: {width: '5%'}},
        {key: 'actions', thStyle: {width: '15%'}}
      ],
      dismissSecsEditSuccess: 5,
      dismissCountDownEditSuccess: 0,
      dismissSecsEditError: 5,
      dismissCountDownEditError: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsAddError: 5,
      dismissCountDownAddError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsDeleteError: 5,
      dismissCountDownDeleteError: 0,
      languageAllow: {},
    }
  },
  async created() {
    this.languageAllow = await this.initialPermission('language', 'language')
    if (!this.languageAllow.isView) {
      this.$router.push({name: 'Page403'})
    }
    await this.getdata();
  },
  computed: {
    rows() {
      return this.contents.length
    },
    sortOptions() {
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return {text: f.label, value: f.key}
        })
    }
  },
  methods: {
    async getdata(pageNumber) {
      const ctx = this;
      try {
        let page = Number(pageNumber);
        page = Number.isNaN(page) ? ctx.data.page : page;
        const toNext = data => {
          ctx.SetInitial(data);
        };
        let params = {page}
        let clean = function (key, obj) {
          delete obj[key];
          return obj
        };
        params = ctx.search !== "" && ctx.search !== null ?
          {
            ...params,
            search: ctx.search,
          }
          : clean('search', params);
        if (params.page === 0) {
          params.page = 1
        }
        this.$services.language.read(params)
          .then(toNext)
          .catch(err => err)
      } catch (e) {
        console.log(e)
      }
    },

    SetInitial({results, current, page_size, count}) {
      this.pagination = {current, page_size, count};
      this.data = results;
      this.isBusy = false
    },

    resetModal() {
      this.form = {
        code: '',
        name: '',
        alpha2: '',
      };
    },

    handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.confirmAdd();

    },

    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return valid
    },

    async confirmAdd(bvModalEvt) {
      bvModalEvt.preventDefault()
      if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
        try {
          const {data} = await this.$services.language.add(this.$data.form)
          this.addSuccess()
          this.getdata()
          this.$nextTick(() => {
            this.$refs.modal.hide()
          })
        } catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
          this.addError();
        }
      } else {
        this.checkFormValidity();
        this.$nextTick(() => {
          this.$refs.modal.show()
        })
      }
    },

    async loadLanguage(row) {
      try {
        if (row) {
          this.selected = row;
          this.$data.selected['account_updated'] = localStorage['id']
          this.$bvModal.show('edit-language')
        }
      } catch (e) {
        if (e.request.status === 404) {
          await this.$bvModal.msgBoxOk('Not Found (404)');
        }
        if (e.request.status === 500) {
          await this.$bvModal.msgBoxOk('Server Error (500)');
        }
      }
    },

    async confirmSave(bvModalEvt) {
      bvModalEvt.preventDefault();
      if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
        try {
          const {data} = await this.$services.language.update(this.$data.selected, this.$data.selected.code)
          this.getdata()
          this.$nextTick(() => {
            this.$refs.modal.hide()
          })
          this.selected = {};
          this.editSuccess();
        } catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
          this.editError();
        }
      } else {
        this.$bvModal.show('edit-language')
      }
    },
    async remove(row) {
      if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
        try {
          await this.$services.language.remove(row.code);
          await this.getdata();
          this.deleteSuccess();
        } catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
          this.deleteError();
        }
      } else {
        this.$bvModal.hide()
      }
    },
    editSuccess() {
      this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
    },
    editError() {
      this.dismissCountDownEditError = this.dismissSecsEditError
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
    },
    addError() {
      this.dismissCountDownAddError = this.dismissSecsAddError
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
    },
    deleteError() {
      this.dismissCountDownDeleteError = this.dismissSecsDeleteError
    },
    countDownChangedEditSuccess(dismissCountDownEditSuccess) {
      this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
    },
    countDownChangedEditError(dismissCountDownEditError) {
      this.dismissCountDownEditError = dismissCountDownEditError
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
    },
    countDownChangedAddError(dismissCountDownAddError) {
      this.dismissCountDownAddError = dismissCountDownAddError
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
    },
    countDownChangedDeleteError(dismissCountDownDeleteError) {
      this.dismissCountDownDeleteError = dismissCountDownDeleteError
    },
  }
}
</script>

<style>
ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 5px 5px;
}
</style>
