<template>
  <b-container fluid>
    <b-alert :show="dismissCountDownAddSuccess" dismissible fade variant="success" @dismiss-count-down="countDownChangedAddSuccess">
      Add Publish success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert :show="dismissCountDownAddError" dismissible fade variant="danger" @dismiss-count-down="countDownChangedAddError">
      Add Publish error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
    </b-alert>
    <b-alert :show="dismissCountDownEditSuccess" dismissible fade variant="success" @dismiss-count-down="countDownChangedEditSuccess">
      Edit Publish success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert :show="dismissCountDownEditError" dismissible fade variant="danger" @dismiss-count-down="countDownChangedEditError">
      Edit Publish error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
    </b-alert>
    <b-row class="text-center">
      <b-col cols="1" v-if="publishZoneCreateAllow.isAdd">            
        <a @click="Create">
          <i class="fa fa-save fa-lg mt-4"></i><br>Save
        </a>
      </b-col>
      <b-col cols="1">
        <a @click="cancel">
          <i class="fa fa-remove fa-lg mt-4"></i><br>Cancel
        </a>
      </b-col>
      <b-col cols="1">
        <a @click="backPage()">
          <i class="fa fa-mail-reply fa-lg mt-4"></i><br>Back
        </a>
      </b-col>
    </b-row>
    <b-row sm="12" class="mt-3">
      <form ref="form_main" class="col-12">
        <b-form-group validated label="Publish Zone DESCRIPTION" label-for="desc" invalid-feedback="Publish Zone DESCRIPTION is required" required>
          <b-form-input id="desc" v-model="form.desc" required></b-form-input>
        </b-form-group>
      </form>
    </b-row>
    <b-row sm="12">
      <b-card class="col-5 p-0 m-2">
        <div slot="header">
          <strong>
            Sub-Title Language
          </strong>
        </div>
        <b-form>
          <b-form-group>
            <b-form-checkbox-group v-model="form_sub" :options="opt_sub"></b-form-checkbox-group>
          </b-form-group>
        </b-form>
      </b-card>
      <b-card class="col-5 p-0 m-2">
        <div slot="header">
          <strong>
            Audio - Language
          </strong>
        </div>
        <b-form>
          <b-form-group>
            <b-form-checkbox-group v-model="form_audio" :options="opt_audio"></b-form-checkbox-group>
          </b-form-group>
        </b-form>
      </b-card>
    </b-row>
    <b-card>
      <b-tabs>
        <b-tab title="Video">
          <b-row class="justify-content-center">
            <b-form-group class="col-md-10">
              <b-input-group>
                <b-input-group-prepend><b-button variant="primary"><i class="fa fa-search"></i> Search</b-button></b-input-group-prepend><b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="v_search"></b-form-input>
              </b-input-group>
            </b-form-group>
            <b-form-group class="col-md-2">
              <b-button-group><b-button v-b-modal.add-video class="float-right mr-2" variant="primary"><i class="fa fa-plus-circle"></i> Add Video</b-button></b-button-group>
            </b-form-group>
          </b-row>
          <b-table sticky-header v-bind:items.sync="form.video_list" :fields="v_fields" :filter="v_search" responsive="sm" :sort-by.sync="sortBy" style="text-align: center" bordered="bordered">
            <template v-slot:cell(actions)="row">
              <b-button @click="loadVideo(row)" variant="outline-primary" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit
              </b-button>
              <b-button @click="removevideo(row)" variant="danger" size="sm" class="mr-1">
                <i class="fa fa-remove"></i> Delete
              </b-button>
            </template>
          </b-table>
        </b-tab>
        <b-tab title="Country">
          <b-row class="justify-content-center">
            <b-form-group class="col-md-10">
              <b-input-group>
                <b-input-group-prepend><b-button variant="primary"><i class="fa fa-search"></i> Search</b-button></b-input-group-prepend><b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="c_search"></b-form-input>
              </b-input-group>
            </b-form-group>
            <b-form-group class="col-md-2">
              <b-button-group><b-button v-b-modal.add-country class="float-right mr-2" variant="primary"><i class="fa fa-plus-circle"></i> Add Country</b-button></b-button-group>
            </b-form-group>
          </b-row>
          <b-table sticky-header v-bind:items.sync="form.country_list" :fields="c_fields" :filter="c_search" responsive="sm" :sort-by.sync="sortBy" style="text-align: center" bordered="bordered">
            <template v-slot:cell(actions)="row">
              <b-button @click="loadCountry(row)" variant="outline-primary" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit
              </b-button>
              <b-button @click="removeCountry(row)" variant="danger" size="sm" class="mr-1">
                <i class="fa fa-remove"></i> Delete
              </b-button>
            </template>
          </b-table>
        </b-tab>
        <b-tab title="Directory">
          <b-row class="justify-content-center">
            <b-form-group class="col-md-10">
              <b-input-group>
                <b-input-group-prepend><b-button variant="primary"><i class="fa fa-search"></i> Search</b-button></b-input-group-prepend><b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="d_search"></b-form-input>
              </b-input-group>
            </b-form-group>
            <b-form-group class="col-md-2">
              <b-button-group><b-button v-b-modal.add-directory class="float-right mr-2" variant="primary"><i class="fa fa-plus-circle"></i> Add Directory</b-button></b-button-group>
            </b-form-group>
          </b-row>
          <b-table sticky-header v-bind:items.sync="form.directory_list" :fields="d_fields" :filter="d_search" responsive="sm" :sort-by.sync="sortBy" style="text-align: center" bordered="bordered">
            <template v-slot:cell(actions)="row">
              <b-button @click="loaddirectory(row)" variant="outline-primary" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit
              </b-button>
              <b-button @click="removedirectory(row)" variant="danger" size="sm" class="mr-1">
                <i class="fa fa-remove"></i> Delete
              </b-button>
            </template>
          </b-table>
        </b-tab>
      </b-tabs>
    </b-card>

    <b-modal no-close-on-backdrop id="add-video" ref="modal" title="Add Video" @show="resetvideo" @hidden="resetvideo" @ok="addvideo">
      <form ref="form">
        <b-form-group validated label="Codec" label-for="codec" invalid-feedback="codec is required" required>
          <b-form-input id="codec" v-model="form_video.codec" required></b-form-input>
        </b-form-group>
        <b-form-group validated label="Resolution" label-for="resolution" invalid-feedback="Resolution is required" required>
          <b-form-input id="resolution" v-model="form_video.resolution" required></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <b-modal no-close-on-backdrop id="edit-video" ref="modal" title="Edit Video" @show="resetvideo" @hidden="resetvideo" @ok="updatevideo">
      <form ref="form">
        <b-form-group validated label="Codec" label-for="codec" invalid-feedback="Code is required" required>
          <b-form-input id="codec" v-model="edit_video.codec" required></b-form-input>
        </b-form-group>
        <b-form-group validated label="Resolution" label-for="resolution" invalid-feedback="Resolution is required" required>
          <b-form-input id="resolution" v-model="edit_video.resolution" required></b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal no-close-on-backdrop id="add-country" ref="modal" title="Add Country" @show="resetcountry" @hidden="resetcountry" @ok="addcountry">
      <form ref="form">
        <b-form-group validated label="Country" label-for="country" invalid-feedback="Country is required" required>
          <b-form-select v-model="form_country.country" :options="opt_country" size="sm" class="mt-3" required></b-form-select>
        </b-form-group>
      </form>      
    </b-modal>

    <b-modal no-close-on-backdrop id="edit-country" ref="modal" title="Edit Country" @show="resetcountry" @hidden="resetcountry" @ok="updatecountry">
      <form ref="form">
        <b-form-group validated label="Country" label-for="country" invalid-feedback="Country is required" required>
          <b-form-select v-model="edit_country.country" :options="opt_country" size="sm" class="mt-3" required></b-form-select>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal no-close-on-backdrop id="add-directory" ref="modal" title="Add Directory" @show="resetdirectory" @hidden="resetdirectory" @ok="adddirectory">
      <form ref="form">
        <b-form-group validated label="Remote IP" label-for="remote_ip" invalid-feedback="Remote IP is required" required>
          <b-form-input id="remote_ip" v-model="form_directory.remote_ip" required></b-form-input>
        </b-form-group>
        <b-form-group validated label="Username" label-for="username" invalid-feedback="Username is required" required>
          <b-form-input id="username" v-model="form_directory.username" required></b-form-input>
        </b-form-group>
        <b-form-group validated label="Password" label-for="password" invalid-feedback="Password is required" required>
          <b-form-input id="password" v-model="form_directory.password" required></b-form-input>
        </b-form-group>
        <b-form-group validated label="Directory" label-for="directory" invalid-feedback="Directory is required" required>
          <b-form-input id="directory" v-model="form_directory.directory" required></b-form-input>
        </b-form-group>
      </form>      
    </b-modal>

    <b-modal no-close-on-backdrop id="edit-directory" ref="modal" title="Edit Country" @show="resetdirectory" @hidden="resetdirectory" @ok="updatedirectory">
      <form ref="form">
        <b-form-group validated label="Remote IP" label-for="remote_ip" invalid-feedback="Remote IP is required" required>
          <b-form-input id="remote_ip" v-model="edit_directory.remote_ip" required></b-form-input>
        </b-form-group>
        <b-form-group validated label="Username" label-for="username" invalid-feedback="Username is required" required>
          <b-form-input id="username" v-model="edit_directory.username" required></b-form-input>
        </b-form-group>
        <b-form-group validated label="Password" label-for="password" invalid-feedback="Password is required" required>
          <b-form-input id="password" v-model="edit_directory.password" required></b-form-input>
        </b-form-group>
        <b-form-group validated label="Directory" label-for="directory" invalid-feedback="Directory is required" required>
          <b-form-input id="directory" v-model="edit_directory.directory" required></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
  import PermissionMixin from "../../mixins/PermissionMixin";

  export default {
    name: "PublishZone",
    mixins: [PermissionMixin],
    data() {
      return {
        newPublishZone: {},
        form: {
          desc: '',
          country_list: [],
          subtitle_list: [],
          audio_list: [],
          video_list: [],
          directory_list: []
        },
        v_search: '',
        c_search: '',
        d_search: '',
        video: [],
        sortBy: 'content_no',
        opt_audio: [],
        opt_sub: [],
        opt_country: [],
        country: [],
        form_video: {
          codec: '',
          resolution: ''
        },
        edit_video: {},
        form_country: { country: ''},
        edit_country: {},
        form_audio: [],
        form_sub: [],
        form_directory: {          
          remote_ip: '',
          username: '',
          password: '',
          directory: ''
        },
        edit_directory: {},
        v_fields: [
          {key: 'publish', sortable: true, label: 'Publish', thStyle: {width: '20%'}},
          {key: 'codec', sortable: true, thStyle: {width: '20%'}},
          {key: 'resolution', sortable: true, thStyle: {width: '20%'}},          
          {key: 'datetime_created', sortable: true, thStyle: {width: '10%'}},
          {key: 'actions', thStyle: {width: '15%'}}
        ],
        c_fields: [
          {key: 'publish', sortable: true, label: 'Publish', thStyle: {width: '30%'}},
          {key: 'country_name', sortable: true, thStyle: {width: '20%'}},          
          {key: 'datetime_created', sortable: true, thStyle: {width: '15%'}},
          {key: 'actions', thStyle: {width: '15%'}}
        ],
        d_fields: [
          {key: 'publish', sortable: true, label: 'Publish', thStyle: {width: '20%'}},
          {key: 'sequence_no', sortable: true, thStyle: {width: '10%'}},          
          {key: 'remote_ip', sortable: true, thStyle: {width: '10%'}},
          {key: 'username', sortable: true, thStyle: {width: '20%'}},          
          {key: 'directory', sortable: true, thStyle: {width: '20%'}},
          {key: 'actions', thStyle: {width: '10%'}}
        ],
        dismissCountDownAddSuccess: 0,
        dismissCountDownAddError: 0,
        dismissCountDownEditSuccess: 0,
        dismissCountDownEditError: 0,
        publishZoneCreateAllow: {},        
      }
    },
    computed: {},
    async created() {
      this.publishZoneCreateAllow = await this.initialPermission('publish', 'publish')
      if (!this.publishZoneCreateAllow.isDetail) {
        this.$router.push({name: 'Page403'})
      }
      // console.log('publishZoneCreateAllow:', this.publishZoneCreateAllow)
      await this.getdata()
      await this.getlanguage()
      await this.getcountry()      
    },
    methods: {
      backPage() {
        this.$router.push({name: 'PublishZone'})
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = 5
      },
      addError() {
        this.dismissCountDownAddError = 5
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedAddError(dismissCountDownAddError) {
        this.dismissCountDownAddError = dismissCountDownAddError
      },
      editSuccess() {
        this.dismissCountDownEditSuccess = 5
      },
      editError() {
        this.dismissCountDownEditError = 5
      },
      countDownChangedEditSuccess(dismissCountDownEditSuccess) {
        this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
      },
      countDownChangedEditError(dismissCountDownEditError) {
        this.dismissCountDownEditError = dismissCountDownEditError
      },
      async getdata() {
        try{
          
          const {query} = this.$route
          if (query && query.id) {   
            let audio = []
            let sub = []         
            try{
              this.$data.form.video_list = await this.$services.publish.readvideo(query.id)
            }catch(e){console.log(e)}
            try{
              this.$data.form.country_list = await this.$services.publish.readcountry(query.id)
            }catch(e){console.log(e)}
            try{
              audio = await this.$services.publish.readaudio(query.id)
            }catch(e){console.log(e)}
            try{
              sub = await this.$services.publish.readsubtitle(query.id)
            }catch(e){console.log(e)}
            try{
              this.$data.form.directory_list = await this.$services.publish.readdirectory(query.id)
            }catch(e){console.log(e)}
            try{
              const{id, desc} = await this.$services.publish.readbyid(query.id)
              this.$data.form['id'] = id
              this.$data.form['desc'] = desc
            }catch(e){console.log(e)}
            for (var i in audio) {
              this.$data.form_audio.push(audio[i]['language'])
            }
            for (var i in sub) {
              this.$data.form_sub.push(sub[i]['language'])
            }
          }
        }catch (e){
          console.log(e)
        }
      },

      async getlanguage() {
        const ctx = this;
        ctx.$services.publish.readlanguage()
          .then(function (data) {
            for (var i in data) {
              ctx.$data.opt_audio.push({'value': data[i]['code'], 'text': data[i]['name']})
              ctx.$data.opt_sub.push({'value': data[i]['code'], 'text': data[i]['name']})
            }
          })
      },

      async getcountry() {
        const ctx = this;
        ctx.$services.country.find()
          .then(function (data) {
            for (var i in data) {
              ctx.$data.opt_country.push({'value': data[i]['code'], 'text': data[i]['name']})
            }
          })
      },

      async Create() {
        this.$data.form.audio_list = []
        this.$data.form.subtitle_list = []

        for (var i in this.$data.form_audio) {
          this.$data.form.audio_list.push({'language': this.$data.form_audio[i]})
        }
        for (var i in this.$data.form_sub) {
          this.$data.form.subtitle_list.push({'language': this.$data.form_sub[i]})
        }        
        if (this.checkFormValidityMain() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          const ctx = this
          const {query} = this.$route
          if (query && query.id) {
            ctx.$services.publish.update(ctx.$data.form, query.id)
              .then(function (data) {
                ctx.editSuccess()
                ctx.getdata()
              })
              .catch(function(e){
                console.log(e)
                ctx.editError()
              })
          }else{
            ctx.$services.publish.add_publish(ctx.$data.form)
              .then(function (data) {
                ctx.addSuccess()
                ctx.$data.form = {
                  desc: '',
                  country_list: [],
                  subtitle_list: [],
                  audio_list: [],
                  video_list: [],
                  directory_list: []
                }
                ctx.$data.form_audio = []
                ctx.$data.form_sub = []
                ctx.$data.form_directory = []

              })
              .catch(function(e){
                console.log(e)
                ctx.addError()
              })
          }
        } else {
          await this.$bvModal.msgBoxOk('Please fill in the blank.')
        }
      },

      savePublishZone() {
        console.log(this.$data.form)
      },
      cancel() {
        this.$data.form = {
                desc: '',
                country_list: [],
                subtitle_list: [],
                audio_list: [],
                video_list: []
        }
        this.$data.form_audio = []
        this.$data.form_sub = []
      },
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity();
        return valid
      },

      checkFormValidityMain() {
        const valid = this.$refs.form_main.checkValidity();
        return valid
      },

      getvideo(id) {
        const ctx = this
        ctx.$services.publish.findvideo(id)
          .then(function (data) {
            ctx.$data.video = data
        })
      },

      resetvideo() {
        this.form_video = {
          codec: '',
          resolution: ''
        };
      },

      async addvideo(bvModalEvt) {
        bvModalEvt.preventDefault()
        if (this.checkFormValidity()) {          
          this.$data.form.video_list.push({
            'publish': this.$data.form.desc != '' ? this.$data.form.desc : '',
            'codec': this.$data.form_video.codec,
            'resolution': this.$data.form_video.resolution
          })          
          this.$nextTick(() => {
            this.$refs.modal.hide()
          })
        } else {
          this.$nextTick(() => {
            this.$refs.modal.show()
          })
        }
      },

      async loadVideo(row) {
        try {
          if (row) {
            this.$data.edit_video = row.item
            this.$data.edit_video.index = row.index
            this.$bvModal.show('edit-video')
          }
        }catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
        }
      },

      async updatevideo(bvModalEvt) {
        bvModalEvt.preventDefault();
        if (this.checkFormValidity()) {
          this.$data.form.video_list[this.$data.edit_video.index]['codec'] = this.$data.edit_video.codec
          this.$data.form.video_list[this.$data.edit_video.index]['resetvideo'] = this.$data.edit_video.resolution
          this.$nextTick(() => {
            this.$refs.modal.hide()
          })
        } else {
          this.$bvModal.show('edit-video')
        }
      },

      async removevideo(row) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          this.$delete(this.$data.form.video_list, row.index)
        } else {
          this.$bvModal.hide()
        }
      },

      resetcountry() {
        this.form_country = {
          country: '',
        };
      },

      addcountry(bvModalEvt) {
        bvModalEvt.preventDefault()
        if (this.checkFormValidity()) {          
          this.$data.form.country_list.push({
            'publish': this.$data.form.desc != '' ? this.$data.form.desc : '',
            'country': this.$data.form_country.country,
            'country_name': this.filterobject(this.$data.form_country.country, this.$data.opt_country)
          })                    
          this.$nextTick(() => {
            this.$refs.modal.hide()
          })
        } else {
          this.$nextTick(() => {
            this.$refs.modal.show()
          })
        }
      },

      async loadCountry(row) {
        try {
          if (row) {
            this.$data.edit_country = row.item
            this.$data.edit_country.index = row.index
            this.$bvModal.show('edit-country')
          }
        }catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
        }
      },

      async updatecountry(bvModalEvt) {
        bvModalEvt.preventDefault();
        if (this.checkFormValidity()) {
          this.$data.form.country_list[this.$data.edit_country.index]['country'] = this.$data.edit_country.country
          this.$nextTick(() => {
            this.$refs.modal.hide()
          })
        } else {
          this.$bvModal.show('edit-video')
        }
      },

      async removeCountry(row) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          this.$delete(this.$data.form.country_list, row.index)
        } else {
          this.$bvModal.hide()
        }
      },

      filterobject (id, items) {   
        for (var i in items) {          
          if (items[i]['value'] == id) {
            return items[i].text
          }
        }
      },

      resetdirectory() {
        this.form_directory = {          
          remote_ip: '',
          username: '',
          password: '',
          directory: ''
        };
      },

      adddirectory(bvModalEvt) {
        bvModalEvt.preventDefault()
        if (this.checkFormValidity()) {          
          this.$data.form.directory_list.push({
            'publish': this.$data.form.desc != '' ? this.$data.form.desc : '',            
            'remote_ip': this.$data.form_directory.remote_ip,
            'username': this.$data.form_directory.username,
            'password': this.$data.form_directory.password,
            'directory': this.$data.form_directory.directory
          })                    
          this.$nextTick(() => {
            this.$refs.modal.hide()
          })
        } else {
          this.$nextTick(() => {
            this.$refs.modal.show()
          })
        }
      },

      async loaddirectory(row) {
        try {
          if (row) {
            this.$data.edit_directory = row.item
            this.$data.edit_directory.password = ''
            this.$data.edit_directory.index = row.index
            this.$bvModal.show('edit-directory')
          }
        }catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
        }
      },

      async updatedirectory(bvModalEvt) {
        bvModalEvt.preventDefault();
        if (this.checkFormValidity()) {          
          this.$data.form.directory_list[this.$data.edit_directory.index]['remote_ip'] = this.$data.edit_directory.remote_ip
          this.$data.form.directory_list[this.$data.edit_directory.index]['username'] = this.$data.edit_directory.username
          this.$data.form.directory_list[this.$data.edit_directory.index]['password'] = this.$data.edit_directory.password
          this.$data.form.directory_list[this.$data.edit_directory.index]['directory'] = this.$data.edit_directory.directory
          this.$nextTick(() => {
            this.$refs.modal.hide()
          })
        } else {
          this.$bvModal.show('edit-directory')
        }
      },

      async removedirectory(row) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          this.$delete(this.$data.form.directory_list, row.index)          
        } else {
          this.$bvModal.hide()
        }
      },
    }
  }
</script>

<style scoped>

</style>
