<template>
  <b-container fluid>
    <b-alert :show="dismissCountDownDeleteSuccess" dismissible fade variant="success" @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete Publish success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert :show="dismissCountDownDeleteError" dismissible fade variant="danger" @dismiss-count-down="countDownChangedDeleteError">
      Delete Publish error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="getdata">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>            
            <b-button to="/master-data/publish-zone-create" class="float-right mr-2" variant="primary" v-if="publishZoneAllow.isAdd">
              <i class="fa fa-plus-circle"></i> Add Publish Zone</b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>Publish Zone</strong>
        </div>
        <b-table :busy="isBusy" v-bind:items.sync="data" :fields="fields" responsive="sm" :sort-by.sync="sortBy" style="text-align: center" bordered="bordered" id="content-table">
          <template v-slot:cell(actions)="row">
            <b-link :to="{name: 'PublishZoneCreate', query: {id: row.item.id}}" v-if="publishZoneAllow.isDetail">
              <b-button variant="outline-primary" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit
              </b-button>
            </b-link>
            <b-button @click="remove(row.item)" variant="danger" size="sm" class="mr-1" v-if="publishZoneAllow.isDelete">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
        </b-table>
        <div class="overflow-auto" style="float: right" v-if="this.data.length">
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="getdata"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
      </b-card>
    </div>
  </b-container>
</template>

<script>
  import PermissionMixin from "../../mixins/PermissionMixin";

  export default {
    mixins: [PermissionMixin],
    name: "PublishZone",
    data() {
      return {
        sortBy: 'content_no',
        search: '',
        data: [],
        pagination: {},
        isBusy: true,
        options: [{'value': 'Y', 'text': 'true'},{'value':'N', 'text': 'false'}],
        fields: [
          {key: 'id', sortable: true, sortDirection: 'desc', thStyle: {width: '10%'}},
          {key: 'desc', sortable: true, label: 'DESCRIPTION', thStyle: {width: '20%'}},
          {key: 'create_by', sortable: true, thStyle: {width: '15%'}},
          {key: 'update_by', sortable: true, thStyle: {width: '15%'}},
          {key: 'datetime_created', sortable: true, thStyle: {width: '10%'}},
          {key: 'datetime_updated', sortable: true, thStyle: {width: '10%'}},
          {key: '_is_merge', sortable: true, thStyle: {width: '5%'}},
          {key: 'actions', thStyle: {width: '10%'}}
        ],
        dismissCountDownDeleteSuccess: 0,
        dismissCountDownDeleteError: 0,
        publishZoneAllow: {},
      }
    },
    computed: {},
    async created() {
      this.publishZoneAllow = await this.initialPermission('publish', 'publish')
      await this.getdata()
      if (!this.publishZoneAllow.isView) {
        this.$router.push({name: 'Page403'})
      }
    },
    methods: {
      savePublishZone() {
        console.log(this.publish_zone)
      },

      async getdata(pageNumber) {
        const ctx = this;
        try {
          let page = Number(pageNumber);
          page = Number.isNaN(page) ? ctx.data.page : page;
          const toNext = data => {
            ctx.SetInitial(data);
          };
          let params = {page}
          let clean = function (key, obj) {
            delete obj[key];
            return obj
          };
          params = ctx.search !== "" && ctx.search !== null ?
            {
              ...params,
              search: ctx.search,
            }
            : clean('search', params);
          if (params.page === 0) {
            params.page = 1
          }
          this.$services.publish.read(params)
            .then(toNext)
            .catch(err => err)
        } catch (e) {
        }
      },
      SetInitial({results, current, page_size, count}) {
        this.pagination = {current, page_size, count};
        this.data = results;
        this.isBusy = false
      },

      async remove(row) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          try {
            await this.$services.publish.remove(row.id);
            this.$data.isBusy = true
            await this.getdata();
            this.deleteSuccess();
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.deleteError();
          }
        } else {
          this.$bvModal.hide()
        }
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = 5
      },
      deleteError() {
        this.dismissCountDownDeleteError = 5
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
      countDownChangedDeleteError(dismissCountDownDeleteError) {
        this.dismissCountDownDeleteError = dismissCountDownDeleteError
      },
    }
  }
</script>

<style scoped>

</style>
