<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit role success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add role success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete role success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete role error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="getdata">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button v-b-modal.add-role class="float-right mr-2" variant="primary" v-if="roleAllow.isAdd">
              <i class="fa fa-plus-circle"></i> Add Role
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>Role</strong>
        </div>
        <b-table
          bordered
          v-bind:items.sync="data"
          :fields="fields"
          responsive="sm"
          :sort-by.sync="sortBy"
          :busy="isBusy"
          style="text-align: center">
          <template v-slot:cell(actions)="row">
            <b-button @click="loadRole(row.item)" variant="outline-primary" size="sm" class="mr-1" v-if="roleAllow.isDetail">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="remove(row.item)" variant="danger" size="sm" class="mr-1" v-if="roleAllow.isDelete">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
        </b-table>
        <div class="overflow-auto" style="float: right" v-if="this.data.length">
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="getdata"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
      </b-card>
    </div>

    <!-- Edit Role Modal -->
    <b-modal
      no-close-on-backdrop
      id="edit-role"
      ref="modal"
      title="Edit Role AKA"
      :hide-footer="!roleAllow.isEdit"
      size="xl"
      @show="resetModal"
      @hidden="resetModal">
      <form ref="form">
        <b-alert :show="dismissCountDownEditError" dismissible fade variant="danger"
                 @dismiss-count-down="countDownChangedEditError">
          Edit role error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group validated label="Role Id" label-for="role_id" invalid-feedback="Role Id is required">
          <b-form-input id="role_id" v-model="selected.id" disabled required></b-form-input>
        </b-form-group>
        <b-form-group validated label="Name" label-for="name" invalid-feedback="Name is required">
          <b-form-input id="name" v-model="selected.name" required></b-form-input>
        </b-form-group>
      </form>

      <b-table sticky-header :items="Array.isArray(tmp.aka_list) ? tmp.aka_list: []" :fields="tmp_fields"
               responsive="sm" style="text-align: center" bordered>
        <template v-slot:cell(name)="row">
          <b-form-input id="name" v-model="row.item.name" required></b-form-input>
        </template>
        <template v-slot:cell(actions)="row">
          <b-button @click="removeaka(row)" variant="danger" size="sm" class="mr-1"><i class="fa fa-remove"></i> Delete
          </b-button>
        </template>
      </b-table>

      <template v-slot:modal-footer>
        <div class="w-100">
          <b-button variant="danger" size="sm" class="float-right mr-2" @click="cancel('edit')"><i
            class="fa fa-remove"></i> Cancel
          </b-button>
          <b-button variant="success" size="sm" class="float-right mr-2" @click="Update()"><i class="fa fa-save"></i>
            Save
          </b-button>
        </div>
      </template>
    </b-modal>
    <!-- add aka -->

    <b-modal no-close-on-backdrop id="add-role" ref="modal" size="xl" title="Add Role AKA" @show="resetModal"
             :hide-footer="!roleAllow.isAdd"
             @hidden="resetModal">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add role error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>
      <form ref="form">
        <b-form-group validated label="Name" label-for="name" invalid-feedback="Name is required" required>
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
      </form>
      <b-table sticky-header v-bind:items.sync="tmp.aka_list" :fields="tmp_fields" responsive="sm"
               style="text-align: center" bordered>
        <template v-slot:cell(name)="row">
          <b-form-input id="name" v-model="row.item.name" required></b-form-input>
        </template>
        <template v-slot:cell(actions)="row">
          <b-button @click="removeaka(row)" variant="danger" size="sm" class="mr-1"><i class="fa fa-remove"></i> Delete
          </b-button>
        </template>
      </b-table>

      <template v-slot:modal-footer>
        <div class="w-100">
          <b-button variant="danger" size="sm" class="float-right mr-2" @click="cancel('add')"><i
            class="fa fa-remove"></i> Cancel
          </b-button>
          <b-button variant="success" size="sm" class="float-right mr-2" @click="Create()"><i class="fa fa-save"></i>
            Save
          </b-button>
        </div>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
  import ContentMixin from "../../mixins/ContentMixin";
  import validToken from "../../mixins/validToken";
  import PermissionMixin from "../../mixins/PermissionMixin";

  export default {
    mixins: [ContentMixin, validToken, PermissionMixin],
    data() {
      return {
        disabled: true,
        isBusy: true,
        sortBy: 'content_no',
        search: '',
        form: {
          name: '',
        },
        form_aka: {
          language: '',
          name: '',
        },
        page_of_number: [],
        next: 0,
        previous: 0,
        page: 1,
        page_total: 0,
        data: [],
        tmp: {
          aka_list: []
        },
        language_options: [],
        contentStage: null,
        selected: {},
        fields: [
          {key: 'id', sortable: true, sortDirection: 'desc', thStyle: {width: '10%'}},
          {key: 'name', sortable: true, thStyle: {width: '30%'}},
          {key: 'datetime_created', sortable: true, thStyle: {width: '25%'}},
          {key: 'create_by', sortable: true, thStyle: {width: '20%'}},
          {key: 'actions', thStyle: {width: '15%'}}
        ],
        pagination: {},

        tmp_fields: [
          {key: 'language_name', sortable: true, thStyle: {width: '20%'}},
          {key: 'name', sortable: true, thStyle: {width: '80%'}},
        ],
        dismissSecsEditSuccess: 5,
        dismissCountDownEditSuccess: 0,
        dismissSecsEditError: 5,
        dismissCountDownEditError: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsAddError: 5,
        dismissCountDownAddError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        dismissSecsDeleteError: 5,
        dismissCountDownDeleteError: 0,
        roleAllow: {}
      }
    },
    async created() {
      this.roleAllow = await this.initialPermission('role', 'role')
      if (!this.roleAllow.isView) {
        this.$router.push({name: 'Page403'})
      }
      await this.getdata()
      // await this.getlanguage()
      // try {
      //   const token = localStorage.getItem('token');
      //   await this.getdata()
      //   await this.getlanguage()
      // } catch (e) {
      //     this.$router.push({name: 'Page401'})
      // }
    },
    computed: {
      rows() {
        return this.contents.length
      },
      sortOptions() {
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    methods: {
      async getdata(pageNumber) {
        const ctx = this;
        try {
          let page = Number(pageNumber);
          page = Number.isNaN(page) ? ctx.data.page : page;
          const toNext = data => {
            ctx.SetInitial(data);
          };
          let params = {page}
          let clean = function (key, obj) {
            delete obj[key];
            return obj
          };
          params = ctx.search !== "" && ctx.search !== null ?
            {
              ...params,
              search: ctx.search,
            }
            : clean('search', params);
          if (params.page === 0) {
            params.page = 1
          }
          this.$services.role.read(params)
            .then(toNext)
            .catch(err => err)
        } catch (e) {
        }
      },
      SetInitial({results, current, page_size, count}) {
        this.pagination = {current, page_size, count};
        this.data = results;
        this.isBusy = false
      },

      resetModal() {
        this.form = {name: ''}
        this.getlanguage()
      },

      handleOk(bvModalEvt) {
        bvModalEvt.preventDefault();
        this.confirmAdd();

      },

      checkFormValidity() {
        const valid = this.$refs.form.checkValidity();
        return valid
      },

      async loadRole(row) {
        try {
          if (row) {
            this.selected = row;
            this.$bvModal.show('edit-role')
            await this.getaka(row.id)
          }
        } catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk('Not Found (404)');
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk('Server Error (500)');
          }
        }
      },

      async remove(row) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          const ctx = this
          this.$services.role.remove(row.id)
            .then(function (data) {
              ctx.deleteSuccess()
              ctx.$data.isBusy = true
              ctx.getdata()
            })
            .catch(function (e) {
              ctx.error(e)
              ctx.deleteError()
            })
        } else {
          this.$bvModal.hide()
        }
      },
      editSuccess() {
        this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
      },
      editError() {
        this.dismissCountDownEditError = this.dismissSecsEditError
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      addError() {
        this.dismissCountDownAddError = this.dismissSecsAddError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      deleteError() {
        this.dismissCountDownDeleteError = this.dismissSecsDeleteError
      },
      countDownChangedEditSuccess(dismissCountDownEditSuccess) {
        this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
      },
      countDownChangedEditError(dismissCountDownEditError) {
        this.dismissCountDownEditError = dismissCountDownEditError
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedAddError(dismissCountDownAddError) {
        this.dismissCountDownAddError = dismissCountDownAddError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
      countDownChangedDeleteError(dismissCountDownDeleteError) {
        this.dismissCountDownDeleteError = dismissCountDownDeleteError
      },

      async getaka(id) {
        this.$data.tmp.aka_list = []
        const ctx = this
        ctx.$services.role.readaka(id)
          .then(function (data) {
            ctx.$data.tmp.aka_list = data
            let items = ctx.$data.language_options
            let aka_list = ctx.$data.tmp.aka_list.map(function (obj) {
              return obj.language
            })
            if (items.length > ctx.$data.tmp.aka_list.length) {
              for (var i in items) {
                if (!aka_list.includes(items[i]['language'])) {
                  items['name'] = ''
                  ctx.$data.tmp.aka_list.push(items[i])
                }
              }
            }
          })
          .catch(function (e) {
            ctx.error(e)
          })
      },

      async getlanguage() {
        this.$data.tmp.aka_list = []
        const ctx = this;
        ctx.$services.people.readlanguage()
          .then(function (data) {
            for (var i in data) {
              ctx.$data.tmp.aka_list.push({'language': data[i]['code'], 'language_name': data[i]['name']})
            }
            ctx.$data.language_options = ctx.$data.tmp.aka_list
          })
      },

      cancel(params) {
        if (params == 'add') {
          this.$bvModal.hide('add-role')
        } else {
          this.$bvModal.hide('edit-role')
        }
      },

      async error(e) {
        if (e.request.status === 404) {
          await this.$bvModal.msgBoxOk('Not Found (404)');
        }
        if (e.request.status === 500) {
          await this.$bvModal.msgBoxOk('Server Error (500)');
        }
      },

      async Create() {
        if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          const ctx = this
          this.$data.tmp['name'] = this.$data.form.name
          ctx.$services.role.add(ctx.$data.tmp)
            .then(function (data) {
              ctx.addSuccess()
              ctx.$data.isBusy = true
              ctx.$bvModal.hide('add-role')
              setTimeout(function () {
                ctx.getdata()
              }, 5000);
            })
            .catch(function (e) {
              ctx.error(e)
              ctx.addError()
            })
        } else {
          await this.$bvModal.msgBoxOk('Please fill in the blank.')
        }
      },

      async Update() {
        if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          const ctx = this
          this.$data.tmp['name'] = this.$data.selected.name
          this.$data.tmp['id'] = this.$data.selected.id
          this.$data.tmp['account_created'] = this.$data.selected.account_created
          this.$services.role.update(this.$data.tmp, this.$data.selected.id)
            .then(function (data) {
              ctx.editSuccess()
              ctx.$data.isBusy = true
              ctx.$bvModal.hide('edit-role')
              setTimeout(function () {
                ctx.getdata()
              }, 5000);
            })
            .catch(function (e) {
              ctx.error(e)
              ctx.editError()
            })
        } else {
          await this.$bvModal.msgBoxOk('Please fill in the blank.')
        }
      }

    }
  }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
