<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit role aka success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add role aka success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete role aka success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete role aka error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search">
            </b-form-input>
          </b-input-group>
        </b-form-group>        
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button v-b-modal.add-aka class="float-right mr-2" variant="primary">
              <i class="fa fa-plus-circle"></i> Add AKA</b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>Role AKA</strong>
        </div>
        <b-table
          :items="Array.isArray(data) ? data: []"
          :fields="fields"
          :filter="search"
          responsive="sm"
          :sort-by.sync="sortBy"
          style="text-align: center"
          bordered="bordered"
          id="content-table">
          <template slot="actions" slot-scope="row">
            <b-button @click="loadAKA(row.item)" variant="outline-primary" size="sm" class="mr-1">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="remove(row.item)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" :class="previous ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadContents({page: previous, search})">Previous</a>
            </li>
            <li v-for="page_number in page_of_number" class="page-item" :class="page_number === page ? 'active': '' "
                v-if="Math.abs(page_number - page) < 3 || page_number === page_of_number - 1 || page_number === 0">
              <a class="page-link pageNum" href="#" @click="loadContents({page: page_number, search})"
              >{{page_number}}</a></li>
            <li class="page-item" :class="next ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadContents({page: next, search})">Next</a>
            </li>
          </ul>
        </nav> -->
      </b-card>

    </div>
    
    <!-- Add People Modal -->        
    <b-modal
      no-close-on-backdrop
      id="add-aka"
      ref="modal"
      title="Add Role AKA"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add Role aka error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds... 
      </b-alert>
      <form ref="form">
        <b-form-group validated label="Role" label-for="role" invalid-feedback="Role is required" required>
          <b-form-select v-model="form.role" :options="options" size="sm" class="mt-3" required></b-form-select>
        </b-form-group>
        <b-form-group validated label="Language" label-for="language" invalid-feedback="Language is required" required>
          <b-form-select v-model="form.language" :options="language_options" size="sm" class="mt-3" required></b-form-select>
        </b-form-group>
        <b-form-group validated label="Name" label-for="name" invalid-feedback="Name is required" required>
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>        
      </form>
    </b-modal>

    <!-- Edit People Modal -->
    <b-modal
      no-close-on-backdrop
      id="edit-aka"
      ref="modal"
      title="Edit Role"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmSave">
      <form ref="form">
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit role error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group validated label="Role" label-for="role" invalid-feedback="Role is required" required>
          <b-form-select v-model="selected.role" :options="options" size="sm" class="mt-3" required></b-form-select>
        </b-form-group>
        <b-form-group validated label="Language" label-for="language" invalid-feedback="Language is required" required>
          <b-form-select v-model="selected.language" :options="language_options" size="sm" class="mt-3" required></b-form-select>
        </b-form-group>
        <b-form-group validated label="Name" label-for="name" invalid-feedback="Name is required" required>
          <b-form-input id="name" v-model="selected.name" required></b-form-input>
        </b-form-group>              
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [ContentMixin,validToken],
        data() {
            return {
                sortBy: 'content_no',
                search: '',
                form: {
                    role: '',
                    language: '',
                    name: '',        
                    account_created: localStorage['id'], // get session id            
                },
                page_of_number: [],
                next: 0,
                previous: 0,
                page: 1,
                page_total: 0,
                data: [],
                contentStage: null,
                selected: {},
                fields: [
                    {key: 'id', sortable: true, sortDirection: 'desc', thStyle: {width: '5%'}},
                    {key: 'role_name', sortable: true, thStyle: {width: '15%'}},
                    {key: 'language_name', sortable: true, thStyle: {width: '20%'}},
                    {key: 'name', sortable: true, thStyle: {width: '20%'}},
                    {key: 'datetime_created', sortable: true, thStyle: {width: '10%'}},
                    {key: 'create_by', sortable: true, thStyle: {width: '10%'}},                    
                    {key: 'status', sortable: true, thStyle: {width: '5%'}}, 
                    {key: 'actions', thStyle: {width: '10%'}}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,  
                language_options: [],
                options: []              
            }
        },
        async created() {
          await this.getdata()
          await this.getrole()
          await this.getlanguage()
          // console.log('session:', localStorage)
            // try {
            //     const token = localStorage.getItem('token');
            // } catch (e) {
            //     this.$router.push({name: 'Page401'})
            // }
            // await this.loadContents()
        },
        computed: {
            rows() {
                return this.contents.length
            },
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        methods: {
          getdata() {
            const ctx = this;
            ctx.$services.role.readaka()
              .then(function (data) {
                ctx.data = data;                
              })
          },            
          
          getrole() {
            const ctx = this;
            ctx.$services.role.read()
              .then(function (data) {
                for (var i in data) {
                  ctx.$data.options.push({'value': data[i]['id'], 'text': data[i]['name']})
                }
              })
          },            
          
          getlanguage() {
            const ctx = this;
            ctx.$services.people.readlanguage()
              .then(function (data) {
                for (var i in data) {
                  ctx.$data.language_options.push({'value': data[i]['code'], 'text': data[i]['name']})                  
                }
                               
              })
          },            

          resetModal() {
            this.form = {
              role: '',
              language: '',
              name: '',       
              account_created: localStorage['id'], // get session id           
            };
          },
          
          handleOk(bvModalEvt) {
            bvModalEvt.preventDefault();
            this.confirmAdd();
            
          },

          checkFormValidity() {
            const valid = this.$refs.form.checkValidity();                
            return valid
          },         

          async confirmAdd(bvModalEvt) {
            bvModalEvt.preventDefault()
            if (this.checkFormValidity()) {              
              try {
                const {data} = await this.$services.role.addaka(this.$data.form)
                this.addSuccess()
                this.getdata()
                this.$nextTick(() => {
                  this.$refs.modal.hide()
                })
              } catch (e) {
                if (e.request.status === 404) {
                  await this.$bvModal.msgBoxOk('Not Found (404)');
                }
                if (e.request.status === 500) {
                  await this.$bvModal.msgBoxOk('Server Error (500)');
                }
                this.addError();
              }
            } else {              
              this.checkFormValidity();
              this.$nextTick(() => {
                this.$refs.modal.show()
              })
            }
          },

          async loadAKA(aka) {
            try {
              if (aka) {
                this.selected = aka;
                this.$bvModal.show('edit-aka')
              }
            }catch (e) {
              if (e.request.status === 404) {
                await this.$bvModal.msgBoxOk('Not Found (404)');
              }
              if (e.request.status === 500) {
                await this.$bvModal.msgBoxOk('Server Error (500)');
              }
            }
          },

          async confirmSave(bvModalEvt) {
            bvModalEvt.preventDefault();
            if (this.checkFormValidity()) {                
              try {                
                const {data} = await this.$services.role.updateaka(this.$data.selected)                
                this.getdata()
                this.$nextTick(() => {
                  this.$refs.modal.hide()
                })
                this.selected = {};
                this.editSuccess();                
              } catch (e) {
                if (e.request.status === 404) {
                  await this.$bvModal.msgBoxOk('Not Found (404)');
                }
                if (e.request.status === 500) {
                  await this.$bvModal.msgBoxOk('Server Error (500)');
                }
                this.editError();
              }
            } else {
              this.$bvModal.show('edit-aka')
            }
          },
          async remove(row) {            
            if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {              
              try {
                await this.$services.role.removeaka(row.id);
                await this.getdata();
                this.deleteSuccess();
              } catch (e) {
                if (e.request.status === 404) {
                  await this.$bvModal.msgBoxOk('Not Found (404)');
                }
                if (e.request.status === 500) {
                  await this.$bvModal.msgBoxOk('Server Error (500)');
                }
                this.deleteError();
              }
            } else {
              this.$bvModal.hide()
            }
          },
          editSuccess() {
            this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
          },
          editError() {
            this.dismissCountDownEditError = this.dismissSecsEditError
          },
          addSuccess() {
            this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
          },
          addError() {
            this.dismissCountDownAddError = this.dismissSecsAddError
          },
          deleteSuccess() {
            this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
          },
          deleteError() {
            this.dismissCountDownDeleteError = this.dismissSecsDeleteError
          },          
          countDownChangedEditSuccess(dismissCountDownEditSuccess) {
            this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
          },
          countDownChangedEditError(dismissCountDownEditError) {
            this.dismissCountDownEditError = dismissCountDownEditError
          },
          countDownChangedAddSuccess(dismissCountDownAddSuccess) {
            this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
          },
          countDownChangedAddError(dismissCountDownAddError) {
            this.dismissCountDownAddError = dismissCountDownAddError
          },
          countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
            this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
          },
          countDownChangedDeleteError(dismissCountDownDeleteError) {
            this.dismissCountDownDeleteError = dismissCountDownDeleteError
          },
        }
    }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
