<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit vendor success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add vendor success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete vendor success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete vendor error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="getdata"></b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button v-b-modal.add-vendor class="float-right mr-2" variant="primary" v-if="vendorAllow.isAdd">
              <i class="fa fa-plus-circle"></i> Add Vendor
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>Vendor</strong>
        </div>
        <b-table
          bordered
          v-bind:items.sync="data"
          :fields="fields"
          responsive="sm"
          :sort-by.sync="sortBy"
          :busy="isBusy"
          style="text-align: center">
          <template v-slot:cell(actions)="row">
            <b-button @click="loadVendor(row.item)" variant="outline-primary" size="sm" class="mr-1" v-if="vendorAllow.isDetail">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="remove(row.item)" variant="danger" size="sm" class="mr-1" v-if="vendorAllow.isDelete">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
        </b-table>
        <div class="overflow-auto" style="float: right" v-if="this.data.length">
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="getdata"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
      </b-card>

    </div>

    <!-- Add Vendor Modal -->

    <b-modal
      no-close-on-backdrop
      :hide-footer="!vendorAllow.isAdd"
      id="add-vendor"
      ref="modal"
      title="Add Vendor"
      size="xl"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add vendor error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>
      <form ref="form">
        <b-form-group
          validated
          label="Name"
          label-for="name"
          invalid-feedback="Name is required"
          required>
          <b-form-input
            id="name"
            v-model="form.name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="ftp user account"
          label-for="name">
          <b-form-input
            id="ftp_user_acc"
            v-model="form.ftp_user_acc"
            >
          </b-form-input>
        </b-form-group>
        <b-row class="justify-content-center">
          <b-form-group class="col-md-10">
            <b-input-group>
              <b-input-group-prepend><b-button variant="primary"><i class="fa fa-search"></i> Search</b-button></b-input-group-prepend><b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="s_search"></b-form-input>
            </b-input-group>
          </b-form-group>
          <b-form-group class="col-md-2">
            <b-button-group><b-button v-b-modal.add-studio class="float-right mr-2" variant="primary"><i class="fa fa-plus-circle"></i> Add Studio</b-button></b-button-group>
          </b-form-group>
        </b-row>
        <b-table sticky-header v-bind:items.sync="form.studio" :fields="s_fields" :filter="s_search" responsive="sm" :sort-by.sync="sortBy" style="text-align: center" bordered="bordered">
          <template v-slot:cell(actions)="row">
            <b-button @click="loadstudio(row)" variant="outline-primary" size="sm" class="mr-1">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="removestudio(row)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
      </form>
    </b-modal>

    <!-- Edit Vendor Modal -->

    <b-modal
      no-close-on-backdrop
      :hide-footer="!vendorAllow.isEdit"
      id="edit-vendor"
      ref="modal"
      title="Edit Vendor"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmSave">
      <form ref="form">
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit vendor error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          label="Vendor Id"
          label-for="vendor_id"
          invalid-feedback="Vendor Id is required">
          <b-form-input
            id="vendor_id"
            v-model="selected.id"
            disabled
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Name"
          label-for="name"
          invalid-feedback="Name is required">
          <b-form-input
            id="name"
            v-model="selected.name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="ftp user account"
          label-for="name"
          >
          <b-form-input
            id="ftp_user_acc"
            v-model="selected.ftp_user_acc"
            >
          </b-form-input>
        </b-form-group>
        <b-row class="justify-content-center">
          <b-form-group class="col-md-10">
            <b-input-group>
              <b-input-group-prepend><b-button variant="primary"><i class="fa fa-search"></i> Search</b-button></b-input-group-prepend><b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="s_search"></b-form-input>
            </b-input-group>
          </b-form-group>
          <b-form-group class="col-md-2">
            <b-button-group><b-button v-b-modal.add-studio class="float-right mr-2" variant="primary"><i class="fa fa-plus-circle"></i> Add Studio</b-button></b-button-group>
          </b-form-group>
        </b-row>
        <b-table sticky-header v-bind:items.sync="form.studio" :fields="s_fields" :filter="s_search" responsive="sm" :sort-by.sync="sortBy" style="text-align: center" bordered="bordered">
          <template v-slot:cell(actions)="row">
            <b-button @click="loadstudio(row)" variant="outline-primary" size="sm" class="mr-1">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="removestudio(row)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
      </form>
    </b-modal>

    <b-modal no-close-on-backdrop id="add-studio" ref="modal" title="Add Studio" @show="resetstudio" @hidden="resetstudio" @ok="addstudio">
      <form ref="form_studio">
        <b-form-group validated label="Studio" label-for="studio" invalid-feedback="Studio is required" required>
          <b-form-select v-model="form_studio.studio" :options="opt_studio" size="sm" class="mt-3" required></b-form-select>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal no-close-on-backdrop id="edit-studio" ref="modal" title="Edit Studio" @show="resetstudio" @hidden="resetstudio" @ok="updatestudio">
      <form ref="form_studio">
        <b-form-group validated label="Studio" label-for="studio" invalid-feedback="Studio is required" required>
          <b-form-select v-model="edit_studio.studio" :options="opt_studio" size="sm" class="mt-3" required></b-form-select>
        </b-form-group>
      </form>
    </b-modal>

  </b-container>
</template>

<script>
  import ContentMixin from "../../mixins/ContentMixin";
  import validToken from "../../mixins/validToken";
  import PermissionMixin from "../../mixins/PermissionMixin";

  export default {
    mixins: [ContentMixin, validToken, PermissionMixin],
    data() {
      return {
        sortBy: 'content_no',
        search: '',
        s_search: '',
        isBusy: true,
        form: {
          name: '',
          ftp_user_acc: '',
          studio: []
        },
        pagination: {},
        page_of_number: [],
        next: 0,
        previous: 0,
        page: 1,
        page_total: 0,
        data: [],
        contentStage: null,
        selected: {},
        fields: [
          {key: 'id', sortable: true, sortDirection: 'desc', thStyle: {width: '10%'}},
          {key: 'name', sortable: true, thStyle: {width: '25%'}},
          {key: 'ftp_user_acc', sortable: true, thStyle: {width: '20%'}},
          {key: 'datetime_created', sortable: true, thStyle: {width: '15%'}},
          {key: 'create_by', sortable: true, thStyle: {width: '15%'}},
          {key: 'actions', thStyle: {width: '15%'}}
        ],
        s_fields: [
          {key: 'vendor_name', sortable: true, thStyle: {width: '25%'}},
          {key: 'studio_name', sortable: true, thStyle: {width: '20%'}},
          {key: 'actions', thStyle: {width: '15%'}}
        ],
        dismissSecsEditSuccess: 5,
        dismissCountDownEditSuccess: 0,
        dismissSecsEditError: 5,
        dismissCountDownEditError: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsAddError: 5,
        dismissCountDownAddError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        dismissSecsDeleteError: 5,
        dismissCountDownDeleteError: 0,
        vendorAllow: {},
        form_studio: { studio: ''},
        edit_studio: {},
        opt_studio: [],
        popup: ''
      }
    },
    async created() {
      this.vendorAllow = await await this.initialPermission('vendor', 'vendor')
      if (!this.vendorAllow.isView) {
        this.$router.push({name: 'Page403'})
      }
      await this.getdata();
      await this.getstudio()
    },
    computed: {
      rows() {
        return this.contents.length
      },
      sortOptions() {
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    methods: {
      async getdata(pageNumber) {
        this.$data.isBusy = true
        const ctx = this;
        try {
          let page = Number(pageNumber);
          page = Number.isNaN(page) ? ctx.data.page : page;
          const toNext = data => {
            ctx.SetInitial(data);
          };
          let params = {page}
          let clean = function (key, obj) {
            delete obj[key];
            return obj
          };
          params = ctx.search !== "" && ctx.search !== null ?
            {
              ...params,
              search: ctx.search,
            }
            : clean('search', params);
          if (params.page === 0) {
            params.page = 1
          }
          this.$services.vendor.read(params)
            .then(toNext)
            .catch(err => err)
        } catch (e) {
        }
      },
      SetInitial({results, current, page_size, count}) {
        this.pagination = {current, page_size, count};
        this.data = results;
        this.isBusy = false
      },

      resetModal() {
        this.form = {
          name: '',
          ftp_user_acc: '',
          studio: []
        };
      },

      handleOk(bvModalEvt) {
        bvModalEvt.preventDefault();
        this.confirmAdd();

      },

      checkFormValidity() {
        const valid = this.$refs.form.checkValidity();
        return valid
      },

      async confirmAdd(bvModalEvt) {
        bvModalEvt.preventDefault()
        if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          try {
            const {data} = await this.$services.vendor.add(this.$data.form)
            this.$nextTick(() => {
              this.$refs.modal.hide()
            })
            this.addSuccess()
            this.$data.isBusy = true
            const ctx = this
            setTimeout(function () {
              ctx.getdata()
            }, 5000);
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.addError();
          }
        } else {
          this.checkFormValidity();
          this.$nextTick(() => {
            this.$refs.modal.show()
          })
        }
      },

      async loadVendor(row) {
        try {
          if (row) {
            this.$data.popup = 'edit'
            this.selected = row;
            await this.getstudiobyid(row.id)
            this.$bvModal.show('edit-vendor')
          }
        } catch (e) {
          console.log('loadVendor:', e)
        }
      },

      async confirmSave(bvModalEvt) {
        bvModalEvt.preventDefault();
        if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          try {
            this.$data.selected['studio'] = this.$data.form.studio
            const {data} = await this.$services.vendor.update(this.$data.selected, this.$data.selected.id)
            this.getdata()
            this.$bvModal.hide('edit-vendor')
            this.selected = {};
            this.editSuccess();
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.editError();
          }
        } else {
          this.$bvModal.show('edit-vendor')
        }
      },
      async remove(row) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          try {
            await this.$services.vendor.remove(row.id);
            await this.getdata();
            this.deleteSuccess();
          } catch (e) {
            if (e.request.status === 404) {
              await this.$bvModal.msgBoxOk('Not Found (404)');
            }
            if (e.request.status === 500) {
              await this.$bvModal.msgBoxOk('Server Error (500)');
            }
            this.deleteError();
          }
        } else {
          this.$bvModal.hide()
        }
      },
      editSuccess() {
        this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
      },
      editError() {
        this.dismissCountDownEditError = this.dismissSecsEditError
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      addError() {
        this.dismissCountDownAddError = this.dismissSecsAddError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      deleteError() {
        this.dismissCountDownDeleteError = this.dismissSecsDeleteError
      },
      countDownChangedEditSuccess(dismissCountDownEditSuccess) {
        this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
      },
      countDownChangedEditError(dismissCountDownEditError) {
        this.dismissCountDownEditError = dismissCountDownEditError
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedAddError(dismissCountDownAddError) {
        this.dismissCountDownAddError = dismissCountDownAddError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
      countDownChangedDeleteError(dismissCountDownDeleteError) {
        this.dismissCountDownDeleteError = dismissCountDownDeleteError
      },

      checkFormValidityStudio() {
        const valid = this.$refs.form_studio.checkValidity();
        return valid
      },

      resetstudio() {
        this.form_studio = {
          studio: '',
        };
      },

      addstudio(bvModalEvt) {
        bvModalEvt.preventDefault()
        if (this.checkFormValidityStudio()) {
          let vendor_name = ''
          if (this.$data.popup == 'edit') {
            vendor_name = this.$data.selected.name != '' ? this.$data.selected.name : ''
          }else{
            vendor_name = this.$data.form.name != '' ? this.$data.form.name : ''
          }
          this.$data.form.studio.push({
            'vendor_name': vendor_name,
            'studio': this.$data.form_studio.studio,
            'studio_name': this.filterobject(this.$data.form_studio.studio, this.$data.opt_studio)
          })
          this.$nextTick(() => {
            this.$refs.modal.hide()
          })
        } else {
          this.$nextTick(() => {
            this.$refs.modal.show()
          })
        }
      },

      async loadstudio(row) {
        try {
          if (row) {
            this.$data.edit_studio = row.item
            this.$data.edit_studio.index = row.index
            this.$bvModal.show('edit-studio')
          }
        }catch (e) {
          console.log(e)
        }
      },

      async updatestudio(bvModalEvt) {
        bvModalEvt.preventDefault();
        if (this.checkFormValidity()) {
          this.$data.form.studio[this.$data.edit_studio.index]['studio'] = this.$data.edit_studio.studio
          this.$data.form.studio[this.$data.edit_studio.index]['studio_name'] = this.filterobject(this.$data.edit_studio.studio, this.$data.opt_studio)
          this.$nextTick(() => {
            this.$refs.modal.hide()
          })
        } else {
          this.$bvModal.show('edit-studio')
        }
      },

      async removestudio(row) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          this.$delete(this.$data.form.studio, row.index)
        } else {
          this.$bvModal.hide()
        }
      },

      filterobject (id, items) {
        for (var i in items) {
          if (items[i]['value'] == id) {
            return items[i].text
          }
        }
      },

      async getstudio() {
        const ctx = this;
        ctx.$services.studio.find()
          .then(function (data) {
            for (var i in data) {
              ctx.$data.opt_studio.push({'value': data[i]['id'], 'text': data[i]['name']})
            }
          })
      },

      async getstudiobyid(id) {
        const ctx = this
        ctx.$services.vendor.readstudio(id)
          .then(function (data) {
            ctx.$data.form.studio = data
          })
          .catch(function (e) {
            console.log(e)
            // ctx.error(e)
          })
      },

    }
  }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
