<template>
  <b-container fluid>
    <b-row class="text-center">
      <b-col cols="1">
        <a
          style="border: none; background-color: #fff"
          class="p-0 m-0"
          @click="backPage()"
        >
          <i class="fa fa-mail-reply fa-lg mt-4"></i><br />Back
        </a>
      </b-col>
    </b-row>
    <div class="mt-3 mb-3">
      <b-embed
        type="iframe"
        aspect="16by9"
        src="https://www.youtube.com/embed/RQDVb2rTTpA"
        allowfullscreen
      ></b-embed>
    </div>
    <form ref="form">
      <b-row>
        <b-col sm="12">
          <b-tabs content-class="mt-3" align="center">
            <b-tab active>
              <template v-slot:title> Video and SBR </template>
              <b-table
                responsive
                :items="Array.isArray(temInfo.video) ? temInfo.video : []"
                :fields="fieldsVideo"
                style="text-align: center"
              >
                <template v-slot:cell(resolution)="row">
                  {{ row.item.detail.resolution }}
                </template>
                <template v-slot:cell(codec)="row">
                  {{ row.item.detail.codec }}
                </template>
                <template v-slot:cell(receive_date)="row">
                  {{ row.item.detail.datetime_receive }}
                </template>
                <template v-slot:cell(workflow_info)="row">
                  <b-badge
                    :style="`background-color: ${
                      status[row.item.workflow_info.status]
                    }`"
                    >{{ row.item.workflow_info.status }}</b-badge
                  >
                </template>
              </b-table>
            </b-tab>
            <b-tab>
              <template v-slot:title> Audio </template>
              <b-table
                :items="Array.isArray(temInfo.audio) ? temInfo.audio : []"
                :fields="fieldsAudio"
                striped
                style="text-align: center"
                responsive="sm"
              >
                <template v-slot:cell(language)="row">
                  {{ row.item.detail.language }}
                </template>
                <template v-slot:cell(channel_layout)="row">
                  {{ row.item.detail.channel_layout }}
                </template>
                <template v-slot:cell(codec)="row">
                  {{ row.item.detail.codec }}
                </template>
                <template v-slot:cell(receive_date)="row">
                  {{ row.item.detail.datetime_receive }}
                </template>
                <template v-slot:cell(workflow_info)="row">
                  <b-badge
                    :style="`background-color: ${
                      status[row.item.workflow_info.status]
                    }`"
                    >{{ row.item.workflow_info.status }}</b-badge
                  >
                </template>
                <!-- <template slot="show_detail" slot-scope="row">
                  <b-button size="sm" @click="row.toggleDetails" class="mr-2" variant="dark">
                    {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                  </b-button>
                </template>
                <template v-slot:row-details="row">
                  <b-card>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Index:</b></b-col>
                      <b-col class="text-sm-left">{{ row.item.index }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Codec:</b></b-col>
                      <b-col class="text-sm-left">{{ row.item.codec }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Language:</b></b-col>
                      <b-col sm="3" class="text-sm-left">
                        <b-form-select v-model="row.item.lang" :options="options_lang"></b-form-select>
                      </b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Channel layout:</b></b-col>
                      <b-col class="text-sm-left">{{ row.item.channel_layout }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Bit rate:</b></b-col>
                      <b-col class="text-sm-left">{{ row.item.bit_rate }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Is enable:</b></b-col>
                      <b-col class="text-sm-left">
                        <b-form-checkbox switch v-model="row.item.is_enable"></b-form-checkbox>
                      </b-col>
                    </b-row>
                  </b-card>
                </template> -->
              </b-table>
            </b-tab>
            <b-tab>
              <template v-slot:title> Subtitles </template>
              <b-table
                :items="Array.isArray(temInfo.audio) ? temInfo.audio : []"
                :fields="fieldsSubtitles"
                striped
                style="text-align: center"
                responsive="sm"
              >
                <template slot="show_detail" slot-scope="row">
                  <b-button
                    size="sm"
                    @click="row.toggleDetails"
                    class="mr-2"
                    variant="dark"
                  >
                    {{ row.detailsShowing ? "Hide" : "Show" }} Details
                  </b-button>
                </template>
                <template v-slot:row-details="row">
                  <b-card>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Index:</b></b-col>
                      <b-col class="text-sm-left">{{ row.item.index }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"><b>Codec:</b></b-col>
                      <b-col class="text-sm-left">{{ row.item.codec }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"
                        ><b>Language:</b></b-col
                      >
                      <b-col sm="3" class="text-sm-left">
                        <b-form-select
                          v-model="row.item.lang"
                          :options="options_lang"
                        ></b-form-select>
                      </b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"
                        ><b>Channel layout:</b></b-col
                      >
                      <b-col class="text-sm-left">{{
                        row.item.channel_layout
                      }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"
                        ><b>Bit rate:</b></b-col
                      >
                      <b-col class="text-sm-left">{{
                        row.item.bit_rate
                      }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right"
                        ><b>Is enable:</b></b-col
                      >
                      <b-col class="text-sm-left">
                        <b-form-checkbox
                          switch
                          v-model="row.item.is_enable"
                        ></b-form-checkbox>
                      </b-col>
                    </b-row>
                  </b-card>
                </template>
                <template v-slot:cell(workflow_info)="row">
                  <b-badge
                    :style="`background-color: ${
                      status[row.item.workflow_info.status]
                    }`"
                    >{{ row.item.workflow_info.status }}</b-badge
                  >
                </template>
              </b-table>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
      <!-- <br>
      <b-row>
        <b-col sm="5"></b-col>
        <b-col sm="2">
          <b-button to="/new-asset/asset" variant="primary" class="btn btn-primary float-left">
            <i class="fa fa-arrow-circle-left"></i> Back
          </b-button>
          <b-button class="ml-2" variant="success" @click="updateInfo">
            <i class="fa fa-plus-circle"></i> Save
          </b-button>
        </b-col>
        <b-col sm="5"></b-col>
      </b-row> -->
      <br />
    </form>
  </b-container>
</template>

<script>
import AssetMixin from "../../mixins/assetMixin";
import moment from "moment";
import PermissionMixin from "../../mixins/PermissionMixin";

export default {
  mixins: [AssetMixin, PermissionMixin],
  name: "DetailAsset",
  data() {
    return {
      options_lang: [
        { value: "tha", text: "tha" },
        { value: "eng", text: "eng" },
        { value: "kor", text: "kor" },
        { value: "jpn", text: "jpn" },
        { value: "und", text: "und" },
      ],
      fieldsAudio: [
        { key: "id", label: "Asset Id", sortable: true },
        { key: "file_name", sortable: true },
        { key: "language", sortable: true },
        { key: "channel_layout", sortable: true },
        { key: "codec", sortable: true },
        { key: "receive_date", sortable: true },
        { key: "workflow_info", label: 'Status', sortable: true },
        { key: "action", sortable: true },
      ],
      itemAssets: [],
      fieldsVideo: [
        { key: "id", label: "Asset Id", sortable: true },
        { key: "file_name", sortable: true },
        { key: "resolution", sortable: true },
        { key: "codec", sortable: true },
        { key: "receive_date", sortable: true },
        { key: "workflow_info", label: 'Status', sortable: true },
        { key: "action", sortable: true },
      ],
      fieldsSubtitles: [
        { key: "id", label: "Asset Id", sortable: true },
        { key: "file_name", sortable: true },
        { key: "language", sortable: true },
        { key: "workflow_info", label: 'Status', sortable: true },
        { key: "action", sortable: true },
      ],
      sortBy: "content_no",
      perPage: 10,
      currentPage: 1,
      Action: "create",
      total_episode: 1,
      ep_no_suffix_flag: "Y",
      selected: {},
      temInfo: [],
      infoStage: null,
      message_success: "",
      name_en: "",
      name_th: "",
      synopsis_en: "",
      synopsis_th: "",
      dismissSecsEditSuccess: 5,
      dismissCountDownEditSuccess: 0,
      dismissSecsEditError: 5,
      dismissCountDownEditError: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsAddError: 5,
      dismissCountDownAddError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsDeleteError: 5,
      dismissCountDownDeleteError: 0,
      assetAllow: {},
    };
  },
  computed: {
    rowsCreated() {
      return this.contents.length;
    },
    rowsUpdated() {
      return this.temData.content_list.length;
    },
  },
  async created() {
    await this.fetchGroupPermission();
    this.assetAllow = await this.initialPermission("asset", "asset");
    console.log(this.assetAllow);
    if (!this.assetAllow.isDetail) {
      this.$router.push({ name: "Page403" });
    }
    await this.getdata();
  },
  methods: {
    moment,
    // async getdata () {
    //   const {data} = this.$services.asset.findByid(this.$route.params.id)
    //   // this.$data.temInfo = data
    //   console.log(data)
    // },
    getdata() {
      const ctx = this;
      this.$services.asset
        .findByid(this.$route.params.id)
        .then(function (data) {
          ctx.temInfo = data.data;
          console.log("data:", ctx.temInfo);
        });
    },

    backPage() {
      this.$router.push({ name: "Asset" });
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.infoStage = valid ? "valid" : "invalid";
      return valid;
    },
    async updateInfo(bvModalEvt) {
      bvModalEvt.preventDefault();
      if (await this.$bvModal.msgBoxConfirm("Do you really want to edit ?")) {
        try {
          const {
            asset_id,
            is_local,
            publish_date,
            expired_date,
            description,
            title_en,
            title_th,
            synopsis_en,
            synopsis_th,
            audio,
          } = this.temInfo;
          console.log(this.temInfo);
          delete this.temInfo._id;
          await this.$services.asset.updateInfo(asset_id, this.temInfo);
          this.$router.push({ name: "AssetInfo" });
          this.editSuccess();
        } catch (e) {
          if (e.request.status === 404) {
            await this.$bvModal.msgBoxOk("Not Found (404)");
          }
          if (e.request.status === 500) {
            await this.$bvModal.msgBoxOk("Server Error (500)");
          }
          this.editError();
        }
      } else {
        this.editError();
      }
    },
    editSuccess() {
      this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess;
    },
    editError() {
      this.dismissCountDownEditError = this.dismissSecsEditError;
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess;
    },
    addError() {
      this.dismissCountDownAddError = this.dismissSecsAddError;
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess;
    },
    deleteError() {
      this.dismissCountDownDeleteError = this.dismissSecsDeleteError;
    },
    mounted() {},
    countDownChangedEditSuccess(dismissCountDownEditSuccess) {
      this.dismissCountDownEditSuccess = dismissCountDownEditSuccess;
    },
    countDownChangedEditError(dismissCountDownEditError) {
      this.dismissCountDownEditError = dismissCountDownEditError;
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess;
    },
    countDownChangedAddError(dismissCountDownAddError) {
      this.dismissCountDownAddError = dismissCountDownAddError;
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess;
    },
    countDownChangedDeleteError(dismissCountDownDeleteError) {
      this.dismissCountDownDeleteError = dismissCountDownDeleteError;
    },
  },
};
</script>
