<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess"
    >
      Update asset success!. This alert will dismiss after
      {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownUpdateError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedUpdateError"
    >
      Update asset error!. This alert will dismiss after
      {{ dismissCountDownUpdateError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess"
    >
      Add asset success!. This alert will dismiss after
      {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError"
    >
      Add asset error!. This alert will dismiss after
      {{ dismissCountDownAddError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess"
    >
      Delete asset success!. This alert will dismiss after
      {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError"
    >
      Delete asset error!. This alert will dismiss after
      {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input
              type="text"
              placeholder="Ex. Id, Name, Page"
              v-model="word"
              @input="fetch"
            >
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-4">
          <b-button-group style="width: 100%">
            <b-button
              class="float-right mr-2"
              variant="primary"
              v-b-toggle.advance-search
            >
              <i class="fa fa-search"></i> Advance Search
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-collapse visible id="advance-search">
        <b-col
          sm="6"
          style="
            display: inline-table;
            justify-content: flex-end;
            font-size: small;
          "
        >
          <b-form-group
            class="mr-2"
            label="Datetime Start:"
            :horizontal="true"
            validated
          >
            <kendo-datetimepicker
              style="width: 100%; font-size: x-small !important"
              v-model="word_datetime_start"
              v-on:close="fetch"
              :time-format="'HH:mm:ss'"
              disabled
              :interval="5"
              :format="'yyyy-MM-dd HH:mm:ss'"
            >
            </kendo-datetimepicker>
          </b-form-group>
        </b-col>
        <b-col
          sm="6"
          style="
            display: inline-table;
            justify-content: flex-end;
            font-size: small;
          "
        >
          <b-form-group
            class="mr-2"
            label="Datetime End:"
            :horizontal="true"
            validated
          >
            <kendo-datetimepicker
              style="width: 100%; font-size: x-small !important"
              v-model="word_datetime_end"
              disabled
              v-on:close="fetch"
              :time-format="'HH:mm:ss'"
              :interval="5"
              :format="'yyyy-MM-dd HH:mm:ss'"
            >
            </kendo-datetimepicker>
          </b-form-group>
        </b-col>
        <b-col
          sm="6"
          style="
            display: inline-table;
            justify-content: flex-end;
            font-size: small;
          "
        >
          <b-form-group
            class="mr-2"
            label="Studio:"
            :horizontal="true"
            validated
          >
            <b-form-select
              v-model="wordStudio"
              @input="fetch"
              style="width: 100%; font-size: x-small"
            >
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option
                v-for="(item, index) in studios"
                v-bind:key="index"
                :value="item.id"
              >
                {{ item.name }}
              </option>
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col
          sm="6"
          style="
            display: inline-table;
            justify-content: flex-end;
            font-size: small;
          "
        >
          <b-form-group
            class="mr-2"
            label="Vendor:"
            :horizontal="true"
            validated
          >
            <b-form-select
              v-model="wordVendor"
              @input="fetch"
              style="width: 100%; font-size: x-small"
            >
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option v-for="(item, index) in vendors" :value="item.id">
                {{ item.name }}
              </option>
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col sm="6" style="display: inline-table;
            justify-content: flex-end;
            font-size: small;">
          <b-form-group class="mr-2" label="Status:" :horizontal="true" validated>
            <b-form-select
              v-model="word_workflow_status"
              @change="fetch"
              style="width: 100%; font-size: x-small">
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option v-for="(item, index) in workflow_status" :key="item.name" :value="item.name">{{item.name}}</option>
            </b-form-select>
          </b-form-group>
        </b-col>
      </b-collapse>
      <b-overlay :show="showOverlay" rounded="sm">
        <template v-slot:overlay>
          <b-spinner label="Loading..."></b-spinner>
        </template>
      <b-card>
        <div slot="header">
          <strong>Asset</strong>
        </div>
        <b-table
          :items="Array.isArray(this.asset) ? this.asset : []"
          :fields="fields"
          responsive
          style="text-align: center"
          id="content-table"
        >
          <template v-slot:cell(datetime_receive)="row">
            {{ toDatetime(row.item.datetime_receive) }}
          </template>
          <template v-slot:cell(datetime_expect_receive)="row">
            {{
              moment(row.item.datetime_expect_receive).format(
                "YYYY-MM-DD HH:mm:ss"
              )
            }}
          </template>
          <template v-slot:cell(workflow_status)="row">
            <b-badge
              :style="`background-color: ${status[row.item.workflow_status]}`"
              >{{ row.item.workflow_status }}</b-badge
            >
          </template>
          <template v-slot:cell(action)="row">
            <div style="display: inline-flex">
            <!-- <b-col sm="6" class="mb-2" style="display: inline-flex"> -->
              <b-button
                variant="outline-primary"
                size="sm"
                class="mr-2"
                :to="{
                name: 'Asset Preview',
                params: { id: row.item.episode_id },
              }"
                v-if="assetAllow.isDetail">
               Edit
              </b-button>
            <!-- </b-col> -->
            <!-- <b-col sm="6" class="mb-2" style="display: inline-flex;"> -->
            <b-button
              variant="danger"
              size="sm"
              type="reset"
              @click="confirmRemove(row.item.id)"
              v-if="assetAllow.isDelete"
            >
             Delete
            </b-button>
            </div>
            <!-- </b-col> -->
          </template>
        </b-table>
        <div
          class="overflow-auto"
          style="float: right"
          v-if="this.asset.length"
        >
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="fetch"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
      </b-card>
      </b-overlay>
    </div>
  </b-container>
</template>

<script>
import moment from "moment";
import PermissionMixin from "../../mixins/PermissionMixin";
import AssetMixin from "../../mixins/assetMixin";
export default {
  mixins: [PermissionMixin, AssetMixin],
  data() {
    return {
      moment,
      pagination: {},
      word: null,
      asset: [],
      showOverlay: false,
      workflow_status: [
        { name: "Running" },
        { name: "Completed" },
        { name: "Failed" },
        { name: "Timed_out" },
        { name: "Terminated" },
        { name: "Paused" },
        { name: "Waiting" },
        { name: "none" },
      ],
      fields: [
        { key: "episode_id", sortable: true },
        { key: "episode_name", sortable: true, sortDirection: "desc" },
        {
          key: "datetime_expect_receive",
          label: "Expect Date",
          sortable: true,
        },
        { key: "datetime_receive", label: "Receive Date", sortable: true },
        { key: "workflow_status", label: "Status", sortable: true },
        { key: "asset_count", sortable: true },
        { key: "action" },
      ],
      id: -1,
      dismissSecsUpdateSuccess: 5,
      dismissCountDownUpdateSuccess: 0,
      dismissSecsUpdateError: 5,
      dismissCountDownUpdateError: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsAddError: 5,
      dismissCountDownAddError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsDeleteError: 5,
      dismissCountDownDeleteError: 0,
      studios: [],
      vendors: [],
      statusChoices: [],
      word_datetime_start: "",
      word_datetime_end: new Date(),
      wordStudio: "",
      wordVendor: "",
      wordStatus: "",
      word_workflow_status: "",
      checkPermission: {},
      assetAllow: {},
      isAdd: false,
      isEdit: false,
      isDelete: false,
    };
  },
  async created() {
    await this.fetchGroupPermission();
    this.assetAllow = await this.initialPermission("asset", "asset");
    // console.log(this.assetAllow);
    if (!this.assetAllow.isView) {
      this.$router.push({ name: "Page403" });
    }
    await this.minusDate();
    await this.fetch();
    this.initSelected();
  },
  computed: {},
  methods: {
    toDatetime(datetimeResceive) {
      try {
        if (datetimeResceive) {
          return moment(datetimeResceive).format("YYYY-MM-DD HH:mm:ss");
        }
        return "";
      } catch (err) {
        return "";
      }
    },
    async minusDate() {
      this.word_datetime_start = this.toDatetime(
        this.word_datetime_end.setDate(this.word_datetime_end.getDate() - 7)
      );
    },
    async fetch(pageNumber) {
      const ctx = this;
      try {
        ctx.showOverlay = true
        let page = Number(pageNumber);
        page = Number.isNaN(page) ? ctx.asset.page : page;
        const toNext = (asset) => {
          ctx.SetInitial(asset);
        };
        let params = { page };
        let clean = function (key, obj) {
          delete obj[key];
          return obj;
        };
        params =
          (ctx.word !== "" && ctx.word !== null) ||
          (ctx.word_datetime_start !== "" &&
            ctx.word_datetime_start !== null) ||
          (ctx.word_datetime_end !== "" && ctx.word_datetime_end !== null) ||
          (ctx.wordStudio !== "" && ctx.wordStudio !== null) ||
          // (ctx.word_workflow_status !== "" && ctx.word_workflow_status !== null) ||
          (ctx.wordVendor !== "" && ctx.wordVendor !== null)
            ? {
                ...params,
                search: ctx.word,
                datetime_expect_receive_start: ctx.word_datetime_start,
                datetime_expect_receive_end: ctx.word_datetime_end,
                studio_id: ctx.wordStudio,
                vendor_id: ctx.wordVendor,
                // workflow_status: ctx.word_workflow_status,
              }
            : clean("search", params);
        if (params.page === 0) {
          params.page = 1;
        }
        this.$services.episode
          .findAsset(params)
          .then(toNext)
          .catch((err) => err);
      } catch (e) {}
    },
    onOpen: function (e) {
      console.log("DateRangePicker is opened");
    },
    onClose: function (e) {
      console.log("DateRangePicker is closed");
    },
    onChange: function (e) {
      console.log("DateRangePicker selected date is changed");
    },
    convertDate(datetime) {
      if (datetime) {
        let [date, time] = datetime.split(" ");
        let [day, month, year] = date.split("/");
        let [hour, minutes, seconds] = time.split(":");
        return `${[year, month, day].join("-")}T${[hour, minutes, seconds].join(
          ":"
        )}`;
      }
    },
    SetInitial({ results, current, page_size, count }) {
      this.pagination = { current, page_size, count };
      this.asset = results;
      this.showOverlay = false
    },
    initSelected() {
      const ctx = this;
      // set Studio
      ctx.$services.studio
        .find()
        .then((studios) => {
          ctx.studios = studios;
        })
        .catch(console.log);

      // set vendors
      ctx.$services.vendor
        .find()
        .then((vendors) => {
          ctx.vendors = vendors;
        })
        .catch(console.log);

      ctx.$services.config
        .findByTitleStatus()
        .then((config) => {
          ctx.statusChoices = config;
        })
        .catch(console.log);
    },
    async remove() {
      try {
        // await this.$services.asset.remove(this.id);
        await this.deleteSuccess();
        await this.fetch();
      } catch (e) {
        await this.deleteError();
      }
    },
    async confirmRemove(id) {
      if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
        this.id = id;
        await this.remove();
      }
    },
    mounted() {},
    updateSuccess() {
      this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess;
    },
    updateError() {
      this.dismissCountDownUpdateError = this.dismissSecsUpdateError;
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess;
    },
    addError() {
      this.dismissCountDownAddError = this.dismissSecsAddError;
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess;
    },
    deleteError() {
      this.dismissCountDownDeleteError = this.dismissSecsDeleteError;
    },
    countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
      this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess;
    },
    countDownChangedUpdateError(dismissCountDownUpdateError) {
      this.dismissCountDownUpdateError = dismissCountDownUpdateError;
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess;
    },
    countDownChangedAddError(dismissCountDownAddError) {
      this.dismissCountDownAddError = dismissCountDownAddError;
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess;
    },
    countDownChangedDeleteError(dismissCountDownDeleteError) {
      this.dismissCountDownDeleteError = dismissCountDownDeleteError;
    },
  },
};
</script>

<style>
ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 5px 5px;
}
</style>
