<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownMsgError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedMsgError">
      {{messageError}}. This alert will dismiss after {{ dismissCountDownMsgError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit channel success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add channel success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete channel success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete channel error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Code, Name, .." v-model="word" @input="fetch()">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button style="height: 35px;" v-b-modal.add-channel class="float-right mr-2" type="submit" size="sm"
                      variant="primary">
              <i class="fa fa-plus-circle"></i> Add Channel
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <br>

      <b-card>
        <b-overlay :show="showOverlay" rounded="sm">
        <div slot="header">
          <strong>Channel</strong>
        </div>
        <b-table
          :items="Array.isArray(channels) ? channels: []"
          :fields="fields"
          responsive="sm"
          style="text-align: center"
          id="channel-table">
          <template v-slot:cell(actions)="row">
            <b-button @click="loadChannel(row.item.code)" variant="outline-primary" size="sm" class="mr-1">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="deleteChannel(row.item.code)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" :class="previous ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadChannels({page: previous, search})">Previous</a>
            </li>
            <li v-for="(page_number, index) in page_of_number"  v-bind:key="index" class="page-item" :class="page_number === page ? 'active': '' "
                v-if="Math.abs(page_number - page) < 3 || page_number === page_of_number - 1 || page_number === 0">
              <a class="page-link pageNum" href="#" @click="loadChannels({page: page_number, search})"
              >{{page_number}}</a></li>
            <li class="page-item" :class="next ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadChannels({page: next, search})">Next</a>
            </li>
          </ul>
        </nav>
        </b-overlay>
      </b-card>
    </div>

    <!-- Add Channel Modal -->
    <b-modal
      id="add-channel"
      ref="modal"
      size="lg"
      title="Add Channel"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <form ref="form">
        <b-row>
        <b-form-group
          class="col-md-6"
          validated
          label="Code"
          label-for="code"
          invalid-feedback="Code is required">
          <b-form-input
            id="code"
            v-model="channel.code"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
        validated
          class="col-md-6"
          label="Name"
          label-for="name">
          <b-form-input
            id="name"
            v-model="channel.name">
          </b-form-input>
        </b-form-group>
        <b-form-group
        validated
          class="col-md-6"
          label="Bms Code"
          label-for="bms_code">
          <b-form-input
            id="bms_code"
            v-model="channel.bms_code">
          </b-form-input>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Definition Type"
          label-for="definition_type"
          invalid-feedback="Definition Type is required">
          <b-form-select label="Definition Type" v-model="channel.definition_type" required>
            <template slot="first">
              <option value="SD">SD</option>
              <option value="HD">HD</option>
              <option value="UHD">UHD</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Source"
          label-for="source"
          invalid-feedback="Source is required">
          <b-form-select label="Source" v-model="selected.source" required>
            <template slot="first">
              <option value="TVG">TVG</option>
              <option value="INTERNET">INTERNET</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
        validated
          class="col-md-6"
          label="Is Active"
          label-for="is_active">
          <b-form-select label="Is Active" v-model="channel.is_active">
            <template slot="first">
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
        validated
          class="col-md-6"
          label="Is Catchup"
          label-for="is_catchup">
          <b-form-select label="Is Catchup" v-model="channel.is_catchup">
            <template slot="first">
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
        validated
          class="col-md-6"
          label="Is Live Record"
          label-for="is_live_record">
          <b-form-select label="Is Live Record" v-model="channel.is_live_record">
            <template slot="first">
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
        validated
          class="col-md-6"
          label="Is Blackout"
          label-for="is_blackout">
          <b-form-select label="Is Blackout" v-model="channel.is_blackout">
            <template slot="first">
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </template>
          </b-form-select>
        </b-form-group>
        </b-row>
      </form>
    </b-modal>

    <!--     Edit Channel Modal-->
    <b-modal
      id="edit-channel"
      ref="modal"
      size="lg"
      @show="resetModal"
      @hidden="resetModal"
      title="Edit Channel"
      @ok="confirmEdit">
      <form ref="form">
        <b-row>
        <b-form-group
          class="col-md-6"
          validated
          label="Code"
          label-for="code"
          invalid-feedback="Code is required">
          <b-form-input
            id="code"
            v-model="selected.code"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          label="Name"
          label-for="name">
          <b-form-input
            id="name"
            v-model="selected.name">
          </b-form-input>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          label="Bms Code"
          label-for="bms_code">
          <b-form-input
            id="bms_code"
            v-model="selected.bms_code">
          </b-form-input>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Definition Type"
          label-for="definition_type"
          invalid-feedback="Definition Type is required">
          <b-form-select label="Definition Type" v-model="selected.definition_type" required>
            <template slot="first">
              <option value="SD">SD</option>
              <option value="HD">HD</option>
              <option value="UHD">UHD</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          validated
          label="Source"
          label-for="source"
          invalid-feedback="Source is required">
          <b-form-select label="Source" v-model="selected.source" required>
            <template slot="first">
              <option value="TVG">TVG</option>
              <option value="INTERNET">INTERNET</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          label="Is Active"
          label-for="is_active">
          <b-form-select label="Is Active" v-model="selected.is_active">
            <template slot="first">
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          label="Is Catchup"
          label-for="is_catchup">
          <b-form-select label="Is Catchup" v-model="selected.is_catchup">
            <template slot="first">
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          label="Is Live Record"
          label-for="is_live_record">
          <b-form-select label="Is Live Record" v-model="selected.is_live_record">
            <template slot="first">
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-6"
          label="Is Blackout"
          label-for="is_blackout">
          <b-form-select label="Is Blackout" v-model="selected.is_blackout">
            <template slot="first">
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </template>
          </b-form-select>
        </b-form-group>
        </b-row>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
  import ContentMixin from "../../mixins/ContentMixin";
  import validToken from "../../mixins/validToken";

  export default {
    mixins: [ContentMixin, validToken],
    data() {
      return {
        messageError: '',
        channelStage: null,
        word: '',
        showOverlay: false,
        pagination: {},
        select_code: '',
        search: '',
        page_of_number: [],
        next: 0,
        previous: 0,
        page: 1,
        page_total: 0,
        page_size: 15,
        channel: {
          code: '',
          name: '',
          bms_code: '',
          is_catchup: 'Y',
          source: '',
          definition_type: '',
          is_active: 'Y',
          is_live_record: 'Y',
          is_blackout: 'Y'
        },
        channels: [],
        selected: {},
        fields: [
          {key: 'code', sortable: true, sortDirection: 'desc'},
          {key: 'name', label: 'Name', sortable: true,},
          {key: 'bms_code', sortable: true,},
          {key: 'definition_type', sortable: true,},
          {key: 'actions'}
        ],
        dismissSecsMsgError: 5,
        dismissCountDownMsgError: 0,
        dismissSecsEditSuccess: 5,
        dismissCountDownEditSuccess: 0,
        dismissSecsEditError: 5,
        dismissCountDownEditError: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsAddError: 5,
        dismissCountDownAddError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        dismissSecsDeleteError: 5,
        dismissCountDownDeleteError: 0,
      }
    },
    async created() {
      await this.fetch()
    },
    computed: {
      sortOptions() {
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    methods: {
      async fetch(pageNumber) {
        console.log('a')
        const ctx = this;
          try {
            let page = Number(pageNumber);
            page = Number.isNaN(page) ? ctx.channels.page : page;
            const toNext = channels => {
              ctx.SetInitial(channels);
            };
            let params = {page}
            let clean = function (key, obj) {
              delete obj[key];
              return obj
            };
            params = ctx.word !== "" && ctx.word !== null ?
              {
                ...params,
                search: ctx.word,
              }
              : clean('search', params);
            if (params.page === 1) {
               delete  params.page
            }
            ctx.showOverlay = true
            console.log(params)
            ctx.$services.channel.find(params)
              .then(toNext)
              .catch(err => err)
          } catch (e) {
            console.log(e)
          }
        //  else {
        //   ctx.channels = []
        // }
      },
      SetInitial({results, current, page_size, count}) {
        this.pagination = {current, page_size, count};
        this.channels = results;
        this.showOverlay = false
      },
      async OnSearch() {
        if (this.search && this.search.length > 0)
          await this.loadChannels({search: this.search})
        else {
          this.loadChannels({page: this.page})
        }
      },
      async loadChannel(code) {
        console.log(code)
        const data = await this.$services.channel.findById(code);
        console.log(data)
        if (data) {
          this.selected = data;
          this.selected_code = data.code;
          this.$bvModal.show('edit-channel')
        }
      },
      resetModal() {
        this.channel = {
          code: '',
          name: '',
          bms_code: '',
          is_catchup: 'N',
          source: '',
          definition_type: '',
          is_live_record: 'N',
          is_active: 'Y',
          is_blackout: 'N'
        };
        this.channelStage = null
      },
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity();
        this.channelStage = valid ? 'valid' : 'invalid';
        return valid
      },
      handleOk(bvModalEvt) {
        bvModalEvt.preventDefault();
        this.confirmAdd();
      },
      async confirmEdit(bvModalEvt) {
        bvModalEvt.preventDefault();
        if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
          try {
            await this.$services.channel.updateChannel(this.selected_code, this.selected);
            // const response = await this.$services.channel.findById(this.selected_code);
            // const toMapping = (code,item) => channel => code === channel.code ? item : channel;
            // const {data} =  response;
            // this.channels = this.channels.map(toMapping(this.selected_code, data));
            await this.fetch();
            this.editSuccess();
            this.$bvModal.hide('edit-channel')
          } catch (e) {
            console.log(e)
            await this.fetch();
            this.editError();
            this.$bvModal.hide('edit-channel')
          }
        } else {
          this.checkFormValidity();
          await this.$bvModal.msgBoxOk('Please fill in the blank.');
        }
      },
      async confirmAdd() {
        console.log(this.channel)
        try {
          console.log(this.channel)
          await this.$services.channel.addChannel(this.channel)
            .then(() => {
              this.addSuccess();
              this.fetch()
            }).catch((e) => {
              this.messageError = Object.values(e.response.data)[0][0];
              this.msgError();
              this.fetch();
            }
          )
        } catch (e) {
          console.log(e)
          this.messageError = Object.values(e.response.data)[0][0];
          this.msgError();
          this.fetch();
        }
      },
      async deleteChannel(code) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          try {
            await this.$services.channel.deleteChannel(code);
            await this.fetch();
            this.deleteSuccess();
          } catch (e) {
            console.log(e)
            await this.fetch();
            this.deleteError();
          }
        } else {
          return undefined;
        }
      },
      editSuccess() {
        this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
      },
      editError() {
        this.dismissCountDownEditError = this.dismissSecsEditError
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      addError() {
        this.dismissCountDownAddError = this.dismissSecsAddError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      deleteError() {
        this.dismissCountDownDeleteError = this.dismissSecsDeleteError
      },
      msgError() {
        this.dismissCountDownMsgError = this.dismissSecsMsgError
      },
      mounted() {
      },
      countDownChangedMsgError(dismissCountDownMsgError) {
        this.dismissCountDownMsgError = dismissCountDownMsgError
      },
      countDownChangedEditSuccess(dismissCountDownEditSuccess) {
        this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
      },
      countDownChangedEditError(dismissCountDownEditError) {
        this.dismissCountDownEditError = dismissCountDownEditError
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedAddError(dismissCountDownAddError) {
        this.dismissCountDownAddError = dismissCountDownAddError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
      countDownChangedDeleteError(dismissCountDownDeleteError) {
        this.dismissCountDownDeleteError = dismissCountDownDeleteError
      },
    }
  }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
