<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownNoEpg"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedNoEpg">
      No electronic program guide (epg). This alert will dismiss after {{ dismissCountDownNoEpg }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit channel success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add channel success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete channel success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete channel error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-col sm="6" style="display: inline-table; justify-content: flex-end;">
          <b-form-group class="mr-2" label="Datetime Start" :horizontal="true" validated>
            <kendo-datetimepicker class="ml-1" style="width: 100%;"
                                  v-model="datetime_start"
                                  :time-format="'HH:mm:ss'"
                                  v-on:close="fetch"
                                  disabled
                                  :interval="5" :format="'yyyy-MM-dd HH:mm:ss'">
            </kendo-datetimepicker>
          </b-form-group>
        </b-col>
        <b-col sm="6" style="display: inline-table; justify-content: flex-end;">
          <b-form-group class="mr-2" label="Datetime End" :horizontal="true" validated>
            <kendo-datetimepicker class="ml-1" style="width: 100%;"
                                  v-model="datetime_end"
                                  :time-format="'HH:mm:ss'"
                                  v-on:close="fetch"
                                  disabled
                                  :interval="5" :format="'yyyy-MM-dd HH:mm:ss'">
            </kendo-datetimepicker>
          </b-form-group>
        </b-col>
        <b-form-group class="col-md-6"
                      label="Code"
                      validated=""
                      label-for="code"
                      invalid-feedback="Code is required">
          <b-form-select class="ml-2" style="width: 100%" v-model="bms_code" @input="fetch()">
             <template slot="first">
                <option :value="''">none</option>
              </template>
              <option v-for="(item, index) in code" :key="index" :value="item.bms_code">{{item.name}} ( {{item.code}} )
              </option>
          </b-form-select>
        </b-form-group>
        <b-form-group class="col-md-6" label="Search">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="word" @change="fetch()">
            </b-form-input>
          </b-input-group>
        </b-form-group>
      </b-row>
      <br>
      <b-card>
        <b-overlay :show="showOverlay" rounded="sm">
        <b-table
          responsive
          id="epg-table"
          :items="Array.isArray(epg) ? epg: []"
          :fields="fields"
          style="text-align: center;">
          <template v-slot:cell(datetime_start)="row">
            {{datetimeDisplay(row.item.datetime_start)}}
          </template>
          <template v-slot:cell(datetime_end)="row">
            {{datetimeDisplay(row.item.datetime_end)}}
          </template>
        </b-table>
        </b-overlay>
        <!-- <div class="overflow-auto" style="float: right" v-if="this.epg.length">
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="fetch"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div> -->
      </b-card>
    </div>

  </b-container>
</template>

<script>
  import ContentMixin from "../../mixins/ContentMixin";
  import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
  import Multiselect from 'vue-multiselect'
  import moment from 'moment';
  import validToken from "../../mixins/validToken";

  export default {
    components: {Datepicker, Multiselect},
    mixins: [ContentMixin, validToken],
    data() {
      return {
        showOverlay: false,
        epg: [],
        pagination: {},
        datetime_start: moment(this.datetime_start).format('yyyy-MM-DD 00:00:00'),
        datetime_end: moment(this.datetime_end).format('yyyy-MM-DD 23:59:59'),
        word: '',
        bms_code: '',
        code: [],
        type: [
          {key: 'all', value: 'all'},
          {key: 'select', value: 'select'},
          {key: 'n/a', value: 'n/a'},
        ],
        status: [
          {key: 'all', value: 'all'},
          {key: 'queue', value: 'queue'},
          {key: 'recording', value: 'recording'},
          {key: 'recorded', value: 'recorded'},
        ],
        range: {
          start: new Date(),
          end: new Date()
        },
        formats: {
          input: ['L', 'DD/MM/YYYY', 'DD/MM/YYYY'], // Only for `v-date-picker`
          dayPopover: 'L', // Only for `v-date-picker`
        },
        selected: [],
        items: [],
        search: '',
        channel: {
          bms_code: "N30",
          code: "-",
          definition_code: "HD",
          is_catchup: false,
          languages: [],
          name: "Please select channel."
        },
        channelSelected: '',
        channel_list: [],
        startDate: new Date(),
        endDate: new Date(),
        fields: [
          {key: 'datetime_start', sortable: true, sortDirection: 'desc'},
          {key: 'datetime_end', sortable: true, sortDirection: 'desc'},
          {key: 'duration', sortable: true, sortDirection: 'desc'},
          {key: 'episode_id', sortable: true,},
          {key: 'title_id', sortable: true,},
          {key: 'title_eng', sortable: true,},
          {key: 'title_tha', sortable: true,},
          {key: 'episode_name', sortable: true,},
          {key: 'channel_name', label: 'Channel', sortable: true,},
        ],
        dismissSecsNoEpg: 5,
        dismissCountDownNoEpg: 0,
        dismissSecsEditSuccess: 5,
        dismissCountDownEditSuccess: 0,
        dismissSecsEditError: 5,
        dismissCountDownEditError: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsAddError: 5,
        dismissCountDownAddError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        dismissSecsDeleteError: 5,
        dismissCountDownDeleteError: 0,
      }
    },
    async created() {
      await this.fetchChannel()
    },
    computed: {
      sortOptions() {
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      },
      rows() {
        return this.items.length
      }
    },
    methods: {
      moment,
      async onChange(date, dateString) {
        this.startDate = dateString[0].split('-').reverse().join('');
        this.endDate = dateString[1].split('-').reverse().join('');
        await this.fetchEpgs()
      },
      async fetchChannel() {
        try {
          this.code = await this.$services.channel.fetch();
        } catch (e) {
        
        }
      },
      async fetch(pageNumber) {
        const ctx = this;
        if (ctx.word !== '' || ctx.bms_code !== '') {
          try {
            let page = Number(pageNumber);
            page = Number.isNaN(page) ? ctx.epg.page : page;
            const toNext = epg => {
              ctx.SetInitial(epg);
            };
            console.log(ctx.bms_code)
            let params = {page}
            let clean = function (key, obj) {
              delete obj[key];
              return obj
            };
            console.log(typeof ctx.datetime_start, typeof ctx.datetime_end)
            if (ctx.datetime_start !== '') {
            ctx.datetime_end = moment(ctx.datetime_start).format('yyyy-MM-DD 23:59:59')
            }
            console.log(typeof ctx.datetime_start, typeof ctx.datetime_end)
            console.log(ctx.datetime_start, ctx.datetime_end)
            params = ctx.word !== "" && ctx.word !== null
            || ctx.datetime_start !== "" && ctx.datetime_start !== null
            || ctx.datetime_end !== "" && ctx.datetime_end !== null
            || ctx.bms_code !== "" && ctx.bms_code !== null ?
              {
                ...params,
                search: ctx.word,
                datetime_start_after: ctx.datetime_start,
                datetime_start_before: ctx.datetime_end,
                bms_code: ctx.bms_code,
              }
              : clean('search', params);
            if (params.page === 1) {
               delete  params.page
            }
            this.showOverlay = true
            this.$services.epg.find(params)
              .then(toNext)
              .catch(err => err)
          } catch (e) {
          }
        } else {
          console.log('a')
          await ctx.noEpg()
          ctx.epg = []
        }
      },
      convertDate(datetime) {
        if (datetime) {
          let [date, time] = datetime.split(' ');
          let [day, month, year] = date.split('/');
          let [hour, minutes, seconds] = time.split(':');
          return `${[year, month, day].join('-')}T${[hour, minutes, seconds].join(':')}`
        }
      },
      datetimeDisplay(datetime) {
        datetime = datetime.replace('Z', '')
        return `${moment(datetime).format('DD/MM/YYYY HH:mm:ss')}`
      },
      SetInitial(epg) {
        console.log(epg)
        // this.pagination = {current, page_size, count};
        this.epg = epg;
        this.showOverlay = false
      },
      // async fetchByChannel(channel) {
      //   if (channel && this.startDate && this.endDate) {
      //     this.channelSelected = channel.code;
      //   } else {
      //     this.channelSelected = null;
      //   }
      //   this.fetchEpgs()
      // },
      convertDateEpg() {
        if (this.startDate instanceof Date && this.endDate instanceof Date) {
          this.startDate = moment(this.startDate).format('YYYYMMDD');
          this.endDate = moment(this.startDate).format('YYYYMMDD');
        }
      },
      isDateEpg() {
        if (typeof this.startDate === 'string' && typeof this.endDate === 'string') {

          return true
        } else if (this.startDate instanceof Date && this.endDate instanceof Date) {
          this.convertDateEpg();
          return true
        }
        return false
      },
      // async fetchEpgs() {
      //   let params = this.channelSelected ? {code: this.channelSelected} : {};
      //   params = this.search ? Object.assign(params, {search: this.search}) : params;
      //
      //   try {
      //     if (Object.keys(params).length > 0 && this.isDateEpg()) {
      //       const {data} = await this.$services.epg.getEpg(this.startDate, this.endDate, params);
      //       const {results} = data;
      //       // this.items = []
      //       this.items = results;
      //     } else {
      //       this.items = []
      //     }
      //   } catch (e) {
      //     if (e.request.status === 404) {
      //       await this.$bvModal.msgBoxOk('Not Found (404)');
      //     }
      //     if (e.request.status === 500) {
      //       await this.$bvModal.msgBoxOk('Server Error (500)');
      //     }
      //   }
      // },
      noEpg() {
        this.dismissCountDownNoEpg = this.dismissSecsNoEpg
      },
      editSuccess() {
        this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
      },
      editError() {
        this.dismissCountDownEditError = this.dismissSecsEditError
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      addError() {
        this.dismissCountDownAddError = this.dismissSecsAddError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      deleteError() {
        this.dismissCountDownDeleteError = this.dismissSecsDeleteError
      },
      mounted() {
      },
      countDownChangedNoEpg(dismissCountDownNoEpg) {
        this.dismissCountDownNoEpg = dismissCountDownNoEpg
      },
      countDownChangedEditSuccess(dismissCountDownEditSuccess) {
        this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
      },
      countDownChangedEditError(dismissCountDownEditError) {
        this.dismissCountDownEditError = dismissCountDownEditError
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedAddError(dismissCountDownAddError) {
        this.dismissCountDownAddError = dismissCountDownAddError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
      countDownChangedDeleteError(dismissCountDownDeleteError) {
        this.dismissCountDownDeleteError = dismissCountDownDeleteError
      },
    }
  }
</script>

<style scoped>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }

  input,
  select {
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 100%;
    border: 1px solid #e4e7ea;
    width: 100%;
    border-radius: 0.25rem;
  }

  .ant-calendar-picker-input {
    min-height: 43px;
    display: block;
    padding: 8px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px;
  }

  .ant-calendar-range-picker-input {
    height: 70%;
  }
</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
