<template>
  <b-container fluid>
    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-4"
                      label="Code"
                      label-for="code"
                      invalid-feedback="Code is required">
          <multiselect
            v-model="channel"
            tag-placeholder="Add this as new channel"
            placeholder="Select channel"
            label="name" track-by="name"
            @input="searchChannel"
            :options="channel_list"
            :limit="200">
          </multiselect>
        </b-form-group>
        <b-form-group class="col-md-2"
                      label="Date"
                      label-for="date"
                      invalid-feedback="Date is required">
          <a-date-picker :defaultValue="moment(this.defaultDate)" :format="dateFormat"
                         @change="onChange"></a-date-picker>
        </b-form-group>
      </b-row>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-2">
        <b-button-group >
          <b-button class="" variant="primary" @click="slotDurationTime(list.value)"
                    v-for="(list, index) of slotDurationActive" v-bind:key="index"
                    v-bind:class=" { 'active': slotDuration === list.value }">{{list.value}} min
          </b-button>
        </b-button-group>
        </b-form-group>
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="OnSearch()">
            </b-form-input>
          </b-input-group>
        </b-form-group>
      </b-row>
    </div>
    <br>
    <b-row>
      <b-col class="col-sm-7">
        <b-row>
          <FullCalendar defaultView="timeGridThreeDay"
                        ref="fullCalendar"
                        :plugins="calendarPlugins"
                        :weekends="true"
                        @dateClick="addSchedule"
                        @eventClick="showSchedule"
                        :all-day-slot="false"
                        :events="events"
                        :selectable="true"
                        :event-time-format="eventTimeFormat"
                        :editable="true"
                        :droppable="true"
                        :theme-system="themeSystem"
                        :default-date="defaultDate"
                        :slot-duration="slotDuration"
                        :views="{timeGridOneDay: {
      type: 'timeGrid',
      duration: { days: 1 },
      buttonText: '1 day'
    },
    timeGridThreeDay: {
      type: 'timeGrid',
      duration: { days: 3 },
      buttonText: '3 day'
    },
    timeGridFiveDay: {
      type: 'timeGrid',
      duration: { days: 5 },
      buttonText: '5 day'
    },
    timeGridSevenDay: {
      type: 'timeGrid',
      duration: { days: 7 },
      buttonText: '7 day'
    }
}"
                        :header="{
        left: 'prev,next today',
        center: 'title',
        right: 'timeGridOneDay,timeGridThreeDay,timeGridFiveDay,timeGridSevenDay'
      }"
                        :titleFormat="dateFormat"
                        :column-header-format="dateFormat"
          />
        </b-row>
        <br>
      </b-col>
      <b-col class="col-sm-5">
        <b-tabs>
          <b-tab title="Content">
            <b-col style="text-align: center">
              <b-form-group class="col-md-12">
                <b-input-group>
                  <b-input-group-prepend>
                    <b-button variant="primary">
                      <i class="fa fa-search"></i> Search
                    </b-button>
                  </b-input-group-prepend>
                  <b-form-input type="text" placeholder="Ex. Id, Name, .." @input="OnSearch()">
                  </b-form-input>
                </b-input-group>
              </b-form-group>
              <table class="table table-bordered text-center table-striped" style="width: 100%">
                <tr style="padding: 10px; color: black;">
                  <th v-for="(field, i) in fields_content">{{field.key}}</th>
                </tr>
                <tr v-for="(item, i) in contents" style="display: table-row-group">
                  <td>{{item.content_id}}</td>
                  <td>{{item.name_en}}</td>
                  <td>{{item.duration}}</td>
                  <td>{{item.content_no}}</td>
                </tr>
              </table>
            </b-col>
          </b-tab>
          <b-tab title="Series">
            <b-col style="text-align: center">
              <b-form-group class="col-md-12">
                <b-input-group>
                  <b-input-group-prepend>
                    <b-button variant="primary">
                      <i class="fa fa-search"></i> Search
                    </b-button>
                  </b-input-group-prepend>
                  <b-form-input type="text" placeholder="Ex. Id, Name, .." @input="OnSearch()">
                  </b-form-input>
                </b-input-group>
              </b-form-group>
              <table class="table table-bordered text-center table-striped" style="width: 100%">
                <tr style="padding: 10px; color: black;">
                  <th v-for="(field, i) in fields_series">{{field.key}}</th>
                </tr>
                <tr v-for="(item, i) in series" :key="i" style="display: table-row-group">
                  <td>{{item.series_id}}</td>
                  <td>{{item.name_en}}</td>
                  <td>{{item.duration}}</td>
                  <td>{{item.total_episode}}</td>
                </tr>
              </table>
            </b-col>
          </b-tab>
        </b-tabs>

      </b-col>
    </b-row>

    <b-modal
      id="add-schedule"
      ref="modal"
      size="md"
      title="Add to schedule">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add content error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>
      <form ref="form">
        <!--        <b-form-group class="col-md-12"-->
        <!--                      label="Code"-->
        <!--                      label-for="code"-->
        <!--                      invalid-feedback="Code is required">-->
        <!--          <multiselect-->
        <!--            v-model="channel"-->
        <!--            tag-placeholder="Add this as new channel"-->
        <!--            placeholder="Select channel"-->
        <!--            label="name" track-by="name"-->
        <!--            @input="searchChannel"-->
        <!--            :options="channel_list"-->
        <!--            :limit="200">-->
        <!--          </multiselect>-->
        <!--        </b-form-group>-->
        <b-form-group
          validated
          class="col-md-12"
          label="Title name"
          label-for="title_name"
          invalid-feedback="Title name is required">
          <b-form-input
            style="width: 100% !important;"
            id="title_name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group class="col-md-12"
                      validated
                      label="Start date and time"
                      label-for="start_date"
                      invalid-feedback="Start date is required">
          <kendo-datetimepicker required :interval="15" :format="'dd/MM/yyyy hh:mm:ss'" :week-number="true"
                                style="width: 100% !important;"></kendo-datetimepicker>
        </b-form-group>
        <b-form-group class="col-md-12"
                      validated
                      label="End date and time"
                      label-for="end_date"
                      invalid-feedback="End date is required">
          <kendo-datetimepicker required :interval="15" :format="'dd/MM/yyyy hh:mm:ss'" :week-number="true"
                                style="width: 100% !important;"></kendo-datetimepicker>
        </b-form-group>
      </form>
    </b-modal>
    <b-modal
      id="edit-schedule"
      ref="modal"
      size="md"
      title="Edit to schedule">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add content error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>
      <form ref="form">
        <!--        <b-form-group class="col-md-12"-->
        <!--                      label="Code"-->
        <!--                      label-for="code"-->
        <!--                      invalid-feedback="Code is required">-->
        <!--          <multiselect-->
        <!--            v-model="channel"-->
        <!--            tag-placeholder="Add this as new channel"-->
        <!--            placeholder="Select channel"-->
        <!--            label="name" track-by="name"-->
        <!--            @input="searchChannel"-->
        <!--            :options="channel_list"-->
        <!--            :limit="200">-->
        <!--          </multiselect>-->
        <!--        </b-form-group>-->
        <b-form-group
          validated
          class="col-md-12"
          label="Title name"
          label-for="title_name"
          invalid-feedback="Title name is required">
          <b-form-input
            style="width: 100% !important;"
            id="title_name"
            v-model="eventData.title"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group class="col-md-12"
                      validated
                      label="Start date and time"
                      label-for="start_date"
                      invalid-feedback="Start date is required">
          <kendo-datetimepicker required :interval="15" :format="'dd/MM/yyyy hh:mm:ss'" :week-number="true"
                                style="width: 100% !important;" v-model="eventData.start"></kendo-datetimepicker>
        </b-form-group>
        <b-form-group class="col-md-12"
                      validated
                      label="End date and time"
                      label-for="end_date"
                      invalid-feedback="End date is required">
          <kendo-datetimepicker required :interval="15" :format="'dd/MM/yyyy hh:mm:ss'" :week-number="true"
                                style="width: 100% !important;" v-model="eventData.end"></kendo-datetimepicker>
        </b-form-group>
      </form>
      <template v-slot:modal-footer="{ ok, cancel, remove }">
        <!-- Emulate built in modal footer ok and cancel button actions -->
        <b-button variant="primary" @click="ok()">
          OK
        </b-button>
        <b-button variant="secondary" @click="cancel()">
          Cancel
        </b-button>
      </template>
    </b-modal>
    <b-modal
      id="show-schedule"
      ref="modal"
      size="md"
      title="Detail to schedule">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add content error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>

      <p><b>Title name:</b> {{eventData.title}}</p>
      <p><b>Start date and time:</b> {{moment(eventData.start).format('DD/MM/YYYY hh:mm:ss a')}}</p>
      <p><b>End date and time:</b> {{moment(eventData.end).format('DD/MM/YYYY hh:mm:ss a')}}</p>
      <template v-slot:modal-footer="{ edit, remove }">
        <!-- Emulate built in modal footer ok and cancel button actions -->
        <b-button variant="primary" @click="editSchedule()">
          Edit
        </b-button>
        <b-button variant="danger" @click="remove()">
          Remove
        </b-button>
      </template>
    </b-modal>
  </b-container>

</template>


<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
    import Multiselect from 'vue-multiselect'
    import moment from 'moment';
    import validToken from "../../mixins/validToken";
    import Content from "../program/Content";
    import draggable from "vuedraggable";
    import FullCalendar from '@fullcalendar/vue';
    import dayGridPlugin from '@fullcalendar/daygrid';
    import resourceTimelinePlugin from '@fullcalendar/resource-timeline'
    import timeGridPlugin from '@fullcalendar/timegrid'
    import interactionPlugin from '@fullcalendar/interaction'
    import bootstrapPlugin from '@fullcalendar/bootstrap';
    import momentPlugin from '@fullcalendar/moment';

    const unitDays = 0;
    export default {
        components: {Datepicker, Multiselect, draggable, FullCalendar},
        mixins: [ContentMixin, validToken, Content],
        data() {
            return {
                defaultDate: new Date(),
                eventData: [],
                timeZone: 'Thailand/Bangkok',
                slotDuration: '00:30:00',
                slotDurationActive: [{value: 10}, {value: 15}, {value: 30}],
                slotUnit: 30,
                themeSystem: 'bootstrap',
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: 'short'
                },
                events: [
                    {
                        title: 'Event Title1',
                        start: '2019-10-10T11:30:00',
                        end: '2019-10-10T13:30:00',
                        channel: 'c09'
                    },
                    {
                        title: 'Event Title1',
                        start: '2019-10-10T13:30:00',
                        end: '2019-10-10T14:30:00',
                        channel: 'c07'
                    },
                    {
                        title: 'Event Title2',
                        start: '2019-10-11T13:15:00',
                        end: '2019-10-11T15:15:00',
                        channel: 'c03'
                    }
                ],
                calendarPlugins: [dayGridPlugin,
                    timeGridPlugin,
                    interactionPlugin,
                    bootstrapPlugin,
                    momentPlugin],
                calendarWeekends: true,
                calendarEvents: [ // initial event data
                    {title: 'Event Now', start: new Date()}
                ],
                dragging: false,
                hover: false,
                unitDaysPreview: [{value: 1}, {value: 3}, {value: 5}, {value: 7}],
                unitDays: 3,
                dateStart: moment(),
                dateFormat: 'DD/MM/YYYY',
                dateString: null,
                selected: [],
                items: [],
                search: '',
                channel: {
                    bms_code: "N30",
                    code: "-",
                    definition_code: "HD",
                    is_catchup: false,
                    languages: [],
                    name: "Please select channel."
                },
                channelSelected: '',
                channel_list: [],
                startDate: new Date(),
                endDate: new Date(),
                fields_content: [
                    {key: 'content_id', sortable: true, sortDirection: 'desc'},
                    {key: 'name_en', label: 'Name', sortable: true,},
                    {key: 'duration', sortable: true,},
                    {key: 'content_no', sortable: true,},
                ],
                fields_series: [
                    {key: 'series_id', sortable: true, sortDirection: 'desc'},
                    {key: 'name_en', label: 'Name', sortable: true,},
                    {key: 'duration', sortable: true,},
                    {key: 'total_episode', sortable: true,},
                ],
                contents: [
                    {content_id: '1', name_en: 'Doraemon ep 1', duration: '00:50:00', content_no: '1'},
                    {content_id: '2', name_en: 'Doraemon ep 2', duration: '00:50:00', content_no: '2'}
                ],
                series: [
                    {series_id: '1', name_en: 'Doraemon ep 1', duration: '00:50:00', total_episode: '2'}
                ],

                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        async created() {
            await this.fetchChannels();
        },
        computed: {

            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            },
            rows() {
                return this.items.length
            }
        },
        methods: {
            slotDurationTime(slot) {
                this.slotUnit = slot;
                if (this.slotUnit === 10) {
                    this.slotDuration = '00:10:00'
                }
                if (this.slotUnit === 15) {
                    this.slotDuration = '00:15:00'
                }
                if (this.slotUnit === 30) {
                    this.slotDuration = '00:30:00'
                }
                console.log(slot, this.slotDuration)
            },
            log: function (evt) {
                window.console.log(evt);
            },
            showSchedule(evt) {
                console.log(evt.event)
                this.eventData = evt.event;
                this.$bvModal.show('show-schedule')
            },
            editSchedule() {
                this.$bvModal.show('edit-schedule')
            },
            addSchedule() {
                this.$bvModal.show('add-schedule')
            },
            moment,
            async OnSearch() {
                if (this.search && this.search.length > 0) {
                    try {
                        const {data} = await this.$services.epg.searchEpg(this.channelSelected, this.startDate, this.endDate, this.search);
                        const {results} = data;
                        this.items = results;
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                    }
                } else {

                }
            },
            async onChange(date, dateString) {
                console.log(this.defaultDate)
                this.defaultDate = date._d;
                console.log(this.defaultDate)

            },
            async fetchChannels(params = {}) {
                try {
                    const {data} = await this.$services.channel.getChannel({page_size: 176});
                    const {results} = data;
                    this.channel_list = results;
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },

            async searchChannel(channel) {
                console.log(channel)
                this.events.channel = channel.code;
                if (this.events.channel) {

                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style lang="scss">

  @import '~@fullcalendar/core/main.css';
  @import '~@fullcalendar/daygrid/main.css';
  @import '~@fullcalendar/timegrid/main.css';
  @import '~@fullcalendar/bootstrap/main.css';


  .head-date {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .ant-calendar-picker-input {
    min-height: 40px !important;
    display: block;
    padding: -1px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px;
  }

  .ant-calendar-range-picker-separator {
    color: rgba(0, 0, 0, 0.45);
    width: 10px;
    display: inline-block;
    height: 100%;
    vertical-align: 0 !important;
  }

  /*.table-striped>tr>td>:nth-child(2n+1){*/
  /*  background-color: #80808000;*/
  /*  border-radius: 10px;*/
  /*  margin-left: 20px;*/
  /*  margin-right: 20px;*/
  /*}*/

  #aa:nth-child(2n+1) {
    background-color: #20a8d8;
    border-radius: 10px;
  }

  #aa:nth-child(2n) {
    background-color: #20a8d8;
    border-radius: 10px;
  }

  #aa:nth-child(2n+1):hover {
    background-color: #78dcff;
    border-radius: 10px;
  }

  #aa:nth-child(2n):hover {
    background-color: #78dcff;
    border-radius: 10px;
  }

  #bb:hover {
    background-color: #98ffa4;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  #time-start {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }


</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
