<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit content success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add content success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete content success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete content error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
      <b-form-group class="col-md-8">
        <b-input-group>
          <b-input-group-prepend>
            <b-button variant="primary">
              <i class="fa fa-search"></i> Search
            </b-button>
          </b-input-group-prepend>
          <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="OnSearch()">
          </b-form-input>
        </b-input-group>
      </b-form-group>
      <b-form-group class="col-md-2">
        <b-button-group>
      <b-button v-b-modal.add-content class="float-right mr-2" variant="primary" to="/program/generate-content">
        <i class="fa fa-plus-circle"></i> Add Content</b-button>
        </b-button-group>
      </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>Content</strong>
        </div>
        <b-table
          :items="Array.isArray(contents) ? contents: []"
          :fields="fields"
          responsive="sm"
          :sort-by.sync="sortBy"
          style="text-align: center"
          id="content-table">
          <template slot="duration" slot-scope="row">
            {{row.item.duration[0] + row.item.duration[1]}}:{{row.item.duration[2] + row.item.duration[3]}}:{{row.item.duration[4] + row.item.duration[5]}}
          </template>
          <template slot="actions" slot-scope="row">
            <router-link :to="{name: 'GenerateContent', params: {id: row.item.content_id}}">
              <b-button variant="outline-primary" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit</b-button>
            </router-link>
            <b-button @click="deleteContent(row.item)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" :class="previous ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadContents({page: previous, search})">Previous</a>
            </li>
            <li v-for="page_number in page_of_number" class="page-item" :class="page_number === page ? 'active': '' "
                v-if="Math.abs(page_number - page) < 3 || page_number === page_of_number - 1 || page_number === 0">
              <a class="page-link pageNum" href="#" @click="loadContents({page: page_number, search})"
              >{{page_number}}</a></li>
            <li class="page-item" :class="next ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadContents({page: next, search})">Next</a>
            </li>
          </ul>
        </nav>
      </b-card>

    </div>

    <!-- Add Content Modal -->
    <b-modal
      id="add-content"
      ref="modal"
      size="lg"
      title="Add Content"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add content error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>
      <form ref="form">
        <b-form-group
          validated
          label="Name"
          label-for="name"
          invalid-feedback="Name is required"
          required>
          <b-form-input
            id="name"
            v-model="content.name"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Duration"
          label-for="duration"
          invalid-feedback="Duration is required">
          <b-form-input
            class="col-md-3" min="0"
            onKeyPress="if(this.value.length === 6) return false;" placeholder="duration"
            id="duration"
            v-model="content.duration"
            type="number"
            style="display: inline-flex"
            required>
          </b-form-input>&nbsp;
          Ex. 010203 = 1 hr 2 min 3 sec
        </b-form-group>
        <b-form-group
          validated
          label="Content no"
          label-for="content_no"
          invalid-feedback="Content no is required">
          <b-form-input
            id="content_no"
            type="number"
            v-model="content.content_no"
            required>
          </b-form-input>
        </b-form-group>
      </form>
      <b-card>
        <div slot="header">
          <strong>Meta</strong>
        </div>
        <b-form-group validated
                      label="Title Name En"
                      label-for="title_name_en"
                      description="Please enter Title Name En.">
          <b-form-input id="title_name_en" type="text" placeholder="Enter Name.." required autocomplete="name">
          </b-form-input>
        </b-form-group>
        <b-form-group validated
                      label="Title Name Th"
                      label-for="title_name_th"
                      description="Please enter Title Name Th.">
          <b-form-input id="title_name_th" type="text" placeholder="Enter Name.." required autocomplete="name">
          </b-form-input>
        </b-form-group>
        <b-form-group validated
                      label="Synopsis En"
                      label-for="synopsis_en"
                      description="Please enter Synopsis En.">
          <b-form-textarea rows="4" id="synopsis_en" type="text" placeholder="Enter Synopsis.."
                           v-model="content.synopsis_en"
                           autocomplete="name">
          </b-form-textarea>
        </b-form-group>
        <b-form-group validated
                      label="Synopsis Th"
                      label-for="synopsis_th"
                      description="Please enter Synopsis Th.">
          <b-form-textarea rows="4" id="synopsis_th" type="text" placeholder="Enter Synopsis.."
                           v-model="content.synopsis_th"
                           autocomplete="name">
          </b-form-textarea>
        </b-form-group>
        <b-form-group validated
                      label="Country"
                      label-for="country"
                      description="Please enter country.">
          <b-form-input id="country" type="text" placeholder="Enter Country.."
                        autocomplete="name">
          </b-form-input>
        </b-form-group>
        <b-form-group validated
                      label="Release Year"
                      label-for="release_year"
                      description="Please enter Release Year.">
          <b-form-input id="release_year" type="text" placeholder="Enter Release Year.."
                        autocomplete="name">
          </b-form-input>
        </b-form-group>
        <b-form-group validated
                      label="Title Type"
                      label-for="title_type"
                      description="Please enter Title Type.">
          <b-form-select id="title_type" type="text" placeholder="Enter Title Type.."
                         autocomplete="name" required>
          </b-form-select>
        </b-form-group>
        <b-form-group validated
                      label="Studio Id"
                      label-for="studio_id"
                      description="Please enter Studio Id.">
          <b-form-input id="studio_id" type="text" placeholder="Enter Studio Id.."
                        autocomplete="name">
          </b-form-input>
        </b-form-group>
        <b-form-group validated
                      label="Rating Code"
                      label-for="rating_code"
                      description="Please enter Rating Code.">
          <b-form-input id="rating_code" type="text" placeholder="Enter Rating Code.."
                        autocomplete="name">
          </b-form-input>
        </b-form-group>
        <b-form-group validated
                      label="Genre Id"
                      label-for="genre_id"
                      description="Please enter Genre Id.">
          <b-form-input id="genre_id" type="text" placeholder="Enter Genre Id.."
                        autocomplete="name">
          </b-form-input>
        </b-form-group>
        <b-card>
          <div slot="header">
            <strong>People</strong>
          </div>
          <b-button v-b-modal.add-people variant="primary">Add Role</b-button>
          <b-table
            :items="Array.isArray(people_list) ? people_list: []"
            :fields="fields"
            responsive="sm"
            :sort-by.sync="sortBy"
            style="text-align: center;margin-top: 1rem"
            id="content-table">
            <template slot="actions" slot-scope="row">
              <b-button @click="loadPeople(row.item)" variant="outline-primary" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit
              </b-button>
              <b-button variant="danger" size="sm" class="mr-1">
                <i class="fa fa-remove"></i> Delete
              </b-button>
            </template>
          </b-table>

        </b-card>
        <b-card>
          <div slot="header">
            <strong>Studio</strong>
          </div>
          <b-row>
            <b-form-group
              class="col-md-12">
              <b-button v-on:click="addInputStudio" variant="primary"><i class="fa fa-plus-circle"></i> Add Studio</b-button>
            </b-form-group>
          </b-row>
          <form ref="form" style="display: flex;" v-for="(studio, index) in studios">
            <b-form-group
              validated
              class="col-md-10"
              label="Name"
              label-for="name"
              invalid-feedback="Name is required"
              required>
              <b-form-select v-model="studio.name" required>
                <template slot="first">
                  <option value="none">none</option>
                </template>
                <option v-for="item in studios_list">
                  {{ item.name }}
                </option>
              </b-form-select>
            </b-form-group>
            <b-form-group
              class="col-md-2"
              style="margin-top: 29px;">
              <b-button v-on:click="removeInputStudio(index)" variant="danger">Delete <i class="fa fa-times-circle"></i></b-button>
            </b-form-group>
          </form>
        </b-card>
      </b-card>
      <b-card>
        <div slot="header">
          <strong>License</strong>
        </div>
          <b-table :items="Array.isArray(license) ? license: []"
                   :fields="fieldsLicense"
                   striped
                   style="text-align: center"
                   responsive="sm">
            <b-form-group slot="show_detail" slot-scope="row">
              <b-button size="sm" @click="row.toggleDetails" class="mr-2" variant="dark">
                {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
              </b-button>
            </b-form-group>
            <template v-slot:row-details="row">
              <b-card>
                <b-row class="mb-2">
                  <b-col sm="3" class="text-sm-right"><b>License Id:</b></b-col>
                  <b-col class="text-sm-left">{{ license_geo.license_id}}</b-col>
                </b-row>
                <b-row class="mb-2">
                  <b-col sm="3" class="text-sm-right"><b>Language:</b></b-col>
                  <b-col class="text-sm-left">{{ license_geo.lang_code}}</b-col>
                </b-row>
              </b-card>
            </template>
          </b-table>
      </b-card>
    </b-modal>

    <!-- Edit Content Modal -->
    <b-modal
      id="edit-content"
      ref="modal"
      size="lg"
      title="Edit Content"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmSave">
      <form ref="form">
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit content error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          label="Content Id"
          label-for="content_id"
          invalid-feedback="Content Id is required">
          <b-form-input
            id="content_id"
            v-model="selected.content_id"
            required
            disabled>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Name En"
          label-for="name_en"
          invalid-feedback="Name En is required">
          <b-form-input
            id="name_en"
            v-model="selected.name_en"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Name Thai"
          label-for="name-input"
          invalid-feedback="Name Thai is required">
          <b-form-input
            id="name_th"
            v-model="selected.name_th"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Synopsis En"
          label-for="synopsis_en"
          invalid-feedback="Synopsis En is required">
          <b-form-textarea
            rows="4"
            id="synopsis_en"
            v-model="selected.synopsis_en">
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          label="Synopsis Thai"
          label-for="synopsis_th"
          invalid-feedback="Synopsis Thai is required">
          <b-form-textarea
            rows="4"
            id="synopsis_th"
            v-model="selected.synopsis_th">
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          label="Duration"
          label-for="duration"
          invalid-feedback="Duration is required">
          <b-form-input
            class="col-md-3" min="0"
            onKeyPress="if(this.value.length === 6) return false;" placeholder="duration"
            id="duration"
            v-model="selected.duration"
            type="number"
            style="display: inline-flex"
            required>
          </b-form-input>&nbsp;
          Ex. 010203 = 1 hr 2 min 3 sec
        </b-form-group>
        <b-form-group
          validated
          label="Content no"
          label-for="content_no"
          invalid-feedback="Content no is required">
          <b-form-input
            id="content_no"
            type="number"
            disabled
            v-model="selected.content_no"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="Country:"
          label-for="country">
          <b-form-input
            id="country"
            v-model="meta.country">
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="Release year:"
          label-for="release_year">
          <b-form-input
            id="release_year"
            v-model="meta.release_year">
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Title type:"
          invalid-feedback="Title type is required"
          label-for="title_type">
          <b-form-select
            id="title_type"
            type="text"
            required
            v-model="meta.title_type">
          </b-form-select>
        </b-form-group>
        <b-form-group
          label="Studio Id:"
          label-for="studio_id">
          <b-form-select
            id="studio_id"
            type="text"
            required
            v-model="meta.studio_id">
          </b-form-select>
        </b-form-group>
        <b-form-group
          label="Rating code:"
          label-for="rating_code">
          <b-form-select
            id="rating_code"
            type="text"
            required
            v-model="meta.rating_code">
          </b-form-select>
        </b-form-group>
        <b-form-group
          label="Genre Id:"
          label-for="genre_id">
          <b-form-checkbox
            id="genre_id"
            type="text"
            required
            v-model="meta.genre_id">
          </b-form-checkbox>
        </b-form-group>
      </form>
      <b-card>
        <div slot="header">
          <strong>License</strong>
        </div>
        <b-table :items="Array.isArray(license) ? license: []"
                 :fields="fieldsLicense"
                 striped
                 style="text-align: center"
                 responsive="sm">
          <b-form-group slot="show_detail" slot-scope="row">
            <b-button size="sm" @click="row.toggleDetails" class="mr-2" variant="dark">
              {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
            </b-button>
          </b-form-group>
          <template v-slot:row-details="row">
            <b-card>
              <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"><b>License Id:</b></b-col>
                <b-col class="text-sm-left">{{ license_geo.license_id}}</b-col>
              </b-row>
              <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"><b>Language:</b></b-col>
                <b-col class="text-sm-left">{{ license_geo.lang_code}}</b-col>
              </b-row>
            </b-card>
          </template>
        </b-table>
      </b-card>
    </b-modal>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [ContentMixin,validToken],
        data() {
            return {
                sortBy: 'content_no',
                search: '',
                content: {
                    content_id: -1,
                    name_en: '',
                    name_th: '',
                },
                page_of_number: [],
                next: 0,
                previous: 0,
                page: 1,
                page_total: 0,
                contents: [
                    {content_id: 'aa', name: 'test', duration: '111111', content_no: 1}
                ],
                contentStage: null,
                selected: {},
                license_geo: {
                    license_id: 'test', lang_code: 'thai'
                },
                fieldsLicense: [
                    {key: 'license_no', sortable: true, sortDirection: 'desc'},
                    {key: 'rights_start', sortable: true,},
                    {key: 'rights_expire', sortable: true,},
                    {key: 'show_detail', sortable: true,},
                ],
                fields: [
                    {key: 'content_id', sortable: true, sortDirection: 'desc'},
                    {key: 'name', sortable: true,},
                    {key: 'duration', sortable: true,},
                    {key: 'content_no', sortable: true,},
                    {key: 'actions'}
                ],
                meta: {
                    meta_id: 'test', title_name_en: 'test', title_name_th: 'test', synopsis_en: 'test', synopsis_th: 'tseet', country: 'test', release_year: 'tset', title_type: ['movie'], studio_id: null, rating_code: null, genre_id: true
                },
                license: [{
                    license_no: 'test', rights_start: 'test', rights_expire: 'test'
                }]
                ,
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        async created() {
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
            await this.loadContents()
        },
        computed: {
            rows() {
                return this.contents.length
            },
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        methods: {
            async loadContents(params = {}) {
                try {
                    const {data} = await this.$services.program.getAllContent(params);
                    const {results, next, page, previous, page_total} = data;
                    this.page = page;
                    this.next = next;
                    this.previous = previous;
                    this.page_total = page_total;
                    this.page_of_number = Array.from({length: page_total}, (v, k) => k + 1);
                    this.contents = results
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },

            async OnSearch() {
                if (this.search && this.search.length > 0)
                    await this.loadContents({page: this.page, search: this.search})
                else {
                    this.loadContents({page: this.page})
                }
            },
            async loadContent(content) {
                try {
                    const {content_id} = content;
                    const {data} = await this.$services.program.getByIdContent(content_id);
                    if (data) {
                        this.selected = data;
                        this.$bvModal.show('edit-content')
                    }
                }catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.contentStage = valid ? 'valid' : 'invalid';
                return valid
            },
            resetModal() {
                this.content = {
                    content_id: -1,
                    name_th: '',
                    name_en: '',
                    synopsis_en: '',
                    synopsis_th: '',
                    duration: '000000',
                    content_no: 1
                };
                this.contentStage = null
            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                this.confirmAdd();
            },
            async confirmSave(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    const {content_id, name_en, name_th, synopsis_en, synopsis_th, duration, content_no} = this.selected;
                    try {
                        await this.$services.program.updateContent(content_id, this.selected);
                        await this.loadContents();
                        this.selected = {};
                        this.editSuccess();
                        this.$bvModal.hide('edit-content')
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.editError();
                    }
                } else {
                    this.checkFormValidity();
                }
            },
            async confirmAdd(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {name_th, name_en, synopsis_en, synopsis_th, duration, content_no} = this.content;
                    try {
                        await this.$services.program.addContent({
                            name_en,
                            name_th,
                            synopsis_en,
                            synopsis_th,
                            duration,
                            content_no
                        });
                        await this.loadContents();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    this.checkFormValidity();
                    this.$nextTick(() => {
                        this.$refs.modal.hide()
                    })
                }
            },
            async deleteContent(content) {
                if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
                    const {content_id} = content;
                    try {
                        await this.$services.program.removeContent(content_id);
                        await this.loadContents();
                        this.deleteSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.deleteError();
                    }
                } else {
                    this.$bvModal.hide('edit-content')
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
