<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess">
      Update episode success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add episode success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownMsgError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedMsgError">
      {{messageError}} This alert will dismiss after {{ dismissCountDownMsgError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete episode success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>

    <div>
      <b-row class="text-center">
        <b-col cols="1" v-if="!isCreate() && dealAllow.isEdit">
          <a @click="saveDeal">
            <i class="fa fa-save fa-lg mt-4"></i><br>Save
          </a>
        </b-col>
        <b-col cols="1" v-if="isCreate() && dealAllow.isAdd">
          <a @click="saveDeal">
            <i class="fa fa-save fa-lg mt-4"></i><br>Add
          </a>
        </b-col>
        <b-col cols="1" v-if="!isCreate() && dealAllow.isDelete">
          <a @click="deleteDeal($route.params.id)">
            <i class="fa fa-trash-o fa-lg mt-4"></i><br>Delete
          </a>
        </b-col>
        <b-col cols="1">
          <a style="border: none;background-color: #fff" class="p-0 m-0" @click="backPage()">
            <i class="fa fa-mail-reply fa-lg mt-4"></i><br>Back
          </a>
        </b-col>
      </b-row>
      <b-row sm="12" class="mt-3">
        <b-form inline class="col-12" ref="form">
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Deal No:" validated disabled>
              <b-form-input v-model="deal.deal_no" class="ml-2" style="width: 100%" required></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Ref No:" validated>
              <b-form-input v-model="deal.ref_no" class="ml-2" style="width: 100%" required></b-form-input>
            </b-form-group>
          </b-col>
          <!--          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">-->
          <!--            <b-form-group class="mr-2" label="Datetime Transaction:" validated>-->
          <!--              <kendo-datetimepicker class="ml-1" style="width: 100%" v-model="deal.datetime_transaction"-->
          <!--                                    :time-format="'HH:mm:ss'"-->
          <!--                                    :interval="5" :format="'dd/MM/yyyy HH:mm:ss'">-->
          <!--              </kendo-datetimepicker>-->
          <!--              <span style="color: #f86c6b; font-size: 10px; text-align: right"-->
          <!--                    v-if="deal.datetime_transaction === ''">* Please fill Datetime transaction.</span>-->
          <!--            </b-form-group>-->
          <!--          </b-col>-->
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="BU:" validated>
              <b-form-select rows="4" class="ml-2" style="width: 100%" v-model="deal.bu_id">
                <template>
                  <option v-for="(item, index) in buChoices" :key="index" :value="item.id">{{item.name}}</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Status:" validated>
              <b-form-select class="ml-2" style="width: 100%" v-model="deal.status" required>
                <template>
                  <option v-for="(item, index) in statusChoices" :key="index" :value="item.value">{{item.value}}
                  </option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Vendor:" validated>
              <b-form-select class="ml-2" style="width: 100%;" v-model="deal.vendor_id"
                             @change="fetchStudioByVendor(deal.vendor_id)" required>
                <template>
                  <option v-for="(item, index) in vendors" :key="index" :value="item.id">{{item.name}}</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Studio:" validated>
              <b-form-select class="ml-2" style="width: 100%" v-model="deal.studio_id" :disabled="!this.studios.length">
                <template>
                  <option v-for="(item, index) in studios" :key="index" :value="item.id">{{item.name}}</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Contract Datetime Start:" validated>
              <kendo-datetimepicker class="ml-2" required :interval="1" :format="'dd/MM/yyyy hh:mm:ss'" :week-number="true"
                                    style="width: 100% !important;"
                                    v-model="deal.contract_datetime_start" id="contract_datetime_start"></kendo-datetimepicker>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Contract Datetime End:" validated>
              <kendo-datetimepicker class="ml-2" required :interval="1" :format="'dd/MM/yyyy hh:mm:ss'" :week-number="true"
                                    style="width: 100% !important;"
                                    v-model="deal.contract_datetime_end" id="contract_datetime_end"></kendo-datetimepicker>
            </b-form-group>
          </b-col>
          <b-col sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Description:" validated>
              <b-form-textarea rows="4" class="ml-2" style="width: 100%" v-model="deal.remark">
              </b-form-textarea>
            </b-form-group>
          </b-col>
          <b-col sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Attach:" validated>
              <b-form-file class="ml-2" style="width: 100%" v-model="pdf_file" @input="importPdf($event)"
                           accept=".pdf">
              </b-form-file>
              <span v-if="typeof deal.attach === 'string' && deal.attach.indexOf('http') !== -1"
                    style="float: right; font-size: xx-small">{{deal.attach}}</span>
            </b-form-group>
          </b-col>
        </b-form>
      </b-row>
      <b-row sm="12">
        <b-tabs class="col-12" active-nav-item-class="font-weight-bold" nav-item-class="font-weight-bold">
          <b-tab title="Detail" v-if="videoAllow.isView || linearAllow.isView">
            <b-card>
              <div slot="header">
                <strong>
                  Title
                </strong>
              </div>
              <b-row sm="12" class="text-center" v-if="linearAllow.isAdd || videoAllow.isAdd">
                <b-col cols="1">
                  <a v-b-modal.import-detail>
                    <i class="fa fa-plus-circle fa-lg mt-4"></i><br>New
                  </a>
                </b-col>
              </b-row>
              <b-row class="mt-3">
                <b-card v-if="linearAllow.isView" no-body style="width: 100%;">
                  <b-button style="text-align: left;" v-b-toggle.linear variant="primary">
                    <b>
                      Linear
                    </b>
                  </b-button>
                  <b-collapse style="text-align: center" id="linear" visible class="mt-2">
                    <b-table
                      id="title-table-1"
                      responsive="md"
                      head-variant="light"
                      :items="Array.isArray(deal.linear_list) ? deal.linear_list: []"
                      :fields="fieldsTitleLinear"
                      multiple>
                      <template v-slot:cell(datetime_right)="row">
                        {{row.item.datetime_right_start}} - {{row.item.datetime_right_end}}
                      </template>
                      <template v-slot:cell(action)="row">
                        <b-button variant="outline-primary" class="mb-1 mr-1" size="sm" v-b-modal.edit-linear
                                  @click="editTitleOther(row.item, 'Linear')" v-if="linearAllow.isEdit">
                          Edit
                        </b-button>
                        <b-button variant="danger" class="mb-1" size="sm" @click="deleteTitleLinear(row.item)"
                                  v-if="linearAllow.isDelete">
                          Delete
                        </b-button>
                      </template>
                    </b-table>
                  </b-collapse>
                </b-card>
                <b-card no-body style="width: 100%;" v-for="(item, index) in deal.other_list"
                        v-bind:key="index">
                  <b-button style="text-align: left;" v-b-toggle="item.label" variant="primary">
                    <b>
                      {{item.label}}
                    </b>
                  </b-button>
                  <b-collapse v-if="videoAllow.isView" style="text-align: center" :id="item.label" visible class="mt-2">
                    <b-table
                      id="title-table-3"
                      responsive="md"
                      head-variant="light"
                      v-if="item.label === 'SVOD'"
                      :items="Array.isArray(item.items) ? item.items: []"
                      :fields="fieldsTitle"
                      multiple>
                      <template v-slot:cell(datetime_right)="row">
                        {{row.item.datetime_right_start}} - {{row.item.datetime_right_end}}
                      </template>
                      <template v-slot:cell(action)="row">
                        <b-button variant="outline-primary" class="mb-1 mr-1" size="sm" v-b-modal.edit-linear
                                  @click="editTitleOther(row.item, item.label)" v-if="linearAllow.isEdit">
                          Edit
                        </b-button>
                        <b-button variant="danger" class="mb-1" size="sm"
                                  @click="deleteTitleOther(row.item, item.label)"
                                  v-if="linearAllow.isDelete">
                          Delete
                        </b-button>
                      </template>
                    </b-table>
                    <b-table
                      id="title-table-3"
                      responsive="md"
                      head-variant="light"
                      v-if="item.label === 'CVOD'"
                      :items="Array.isArray(item.items) ? item.items: []"
                      :fields="fieldsTitle"
                      multiple>
                      <template v-slot:cell(datetime_right)="row">
                        {{row.item.datetime_right_start}} - {{row.item.datetime_right_end}}
                      </template>
                      <template v-slot:cell(action)="row">
                        <b-button variant="outline-primary" class="mb-1 mr-1" size="sm" v-b-modal.edit-linear
                                  @click="editTitleOther(row.item, item.label)" v-if="linearAllow.isEdit">
                          Edit
                        </b-button>
                        <b-button variant="danger" class="mb-1" size="sm"
                                  @click="deleteTitleOther(row.item, item.label)"
                                  v-if="linearAllow.isDelete">
                          Delete
                        </b-button>
                      </template>
                    </b-table>
                    <b-table
                      id="title-table-3"
                      responsive="md"
                      head-variant="light"
                      v-if="item.label === 'AVOD'"
                      :items="Array.isArray(item.items) ? item.items: []"
                      :fields="fieldsTitleAVOD"
                      multiple>
                      <template v-slot:cell(datetime_right)="row">
                        {{row.item.datetime_right_start}} - {{row.item.datetime_right_end}}
                      </template>
                      <template v-slot:cell(action)="row">
                        <b-button variant="outline-primary" class="mb-1 mr-1" size="sm" v-b-modal.edit-linear
                                  @click="editTitleOther(row.item, item.label)" v-if="linearAllow.isEdit">
                          Edit
                        </b-button>
                        <b-button variant="danger" class="mb-1" size="sm"
                                  @click="deleteTitleOther(row.item, item.label)"
                                  v-if="linearAllow.isDelete">
                          Delete
                        </b-button>
                      </template>
                    </b-table>
                    <b-table
                      id="title-table-3"
                      responsive="md"
                      head-variant="light"
                      v-if="item.label === 'TVOD'"
                      :items="Array.isArray(item.items) ? item.items: []"
                      :fields="fieldsTitleTVOD"
                      multiple>
                      <template v-slot:cell(datetime_right)="row">
                        {{row.item.datetime_right_start}} - {{row.item.datetime_right_end}}
                      </template>
                      <template v-slot:cell(action)="row">
                        <b-button variant="outline-primary" size="sm" class="mb-1 mr-1" v-b-modal.edit-linear
                                  @click="editTitleOther(row.item, item.label)" v-if="linearAllow.isEdit">
                          Edit
                        </b-button>
                        <b-button variant="danger" size="sm" class="mb-1"
                                  @click="deleteTitleOther(row.item, item.label)"
                                  v-if="linearAllow.isDelete">
                          Delete
                        </b-button>
                      </template>
                    </b-table>
                  </b-collapse>
                </b-card>
              </b-row>
            </b-card>
          </b-tab>
          <b-tab title="Territory" v-if="territoryAllow.isView">
            <b-card>
              <div slot="header">
                <strong>
                  Territory
                </strong>
              </div>
              <b-col sm="2" style="text-align: center; display: inline-table;" v-if="territoryAllow.isAdd">
                <a v-b-modal.add-country>
                  <i class="fa fa-save fa-lg"></i><br>Add Country
                </a>
              </b-col>
              <div>
                <b-table
                  class="mt-3"
                  responsive
                  :sort-by.sync="sortCountry"
                  :items="Array.isArray(deal.territory_list) ? deal.territory_list: []"
                  :fields="fieldsCountry"
                  style="overflow: scroll;max-height: 200px;"
                  head-variant="light">
                  <template v-slot:cell(action)="row">
                    <b-button variant="danger" size="sm" @click="deleteCountry(row.item)"
                              v-if="territoryAllow.isDelete">
                      Delete
                    </b-button>
                  </template>
                </b-table>
              </div>
            </b-card>
          </b-tab>
        </b-tabs>
      </b-row>
    </div>

    <!-- Modal -->
    <b-modal
      id="import-detail"
      size="lg"
      ref="modal"
      no-close-on-backdrop
      @ok="addRights"
      :ok-disabled="!this.rights_datetime_start || !this.rights_datetime_end || this.rights_type === '' || !this.selectedTitle.length"
      @cancel="resetRights"
      @show="resetRights"
      @hidden="resetRights"
      style="font-size: x-small"
      title="Rights">
      <b-alert
      v-if="showMsgTitleError"
      :show="dismissCountDownMsgError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedMsgError">
      {{messageError}} This alert will dismiss after {{ dismissCountDownMsgError }} seconds...
    </b-alert>
      <b-overlay :show="showOverlay" rounded="sm">
        <template v-slot:overlay>
          <b-spinner label="Loading..."></b-spinner>
          {{ messageImport }}
        </template>
        <b-form inline class="col-12">
          <b-col sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end;font-size: x-small">
            <b-form-group style="display:block" label="Rights Type:" :horizontal="true" validated>
              <b-form-select v-model="rights_type" style="width: 100%;font-size: x-small;" required>
                <option v-if="linearAllow.isAdd || linearAllow.isEdit" :value="linear_type">Linear</option>
                <option v-if="videoAllow.isAdd || videoAllow.isEdit " v-for="(item, index) in vodType" :key="index"
                        :value="item.value">
                  {{ item.value.type }}
                </option>
              </b-form-select>
              <span style="color: #f86c6b; font-size: 10px; text-align: right"
                    v-if="this.rights_type === ''">* Please fill Rights type.</span>
            </b-form-group>
          </b-col>
          <b-col sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end;font-size: x-small">
            <b-form-group style="display:block" class="mr-2" label="Datetime Start:" :horizontal="true" validated>
              <kendo-datetimepicker class="ml-1" style="width: 100%;font-size: x-small !important;"
                                    v-model="rights_datetime_start"
                                    :time-format="'HH:mm:ss'"
                                    :interval="5" :format="'dd/MM/yyyy HH:mm:ss'">
              </kendo-datetimepicker>
              <span style="color: #f86c6b; font-size: 10px" v-if="!this.rights_datetime_start">* Please fill Datetime start.</span>
            </b-form-group>
          </b-col>
          <b-col sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end;font-size: x-small">
            <b-form-group style="display:block" class="mr-2" label="Datetime End:" :horizontal="true" validated>
              <kendo-datetimepicker class="ml-1" style="width: 100%;font-size: x-small !important;"
                                    v-model="rights_datetime_end"
                                    :time-format="'HH:mm:ss'"
                                    :interval="5" :format="'dd/MM/yyyy HH:mm:ss'">
              </kendo-datetimepicker>
              <span style="color: #f86c6b; font-size: 10px" v-if="this.rights_datetime_end === ''">* Please fill Datetime end.</span>

            </b-form-group>
          </b-col>
          <b-col sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end;font-size: x-small"
                 v-if="rights_type.type === 'Linear' && rights_type.is_max_run">
            <b-form-group style="display:block" class="mr-2" label="Max Run:" :horizontal="true" validated>
              <b-form-input type="number" v-model="max_run" style="width: 100%;font-size: x-small">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="2" class="mb-2" style="display: inline-table; justify-content: flex-end;font-size: x-small"
                 v-if="rights_type.is_mg && rights_type.type === 'TVOD'">
            <b-form-group style="display:block" class="mr-2" label="MG:" :horizontal="true" validated>
              <b-form-input type="number" v-model="mg" style="width: 100%;font-size: x-small">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="5" class="mb-2" style="display: inline-table; justify-content: flex-end;font-size: x-small"
                 v-if="rights_type.is_deem_price && rights_type.type === 'TVOD'">
            <b-form-group style="display:block" class="mr-2" label="Deem Price:" :horizontal="true" validated>
              <b-form-input type="number" v-model="deem_price" style="width: 100%;font-size: x-small">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="5" class="mb-2" style="display: inline-table; justify-content: flex-end;font-size: x-small"
                 v-if="rights_type.is_rev_share && rights_type.type === 'TVOD'">
            <b-form-group style="display:block" label="Rev Share (to partner):" :horizontal="true" validated>
              <b-form-input type="number" v-model="rev_share" style="width: 100%;font-size: x-small">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end;font-size: x-small"
                 v-if="rights_type.is_mg && rights_type.type === 'AVOD'">
            <b-form-group style="display:block" class="mr-2" label="MG:" :horizontal="true" validated>
              <b-form-input type="number" v-model="mg" style="width: 100%;font-size: x-small">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end;font-size: x-small"
                 v-if="rights_type.is_deem_price && rights_type.type === 'AVOD'">
            <b-form-group style="display:block" class="mr-2" label="Deem Price:" :horizontal="true" validated>
              <b-form-input type="number" v-model="deem_price" style="width: 100%;font-size: x-small">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="12" class="mb-2" style="display: inline-table; justify-content: flex-end;font-size: x-small"
                 v-if="rights_type.is_rev_share && rights_type.type === 'AVOD'">
            <b-form-group style="display:block" class="mr-2" label="Rev Share (to partner):" :horizontal="true" validated>
              <b-form-input type="number" v-model="rev_share" style="width: 100%;font-size: x-small">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-form>
        <b-card v-if="titleAllow.isAdd || titleAllow.isEdit">
          <div slot="header">
            <strong>Title</strong>
          </div>
          <div style="display: inline-flex">
            <b-col style="text-align: center; display: inline-flex;font-size: x-small">
              <a v-b-modal.create-title >
                <i class="fa fa-save fa-lg"></i><br>Create Title
              </a>
              <a v-b-modal.import-title :disabled="!this.rights_datetime_start || !this.rights_datetime_end">
                <i class="fa fa-save fa-lg"></i><br>Add Title
              </a>
            </b-col>
            <b-col sm="8" style="text-align: center; display: inline-flex;font-size: x-small">
              <b-form-file placeholder="Choose a CSV file"
                           v-model="csv_file"
                           @input="loadCSV($event)"
                           accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                           plain>
              </b-form-file>
            </b-col>

          </div>
          <b-button v-if="titleAllow.isAdd || titleAllow.isEdit " @click="downloadFormat" variant="success" size="sm">
            Download title format import
          </b-button>
          <div>
            <b-table
              class="mt-3"
              responsive
              :items="Array.isArray(selectedTitle) ? selectedTitle: []"
              :fields="fieldsTitleModal"
              style="font-size: xx-small;overflow: scroll;max-height: 200px;"
              head-variant="light">
              <template v-slot:cell(datetime_right_start)="row">
                <kendo-datetimepicker class="ml-1" style="width:180px; font-size: x-small!important;"
                                      v-model="row.item.datetime_right_start"
                                      :time-format="'HH:mm:ss'"
                                      :interval="5" :format="'dd/MM/yyyy HH:mm:ss'">
                </kendo-datetimepicker>
                <span style="color: #f86c6b; font-size: 10px" v-if="row.item.datetime_right_start === ''">* Please fill Datetime start.</span>
              </template>
              <template v-slot:cell(datetime_right_end)="row">
                <kendo-datetimepicker class="ml-1" style="width:180px; font-size: x-small!important;"
                                      v-model="row.item.datetime_right_end"
                                      :time-format="'HH:mm:ss'"
                                      :interval="5" :format="'dd/MM/yyyy HH:mm:ss'">
                </kendo-datetimepicker>
                <span style="color: #f86c6b; font-size: 10px" v-if="row.item.datetime_right_end === ''">* Please fill Datetime end.</span>
              </template>
              <template v-slot:cell(action)="row">
                <b-button variant="danger" size="sm" @click="deleteTitleModal(row.item)">
                  Delete
                </b-button>
              </template>
            </b-table>
          </div>
        </b-card>
      </b-overlay>
    </b-modal>

    <b-modal
      v-if="titleAllow.isView"
      id="import-title"
      size="lg"
      ref="modal"
      no-close-on-backdrop
      @ok="addRightsNoPeriod"
      @show="resetRightsNoPeriod"
      @hidden="resetRightsNoPeriod"
      @cancel="resetRightsNoPeriod"

      title="Add Title">
      <b-card>
        <div slot="header">
          <strong>Title</strong>
        </div>
        <b-form-group style="display:block" class="col-md-12">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name" v-model="wordTitle" @input="fetchTitle">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-table
          responsive="sm"
          :items="Array.isArray(title_list) ? title_list : []"
          :fields="fieldsTitleNoPeriodModal"
          selectable
          selected-variant="success"
          :select-mode="selectMode"
          @row-selected="onRowSelectedTitleNoPeriod"
          style="font-size: x-small;overflow: scroll;max-height: 520px; text-align: center"
          head-variant="light">
          <template v-slot:cell(selected)="{ rowSelected }">
            <template v-if="rowSelected">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <span class="sr-only">Selected</span>
            </template>
            <template v-else>
              <span aria-hidden="true">&nbsp;</span>
              <span class="sr-only">Not selected</span>
            </template>
          </template>
        </b-table>
      </b-card>
    </b-modal>

    <b-modal
      v-if="linearAllow.isDetail"
      id="edit-linear"
      size="lg"
      ref="modal"
      no-close-on-backdrop
      @ok="editLinear"
      @hidden="resetEditLinear"
      @cancel="resetEditLinear"
      title="Edit Linear or Other.">
      <b-row sm="12" class="mt-3">
        <b-form inline class="col-12">
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Title Id:" validated>
              <b-form-input class="ml-2" style="width: 100%" v-model="selectedEditVod.title_id" disabled>
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Title Name:" validated>
              <b-form-input class="ml-2" style="width: 100%" v-model="selectedEditVod.title_name" disabled>
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Title Type:" validated>
              <b-form-input class="ml-2" style="width: 100%;" v-model="selectedEditVod.title_type" disabled>
                <!--                <template>-->
                <!--                  <option v-for="item in typeChoices" :value="item.value">{{item.value}}</option>-->
                <!--                </template>-->
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Total Episode:" validated>
              <b-form-input class="ml-2" style="width: 100%" v-model="selectedEditVod.total_episode" disabled>
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Datetime Right Start:" validated>
              <kendo-datetimepicker class="ml-2" style="width:100%;"
                                    v-model="selectedEditVod.datetime_right_start"
                                    :time-format="'HH:mm:ss'"
                                    :interval="5" :format="'dd/MM/yyyy HH:mm:ss'">
              </kendo-datetimepicker>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Datetime Right End:" validated>
              <kendo-datetimepicker class="ml-2" style="width:100%;"
                                    v-model="selectedEditVod.datetime_right_end"
                                    :time-format="'HH:mm:ss'"
                                    :interval="5" :format="'dd/MM/yyyy HH:mm:ss'">
              </kendo-datetimepicker>
            </b-form-group>
          </b-col>
          <b-col sm="6" v-if="selectedTypeVod === 'Linear'" class="mb-2"
                 style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Max Run:" validated>
              <b-form-input class="ml-2" type="number" v-model="selectedEditVod.max_run" style="width: 100%;">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" v-if="selectedTypeVod === 'TVOD'" class="mb-2"
                 style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="MG:" validated>
              <b-form-input class="ml-2" type="number" v-model="selectedEditVod.mg" style="width: 100%;">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" v-if="selectedTypeVod === 'TVOD'" class="mb-2"
                 style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Deem Price:" validated>
              <b-form-input class="ml-2" type="number" v-model="selectedEditVod.deem_price" style="width: 100%;">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" v-if="selectedTypeVod === 'AVOD' || selectedTypeVod === 'TVOD'" class="mb-2"
                 style="display: inline-table; justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Rev Share (to partner):" validated>
              <b-form-input class="ml-2" type="number" v-model="selectedEditVod.rev_share" style="width: 100%;">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-form>
      </b-row>
    </b-modal>

    <b-modal
      id="add-country"
      size="lg"
      ref="modal"
      no-close-on-backdrop
      @ok="addCountry"
      @show="resetCountry"
      @hidden="resetCountry"
      @cancel="resetCountry"
      title="Add Country">
      <b-card>
        <div slot="header">
          <strong>Country</strong>
        </div>
        <b-table
          responsive="sm"
          :sort-by.sync="sortCountry"
          :items="Array.isArray(countries) ? countries : []"
          :fields="fieldsCountryModal"
          selectable
          selected-variant="success"
          :select-mode="selectMode"
          @row-selected="onRowSelectedCountryModal"
          style="text-align: center;overflow: scroll;max-height: 520px;"
          head-variant="light">
          <template v-slot:cell(selected)="{ rowSelected }">
            <template v-if="rowSelected">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <span class="sr-only">Selected</span>
            </template>
            <template v-else>
              <span aria-hidden="true">&nbsp;</span>
              <span class="sr-only">Not selected</span>
            </template>
          </template>
        </b-table>
      </b-card>
    </b-modal>

        <b-modal
      id="create-title"
      size="lg"
      ref="modal"
      @ok="createTitle"
      @reset="resetModalCreateTitle"
      @cancel="resetModalCreateTitle"
      @show="resetModalCreateTitle"
      @hidden="resetModalCreateTitle"
      no-close-on-backdrop
      title="Create Title">
        <b-row sm="12" class="mt-3">
        <b-form inline class="col-12" ref="form">
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Title Id:" validated>
              <b-form-input v-model="titleCreated.id" class="ml-2" style="width: 100%" disabled>
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Status:" validated>
              <b-form-select v-model="titleCreated.status" class="ml-2" style="width: 100%" required :disabled="titleAllow.isDisabled">
                <template slot="first">
                  <option v-for="(item, index) in titleStatusChoices" :value="item.value">{{item.value}}</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Title Name:" validated>
              <b-form-input v-model="titleCreated.name" :disabled="titleAllow.isDisabled" class="ml-2" style="width: 100%" required>
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Title Type:" validated>
              <b-form-select v-model="titleCreated.title_type" class="ml-2" style="width: 100%" required
                             :disabled="titleAllow.isDisabled">
                <template slot="first">
                  <option v-for="item in titleTypeChoices" :value="item.value">{{item.value}}</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Total of Episode:" validated>
              <b-form-input :disabled="titleCreated.total_episode === 1 || titleCreated.total_episode === '1' || titleAllow.isDisabled"
                            v-if="titleCreated.title_type === 'NON-SERIES'" min="1" max="1" type="number"
                            v-model="titleCreated.total_episode" class="ml-2" style="width: 100%"  required>
              </b-form-input>
              <b-form-input v-if="titleCreated.title_type === 'SERIES'" min="2" type="number" v-model="titleCreated.total_episode"
                            class="ml-2" style="width: 100%" :disabled="titleAllow.isDisabled">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group style="display:block" class="mr-2" label="Duration:" validated>
              <!--              <vue-timepicker format="HH:mm:ss" style="overflow-wrap: break-word;" v-model="title.duration"-->
              <!--                              required>-->
              <!--              </vue-timepicker>-->
              <b-form-input
                :disabled="titleAllow.isDisabled"
                class="ml-2"
                min="0"
                id="duration"
                 style="width: 100%"
                v-model="titleCreated.duration"
                type="number"
                required>
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-form>
      </b-row>
        </b-modal>
  </b-container>
</template>

<script>
  import moment from 'moment';
  import Multiselect from 'vue-multiselect';
  import PermissionMixin from "../../mixins/PermissionMixin";

  export default {
    mixins: [PermissionMixin],
    name: "Deal",
    components: {Multiselect},
    data() {
      return {
        moment,
        selectedTypeVod: '',
        selectedEditVod: [],
        showOverlay: false,
        selectMode: 'multi',
        waitingOfAlert: null,
        messageImport: 'Loading csv ....',
        sortCountry: 'country_name',
        titleTypeChoices: [],
        titleStatusChoices: [],
        showMsgTitleError: false,
        titleCreated: {
          id: 'auto',
          name: '',
          status: "Select",
          title_type: "NON-SERIES",
          total_episode: 1,
          duration: ''
        },
        deal: {
          deal_no: "auto",
          ref_no: "",
          status: "",
          bu_id: "",
          vendor_id: "",
          studio_id: "",
          remark: "",
          attach: null,
          linear_list: [],
          other_list: [],
          territory_list: [],
          contract_datetime_start: '',
          contract_datetime_end: ''
        },
        pdf_file: null,
        linear_type: {
          type: 'Linear',
          is_max_run: true
        },
        mg: 0,
        deem_price: 0,
        max_run: 0,
        unlimited_run: false,
        rev_share: 0,

        rights_datetime_start: moment(new Date()).format('DD/MM/YYYY HH:mm:ss'),
        rights_datetime_end: moment(new Date()).format('DD/MM/YYYY 23:59:59'),
        selectedTitle: [],
        selectedTitleNoPeriod: [],
        selectedCountryModal: [],
        selectedItemsLinear: [],
        selectedItemsOther: [],
        options_rightsType: ['TVOD', 'Linear', 'SVOD', 'AVOD'],
        rights_type: {},
        showLinear: true,
        showOther: true,
        rights: {
          rights_select: [],
          title: []
        },
        linear: [],
        TVod: [],
        SVod: [],
        titles: [],
        fieldsCountry: [
          {key: 'country_code', sortable: true},
          {key: 'country_name', sortable: true},
          {key: 'action', sortable: true},
        ],
        fieldsCountryModal: [
          {key: 'selected', sortable: true},
          {key: 'country_code', sortable: true},
          {key: 'country_name', sortable: true},
        ],
        fieldsTitleLinear: [
          {key: 'title_id', sortable: true},
          {key: 'title_name', sortable: true},
          {key: 'title_type', sortable: true},
          {key: 'total_episode', sortable: true},
          {key: 'datetime_right', sortable: true},
          {key: 'max_run', sortable: true},
          {key: 'action', sortable: true},
        ],
        fieldsTitle: [
          {key: 'title_id', sortable: true},
          {key: 'title_name', sortable: true},
          {key: 'title_type', sortable: true},
          {key: 'total_episode', sortable: true},
          {key: 'datetime_right', sortable: true},
          {key: 'action', sortable: true},
        ],
        fieldsTitleAVOD: [
          {key: 'title_id', sortable: true},
          {key: 'title_name', sortable: true},
          {key: 'title_type', sortable: true},
          {key: 'total_episode', sortable: true},
          {key: 'datetime_right', sortable: true},
          {key: 'rev_share', sortable: true},
          {key: 'action', sortable: true},
        ],
        fieldsTitleTVOD: [
          {key: 'title_id', sortable: true},
          {key: 'title_name', sortable: true},
          {key: 'title_type', sortable: true},
          {key: 'total_episode', sortable: true},
          {key: 'datetime_right', sortable: true},
          {key: 'mg', sortable: true},
          {key: 'deem_price', sortable: true},
          {key: 'rev_share', sortable: true},
          {key: 'action', sortable: true},
        ],
        fieldsTitleNoPeriodModal: [
          {key: 'selected', sortable: true},
          {key: 'id', label: 'Title Id', sortable: true},
          {key: 'name', sortable: true},
          {key: 'title_type', sortable: true},
          {key: 'total_episode', sortable: true},
        ],
        fieldsTitleModal: [
          {key: 'id', label: 'Title Id', sortable: true},
          {key: 'name', sortable: true},
          {key: 'title_type', sortable: true},
          {key: 'total_episode', sortable: true},
          {key: 'datetime_right_start', sortable: true},
          {key: 'datetime_right_end', sortable: true},
          {key: 'action', sortable: true},
        ],
        wordTitle: '',
        wordCountry: '',
        title_list: [],
        isLoading: false,
        dismissSecsUpdateSuccess: 5,
        dismissCountDownUpdateSuccess: 0,
        dismissSecsAddSuccess: 5,
        dismissCountDownAddSuccess: 0,
        dismissSecsMsgError: 5,
        dismissCountDownMsgError: 0,
        dismissSecsDeleteSuccess: 5,
        dismissCountDownDeleteSuccess: 0,
        statusChoices: [],
        messageError: '',
        vendors: [],
        studios: [],
        dealStage: null,
        vodType: [],
        typeChoices: [],
        value: [],
        datetime_right_start: '',
        datetime_right_end: '',
        csv_file: [],
        sortOrders: {},
        sortKey: '',
        countries: [],
        buChoices: [],
        checkPermission: {},
        dealAllow: {},
        videoAllow: {},
        linearAllow: {},
        titleAllow: {},
        territoryAllow: {},
        isAdd: false,
        isEdit: false,
        isDelete: false,
        isViewDetailDeal: false,
        isAddLinear: false,
        isEditLinear: false,
        isDeleteLinear: false,
        isViewLinear: false,
        isViewDetailLinear: false,
        isAddTerritory: false,
        isEditTerritory: false,
        isDeleteTerritory: false,
        isViewTerritory: false,
        isViewDetailTerritory: false,
      }
    },
    computed: {},
    async created() {
      await this.fetchGroupPermission()
      this.dealAllow = await this.initialPermission('deal', 'deal')
      this.videoAllow = await this.initialPermission('deal', 'video')
      this.linearAllow = await this.initialPermission('deal', 'linear')
      this.territoryAllow = await this.initialPermission('deal', 'territory')
      this.titleAllow = await this.initialPermission('title', 'title')
      // this.checkPermission = this.groupPermission.find(x => x.name === 'Program Library')
      // let isViewDetailDeal = this.checkPermission.permission_code.includes('deal_deal_view_detail_deal')
      if (!this.dealAllow.isDetail) {
        this.$router.push({name: 'Page403'})
      }
      // this.isAdd = this.checkPermission.permission_code.includes('deal_deal_add_deal')
      // this.isEdit = this.checkPermission.permission_code.includes('deal_deal_change_deal')
      // this.isDelete = this.checkPermission.permission_code.includes('deal_deal_delete_deal')
      // this.isAddLinear = this.checkPermission.permission_code.includes('deal_linear_add_linear')
      // this.isEditLinear = this.checkPermission.permission_code.includes('deal_linear_change_linear')
      // this.isDeleteLinear = this.checkPermission.permission_code.includes('deal_linear_delete_linear')
      // this.isViewLinear = this.checkPermission.permission_code.includes('deal_linear_view_linear')
      // this.isViewDetailLinear = this.checkPermission.permission_code.includes('deal_linear_view_detail_linear')
      // this.isAddTerritory = this.checkPermission.permission_code.includes('deal_territory_add_territory')
      // this.isEditTerritory = this.checkPermission.permission_code.includes('deal_territory_change_territory')
      // this.isDeleteTerritory = this.checkPermission.permission_code.includes('deal_territory_delete_territory')
      // this.isViewTerritory = this.checkPermission.permission_code.includes('deal_territory_view_territory')
      // this.isViewDetailTerritory = this.checkPermission.permission_code.includes('deal_territory_view_detail_territory')
      await this.fetch();
      await this.initSelected();
      console.log(this.$route)
      if (this.buChoices.length === 1) {
        console.log('bu')
        this.deal.bu_id = this.buChoices[0].id
      }
      if (this.statusChoices.length === 1) {
        this.deal.status = this.statusChoices[0].value
      }
      if (this.vendors.length === 1) {
        this.deal.vendor_id = this.vendors[0].id
      }
      if (this.studios.length === 1) {
        this.deal.studio_id = this.studios[0].id
      }
    },
    methods: {
      backPage() {
        this.$router.push({name: 'Deal List'})
      },
      async initSelected() {
        const ctx = this;

        ctx.$services.dealConfig.findByDealStatus()
          .then((config) => {
            ctx.statusChoices = config;
          })
          .catch(console.log);

        ctx.$services.owner.find()
          .then((owner) => {
            ctx.buChoices = owner;
          })
          .catch(console.log);

        ctx.$services.dealConfig.findByVodType()
          .then((config) => {
            ctx.vodType = config;
            console.log(ctx.vodType)
          })
          .catch(console.log);

        await ctx.$services.vendor.find()
          .then((vendors) => {
            ctx.vendors = vendors;
          })
          .catch(console.log)

        // await ctx.$services.studio.find()
        //   .then((studios) => {
        //     ctx.studios = studios;
        //   })
        //   .catch(console.log)

        // set countries
        ctx.$services.country.find()
          .then((countries) => {
            ctx.countries = countries;
            ctx.countries = ctx.countries.map(({code, name}) => ({country_code: code, country_name: name}))
          })
          .catch(console.log);

        ctx.$services.config.findByTitleType()
          .then((config) => {
            ctx.typeChoices = config;
          })
          .catch(console.log);

          ctx.$services.config.findByTitleStatus()
          .then((config) => {
            ctx.titleStatusChoices = config;
          })
          .catch(console.log);

          ctx.$services.config.findByTitleType()
          .then((config) => {
            ctx.titleTypeChoices = config;
          })
          .catch(console.log);
      },
      async fetchStudioByVendor(vendor_id) {
        const ctx = this;
        await ctx.$services.vendor.findStudioByVendor(vendor_id)
          .then((studios) => {
            console.log(studios)
            ctx.studios = studios.data;
            if (!ctx.studios.length) {
              ctx.deal.studio_id = null
            }
          })
          .catch(console.log);
      },
      async downloadFormat() {
        const ctx = this;
        await ctx.$services.title.downloadFormat()
          .then((format) => {
            ctx.downloadCSV(format)
          })
          .catch(console.log);
      },
      // loadCountry(id) {
      //   console.log(id)
      // },
      editTitleOther(a, b) {
        this.selectedTypeVod = ''
        this.selectedEditVod = {}
        this.selectedTypeVod = b
        Object.assign(this.selectedEditVod, a)
        console.log(this.deal)
      },
      editLinear() {
        let vodMatch = {};
        let resultVodMatch = {};
        if (this.selectedTypeVod !== 'Linear') {
          vodMatch = this.deal.other_list.find(({label}) => label === this.selectedTypeVod)
          if (vodMatch) {
            resultVodMatch = vodMatch.items.find(({title_id}) => title_id === this.selectedEditVod.title_id)
            Object.assign(resultVodMatch, this.selectedEditVod)
          }
        } else {
          resultVodMatch = this.deal.linear_list.find(({title_id}) => title_id === this.selectedEditVod.title_id)
          if (resultVodMatch) {
            Object.assign(resultVodMatch, this.selectedEditVod)
          }
        }
        console.log(this.deal)
      },
      resetEditLinear() {
        this.selectedTypeVod = ''
        this.selectedEditVod = []
      },
      downloadCSV(csv) {
        let hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
        hiddenElement.target = '_blank';
        hiddenElement.download = 'title_format_import.csv';
        hiddenElement.click();
      },
      convertDate(datetime) {
        if (datetime) {
          let [date, time] = datetime.split(' ');
          let [day, month, year] = date.split('/');
          let [hour, minutes, seconds] = time.split(':');
          return `${[year, month, day].join('-')}T${[hour, minutes, seconds].join(':')}`
        }
      },
      sortBy: function (key) {
        const vm = this;
        vm.sortKey = key;
        vm.sortOrders[key] = vm.sortOrders[key] * -1
      },
      toBase64CSV: file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsText(file);
        reader.onload = (event) => resolve(Buffer.from(event.target.result).toString('base64'));
        reader.onerror = error => reject(error);
      }),
      async loadCSV(e) {
        console.log(e)
        if (e !== null) {
          this.showOverlay = true
          const file = e
          let base64Title = "";
          if (typeof FileReader === 'function') {
            this.url = URL.createObjectURL(file)
            base64Title = await this.toBase64CSV(file)
            if (base64Title) {
              try {
                const ctx = this;
                let {id} = await this.$services.title.importCSV({tmp_file: base64Title});
                ctx.waitingOfAlert = setInterval(function () {
                  ctx.$services.alert.findById(id).then(({message, percent, value, is_error}) => {
                    if (percent === 100) {
                      ctx.showOverlay = false;
                      clearInterval(ctx.waitingOfAlert)
                    } else if (is_error) {
                      ctx.showOverlay = false;
                      clearInterval(ctx.waitingOfAlert)
                    } else {

                      ctx.messageImport = `${message} ${percent}%`;
                    }
                    value = value.map(({id, name, title_type, duration, total_episode, datetime_right_start, datetime_right_end}) =>
                      ({
                        id,
                        name,
                        title_type,
                        duration,
                        total_episode,
                        datetime_right_start: moment(datetime_right_start).format('DD/MM/YYYY HH:mm:ss'),
                        datetime_right_end: moment(datetime_right_end).format('DD/MM/YYYY HH:mm:ss')
                      }))
                    for (let item of value) {
                      ctx.selectedTitle.push(item)
                    }
                    console.log(ctx.selectedTitle)
                  })
                }, 1000)

              } catch (e) {
                console.log(e)
              }
            }
          } else {
            alert('Sorry, FileReader API not supported')
          }
        }
      },
      fetch() {
        const {params} = this.$route;
        if (params && params.id) {
          const ctx = this;
          this.$services.deal.findById(this.$route.params.id)
            .then(function (deal) {
              ctx.deal = deal;
              let {linear_list, other_list} = ctx.deal;
              // datetime_transaction = moment(datetime_transaction).format('DD/MM/YYYY HH:mm:ss')
              linear_list = linear_list.map(({max_run, title_id, title_name, title_type, duration, total_episode, datetime_right_start, datetime_right_end}) => ({
                max_run: max_run,
                title_id: title_id,
                title_name: title_name,
                title_type: title_type,
                duration: duration,
                total_episode: total_episode,
                datetime_right_start: moment(datetime_right_start).format('DD/MM/YYYY HH:mm:ss'),
                datetime_right_end: moment(datetime_right_end).format('DD/MM/YYYY HH:mm:ss')
              }));
              console.log(other_list)
              other_list = other_list.map(({label, items}) => ({
                label: label,
                items: items.map(({mg, deem_price, rev_share, title_id, title_name, title_type, duration, total_episode, datetime_right_start, datetime_right_end}) => ({
                  mg: mg,
                  deem_price: deem_price,
                  rev_share: rev_share,
                  title_id: title_id,
                  title_name: title_name,
                  title_type: title_type,
                  duration: duration,
                  total_episode: total_episode,
                  datetime_right_start: moment(datetime_right_start).format('DD/MM/YYYY HH:mm:ss'),
                  datetime_right_end: moment(datetime_right_end).format('DD/MM/YYYY HH:mm:ss')
                }))
              }));
              console.log(other_list)
              console.log(deal)
              ctx.deal = {...ctx.deal, linear_list, other_list};
              if (ctx.deal.vendor_id) {
                console.log('ok')
                ctx.fetchStudioByVendor(ctx.deal.vendor_id)
              }
            }).catch((e) => {
            ctx.errorHttp(e);
          })
        } else {
          if (this.isCreate()) {
          }
        }
      },
      resetModalCreateTitle() {
        this.titleCreated = {
          id: 'auto',
          name: '',
          status: "Select",
          title_type: "NON-SERIES",
          total_episode: 1,
          duration: ''
        }
      },
      async createTitle() {
        this.showMsgTitleError = false
        console.log(this.titleCreated)
        await this.$services.title.addTitleMini(this.titleCreated)
        .then((data) => {
          console.log(data)
          this.selectedTitle.push({
            id: data.id,
            name: data.name,
            status: data.status,
            studio_id: null,
            studio_name: "",
            title_type: data.title_type,
            duration: data.duration,
            total_episode: data.total_episode,
            vendor_id: null,
            vendor_name: ""
          })
        }).catch((e) => {
          if (e.response.status === 400) {
                this.messageError = Object.values(e.response.data)[0][0];
                console.log(this.messageError)
                this.msgError()
                this.showMsgTitleError = true
              }
        });
      },
      async fetchTitle(word) {
        const ctx = this;
        ctx.isLoading = true;
        ctx.wordTitle = word;
        let params = ctx.wordTitle !== "" && ctx.wordTitle !== null ? {...params, search: ctx.wordTitle} : undefined;
        if (ctx.wordTitle !== '') {
          try {
            const title = await this.$services.title.find(params);
            this.title_list = title.results;
            ctx.isLoading = false;
          } catch (e) {
          }
        } else {
        }
      },
      addCountry() {
        console.log(this.selectedCountryModal)
        console.log(this.deal.territory_list)
        for (let item of this.selectedCountryModal) {
          this.deal.territory_list.push(item)
        }
        console.log(this.deal.territory_list)
      },
      limitText(count) {
        return `and ${count} other titles`
      },
      isCreate() {
        return !this.$route.params.id
      },
      saveTitle() {
        console.log(this.selectedTitle)
      },
      onRowSelectedTitleNoPeriod(items) {
        this.selectedTitleNoPeriod = items
      },
      onRowSelectedCountryModal(items) {
        this.selectedCountryModal = items
      },
      async matchDataBeforeSave() {
        console.log(this.deal)
        if (this.deal.attach && this.deal.attach !== null) {
          if (this.deal.attach.indexOf('http') !== -1) {
            delete this.deal.attach
          }
        }
        // if (this.deal.datetime_transaction) {
        //   this.deal.datetime_transaction = moment(this.convertDate(this.deal.datetime_transaction)).format()
        // }
        if (this.deal.contract_datetime_start) {
          this.deal.contract_datetime_start = moment(this.convertDate(this.deal.contract_datetime_start)).format()
        }
        if (this.deal.contract_datetime_end) {
          this.deal.contract_datetime_end = moment(this.convertDate(this.deal.contract_datetime_end)).format()
        }
        if (this.deal.linear_list.length) {
          this.deal.linear_list = this.deal.linear_list.map(({max_run, title_id, title_name, title_type, duration, total_episode, datetime_right_start, datetime_right_end}) => ({
            max_run: max_run,
            title_id: title_id,
            title_name: title_name,
            title_type: title_type,
            duration: duration,
            total_episode: total_episode,
            datetime_right_start: moment(this.convertDate(datetime_right_start)).format(),
            datetime_right_end: moment(this.convertDate(datetime_right_end)).format()
          }));
        }
        if (this.deal.other_list.length) {
          this.deal.other_list = this.deal.other_list.map(({label, items}) => ({
            label: label,
            items: items.map(({mg, deem_price, rev_share, title_id, title_name, title_type, duration, total_episode, datetime_right_start, datetime_right_end}) => ({
              mg: mg,
              deem_price: deem_price,
              rev_share: rev_share,
              title_id: title_id,
              title_name: title_name,
              title_type: title_type,
              duration: duration,
              total_episode: total_episode,
              datetime_right_start: moment(this.convertDate(datetime_right_start)).format(),
              datetime_right_end: moment(this.convertDate(datetime_right_end)).format(),
            }))
          }));
        }
        console.log(this.deal)
      },
      async matchDataBeforeError() {
        // if (this.deal.attach !== null) {
        //   if (this.deal.attach.indexOf('http') !== -1) {
        //     delete this.deal.attach
        //   }
        // }
        // if (this.deal.datetime_transaction) {
        //   this.deal.datetime_transaction = moment(this.convertDate(this.deal.datetime_transaction)).format()
        // }
        if (this.deal.contract_datetime_start) {
          this.deal.contract_datetime_start = moment(this.deal.contract_datetime_start).format('DD/MM/YYYY HH:mm:ss')
        }
        if (this.deal.contract_datetime_end) {
          this.deal.contract_datetime_end = moment(this.deal.contract_datetime_end).format('DD/MM/YYYY HH:mm:ss')
        }
        if (this.deal.linear_list.length) {
          this.deal.linear_list = this.deal.linear_list.map(({max_run, title_id, title_name, title_type, duration, total_episode, datetime_right_start, datetime_right_end}) => ({
            max_run: max_run,
            title_id: title_id,
            title_name: title_name,
            title_type: title_type,
            duration: duration,
            total_episode: total_episode,
            datetime_right_start: moment(datetime_right_start).format('DD/MM/YYYY HH:mm:ss'),
            datetime_right_end: moment(datetime_right_end).format('DD/MM/YYYY HH:mm:ss'),
          }));
        }
        if (this.deal.other_list.length) {
          this.deal.other_list = this.deal.other_list.map(({label, items}) => ({
            label: label,
            items: items.map(({mg, deem_price, rev_share, title_id, title_name, title_type, duration, total_episode, datetime_right_start, datetime_right_end}) => ({
              mg: mg,
              deem_price: deem_price,
              rev_share: rev_share,
              title_id: title_id,
              title_name: title_name,
              title_type: title_type,
              duration: duration,
              total_episode: total_episode,
              datetime_right_start: moment(datetime_right_start).format('DD/MM/YYYY HH:mm:ss'),
              datetime_right_end: moment(datetime_right_end).format('DD/MM/YYYY HH:mm:ss'),
            }))
          }));
        }
        console.log(this.deal)
      },
      checkFormValidity() {
        try {
          const valid = this.$refs.form.checkValidity();
          this.dealStage = valid ? 'valid' : 'invalid';
          return valid
        } catch (e) {
        }
      },
      async saveDeal() {
        // this.deal.linear_list = this.
        console.log(this.deal)
        if ((this.deal.status || this.deal.vendor_id || this.deal.bu_id) && await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
          const ctx = this;
          if (this.isCreate()) {
            try {
              this.matchDataBeforeSave();
              this.deal = await this.$services.deal.add(this.deal);
              await this.$bvModal.msgBoxOk('Save deal is success.')
                .then(() => {
                  this.resetRights();
                  ctx.$router.push({name: 'Deal List'})
                }).catch(console.log);
            } catch (e) {
              this.matchDataBeforeError()
              if (e.response.status === 400) {
                this.messageError = Object.values(e.response.data)[0][0];
                console.log(this.messageError)
                this.msgError();
              }
            }
          } else {
            console.log(this.deal.deal_no, this.deal)
            try {
              this.matchDataBeforeSave();
              await this.$services.deal.updateById(this.deal.deal_no, this.deal);
              await this.$bvModal.msgBoxOk('Save deal is success.')
                .then(() => {
                  ctx.$router.push({name: 'Deal List'})
                }).catch(console.log);
            } catch (e) {
              this.matchDataBeforeError()
              if (e.response.status === 400) {
                this.messageError  = Object.values(e.response.data)[0][0];
                console.log(this.messageError)
                this.msgError();
              }
            }
          }
        } else {
          if ((!this.deal.status || !this.deal.vendor_id || !this.deal.bu_id)) {
            await this.$bvModal.msgBoxOk('Please fill in the blank.')
          }
        }
      },
      matchBase64Update(url, callback) {
        const xhr = new XMLHttpRequest();
        xhr.onload = function () {
          const reader = new FileReader();
          reader.onloadend = function () {
            callback(reader.result);
            console.log(reader.result)
          }
          reader.readAsDataURL(xhr.response);
        };
        xhr.open('GET', url);
        xhr.responseType = 'blob';
        xhr.send();
      },
      durationDisplay(duration) {
        if (duration) {
          return `${duration.slice(0, 2)}:${duration.slice(2, 4)}:${duration.slice(4, 6)}`
        }
      },
      onRowSelectedTitle(items) {
        this.selectedTitle = items
      },
      async addRights() {
        if (this.rights_type.type === 'Linear') {
          for (let item of this.selectedTitle) {
            console.log(item)
            this.deal.linear_list.push(
              {
                max_run: this.max_run,
                title_id: item.id,
                title_name: item.name,
                title_type: item.title_type,
                duration: item.duration,
                total_episode: item.total_episode,
                datetime_right_start: item.datetime_right_start,
                datetime_right_end: item.datetime_right_end
              }
            )
          }
          console.log(this.deal.linear_list)
          console.log(this.selectedTitle)
        } else {
          let vodList = this.deal.other_list.map(({label}) => label)
          let vodMatch = [];
          vodMatch = this.deal.other_list.find(({label}) => label === this.rights_type.type)
          console.log(vodMatch)
          if (vodMatch) {
            if (this.rights_type.type === 'TVOD') {
              for (let temp of this.selectedTitle) {
                vodMatch.items.push(
                  {
                    mg: this.mg,
                    deem_price: this.deem_price,
                    rev_share: this.rev_share,
                    title_id: temp.id,
                    title_name: temp.name,
                    title_type: temp.title_type,
                    duration: temp.duration,
                    total_episode: temp.total_episode,
                    datetime_right_start: temp.datetime_right_start,
                    datetime_right_end: temp.datetime_right_end
                  }
                )
              }
            }
            if (this.rights_type.type === 'AVOD') {
              for (let temp of this.selectedTitle) {
                vodMatch.items.push(
                  {
                    mg: 0,
                    deem_price: 0,
                    rev_share: this.rev_share,
                    title_id: temp.id,
                    title_name: temp.name,
                    title_type: temp.title_type,
                    duration: temp.duration,
                    total_episode: temp.total_episode,
                    datetime_right_start: temp.datetime_right_start,
                    datetime_right_end: temp.datetime_right_end
                  }
                )
              }
            }
            if (this.rights_type.type === 'CVOD' || this.rights_type.type === 'SVOD') {
              console.log(this.selectedTitle)
              for (let temp of this.selectedTitle) {
                vodMatch.items.push(
                  {
                    mg: 0,
                    deem_price: 0,
                    rev_share: 0,
                    title_id: temp.id,
                    title_name: temp.name,
                    title_type: temp.title_type,
                    duration: temp.duration,
                    total_episode: temp.total_episode,
                    datetime_right_start: temp.datetime_right_start,
                    datetime_right_end: temp.datetime_right_end
                  }
                )
              }
            }
          } else {
            vodMatch = {};
            vodMatch = Object.assign(vodMatch, {label: this.rights_type.type, items: []});
            console.log(vodMatch)
            console.log(vodMatch)
            console.log(this.selectedTitle)
            if (this.rights_type.type === 'TVOD') {
              console.log(this.rights_type.type)
              for (let temp of this.selectedTitle) {
                vodMatch.items.push(
                  {
                    mg: this.mg,
                    deem_price: this.deem_price,
                    rev_share: this.rev_share,
                    title_id: temp.id,
                    title_name: temp.name,
                    title_type: temp.title_type,
                    duration: temp.duration,
                    total_episode: temp.total_episode,
                    datetime_right_start: temp.datetime_right_start,
                    datetime_right_end: temp.datetime_right_end
                  }
                )
              }
              this.deal.other_list.push(vodMatch)
            }
            if (this.rights_type.type === 'AVOD') {
              console.log(this.rights_type.type)
              for (let temp of this.selectedTitle) {
                vodMatch.items.push(
                  {
                    mg: 0,
                    deem_price: 0,
                    rev_share: this.rev_share ? this.rev_share : 0,
                    title_id: temp.id,
                    title_name: temp.name,
                    title_type: temp.title_type,
                    duration: temp.duration,
                    total_episode: temp.total_episode,
                    datetime_right_start: temp.datetime_right_start,
                    datetime_right_end: temp.datetime_right_end
                  }
                )
                console.log(vodMatch)
              }
              this.deal.other_list.push(vodMatch)

            }
            if (this.rights_type.type === 'CVOD' || this.rights_type.type === 'SVOD') {
              console.log(this.rights_type.type)
              for (let temp of this.selectedTitle) {
                vodMatch.items.push(
                  {
                    mg: 0,
                    deem_price: 0,
                    rev_share: 0,
                    title_id: temp.id,
                    title_name: temp.name,
                    title_type: temp.title_type,
                    duration: temp.duration,
                    total_episode: temp.total_episode,
                    datetime_right_start: temp.datetime_right_start,
                    datetime_right_end: temp.datetime_right_end
                  }
                )
              }
              this.deal.other_list.push(vodMatch)
            }
          }
        }
        this.resetRights();
      },
      toBase64: file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      }),
      async importPdf() {
        console.log(this.pdf_file)
        if (typeof FileReader === 'function') {
          this.url = URL.createObjectURL(this.pdf_file)
          this.deal.attach = await this.toBase64(this.pdf_file)
          this.deal.attach = this.deal.attach.slice(28)
        } else {
          alert('Sorry, FileReader API not supported')
        }
        console.log(this.deal.attach)
      },
      resetCountry() {
        this.selectedCountryModal = []
      },
      resetRights() {
        this.rights_type = {};
        this.rights_datetime_start = moment(new Date()).format('DD/MM/YYYY HH:mm:ss');
        this.rights_datetime_end = moment(new Date()).format('DD/MM/YYYY 23:59:59');
        this.selectedTitle = [];
        this.mg = 0;
        this.deem_price = 0;
        this.rev_share = 0;
        this.datetime_right_start = '';
        this.datetime_right_end = '';
        this.csv_file = []
      },
      resetRightsNoPeriod() {
        this.selectedTitleNoPeriod = [];
        this.wordTitle = '';
        this.title_list = [];
      },
      saveTitleNoPeriod() {
        console.log(this.selectedTitleNoPeriod)
      },
      async addRightsNoPeriod() {
        for (let item of this.selectedTitleNoPeriod) {
          this.selectedTitle.push(
            {
              id: item.id,
              name: item.name,
              title_type: item.title_type,
              duration: item.duration,
              total_episode: item.total_episode,
              datetime_right_start: this.rights_datetime_start,
              datetime_right_end: this.rights_datetime_end
            }
          )
        }
        console.log(this.selectedTitleNoPeriod)
        this.selectedTitleNoPeriod = [];
      },
      async deleteDeal(dealNo) {
        if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
          try {
            await this.$services.deal.remove(dealNo);
            this.$router.push({name: 'Deal List'});
            this.deleteSuccess();
          } catch (e) {
          }
        }
      },
      deleteTitleLinear(indexTitle) {
        this.deal.linear_list.splice(this.deal.linear_list.indexOf(indexTitle), 1)
      },
      deleteCountry(indexCountry) {
        this.deal.territory_list.splice(this.deal.territory_list.indexOf(indexCountry), 1)
      },
      deleteTitleModal(indexTitle) {
        this.selectedTitle.splice(this.selectedTitle.indexOf(indexTitle), 1)
      },
      deleteTitleOther(indexTitle, b) {
        let selectDeleteTitleOther = this.deal.other_list.find(({label}) => label === b)
        selectDeleteTitleOther.items.splice(selectDeleteTitleOther.items.indexOf(indexTitle), 1)
      },
      updateSuccess() {
        this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess
      },
      addSuccess() {
        this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
      },
      msgError() {
        this.dismissCountDownMsgError = this.dismissSecsMsgError
      },
      deleteSuccess() {
        this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
      },
      countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
        this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess
      },
      countDownChangedAddSuccess(dismissCountDownAddSuccess) {
        this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
      },
      countDownChangedMsgError(dismissCountDownMsgError) {
        this.dismissCountDownMsgError = dismissCountDownMsgError
      },
      countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
        this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
      },
    }
  }
</script>

<style scoped>
</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
