<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess">
      Update episode success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownUpdateError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedUpdateError">
      Update episode error!. This alert will dismiss after {{ dismissCountDownUpdateError}} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add episode success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError">
      Add episode error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete episode success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete episode error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-7">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, Page" v-model="word" @input="fetch">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-3">
          <b-button-group style="width: 100%">
            <b-button class="float-right mr-2" variant="primary" v-b-toggle.advance-search>
              <i class="fa fa-search"></i> Advance Search
            </b-button>
          </b-button-group>
        </b-form-group>
        <b-form-group class="col-md-2" v-if="dealAllow.isAdd">
          <b-button-group style="width: 100%">
            <b-button class="float-right mr-2" variant="primary" to="/program/deal">
              <i class="fa fa-plus-circle"></i> Add Deal
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-collapse id="advance-search">
        <b-col sm="6" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="mr-2" label="Datetime Start:" :horizontal="true" validated>
            <kendo-datetimepicker class="ml-1" style="width: 100%;font-size: x-small !important;"
                                  v-model="word_datetime_start"
                                  v-on:close="fetch"
                                  :time-format="'HH:mm:ss'"
                                  disabled
                                  :interval="5" :format="'yyyy-MM-dd HH:mm:ss'">
            </kendo-datetimepicker>
          </b-form-group>
        </b-col>
        <b-col sm="6" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="mr-2" label="Datetime End:" :horizontal="true" validated>
            <kendo-datetimepicker class="ml-1" style="width: 100%;font-size: x-small !important;"
                                  v-model="word_datetime_end"
                                  disabled
                                  v-on:close="fetch"
                                  :time-format="'HH:mm:ss'"
                                  :interval="5" :format="'yyyy-MM-dd HH:mm:ss'">
            </kendo-datetimepicker>
          </b-form-group>
        </b-col>
        <b-col sm="4" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="mr-2" label="Studio:" :horizontal="true" validated>
            <b-form-select v-model="wordStudio" @input="fetch" style="width: 100%;font-size: x-small">
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option v-for="(item, index) in studios" v-bind:key="index" :value="item.id">{{item.name}}</option>
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col sm="4" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="mr-2" label="Vendor:" :horizontal="true" validated>
            <b-form-select v-model="wordVendor" @input="fetch" style="width: 100%;font-size: x-small">
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option v-for="(item, index) in vendors" :value="item.id">{{item.name}}</option>
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col sm="4" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="mr-2" label="Status:" :horizontal="true" validated>
            <b-form-select v-model="wordStatus" @input="fetch" style="width: 100%;font-size: x-small">
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option v-for="(item, index) in statusChoices" :value="item.value">{{item.value}}</option>
            </b-form-select>
          </b-form-group>
        </b-col>
      </b-collapse>
      <b-overlay :show="showOverlay" rounded="sm">
        <template v-slot:overlay>
          <b-spinner label="Loading..."></b-spinner>
        </template>
      <b-card>
        <div slot="header">
          <strong>Deal</strong>
        </div>
        <b-table
          :items="Array.isArray(this.deals) ? this.deals: []"
          :fields="fields"
          responsive
          style="text-align: center"
          id="content-table">
          <template v-slot:cell(ref_no)="row">
            <span v-b-tooltip :title="row.item.ref_no">{{row.item.ref_no}}</span>
          </template>
          <template v-slot:cell(date)="row">
            <span v-if="row.item.datetime_transaction">
            {{moment(row.item.datetime_transaction).format('DD/MM/YYYY HH:mm:ss')}}
              </span>
            <span v-if="!row.item.datetime_transaction">
              -
            </span>
          </template>
          <template v-slot:cell(actions)="row">
            <b-link :to="{name: 'Deal', params: {id: row.item.deal_no}}">
              <b-button variant="outline-primary" size="sm" class="mr-1"
                        v-if="dealAllow.isEdit">
                <i class="fa fa-edit"></i> Edit
              </b-button>
            </b-link>
            <b-button variant="danger" size="sm" class="mr-1" @click="confirmRemove(row.item.deal_no)"
                      v-if="dealAllow.isDelete">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
        <div class="overflow-auto" style="float: right" v-if="this.deals.length">
          <b-pagination
            v-model="pagination.current"
            :total-rows="pagination.count"
            :per-page="pagination.page_size"
            @change="fetch"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
      </b-card>
      </b-overlay>
    </div>
  </b-container>
</template>

<script>
import moment from 'moment';
import PermissionMixin from "../../mixins/PermissionMixin";

export default {
  mixins: [PermissionMixin],
  data() {
    return {
      moment,
      pagination: {},
      word: null,
      deals: [],
      fields: [
        {key: 'deal_no', sortable: true, sortDirection: 'desc'},
        {key: 'ref_no', sortable: true, tdClass: 'dealName'},
        {key: 'date', label: 'Datetime Transaction', sortable: true,},
        {key: 'status', sortable: true,},
        {key: 'actions'}
      ],
      id: -1,
      dismissSecsUpdateSuccess: 5,
      dismissCountDownUpdateSuccess: 0,
      dismissSecsUpdateError: 5,
      dismissCountDownUpdateError: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsAddError: 5,
      dismissCountDownAddError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsDeleteError: 5,
      dismissCountDownDeleteError: 0,
      studios: [],
      vendors: [],
      statusChoices: [],
      word_datetime_start: '',
      word_datetime_end: '',
      wordStudio: '',
      wordVendor: '',
      wordStatus: '',
      checkPermission: {},
      dealAllow: {},
      isAdd: false,
      isEdit: false,
      isDelete: false,
      showOverlay: false
    }
  },
  async created() {
    this.dealAllow = await this.initialPermission('deal', 'deal')
    if (!this.dealAllow.isView) {
      this.$router.push({name: 'Page403'})
    }
    // this.isAdd = this.checkPermission.permission_code.includes('deal_deal_add_deal')
    // this.isEdit = this.checkPermission.permission_code.includes('deal_deal_view_detail_deal')
    // this.isDelete = this.checkPermission.permission_code.includes('deal_deal_delete_deal')
    await this.fetch();
    this.initSelected();
  },
  computed: {},
  methods: {
    async fetch(pageNumber) {
      const ctx = this;
      try {
        ctx.showOverlay = true
        let page = Number(pageNumber);
        page = Number.isNaN(page) ? ctx.deals.page : page;
        const toNext = deals => {
          ctx.SetInitial(deals);
        };
        let params = {page}
        let clean = function (key, obj) {
          delete obj[key];
          return obj
        };
        params = ctx.word !== "" && ctx.word !== null
        || ctx.word_datetime_start !== "" && ctx.word_datetime_start !== null
        || ctx.word_datetime_end !== "" && ctx.word_datetime_end !== null
        || ctx.wordStudio !== "" && ctx.wordStudio !== null
        || ctx.wordVendor !== "" && ctx.wordVendor !== null
        || ctx.wordStatus !== "" && ctx.wordStatus !== null ?
          {
            ...params,
            search: ctx.word,
            datetime_right_start: ctx.word_datetime_start,
            datetime_right_end: ctx.word_datetime_end,
            studio_id: ctx.wordStudio,
            vendor_id: ctx.wordVendor,
            status: ctx.wordStatus
          }
          : clean('search', params);
        if (params.page === 0) {
          params.page = 1
        }
        this.$services.deal.find(params)
          .then(toNext)
          .catch(err => err)
      } catch (e) {
      }
    },
    onOpen: function (e) {
      console.log("DateRangePicker is opened");
    },
    onClose: function (e) {
      console.log("DateRangePicker is closed");
    },
    onChange: function (e) {
      console.log("DateRangePicker selected date is changed");
    },
    convertDate(datetime) {
      if (datetime) {
        let [date, time] = datetime.split(' ');
        let [day, month, year] = date.split('/');
        let [hour, minutes, seconds] = time.split(':');
        return `${[year, month, day].join('-')}T${[hour, minutes, seconds].join(':')}`
      }
    },
    SetInitial({results, current, page_size, count}) {
      this.pagination = {current, page_size, count};
      this.deals = results;
      this.showOverlay = false
    },
    initSelected() {
      const ctx = this;
      // set Studio
      ctx.$services.studio.find()
        .then((studios) => {
          ctx.studios = studios;
        })
        .catch(console.log);

      // set vendors
      ctx.$services.vendor.find()
        .then((vendors) => {
          ctx.vendors = vendors;
        })
        .catch(console.log);

      ctx.$services.config.findByTitleStatus()
        .then((config) => {
          ctx.statusChoices = config;
        })
        .catch(console.log);
    },
    async remove() {
      try {
        await this.$services.deal.remove(this.id);
        await this.deleteSuccess();
        await this.fetch();
      } catch (e) {
        await this.deleteError()
      }
    },
    async confirmRemove(id) {
      if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
        this.id = id;
        await this.remove()
      }
    },
    mounted() {
    },
    updateSuccess() {
      this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess
    },
    updateError() {
      this.dismissCountDownUpdateError = this.dismissSecsUpdateError
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
    },
    addError() {
      this.dismissCountDownAddError = this.dismissSecsAddError
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
    },
    deleteError() {
      this.dismissCountDownDeleteError = this.dismissSecsDeleteError
    },
    countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
      this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess
    },
    countDownChangedUpdateError(dismissCountDownUpdateError) {
      this.dismissCountDownUpdateError = dismissCountDownUpdateError
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
    },
    countDownChangedAddError(dismissCountDownAddError) {
      this.dismissCountDownAddError = dismissCountDownAddError
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
    },
    countDownChangedDeleteError(dismissCountDownDeleteError) {
      this.dismissCountDownDeleteError = dismissCountDownDeleteError
    },
  }
}
</script>

<style>
ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 5px 5px;
}

.dealName {
   max-width: 200px;
   white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

</style>
