<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess"
    >
      Update episode success!. This alert will dismiss after
      {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess"
    >
      Add episode success!. This alert will dismiss after
      {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownMsgError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedMsgError"
    >
      {{ messageError }}. This alert will dismiss after
      {{ dismissCountDownMsgError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess"
    >
      Delete episode success!. This alert will dismiss after
      {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>

    <div>
      <b-row class="text-center">
        <b-col cols="1" v-if="!isCreate() && episodeAllow.isEdit">
          <a @click="saveEpisode">
            <i class="fa fa-save fa-lg mt-4"></i><br />Save
          </a>
        </b-col>
        <b-col cols="1" v-if="isCreate() && episodeAllow.isAdd">
          <a @click="saveEpisode">
            <i class="fa fa-save fa-lg mt-4"></i><br />Add
          </a>
        </b-col>
        <b-col cols="1" v-if="!isCreate() && episodeAllow.isDelete">
          <a @click="deleteEpisode($route.params.id)">
            <i class="fa fa-trash-o fa-lg mt-4"></i><br />Delete
          </a>
        </b-col>
        <b-col cols="1">
          <a
            style="border: none; background-color: #fff"
            class="p-0 m-0"
            @click="backPage()"
          >
            <i class="fa fa-mail-reply fa-lg mt-4"></i><br />Back
          </a>
        </b-col>
      </b-row>
      <b-row sm="12" class="mt-3">
        <b-form inline class="col-12" ref="form">
          <b-col
            sm="6"
            class="mb-2"
            style="display: inline-table; justify-content: flex-end"
          >
            <b-form-group
              class="mr-2"
              style="display: block"
              label="Episode Id:"
              validated
              disabled
            >
              <b-form-input
                v-model="episode.id"
                class="ml-2"
                style="width: 100%"
                required
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col
            sm="6"
            class="mb-2"
            style="display: inline-table; justify-content: flex-end"
          >
            <b-form-group
              class="mr-2"
              style="display: block"
              label="Title name:"
              validated
            >
              <multiselect
                v-model="word"
                :options="title_list"
                @search-change="fetchTitle"
                :disabled="!isCreate()"
                :seachable="true"
                :multiple="false"
                :close-on-select="true"
                :clear-on-select="false"
                :preserve-search="true"
                placeholder="Select title"
                label="name"
                track-by="id"
                :preselect-first="true"
              >
              </multiselect>
            </b-form-group>
          </b-col>
          <b-col
            sm="6"
            class="mb-2"
            style="display: inline-table; justify-content: flex-end"
          >
            <b-form-group
              class="mr-2"
              style="display: block"
              label="Episode Name:"
              validated
            >
              <b-form-input
                v-model="episode.name"
                :disabled="!isCreate()"
                @input="fetchEpisodeName"
                class="ml-2"
                style="width: 100%"
                required
              >
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col
            sm="6"
            class="mb-2"
            style="display: inline-table; justify-content: flex-end"
          >
            <b-form-group
              class="mr-2"
              style="display: block"
              label="Pac No:"
              validated
            >
              <b-form-input
                v-model="episode.pac_no"
                type="number"
                class="ml-2"
                style="width: 100%"
                required
              >
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col
            sm="6"
            class="mb-2"
            style="display: inline-table; justify-content: flex-end"
          >
            <b-form-group
              class="mr-2"
              style="display: block"
              label="Use Run:"
              validated
            >
              <b-form-input
                type="number"
                v-model="episode.use_run"
                class="ml-2"
                style="width: 100%"
                required
                disabled
              >
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col
            sm="6"
            class="mb-2"
            style="display: inline-table; justify-content: flex-end"
          >
            <b-form-group
              class="mr-2"
              style="display: block"
              label="Duration:"
              validated
            >
              <!--              <vue-timepicker format="HH:mm:ss" style="overflow-wrap: break-word;" v-model="episode.duration"-->
              <!--                              required>-->
              <!--              </vue-timepicker>-->
              <b-form-input
                class="ml-2"
                min="000000"
                max="999999"
                id="duration"
                v-model="episode.duration"
                type="number"
                required
                style="display: inline-flex"
              >
              </b-form-input>
              Ex. 010203 = 1 hr 2 min 3 sec
            </b-form-group>
          </b-col>
          <b-col
            sm="6"
            class="mb-2"
            style="display: inline-table; justify-content: flex-end"
          >
            <b-form-group
              class="mr-2"
              style="display: block"
              label="Asset Id:"
              validated
            >
              <b-form-input
                v-model="episode.asset_id"
                class="ml-2"
                style="width: 100%"
              >
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col
            sm="6"
            class="mb-2"
            style="display: inline-table; justify-content: flex-end"
          >
            <b-form-group
              class="mr-2"
              style="display: block"
              label="Datetime Expect Receive"
              :horizontal="true"
              validated
            >
              <kendo-datetimepicker
                class="ml-1"
                style="width: 100%"
                v-model="episode.datetime_expect_receive"
                :time-format="'HH:mm:ss'"
                :interval="5"
                :format="'yyyy-MM-dd HH:mm:ss'"
              >
              </kendo-datetimepicker>
            </b-form-group>
          </b-col>
          <b-col
            sm="6"
            class="mb-2"
            style="display: inline-table; justify-content: flex-end"
          >
            <b-form-group
              class="mr-2"
              style="display: block"
              label="Receive Datetime:"
              validated
            >
              <b-form-input
                v-model="episode.receive_date"
                class="ml-2"
                style="width: 100%"
                required
                disabled
              >
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-form>
      </b-row>
      <b-row sm="12">
        <b-tabs
          class="col-12"
          active-nav-item-class="font-weight-bold"
          nav-item-class="font-weight-bold"
        >
          <b-tab title="AKA & Synopsis" v-if="akaepisodeAllow.isView">
            <b-card>
              <b-row>
                <b-table
                  style="text-align: center"
                  head-variant="light"
                  :items="
                    Array.isArray(episode.aka_list) ? episode.aka_list : []
                  "
                  :fields="fieldsAkaSynopsis"
                >
                  <template v-slot:cell(language)="row">
                    {{ row.item.language_id }}
                  </template>
                  <template v-slot:cell(name)="row">
                    <b-form-input
                      v-model="row.item.name"
                      :disabled="!akaepisodeAllow.isEdit"
                      @input="setAkaNameOfNull"
                    ></b-form-input>
                  </template>
                  <template v-slot:cell(synopsis)="row">
                    <b-form-textarea
                      v-model="row.item.synopsis"
                      :disabled="!akaepisodeAllow.isEdit"
                    ></b-form-textarea>
                  </template>
                </b-table>
              </b-row>
            </b-card>
          </b-tab>
          <b-tab title="Publish" v-if="publishepisodeAllow.isView">
            <b-alert
              :show="dismissCountDownMsgErrorPublish"
              dismissible
              fade
              variant="danger"
              @dismiss-count-down="countDownChangedMsgErrorPublish"
            >
              {{ messageErrorPublish }}. This alert will dismiss after
              {{ dismissCountDownMsgErrorPublish }} seconds...
            </b-alert>
            <b-card class="col-12 p-0">
              <div slot="header">
                <strong> Publish </strong>
              </div>
              <b-row v-if="publishepisodeAllow.isAdd">
                <b-button
                  class="ml-3"
                  v-b-modal.create-publish
                  variant="primary"
                >
                  Add Publish
                </b-button>
              </b-row>
              <br />
              <b-table
                responsive="sm"
                style="text-align: center"
                head-variant="light"
                :items="
                  Array.isArray(episode.publish_list)
                    ? episode.publish_list
                    : []
                "
                :fields="fieldsPublish"
              >
                <template v-slot:cell(desc)="row">
                  <span>
                    {{ row.item.desc }}
                  </span>
                </template>
                <template v-slot:cell(period)="row">
                  <span
                    v-for="(item, index) in row.item.period_list"
                    v-bind:key="index"
                  >
                    {{ item.datetime_start }} - {{ item.datetime_end }} <br />
                  </span>
                </template>
                <template v-slot:cell(action)="row">
                  <b-button
                    class="mr-1"
                    v-if="publishepisodeAllow.isEdit"
                    variant="outline-primary"
                    @click="loadPublish(row.item)"
                  >
                    Edit
                  </b-button>
                  <b-button
                    variant="danger"
                    v-if="publishepisodeAllow.isDelete"
                    @click="removePublish(row.item)"
                  >
                    Delete
                  </b-button>
                </template>
              </b-table>
            </b-card>
          </b-tab>
          <b-tab title="Segment" v-if="segmentepisodeAllow.isView">
            <b-card>
              <b-col
                v-if="segmentepisodeAllow.isAdd"
                sm="12"
                class="mb-2"
                style="display: inline-flex; justify-content: flex-start"
              >
                <label class="mr-2"><b>No Segment:</b></label>
                <b-form-input
                  type="number"
                  class="ml-2"
                  style="width: 20%"
                  v-model="genNoSegment"
                >
                </b-form-input>
                <b-button
                  class="ml-2 mb-2"
                  variant="primary"
                  @click="generateSegment"
                  >Generate</b-button
                >
              </b-col>
              <b-row>
                <b-table
                  style="text-align: center"
                  head-variant="light"
                  :items="
                    Array.isArray(episode.segment_list)
                      ? episode.segment_list
                      : []
                  "
                  :fields="fieldsSegment"
                >
                  <template v-slot:cell(segment_no)="row">
                    <b-form-input
                      :disabled="!segmentepisodeAllow.isEdit"
                      type="number"
                      v-model="row.item.segment_no"
                    ></b-form-input>
                  </template>
                  <template v-slot:cell(duration)="row">
                    <b-form-input
                      min="0"
                      id="duration"
                      v-model="row.item.duration"
                      type="number"
                      :disabled="!segmentepisodeAllow.isEdit"
                      style="display: inline-flex"
                    >
                    </b-form-input>
                  </template>
                  <template v-slot:cell(action)="row">
                    <b-button
                      variant="danger"
                      v-if="segmentepisodeAllow.isDelete"
                      @click="removeGenSegment(row.item)"
                    >
                      Delete
                    </b-button>
                  </template>
                </b-table>
              </b-row>
            </b-card>
          </b-tab>
          <b-tab title="Thumbnail" v-if="thumbnailepisodeAllow.isView">
            <b-card>
              <b-col
                v-if="thumbnailepisodeAllow.isAdd"
                sm="12"
                class="mb-2"
                style="display: inline-flex; justify-content: start"
              >
                <label class="mr-2"><b>Tag:</b></label>
                <b-form-group validated style="width: 35%; display: block">
                  <b-form-select class="ml-2" v-model="selectedTag">
                    <template slot="first">
                      <option
                        v-for="(item, index) in thumbnailTagChoices"
                        :value="item.value"
                      >
                        {{ item.value }}
                      </option>
                    </template>
                  </b-form-select>
                </b-form-group>
                <b-form-file
                  :disabled="!selectedTag"
                  class="ml-3"
                  accept="image/*"
                  v-model="selectedImage"
                  plain
                  @input="convertImg($event)"
                ></b-form-file>
              </b-col>
              <b-row>
                <b-col
                  sm="4"
                  style="text-align: center"
                  v-if="episode.thumbnail_list.length"
                  v-for="(item, index) in episode.thumbnail_list"
                  v-bind:key="index"
                >
                  <div style="display: inline-flex">
                    <b-img
                      thumbnail
                      fluid
                      :src="item.uri"
                      alt="Image 1"
                    ></b-img>
                    <a
                      @click="deleteThumbnail(item)"
                      v-if="thumbnailepisodeAllow.isDelete"
                    >
                      <i class="fa fa-times-circle" style="color: red"></i>
                    </a>
                  </div>
                  <br />
                  <span>{{ item.tag }}</span>
                </b-col>
              </b-row>
            </b-card>
          </b-tab>
        </b-tabs>
      </b-row>
    </div>

    <!-- Modal -->
    <b-modal
      id="create-publish"
      size="lg"
      ref="modal"
      no-close-on-backdrop
      title="Add Publish"
      @reset="resetPublish"
      @hidden="resetPublish"
      @ok="saveAddPublish"
    >
      <b-row>
        <b-form-group
          class="col-md-12"
          label="Publish Zone:"
          label-for="publish_zone"
          style="font-weight: normal; display: block"
          invalid-feedback="Publish zone is required"
        >
          <b-form-checkbox
            v-for="item in publishes"
            v-model="publishZone"
            :key="item.id"
            :value="item.id"
            :disabled="
              episode.publish_list.map((x) => x.publish_id).includes(item.id)
            "
            class="mr-3"
            style="display: inline-flex"
            name="publish-1"
          >
            {{ item.desc }}
          </b-form-checkbox>
        </b-form-group>
      </b-row>
      <b-form
        style="display: flex; place-content: center"
        v-if="this.publishZone.length"
      >
        <b-form-group
          validated
          class="col-md-6"
          label="Datetime Start"
          label-for="datetime_start"
          style="display: block"
          invalid-feedback="Datetime Start is required"
          required
        >
          <kendo-datetimepicker
            class="ml-1"
            style="width: 100%"
            v-model="datetime_start"
            :time-format="'HH:mm:ss'"
            :interval="5"
            :format="'dd/MM/yyyy HH:mm:ss'"
          >
          </kendo-datetimepicker>
        </b-form-group>
        <b-form-group
          validated
          class="col-md-6"
          label="Datetime End"
          label-for="datetime_end"
          style="display: block"
          invalid-feedback="Datetime End is required"
          required
        >
          <kendo-datetimepicker
            class="ml-1"
            style="width: 100%"
            v-model="datetime_end"
            :time-format="'HH:mm:ss'"
            :interval="5"
            :format="'dd/MM/yyyy HH:mm:ss'"
          >
          </kendo-datetimepicker>
        </b-form-group>
      </b-form>
    </b-modal>

    <b-modal
      id="edit-publish"
      size="lg"
      ref="modal"
      no-close-on-backdrop
      title="Edit Publish"
      @reset="resetPublish"
      @hidden="resetPublish"
      @ok="saveEditPublish"
    >
      <b-row>
        <b-form-group
          class="col-md-12"
          label="Publish Zone:"
          label-for="publish_zone"
          style="font-weight: normal; display: block"
          invalid-feedback="Publish zone is required"
        >
          <b-form-radio-group
            id="add-publish-zone"
            v-model="selected.publish_id"
            :options="publishes"
            value-field="id"
            text-field="desc"
            name="publish-1"
            disabled
          ></b-form-radio-group>
        </b-form-group>
      </b-row>
      <b-row>
        <b-form-group style="display: block" class="col-md-12">
          <b-button v-on:click="addInputPeriod" variant="primary"
            ><i class="fa fa-plus-circle"></i> Add Period
          </b-button>
        </b-form-group>
      </b-row>
      <b-form
        style="display: flex; place-content: center"
        v-for="(item, index) in selected.period_list"
        v-bind:key="index"
      >
        <b-form-group
          validated
          class="col-md-5"
          label="Datetime End"
          label-for="datetime_end"
          style="display:block"
          invalid-feedback="Datetime End is required"
          :horizontal="true"
          required
        >
          <kendo-datetimepicker
            class="ml-1"
            style="width: 100%"
            v-model="item.datetime_start"
            :time-format="'HH:mm:ss'"
            :format="'dd/MM/yyyy HH:mm:ss'"
          >
          </kendo-datetimepicker>
        </b-form-group>
        <b-form-group
          validated
          class="col-md-5"
          label="Datetime End"
          label-for="datetime_end"
          style="display:block"
          :horizontal="true"
          invalid-feedback="Datetime End is required"
          required
        >
          <kendo-datetimepicker
            class="ml-1"
            style="width: 100%"
            v-model="item.datetime_end"
            :time-format="'HH:mm:ss'"
            :format="'dd/MM/yyyy HH:mm:ss'"
          >
          </kendo-datetimepicker>
        </b-form-group>
        <b-form-group class="col-md-2" style="margin-top: 29px">
          <b-button v-on:click="removeInputEditPeriod(index)" variant="danger"
            >Delete <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
      <b-form
        style="display: flex; place-content: center"
        v-for="(item, index) in period"
        v-bind:key="index"
      >
        <b-form-group
          validated
          v-if="item"
          class="col-md-5"
          label="Datetime Start"
          label-for="datetime_start"
          style="display:block"
          invalid-feedback="Datetime Start is required"
          required
        >
          <kendo-datetimepicker
            class="ml-1"
            style="width: 100%"
            v-model="item.datetime_start"
            :time-format="'HH:mm:ss'"
            :format="'dd/MM/yyyy HH:mm:ss'"
          >
          </kendo-datetimepicker>
        </b-form-group>
        <b-form-group
          validated
          class="col-md-5"
          label="Datetime End"
          label-for="datetime_end"
          style="display:block"
          invalid-feedback="Datetime End is required"
          required
        >
          <kendo-datetimepicker
            class="ml-1"
            style="width: 100%"
            v-model="item.datetime_end"
            :time-format="'HH:mm:ss'"
            :format="'dd/MM/yyyy HH:mm:ss'"
          >
          </kendo-datetimepicker>
        </b-form-group>
        <b-form-group class="col-md-2" style="margin-top: 29px">
          <b-button v-on:click="removeInputPeriod(index)" variant="danger"
            >Delete <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import moment from "moment";
import Vue from "vue";
import Multiselect from "vue-multiselect";
import VueTimepicker from "vue2-timepicker";
import PermissionMixin from "../../mixins/PermissionMixin";

export default {
  mixins: [PermissionMixin],
  name: "Episode",
  components: { VueTimepicker, Multiselect },
  data() {
    return {
      moment,
      period: [],
      datetime_start: "",
      datetime_end: "",
      selectedTag: "",
      word: "",
      title_list: [],
      indexPublish: 0,
      publishZone: [],
      thumbnailTagChoices: [],
      selectedImage: null,
      Action: null,
      genNoSegment: "",
      episode: {
        id: "auto",
        title_id: "",
        name: "",
        pac_no: 1,
        duration: "000000",
        use_run: 0,
        aka_list: [],
        publish_list: [],
        segment_list: [],
        asset_id: "",
        thumbnail_list: [],
        // expect_datetime_recieve: ''
      },
      fieldsPublish: [
        { key: "desc", sortable: true },
        { key: "period", sortable: true },
        { key: "action", sortable: true },
      ],
      fieldsSegment: [
        { key: "segment_no", sortable: true },
        { key: "duration", sortable: true },
        { key: "action", sortable: true },
      ],
      fieldsAkaSynopsis: [
        { key: "language", sortable: true },
        { key: "name", sortable: true },
        { key: "synopsis", sortable: true },
      ],
      dismissSecsUpdateSuccess: 5,
      dismissCountDownUpdateSuccess: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsMsgError: 5,
      dismissCountDownMsgError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsMsgErrorPublish: 5,
      dismissCountDownMsgErrorPublish: 0,
      messageError: "",
      messageErrorPublish: "",
      languages: [],
      episodeStage: null,
      publishes: [],
      selected: [],
      nameAkaOfNull: [],
      text_source_update: "",
      checkPermission: {},
      isAdd: false,
      isEdit: false,
      isDelete: false,
      isViewAka: false,
      isAddAka: false,
      isEditAka: false,
      isDeleteAka: false,
      isViewPublish: false,
      isAddPublish: false,
      isEditPublish: false,
      isDeletePublish: false,
      isViewSegment: false,
      isAddSegment: false,
      isEditSegment: false,
      isDeleteSegment: false,
      isViewThumbnail: false,
      isAddThumbnail: false,
      isEditThumbnail: false,
      isDeleteThumbnail: false,
      episodeAllow: {},
      akaepisodeAllow: {},
      publishepisodeAllow: {},
      segmentepisodeAllow: {},
      thumbnailepisodeAllow: {},
    };
  },
  computed: {},
  async created() {
    await this.fetchGroupPermission();
    this.episodeAllow = await this.initialPermission("episode", "episode");
    this.akaepisodeAllow = await this.initialPermission(
      "episode",
      "akaepisode"
    );
    this.publishepisodeAllow = await this.initialPermission(
      "episode",
      "publishepisode"
    );
    this.segmentepisodeAllow = await this.initialPermission(
      "episode",
      "segment"
    );
    this.thumbnailepisodeAllow = await this.initialPermission(
      "episode",
      "thumbnailepisode"
    );
    // this.checkPermission = this.groupPermission.find(x => x.name === 'Program Library')
    // let isViewEpisode = this.checkPermission.permission_code.includes('episode_episode_view_episode')
    if (!this.episodeAllow.isDetail) {
      this.$router.push({ name: "Page403" });
    }
    // this.isAdd = this.checkPermission.permission_code.includes('episode_episode_add_episode')
    // this.isEdit = this.checkPermission.permission_code.includes('episode_episode_change_episode')
    // this.isDelete = this.checkPermission.permission_code.includes('episode_episode_delete_episode')
    // this.isViewAka = this.checkPermission.permission_code.includes('episode_akaepisode_view_akaepisode')
    // this.isAddAka = this.checkPermission.permission_code.includes('episode_akaepisode_add_akaepisode')
    // this.isEditAka = this.checkPermission.permission_code.includes('episode_akaepisode_change_akaepisode')
    // this.isDeleteAka = this.checkPermission.permission_code.includes('episode_akaepisode_delete_akaepisode')
    // this.isViewPublish = this.checkPermission.permission_code.includes('episode_publishepisode_view_publishepisode')
    // this.isAddPublish = this.checkPermission.permission_code.includes('episode_publishepisode_add_publishepisode')
    // this.isEditPublish = this.checkPermission.permission_code.includes('episode_publishepisode_change_publishepisode')
    // this.isDeletePublish = this.checkPermission.permission_code.includes('episode_publishepisode_delete_publishepisode')
    // this.isViewSegment = this.checkPermission.permission_code.includes('episode_segment_view_segment')
    // this.isAddSegment = this.checkPermission.permission_code.includes('episode_segment_add_segment')
    // this.isEditSegment = this.checkPermission.permission_code.includes('episode_segment_change_segment')
    // this.isDeleteSegment = this.checkPermission.permission_code.includes('episode_segment_delete_segment')
    // this.isViewThumbnail = this.checkPermission.permission_code.includes('episode_thumbnailepisode_view_thumbnailepisode')
    // this.isAddThumbnail = this.checkPermission.permission_code.includes('episode_thumbnailepisode_add_thumbnailepisode')
    // this.isEditThumbnail = this.checkPermission.permission_code.includes('episode_thumbnailepisode_change_thumbnailepisode')
    // this.isDeleteThumbnail = this.checkPermission.permission_code.includes('episode_thumbnailepisode_delete_thumbnailepisode')
    await this.initSelected();
    await this.fetch();
    await this.setAkaNameOfNull();
    if (this.thumbnailTagChoices.length === 1) {
      this.selectedTag = this.thumbnailTagChoices[0].id;
    }
  },
  methods: {
    backPage() {
      this.$router.push({ name: "Episode List" });
    },
    convertDate(datetime) {
      let [date, time] = datetime.split(" ");
      let [day, month, year] = date.split("/");
      let [hour, minutes, seconds] = time.split(":");
      return `${[year, month, day].join("-")}T${[hour, minutes, seconds].join(
        ":"
      )}`;
    },
    async fetch() {
      const { params } = this.$route;
      if (params && params.id) {
        const ctx = this;
        this.$services.episode
          .findById(this.$route.params.id)
          .then(function (episode) {
            ctx.episode = episode;
            let {
              duration,
              segment_list,
              publish_list,
              asset_id,
              id,
              thumbnail_list,
            } = ctx.episode;
            // duration = ctx.convertDuration(duration);
            segment_list = segment_list.map((episode) => ({
              ...episode,
              // duration: ctx.convertDuration(episode.duration)
            }));
            if (asset_id === "") {
              asset_id = id;
            }
            publish_list = publish_list.map(
              ({ publish_id, desc, period_list }) => ({
                publish_id: publish_id,
                desc: desc,
                period_list: period_list.map(
                  ({ datetime_start, datetime_end }) => ({
                    datetime_start: moment(datetime_start).format(
                      "DD/MM/YYYY HH:mm:ss"
                    ),
                    datetime_end: moment(datetime_end).format(
                      "DD/MM/YYYY HH:mm:ss"
                    ),
                  })
                ),
              })
            );
            ctx.episode = {
              ...ctx.episode,
              duration,
              segment_list,
              publish_list,
              asset_id,
              thumbnail_list,
            };
            ctx.word = ctx.episode.title_info;
            console.log(ctx.episode);
          })
          .catch((e) => {
            ctx.errorHttp(e);
          });
      } else {
        this.mock().catch(console.log);
      }
    },
    errorHttp(statusCode) {
      if (statusCode === 404) {
        this.$bvModal.msgBoxOk("Not Found (404)");
      } else if (statusCode === 500) {
        this.$bvModal.msgBoxOk("Server Error (500)");
      }
    },
    convertDuration: (duration) =>
      `${duration.slice(0, 2)}:${duration.slice(2, 4)}:${duration.slice(4, 6)}`,
    toDuration: (duration) => duration.split(":").join(""),
    async initSelected() {
      const ctx = this;

      await ctx.$services.language
        .find({ is_aka: "Y" })
        .then((languages) => {
          ctx.languages = languages;
        })
        .catch(console.log);

      await ctx.$services.publish
        .find()
        .then((publishes) => {
          ctx.publishes = publishes.results;
        })
        .catch(console.log);

      ctx.$services.config
        .findByTagThumbnail()
        .then((config) => {
          ctx.thumbnailTagChoices = config;
        })
        .catch(console.log);
    },
    isCreate() {
      return !this.$route.params.id;
    },
    async mock() {
      if (this.isCreate()) {
        await this.mockAKA();
      }
    },
    mockAKA() {
      let aka_list = [];
      for (let language of this.languages) {
        let data = {
          language_id: language.code,
          name: "",
          synopsis: "",
        };
        aka_list.push(data);
      }
      this.episode.aka_list = aka_list;
    },
    async deleteEpisode(episodeId) {
      if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
        try {
          await this.$services.episode.remove(episodeId);
          this.$router.push({ name: "Episode List" });
          this.deleteSuccess();
        } catch (e) {}
      }
    },
    toBase64: (file) =>
      new Promise((resolve, reject) => {
        console.log(file);
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      }),
    async convertImg(e) {
      const file = e;
      console.log(file);

      if (!file.type.includes("image/")) {
        alert("Please select an image file");
        return;
      }
      if (typeof FileReader === "function") {
        this.url = URL.createObjectURL(file);
        this.episode.thumbnail_list.push({
          tag: this.selectedTag,
          text_source: await this.toBase64(file),
          uri: this.url,
        });
      } else {
        alert("Sorry, FileReader API not supported");
      }
      // console.log(e)
      // const file = e;
      // console.log(file)
      // console.log(this.url)
      // if (file) {
      //   this.url = URL.createObjectURL(file);
      //   let canvas, ctx, dataURL, base64;
      //   console.log(dataURL)
      //   canvas = document.createElement("canvas");
      //   dataURL = canvas.toDataURL("image/png");
      //   base64 = dataURL.replace("/^data:image\/png;base64,/", "");
      //   this.title.thumbnail_list.push({
      //     tag: this.selectedTag,
      //     file_name: file.name,
      //     text_source: base64,
      //     url: this.url
      //   });
      // }
      console.log(this.episode.thumbnail_list);
    },
    deleteThumbnail(thumbnail) {
      this.episode.thumbnail_list.splice(
        this.episode.thumbnail_list.indexOf(thumbnail),
        1
      );
    },
    async loadPublish(publish) {
      this.indexPublish = this.episode.publish_list.indexOf(publish);
      try {
        this.editPublish = publish;
        const parsedEditPublish = JSON.stringify(publish);
        localStorage.setItem("editPublish", parsedEditPublish);
        if (localStorage.getItem("editPublish")) {
          try {
            this.selected = JSON.parse(localStorage.getItem("editPublish"));
          } catch (e) {
            localStorage.removeItem("editPublish");
          }
        }
        this.$bvModal.show("edit-publish");
      } catch (e) {
        if (e.request.status === 404) {
          await this.$bvModal.msgBoxOk("Not Found (404)");
        }
        if (e.request.status === 500) {
          await this.$bvModal.msgBoxOk("Server Error (500)");
        }
      }
    },
    generateSegment() {
      this.episode.segment_list = [];
      let { segment_list } = this.episode;
      segment_list = Array.isArray(segment_list) ? segment_list : [];
      const segmentSize = segment_list.length;
      if (segmentSize !== this.genNoSegment) {
        if (segmentSize < this.genNoSegment) {
          const { duration } = this.episode;
          let duration1 = duration[0] + duration[1];
          let duration2 = duration[2] + duration[3];
          let duration3 = duration[4] + duration[5];
          duration1 = Number(duration1 * 60 * 60);
          duration2 = Number(duration2 * 60);
          duration3 = Number(duration3);
          let allDuration =
            (duration1 + duration2 + duration3) / this.genNoSegment;
          allDuration = allDuration / 60 / 60;
          duration1 = Math.trunc(allDuration);
          duration2 = (allDuration - duration1) * 60;
          let decimalD2 = duration2;
          duration2 = Math.trunc(duration2);
          duration3 = (decimalD2 - duration2) * 60;
          duration3 = Number(duration3.toFixed(2));
          let lastDuration3 = duration3;
          duration3 = Math.trunc(duration3);
          let finalDuration3 = 0;
          if (!Number.isInteger(lastDuration3)) {
            let decimalDuration3 = lastDuration3 - duration3;
            decimalDuration3 = decimalDuration3 * this.genNoSegment;
            decimalDuration3 = Math.round(decimalDuration3);
            finalDuration3 = (Number(duration3) + decimalDuration3).toString();
          }
          duration1 = duration1.toString();
          duration2 = duration2.toString();
          duration3 = duration3.toString();
          if (duration1.length === 1) {
            duration1 = "0" + duration1;
          }
          if (duration2.length === 1) {
            duration2 = "0" + duration2;
          }
          if (duration3.length === 1) {
            duration3 = "0" + duration3;
          }
          let resultDuration = duration1 + duration2 + duration3;
          const size = this.genNoSegment - segmentSize;
          let items = new Array(size).fill(
            {
              segment_no: segmentSize,
              duration: resultDuration,
            },
            0,
            size
          );
          items = items.map(({ segment_no, duration }, index) => ({
            duration,
            segment_no: segment_no + index + 1,
          }));
          this.episode.segment_list.push(...items);
          if (!Number.isInteger(lastDuration3)) {
            this.episode.segment_list[this.genNoSegment - 1].duration =
              duration1.toString() + duration2.toString() + finalDuration3;
          }
        } else {
          this.episode.segment_list = segment_list.slice(0, this.genNoSegment);
        }
      }
    },
    async fetchTitle(word) {
      const ctx = this;
      ctx.word = word;
      let params =
        ctx.word !== "" && ctx.word !== null
          ? { ...params, search: ctx.word, title_type: "SERIES" }
          : undefined;
      if (ctx.word !== "") {
        try {
          const title = await this.$services.title.find(params);
          this.title_list = title.results;
        } catch (e) {}
      } else {
      }
    },
    fetchEpisodeName() {
      for (let item of this.nameAkaOfNull) {
        item.name = this.episode.name;
      }
    },
    setAkaNameOfNull() {
      this.nameAkaOfNull = this.episode.aka_list.filter((x) => x.name === "");
      console.log(this.nameAkaOfNull);
    },
    addInputPeriod() {
      if (!Array.isArray(this.period)) {
        this.period = [];
      }
      this.period.push({ datetime_start: "", datetime_end: "" });
    },
    removeInputPeriod(indexPeriod) {
      this.period.splice(indexPeriod, 1);
    },
    removeInputEditPeriod(indexPeriod) {
      this.selected.period_list.splice(indexPeriod, 1);
    },
    async saveAddPublish() {
      console.log(this.publishZone);
      try {
        console.log("a");
        let set_datetime_start = this.datetime_start;
        let set_datetime_end = this.datetime_end;
        console.log(set_datetime_start, set_datetime_end);
        let resultPublish = [];
        console.log("b", this.publishZone);
        for (let item of this.publishZone) {
          await this.$services.title.validatePeriod(
            this.episode.title_info.id,
            {
              datetime_start: moment(
                this.convertDate(this.datetime_start)
              ).format(),
              datetime_end: moment(
                this.convertDate(this.datetime_end)
              ).format(),
            }
          );
          const getPublishId = await this.$services.publish.findById(item);
          let isDubPublishId = resultPublish.find(
            ({ publish_id }) => publish_id === getPublishId.id
          );
          if (!isDubPublishId) {
            let arrayPeriod = [];
            arrayPeriod.push({
              datetime_start: set_datetime_start,
              datetime_end: set_datetime_end,
            });
            resultPublish.push({
              publish_id: getPublishId.id,
              desc: getPublishId.desc,
              period_list: arrayPeriod,
            });
            console.log(resultPublish);
          } else {
            isDubPublishId.period_list.push({
              datetime_start: set_datetime_start,
              datetime_end: set_datetime_end,
            });
            console.log(resultPublish);
          }
        }
        for (let item of resultPublish) {
          let messagesError = [];
          const period_list = item.period_list.sort(
            (a, b) => new Date(a.datetime_start) - new Date(b.datetime_start)
          );
          for (let index = 0; index < period_list.length; index++) {
            let current = period_list[index];
            let datetime_start = new Date(current["datetime_start"]).getTime();
            let datetime_end = new Date(current["datetime_end"]).getTime();
            if (datetime_end <= datetime_start) {
              // error
              messagesError.push("error");
              break;
            }
            if (index + 1 < period_list.length) {
              let next = period_list[index + 1];
              let next_datetime_start = new Date(
                next["datetime_start"]
              ).getTime();
              if (next_datetime_start <= datetime_end) {
                // error
                messagesError.push("error");
                break;
              }
            } else {
              break;
            }
          }
          if (messagesError.length === 0) {
            if (this.episode.publish_list.length === 0) {
              let publishIds = resultPublish.map(
                ({ publish_id }) => publish_id
              );
              if (
                this.episode.publish_list.find(({ publish_id }) =>
                  publishIds.includes(publish_id)
                )
              ) {
              } else {
                this.episode.publish_list.push(...resultPublish);
              }
            } else {
              let publishIds = resultPublish.map(
                ({ publish_id }) => publish_id
              );
              if (
                this.episode.publish_list.find(({ publish_id }) =>
                  publishIds.includes(publish_id)
                )
              ) {
                await this.$bvModal.msgBoxOk("Publish zone is duplicate.");
              } else {
                this.episode.publish_list.push(...resultPublish);
              }
            }
          } else {
            await this.$bvModal.msgBoxOk("Datetime is duplicate.");
          }
          console.log(this.episode.publish_list);
          resultPublish = [];
        }
      } catch (e) {
        console.log(e.response);
        this.messageErrorPublish = e.response.data["non_field_errors"].pop();
        this.msgErrorPublish();
        this.fetch();
      }
    },
    async saveEditPublish() {
      try {
        console.log(this.selected);
        console.log(this.period);
        for (let item of this.period) {
          let getPublishId = await this.$services.publish.findById(
            this.selected.publish_id
          );
          this.selected = { ...this.selected, desc: getPublishId.desc };
          this.selected.period_list.push(item);
          console.log(this.selected.period_list);
        }
        for (let item of this.selected.period_list) {
          await this.$services.title.validatePeriod(
            this.episode.title_info.id,
            {
              datetime_start: moment(
                this.convertDate(item.datetime_start)
              ).format(),
              datetime_end: moment(
                this.convertDate(item.datetime_end)
              ).format(),
            }
          );
        }
        let messagesError = [];
        const period_list = this.selected.period_list.sort(
          (a, b) => new Date(a.datetime_start) - new Date(b.datetime_start)
        );
        for (let index = 0; index < period_list.length; index++) {
          let current = period_list[index];
          let datetime_start = new Date(current["datetime_start"]).getTime();
          let datetime_end = new Date(current["datetime_end"]).getTime();
          if (datetime_end <= datetime_start) {
            // error
            messagesError.push("error");
            break;
          }
          if (index + 1 < period_list.length) {
            let next = period_list[index + 1];
            let next_datetime_start = new Date(
              next["datetime_start"]
            ).getTime();
            if (next_datetime_start <= datetime_end) {
              // error
              messagesError.push("error");
              break;
            }
          } else {
            break;
          }
        }
        if (messagesError.length === 0) {
          if (this.episode.publish_list.length === 0) {
            let publishIds = this.selected.period_list.map(
              ({ publish_id }) => publish_id
            );
            if (
              this.episode.publish_list.find(({ publish_id }) =>
                publishIds.includes(publish_id)
              )
            ) {
            } else {
              this.episode.publish_list.push(...this.selected.period_list);
            }
          } else {
          }
          Vue.set(this.episode.publish_list, this.indexPublish, this.selected);
        } else {
          await this.$bvModal.msgBoxOk("Datetime is duplicate.");
        }
      } catch (e) {
        console.log(e.response);
        this.messageErrorPublish = e.response.data["non_field_errors"].pop();
        this.msgErrorPublish();
        this.fetch();
      }
    },
    resetPublish() {
      this.publishZone = [];
      this.datetime_start = "";
      this.datetime_end = "";
      this.period = [];
    },
    removePublish(publish) {
      this.episode.publish_list.splice(
        this.episode.publish_list.indexOf(publish),
        1
      );
    },
    removeGenSegment(segment) {
      this.episode.segment_list.splice(
        this.episode.segment_list.indexOf(segment),
        1
      );
    },
    checkFormValidity() {
      try {
        const valid = this.$refs.form.checkValidity();
        this.episodeStage = valid ? "valid" : "invalid";
        return valid;
      } catch (e) {}
    },
    matchBase64Update2(ctx, uri) {
      return new Promise(function (resolve, reject) {
        ctx.matchBase64Update1(uri, function (data) {
          resolve(data);
        });
      });
    },
    matchBase64Update1(url, callback) {
      const xhr = new XMLHttpRequest();
      xhr.onload = function () {
        const reader = new FileReader();

        reader.onloadend = function () {
          callback(reader.result);
        };
        reader.readAsDataURL(xhr.response);
      };
      xhr.open("GET", url);
      xhr.responseType = "blob";
      xhr.send();
    },
    async resultBase64(url) {
      const ctx = this;
      ctx.text_source_update = await ctx.matchBase64Update2(ctx, url);
    },
    async updateThumbnail() {
      for (let item of this.episode.thumbnail_list) {
        await this.resultBase64(item.uri);
        item.text_source = this.text_source_update;
      }
    },
    async matchDataBeforeSave() {
      this.episode.title_id = this.word.id;
      this.episode.name = this.episode.name.trim().toUpperCase();
      this.episode.publish_list = this.episode.publish_list.map(
        ({ publish_id, desc, period_list }) => ({
          publish_id: publish_id,
          desc: desc,
          period_list: period_list.map((x) => ({
            datetime_start: moment(this.convertDate(x.datetime_start)).format(),
            datetime_end: moment(this.convertDate(x.datetime_end)).format(),
          })),
        })
      );
      this.episode.duration = this.toDuration(this.episode.duration);
      if (this.episode.duration.length === 5) {
        this.episode.duration = "0" + this.episode.duration;
      }
      if (this.episode.duration.length === 4) {
        this.episode.duration = "00" + this.episode.duration;
      }
      if (this.episode.duration.length === 3) {
        this.episode.duration = "000" + this.episode.duration;
      }
      if (this.episode.duration.length === 2) {
        this.episode.duration = "0000" + this.episode.duration;
      }
      if (this.episode.duration.length === 1) {
        this.episode.duration = "00000" + this.episode.duration;
      }
      console.log(this.episode.thumbnail_list);
      const ctx = this;
      this.episode.segment_list = this.episode.segment_list.map((item) => ({
        ...item,
        duration: ctx.toDuration(item.duration),
      }));
      let { aka_list } = this.episode;
      if (aka_list.length > 0) {
        for (let item of aka_list) {
          if (item.name === "") {
            item.name = this.episode.name;
          }
        }
      }
    },
    async saveEpisode() {
      if (
        this.checkFormValidity() &&
        (await this.$bvModal.msgBoxConfirm("Do you really want to save?"))
      ) {
        const ctx = this;
        if (this.isCreate()) {
          try {
            this.matchDataBeforeSave();
            console.log(this.episode);
            this.episode = await this.$services.episode.add(this.episode);
            await this.$bvModal
              .msgBoxOk("Save episode is success.")
              .then(() => {
                ctx.$router.push({ name: "Episode List" });
              })
              .catch(console.log);
          } catch (e) {
            console.log(e.response);
            this.messageError = Object.values(e.response.data)[0][0];
            this.msgError();
            this.fetch();
          }
        } else {
          try {
            this.matchDataBeforeSave();
            await this.updateThumbnail();
            await this.$services.episode.updateById(
              this.episode.id,
              this.episode
            );
            await this.$bvModal
              .msgBoxOk("Save episode is success.")
              .then(() => {
                ctx.$router.push({ name: "Episode List" });
              })
              .catch(console.log);
          } catch (e) {
            this.messageError = Object.values(e.response.data)[0][0];
            this.msgError();
            console.log(this.episode.aka_list);
            this.fetch();
          }
        }
      } else {
        if (!this.checkFormValidity()) {
          await this.$bvModal.msgBoxOk("Please fill in the blank.");
        }
      }
    },
    updateSuccess() {
      this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess;
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess;
    },
    msgError() {
      this.dismissCountDownMsgError = this.dismissSecsMsgError;
    },
    msgErrorPublish() {
      this.dismissCountDownMsgErrorPublish = this.dismissSecsMsgErrorPublish;
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess;
    },
    countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
      this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess;
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess;
    },
    countDownChangedMsgError(dismissCountDownMsgError) {
      this.dismissCountDownMsgError = dismissCountDownMsgError;
    },
    countDownChangedMsgErrorPublish(dismissCountDownMsgErrorPublish) {
      this.dismissCountDownMsgErrorPublish = dismissCountDownMsgErrorPublish;
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess;
    },
  },
};
</script>

<style scoped>
</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>


