<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess"
    >Update episode success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownUpdateError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedUpdateError"
    >Update episode error!. This alert will dismiss after {{ dismissCountDownUpdateError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess"
    >Add episode success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError"
    >Add episode error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess"
    >Delete episode success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError"
    >Delete episode error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-7">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input
              type="text"
              placeholder="Ex. Id, Name, Page"
              v-model="word"
              @input="fetch"
            ></b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-3">
          <b-button-group style="width: 100%">
            <b-button class="float-right mr-2" variant="primary" v-b-toggle.advance-search>
              <i class="fa fa-search"></i> Advance Search
            </b-button>
          </b-button-group>
        </b-form-group>
        <b-form-group class="col-md-2" v-if="episodeAllow.isAdd">
          <b-button-group>
            <b-button class="float-right mr-2" variant="primary" to="/program/episode">
              <i class="fa fa-plus-circle"></i> Add Episode
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-collapse id="advance-search">
        <b-col sm="12" style="display: inline-table; justify-content: flex-end;font-size: small">
          <b-form-group class="col-md-12">
            <b-input-group>
              <b-input-group-prepend>
                <b-button variant="primary">Title Name:</b-button>
              </b-input-group-prepend>
              <b-form-input type="text" v-model="wordTitle" @input="fetch"></b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-collapse>
      <b-overlay :show="showOverlay" rounded="sm">
        <template v-slot:overlay>
          <b-spinner label="Loading..."></b-spinner>
        </template>
        <b-card>
          <div slot="header">
            <strong>Episode</strong>
          </div>
          <b-table
            :items="Array.isArray(this.episodes) ? this.episodes: []"
            :fields="fields"
            responsive
            style="text-align: center"
            id="content-table"
          >
            <template v-slot:cell(name)="row">
              <span v-b-tooltip :title="row.item.name">{{ row.item.name }}</span>
            </template>
            <template v-slot:cell(title_name)="row">{{ row.item.title_info.name }}</template>
            <template v-slot:cell(duration)="row">{{ durationDisplay(row.item.duration) }}</template>
            <template v-slot:cell(actions)="row">
              <router-link
                :to="{name: 'Episode', params: {id: row.item.id}}"
                v-if="episodeAllow.isEdit"
              >
                <b-button variant="outline-primary" size="sm" class="mr-1">
                  <i class="fa fa-edit"></i> Edit
                </b-button>
              </router-link>
              <b-button
                variant="danger"
                size="sm"
                class="mr-1"
                @click="confirmRemove(row.item.id)"
                v-if="episodeAllow.isDelete"
              >
                <i class="fa fa-remove"></i> Delete
              </b-button>
            </template>
          </b-table>
          <div class="overflow-auto" style="float: right" v-if="this.episodes.length">
            <b-pagination
              v-model="pagination.current"
              :total-rows="pagination.count"
              :per-page="pagination.page_size"
              @change="fetch"
              first-text="First"
              prev-text="Prev"
              next-text="Next"
              last-text="Last"
            ></b-pagination>
          </div>
        </b-card>
      </b-overlay>
    </div>
  </b-container>
</template>

<script>
import PermissionMixin from "../../mixins/PermissionMixin";

export default {
  mixins: [PermissionMixin],
  data() {
    return {
      pagination: {},
      word: null,
      episodes: [],
      fields: [
        {
          key: "id",
          label: "Episode Id",
          sortable: true,
          sortDirection: "desc",
        },
        {key: "name", label: "Episode Name", sortable: true, tdClass: "episodeName"},
        {key: "title_name", sortable: true},
        {key: "duration", sortable: true},
        {key: "actions"},
      ],
      id: -1,
      dismissSecsUpdateSuccess: 5,
      dismissCountDownUpdateSuccess: 0,
      dismissSecsUpdateError: 5,
      dismissCountDownUpdateError: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsAddError: 5,
      dismissCountDownAddError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsDeleteError: 5,
      dismissCountDownDeleteError: 0,
      view_detail: {},
      delete_episode: {},
      add_episode: {},
      wordTitle: "",
      title_list: [],
      checkPermission: {},
      isAdd: false,
      isEdit: false,
      isDelete: false,
      episodeAllow: {},
      showOverlay: false
    };
  },
  async created() {
    await this.fetchGroupPermission();
    this.episodeAllow = await this.initialPermission("episode", "episode");
    if (!this.episodeAllow.isView) {
      this.$router.push({name: "Page403"});
    }
    // this.checkPermission = this.groupPermission.find(x => x.name === 'Program Library')
    // let isViewEpisode = this.checkPermission.permission_code.includes('episode_episode_view_episode')
    // if (!isViewEpisode) {
    //   this.$router.push({name: 'Page403'})
    // }
    // this.isAdd = this.checkPermission.permission_code.includes('episode_episode_add_episode')
    // this.isEdit = this.checkPermission.permission_code.includes('episode_episode_view_detail_episode')
    // this.isDelete = this.checkPermission.permission_code.includes('episode_episode_delete_episode')
    this.fetch();
    this.initSelected();
  },
  computed: {},
  methods: {
    async fetch(pageNumber) {
      const ctx = this;
      try {
        ctx.showOverlay = true
        let page = Number(pageNumber);
        page = Number.isNaN(page) ? ctx.episodes.page : page;
        const toNext = (episodes) => {
          ctx.SetInitial(episodes);
        };
        let params = {page};
        let clean = function (key, obj) {
          delete obj[key];
          return obj;
        };
        params =
          (ctx.word !== "" && ctx.word !== null) ||
          (ctx.wordTitle !== "" && ctx.wordTitle !== null)
            ? {
              ...params,
              search: ctx.word,
              title_name: ctx.wordTitle,
            }
            : clean("search", params);
        if (params.page === 0) {
          params.page = 1;
        }
        this.$services.episode
          .find(params)
          .then(toNext)
          .catch((err) => err);
      } catch (e) {
      }
    },
    SetInitial({results, current, page_size, count}) {
      this.pagination = {current, page_size, count};
      this.episodes = results;
      this.showOverlay = false
    },
    initSelected() {
      const ctx = this;

      ctx.$services.title
        .find()
        .then((title) => {
          ctx.title_list = title.results;
        })
        .catch(console.log);
    },
    async remove() {
      try {
        await this.$services.episode.remove(this.id);
        await this.deleteSuccess();
        await this.fetch();
      } catch (e) {
        await this.deleteError();
      }
    },
    async confirmRemove(id) {
      if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
        this.id = id;
        await this.remove();
      }
    },
    mounted() {
    },
    durationDisplay(duration) {
      return `${duration.slice(0, 2)}:${duration.slice(2, 4)}:${duration.slice(
        4,
        6
      )}`;
    },
    updateSuccess() {
      this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess;
    },
    updateError() {
      this.dismissCountDownUpdateError = this.dismissSecsUpdateError;
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess;
    },
    addError() {
      this.dismissCountDownAddError = this.dismissSecsAddError;
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess;
    },
    deleteError() {
      this.dismissCountDownDeleteError = this.dismissSecsDeleteError;
    },
    countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
      this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess;
    },
    countDownChangedUpdateError(dismissCountDownUpdateError) {
      this.dismissCountDownUpdateError = dismissCountDownUpdateError;
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess;
    },
    countDownChangedAddError(dismissCountDownAddError) {
      this.dismissCountDownAddError = dismissCountDownAddError;
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess;
    },
    countDownChangedDeleteError(dismissCountDownDeleteError) {
      this.dismissCountDownDeleteError = dismissCountDownDeleteError;
    },
  },
};
</script>

<style>
ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 5px 5px;
}

.episodeName {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
</style>
