<template>
  <b-container fluid>
    <div class="animated fadeIn">
      <b-button to="/program/content" variant="primary" class="btn btn-primary float-left">
        <i class="fa fa-arrow-circle-left"></i> Back
      </b-button>
      <br><br>

      <!-- ---Updated-- -->
      <b-row v-if="Action === 'update'">
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Edit Content</strong>
            </div>
            <b-form-group validated
                          label="Name"
                          label-for="name"
                          description="Please enter name.">
              <b-form-input id="name" type="text" placeholder="Enter Name.." required autocomplete="name"
                            v-model="temData.name">
              </b-form-input>
            </b-form-group>
            <b-form-group validated
                          label="Content No"
                          label-for="content_no"
                          description="Please enter content no.">
              <b-form-input id="content_no" type="number" v-model="temData.content_no"
                            placeholder="Enter Content No.."
                            value="1" required autocomplete="number">
              </b-form-input>
            </b-form-group>
          </b-card>
        </b-col>

        <b-alert
          :show="dismissCountDownEditSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedEditSuccess">
          Edit content success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit content error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownAddSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedAddSuccess">
          Add content success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownAddError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedAddError">
          Add content error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownDeleteSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedDeleteSuccess">
          Delete content success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownDeleteError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedDeleteError">
          Delete content error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
        </b-alert>

        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Edit Meta</strong>
            </div>
            <b-form>
              <b-form-group validated
                            label="Meta Id"
                            label-for="meta_id"
                            description="Please enter Meta Id.">
                <div style="display: flex">
                  <b-form-input id="meta_id" type="text" placeholder="Enter Name.." required autocomplete="name">
                  </b-form-input>
                  <b-button class="ml-1" v-b-modal.select-meta-id variant="primary" style="display: flex"><i
                    class="fa fa-search"
                    style="margin-top: 3px;"></i>&nbsp;Browse
                  </b-button>
                  <b-button class="ml-1" variant="success" style="display: flex"><i class="fa fa-plus-circle"
                                                                                    style="margin-top: 3px;"></i>&nbsp;New
                  </b-button>
                </div>
              </b-form-group>
              <b-form-group validated
                            label="Title Name En"
                            label-for="title_name_en"
                            description="Please enter Title Name En.">
                <b-form-input id="title_name_en" type="text" placeholder="Enter Name.." required autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Title Name Th"
                            label-for="title_name_th"
                            description="Please enter Title Name Th.">
                <b-form-input id="title_name_th" type="text" placeholder="Enter Name.." required autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Synopsis En"
                            label-for="synopsis_en"
                            description="Please enter Synopsis En.">
                <b-form-textarea rows="4" id="synopsis_en" type="text" placeholder="Enter Synopsis.."
                                 v-model="content.synopsis_en"
                                 autocomplete="name">
                </b-form-textarea>
              </b-form-group>
              <b-form-group validated
                            label="Synopsis Th"
                            label-for="synopsis_th"
                            description="Please enter Synopsis Th.">
                <b-form-textarea rows="4" id="synopsis_th" type="text" placeholder="Enter Synopsis.."
                                 v-model="content.synopsis_th"
                                 autocomplete="name">
                </b-form-textarea>
              </b-form-group>
              <b-form-group validated
                            label="Country"
                            label-for="country"
                            description="Please enter country.">
                <b-form-input id="country" type="text" placeholder="Enter Country.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Release Year"
                            label-for="release_year"
                            description="Please enter Release Year.">
                <b-form-input id="release_year" type="text" placeholder="Enter Release Year.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Title Type"
                            label-for="title_type"
                            description="Please enter Title Type.">
                <b-form-select id="title_type" type="text" placeholder="Enter Title Type.."
                               autocomplete="name" required>
                </b-form-select>
              </b-form-group>
              <b-form-group validated
                            label="Studio Id"
                            label-for="studio_id"
                            description="Please enter Studio Id.">
                <b-form-input id="studio_id" type="text" placeholder="Enter Studio Id.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Rating Code"
                            label-for="rating_code"
                            description="Please enter Rating Code.">
                <b-form-input id="rating_code" type="text" placeholder="Enter Rating Code.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Genre Id"
                            label-for="genre_id"
                            description="Please enter Genre Id.">
                <b-form-input id="genre_id" type="text" placeholder="Enter Genre Id.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-card>
                <div slot="header">
                  <strong>People</strong>
                </div>
                <b-button v-b-modal.add-people variant="primary">Add Role</b-button>
                <b-table
                  :items="people_role"
                  :fields="fields_people_role"
                  responsive="sm"
                  style="text-align: center;margin-top: 1rem"
                  id="content-table">
                  <template slot="role" slot-scope="row">
                    <div>
                      {{row.item}}
                    </div>
                  </template>
                  <template slot="name_en" slot-scope="row">
                    <div v-for="(people, index) in  people_list[row.item]" v-bind:key="index">
                      {{people.name_en}}
                    </div>
                  </template>
                  <template slot="name_th" slot-scope="row">
                    <div v-for="(people, index) in  people_list[row.item]" v-bind:key="index">
                      {{people.name_th}}
                    </div>
                  </template>
                  <template slot="actions" slot-scope="row">
                    <b-button @click="loadPeople(row.item)" variant="outline-primary" size="sm" class="mr-1">
                      <i class="fa fa-edit"></i> Edit
                    </b-button>
                    <b-button variant="danger" size="sm" class="mr-1">
                      <i class="fa fa-remove"></i> Delete
                    </b-button>
                  </template>
                </b-table>

              </b-card>
              <b-card>
                <div slot="header">
                  <strong>Studio</strong>
                </div>
                <b-button v-b-modal.add-studio variant="primary">Add Studio</b-button>
                <b-table
                  :items="studios_list"
                  :fields="fields_studio"
                  responsive="sm"
                  style="text-align: center;margin-top: 1rem"
                  id="studio-table">
                  <template slot="name_en" slot-scope="row">
                    {{row.item.name_en}}
                  </template>
                  <template slot="name_th" slot-scope="row">
                    {{row.item.name_th}}
                  </template>
                  <template slot="actions" slot-scope="row">
                    <b-button @click="loadStudio(row.item)" variant="outline-primary" size="sm" class="mr-1">
                      <i class="fa fa-edit"></i> Edit
                    </b-button>
                    <b-button variant="danger" size="sm" class="mr-1">
                      <i class="fa fa-remove"></i> Delete
                    </b-button>
                  </template>
                </b-table>
              </b-card>
            </b-form>
          </b-card>
        </b-col>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>License</strong>
            </div>
            <b-table :items="Array.isArray(license) ? license: []"
                     :fields="fieldsLicense"
                     striped
                     style="text-align: center"
                     responsive="sm">
              <b-form-group slot="show_detail" slot-scope="row">
                <b-button size="sm" @click="row.toggleDetails" class="mr-2" variant="dark">
                  {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                </b-button>
              </b-form-group>
              <template v-slot:row-details="row">
                <b-card>
                  <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right"><b>License Id:</b></b-col>
                    <b-col class="text-sm-left">{{ license_geo.license_id}}</b-col>
                  </b-row>
                  <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right"><b>Language:</b></b-col>
                    <b-col class="text-sm-left">{{ license_geo.lang_code}}</b-col>
                  </b-row>
                </b-card>
              </template>
            </b-table>
          </b-card>
        </b-col>
        <b-col class="pr-0">
          <b-button class="float-right" variant="primary" @click="GenerateContent">
            <i class="fa fa-check-circle"></i> Save
          </b-button>
        </b-col>
        <b-col>
          <b-button class="justify-content-center" type="reset" variant="danger">
            <i class="fa fa-ban"></i> Reset
          </b-button>
        </b-col>
      </b-row>


      <!-- ---Created-- -->

      <b-row v-if="Action === 'create'">
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Add Content</strong>
            </div>
            <b-form>
              <!--              <b-form-group-->
              <!--                label="Content Id"-->
              <!--                label-for="content_id"-->
              <!--                description="Please enter Content Id.">-->
              <!--                <b-form-input id="content_id" type="text" placeholder="Enter Content Id.." disabled-->
              <!--                              v-model="content.content_id">-->
              <!--                </b-form-input>-->
              <!--              </b-form-group>-->
              <b-form-group validated
                            label="Name"
                            label-for="name"
                            description="Please enter name.">
                <b-form-input id="name" type="text" placeholder="Enter Name.." required autocomplete="name"
                              v-model="content.content_name" @change="setContent($event)">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Content No"
                            label-for="content_no"
                            description="Please enter content no.">
                <b-form-input id="content_no" type="number" v-model="content.content_no" @change="setContent($event)"
                              placeholder="Enter Content No.."
                              value="1" required autocomplete="number">
                </b-form-input>
              </b-form-group>
            </b-form>
          </b-card>
        </b-col>

        <b-alert
          :show="dismissCountDownEditSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedEditSuccess">
          Edit content success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit content error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownAddSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedAddSuccess">
          Add content success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownAddError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedAddError">
          Add content error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownDeleteSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedDeleteSuccess">
          Delete content success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownDeleteError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedDeleteError">
          Delete content error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
        </b-alert>
        <b-tabs class="col-12" card justified active-nav-item-class="font-weight-bold text-uppercase text-success">
          <b-tab title="Meta" active>
            <b-col sm="12">
              <b-card>
                <div slot="header">
                  <strong>Add Meta</strong>
                </div>
                <b-form>
                  <b-form-group validated
                                label="Meta Id"
                                label-for="meta_id"
                                description="Please enter Meta Id.">
                    <div style="display: flex">
                      <b-form-input id="meta_id" type="text" v-model="meta.meta_id" placeholder="Enter Meta Id.."
                                    @change="setMeta($event)" autocomplete="name" disabled>
                      </b-form-input>
                      <b-button class="ml-1" v-b-modal.select-meta-id variant="primary" style="display: flex"><i
                        class="fa fa-search"
                        style="margin-top: 3px;"></i>&nbsp;Browse
                      </b-button>
                      <b-button class="ml-1" variant="success" style="display: flex"><i class="fa fa-plus-circle"
                                                                                        style="margin-top: 3px;"></i>&nbsp;New
                      </b-button>
                    </div>
                  </b-form-group>
                  <b-form-group validated
                                label="Title Name En"
                                label-for="title_name_en"
                                description="Please enter Title Name En.">
                    <b-form-input id="title_name_en" v-model="meta.title_name_en" type="text" placeholder="Enter Name.."
                                  @change="setMeta($event)"
                                  required autocomplete="name">
                    </b-form-input>
                  </b-form-group>
                  <b-form-group validated
                                label="Title Name Th"
                                label-for="title_name_th"
                                description="Please enter Title Name Th.">
                    <b-form-input id="title_name_th" v-model="meta.title_name_th" type="text" placeholder="Enter Name.."
                                  @change="setMeta($event)"
                                  required autocomplete="name">
                    </b-form-input>
                  </b-form-group>
                  <b-form-group validated
                                label="Synopsis En"
                                label-for="synopsis_en"
                                description="Please enter Synopsis En.">
                    <b-form-textarea rows="4" id="synopsis_en" type="text" placeholder="Enter Synopsis.."
                                     v-model="meta.synopsis_en"
                                     autocomplete="name">
                    </b-form-textarea>
                  </b-form-group>
                  <b-form-group validated
                                label="Synopsis Th"
                                label-for="synopsis_th"
                                description="Please enter Synopsis Th.">
                    <b-form-textarea rows="4" id="synopsis_th" type="text" placeholder="Enter Synopsis.."
                                     v-model="meta.synopsis_th"
                                     autocomplete="name">
                    </b-form-textarea>
                  </b-form-group>
                  <b-form-group validated
                                label="Country"
                                label-for="country"
                                description="Please enter country.">
                    <b-form-input id="country" type="text" placeholder="Enter Country.."
                                  v-model="meta.country"
                                  autocomplete="country">
                    </b-form-input>
                  </b-form-group>
                  <b-form-group validated
                                label="Release Year"
                                label-for="release_year"
                                description="Please enter Release Year.">
                    <b-form-input id="release_year" type="text" placeholder="Enter Release Year.."
                                  v-model="meta.release_year"
                                  autocomplete="release_year">
                    </b-form-input>
                  </b-form-group>
                  <b-form-group validated
                                label="Title Type"
                                label-for="title_type"
                                description="Please enter Title Type.">
                    <b-form-select id="title_type" type="text" placeholder="Enter Title Type.."
                                   v-model="meta.title_type"
                                   autocomplete="title_type" required>
                    </b-form-select>
                  </b-form-group>
                  <b-form-group validated
                                label="Studio Id"
                                label-for="studio_id"
                                description="Please enter Studio Id.">
                    <b-form-input id="studio_id" type="text" placeholder="Enter Studio Id.."
                                  v-model="meta.studio_id"
                                  autocomplete="studio_id">
                    </b-form-input>
                  </b-form-group>
                  <b-form-group validated
                                label="Rating Code"
                                label-for="rating_code"
                                description="Please enter Rating Code.">
                    <b-form-input id="rating_code" type="text" placeholder="Enter Rating Code.."
                                  v-model="meta.rating_code"
                                  autocomplete="rating_code">
                    </b-form-input>
                  </b-form-group>
                  <b-form-group validated
                                label="Genre Id"
                                label-for="genre_id"
                                description="Please enter Genre Id.">
                    <b-form-input id="genre_id" type="text" placeholder="Enter Genre Id.."
                                  v-model="meta.genre_id"
                                  autocomplete="genre_id">
                    </b-form-input>
                  </b-form-group>
                </b-form>
                <b-card>
                  <div slot="header">
                    <strong>People</strong>
                  </div>
                  <b-button v-b-modal.add-people variant="primary">Add Role</b-button>
                  <b-table
                    :items="$store.getters.roles"
                    :fields="fields_people_role"
                    responsive="sm"
                    style="text-align: center;margin-top: 1rem"
                    id="content-table">
                    <template slot="role" slot-scope="row">
                      <div>
                        {{row.item.role}}
                      </div>
                    </template>
                    <template slot="people" slot-scope="row">
                      <div v-for="(item, index) in row.item.peoples" v-bind:key="index">
                        <div>{{item.name}}</div>
                      </div>
                    </template>
                    <template slot="actions" slot-scope="row">
                      <b-button @click="loadPeople(row.item)" variant="outline-primary"
                                size="sm" class="mr-1">
                        <i class="fa fa-edit"></i> Edit
                      </b-button>
                      <b-button @click="removeInputRoles(row.item)" variant="danger" size="sm" class="mr-1">
                        <i class="fa fa-remove"></i> Delete
                      </b-button>
                    </template>
                  </b-table>

                </b-card>
                <b-card>
                  <div slot="header">
                    <strong>Studio</strong>
                  </div>
                  <b-button v-b-modal.add-studio variant="primary">Add Studio</b-button>
                  <b-table
                    :items="studios_list"
                    :fields="fields_studio"
                    responsive="sm"
                    style="text-align: center;margin-top: 1rem"
                    id="studio-table">
                    <template slot="name_en" slot-scope="row">
                      {{row.item.name_en}}
                    </template>
                    <template slot="name_th" slot-scope="row">
                      {{row.item.name_th}}
                    </template>
                    <template slot="actions" slot-scope="row">
                      <b-button @click="loadStudio(row.item)" variant="outline-primary" size="sm" class="mr-1">
                        <i class="fa fa-edit"></i> Edit
                      </b-button>
                      <b-button variant="danger" size="sm" class="mr-1">
                        <i class="fa fa-remove"></i> Delete
                      </b-button>
                    </template>
                  </b-table>
                </b-card>
              </b-card>
            </b-col>
          </b-tab>
          <b-tab title="License">
            <b-col sm="12">
              <b-card>
                <div slot="header">
                  <strong>License</strong>
                </div>
                <b-table :items="Array.isArray(license) ? license: []"
                         :fields="fieldsLicense"
                         striped
                         style="text-align: center"
                         responsive="sm">
                  <b-form-group slot="show_detail" slot-scope="row">
                    <b-button size="sm" @click="row.toggleDetails" class="mr-2" variant="dark">
                      {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                    </b-button>
                  </b-form-group>
                  <template v-slot:row-details="row">
                    <b-card>
                      <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>License Id:</b></b-col>
                        <b-col class="text-sm-left">{{ license_geo.license_id}}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>Language:</b></b-col>
                        <b-col class="text-sm-left">{{ license_geo.lang_code}}</b-col>
                      </b-row>
                    </b-card>
                  </template>
                </b-table>
              </b-card>
            </b-col>
          </b-tab>
          <b-tab title="Publish"></b-tab>
        </b-tabs>
        <b-col class="pr-0 pt-3">
          <b-button class="float-right" variant="primary" @click="GenerateContent">
            <i class="fa fa-check-circle"></i> Save
          </b-button>
        </b-col>
        <b-col class="pt-3">
          <b-button class="justify-content-center" type="reset" variant="danger">
            <i class="fa fa-ban"></i> Reset
          </b-button>
        </b-col>
      </b-row>
      <br>


    </div>

    <!-- ---Created-- -->
    <b-modal
      id="edit-create-content"
      ref="modal"
      title="Edit Content"
      @ok="editCreateContent">
      <form ref="form">
        <b-form-group
          validated
          :state="contentStage"
          label="Name En"
          label-for="name_en"
          invalid-feedback="Name En is required">
          <b-form-input
            :state="contentStage"
            id="name_en"
            v-model="selected.name_en"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          :state="contentStage"
          label="Message Th"
          label-for="name_th"
          invalid-feedback="Message Thai is required">
          <b-form-input
            :state="contentStage"
            id="name_th"
            v-model="selected.name_th"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Synopsis En"
          label-for="synopsis_en">
          <b-form-textarea
            rows="4"
            id="synopsis_en"
            v-model="selected.synopsis_en"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          label="Synopsis Th"
          label-for="synopsis_th">
          <b-form-textarea
            rows="4"
            id="synopsis_th"
            v-model="selected.synopsis_th">
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          :state="contentStage"
          label="Content no"
          label-for="content_no"
          invalid-feedback="Content No is required">
          <b-form-input
            :state="contentStage"
            type="number"
            id="content_no"
            v-model="selected.content_no"
            disabled
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <!-- ---Updated-- -->
    <b-modal
      id="edit-update-content"
      ref="modal"
      title="Edit Content"
      @ok="editUpdateContent">
      <form ref="form">
        <b-form-group
          validated
          :state="contentStage"
          label="Name En"
          label-for="name_en"
          invalid-feedback="Name En is required">
          <b-form-input
            :state="contentStage"
            id="name_en"
            v-model="selected.name_en"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          :state="contentStage"
          label="Message Th"
          label-for="name_th"
          invalid-feedback="Message Thai is required">
          <b-form-input
            :state="contentStage"
            id="name_th"
            v-model="selected.name_th"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Synopsis En"
          label-for="synopsis_en">
          <b-form-textarea
            rows="4"
            id="synopsis_en"
            v-model="selected.synopsis_en"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          label="Synopsis Th"
          label-for="synopsis_th">
          <b-form-textarea
            rows="4"
            id="synopsis_th"
            v-model="selected.synopsis_th">
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          :state="contentStage"
          label="Content no"
          label-for="content_no"
          invalid-feedback="Content No is required">
          <b-form-input
            :state="contentStage"
            type="number"
            id="content_no"
            v-model="selected.content_no"
            disabled
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal
      id="add-people"
      ref="modal"
      size="lg"
      title="Add Role"
      @ok="addCreatedPeopleRole"
      @show="resetModal"
      @hidden="resetModal">
      <b-row>
        <b-form-group
          validated
          class="col-md-12"
          label="Role:"
          label-for="role"
          style="font-weight:normal;"
          invalid-feedback="Role is required">
          <b-form-select v-model="selected" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in options_role" v-bind:key="index">
              {{ item.name }}
            </option>
          </b-form-select>
        </b-form-group>
      </b-row>
      <b-row>
        <b-form-group
          class="col-md-12">
          <b-button v-on:click="addInputPeople" variant="primary"><i class="fa fa-plus-circle"></i> Add People
          </b-button>
        </b-form-group>
      </b-row>
      <b-form style="display: flex; place-content: center" v-for="(item, index) in people" :key="index">
        <b-form-group
          validated
          class="col-md-10"
          label="People"
          label-for="people"
          invalid-feedback="People is required"
          required>
          <b-form-select v-model="item.name" required>
            <template slot="first">
              <option value="none">none</option>
              <option value="test">test</option>
              <option value="aaa">aaa</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-2"
          style="margin-top: 29px;">
          <b-button v-on:click="removeInputPeople(index)" variant="danger">Delete <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
    </b-modal>
    <b-modal
      id="edit-people"
      ref="modal"
      size="lg"
      title="Edit Role"
      @show="resetModal"
      @ok="addPeopleRole"
      @hidden="resetModal">
      <b-row>
        <b-form-group
          validated
          class="col-md-12"
          label="Role:"
          label-for="role"
          style="font-weight:normal;"
          invalid-feedback="Role is required">
          <b-form-input v-model="selectedEditRoles.role" required disabled>
          </b-form-input>
        </b-form-group>
      </b-row>
      <b-row>
        <b-form-group
          class="col-md-12">
          <b-button v-on:click="addInputPeople" variant="primary"><i class="fa fa-plus-circle"></i> Add People
          </b-button>
        </b-form-group>
      </b-row>
      <b-form v-if="selectedEditRoles.peoples.length" style="display: flex; place-content: center"
              v-for="(item, index) in selectedEditRoles.peoples" :key="index">
        <b-form-group
          validated
          class="col-md-10"
          label="People"
          label-for="people"
          invalid-feedback="People is required"
          required>
          <b-form-select v-model="item.name" required>
            <template slot="first">
              <option value="none">none</option>
              <option value="test">test</option>
              <option value="aaa">aaa</option>
              <option value="ttt">ttt</option>
              <option value="rrr">rrr</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-2"
          style="margin-top: 29px;">
          <b-button v-on:click="removeInputEditRole(index)" variant="danger">Delete <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
      <b-form style="display: flex; place-content: center" v-for="(item, index) in people" :key="index">
        <b-form-group
          validated
          class="col-md-10"
          label="People"
          label-for="people"
          invalid-feedback="People is required"
          required>
          <b-form-select v-model="item.name" required>
            <template slot="first">
              <option value="none">none</option>
              <option value="test">test</option>
              <option value="aaa">aaa</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-2"
          style="margin-top: 29px;">
          <b-button v-on:click="removeInputPeople(index)" variant="danger">Delete <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
    </b-modal>
    <b-modal
      id="select-meta-id"
      ref="modal"
      size="lg"
      title="Select Meta Id"
      @show="resetModal"
      @ok="selectedMetaId"
      @hidden="resetModal">
      <b-row>
        <b-form-group
          validated
          class="col-md-12"
          label="Meta Id:"
          label-for="meta_id"
          style="font-weight:normal;"
          invalid-feedback="Meta Id is required">
          <b-form-select v-model="meta_id" required>
            <option v-for="(item, index) in options_meta_id" v-bind:key="index">
              {{ item.meta_id }}
            </option>
          </b-form-select>
        </b-form-group>
      </b-row>
    </b-modal>
    <b-modal
      id="edit-studio"
      ref="modal"
      size="lg"
      title="Edit Studio"
      @show="resetModal"
      @hidden="resetModal">
      <b-row>
        <b-form-group
          class="col-md-12">
          <b-button v-on:click="addInputStudio" variant="primary"><i class="fa fa-plus-circle"></i> Add Studio
          </b-button>
        </b-form-group>
      </b-row>
      <b-form style="display: flex; place-content: center" v-for="(studio, index) in studios" v-bind:key="index">
        <b-form-group
          validated
          class="col-md-5"
          label="Name En"
          label-for="name_en"
          invalid-feedback="Name En is required"
          v-model="studio.name_en"
          required>
          <b-form-select v-model="studio.name_en" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in studios_list" v-bind:key="index">
              {{ item.name_en }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          class="col-md-5"
          label="Name Th"
          label-for="name_th"
          invalid-feedback="Name Th is required"
          v-model="studio.name_th"
          required>
          <b-form-select v-model="studio.name_th" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item,index) in studios_list" v-bind:key="index">
              {{ item.name_th }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-2"
          style="margin-top: 29px;">
          <b-button v-on:click="removeInputPeople(index)" variant="danger">Delete <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
    </b-modal>
    <b-modal
      id="add-studio"
      ref="modal"
      size="lg"
      title="Add Studio"
      @show="resetModal"
      @hidden="resetModal">
      <b-row>
      </b-row>
      <b-row>
        <b-form-group
          class="col-md-12">
          <b-button v-on:click="addInputStudio" variant="primary"><i class="fa fa-plus-circle"></i> Add Studio
          </b-button>
        </b-form-group>
      </b-row>
      <form ref="form" style="display: flex;" v-for="(studio, index) in studios" v-bind:key="index">
        <b-form-group
          validated
          class="col-md-5"
          label="Name En"
          label-for="name_en"
          invalid-feedback="Name En is required"
          v-model="studio.name_en"
          required>
          <b-form-select v-model="studio.name_en" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in studios_list" v-bind:key="index">
              {{ item.name_en }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          class="col-md-5"
          label="Name Th"
          label-for="name_th"
          invalid-feedback="Name Th is required"
          v-model="studio.name_th"
          required>
          <b-form-select v-model="studio.name_th" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in studios_list" v-bind:key="index">
              {{ item.name_th }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-2"
          style="margin-top: 29px;">
          <b-button v-on:click="removeInputStudio(index)" variant="danger">Delete <i
            class="fa fa-times-circle"></i></b-button>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";
    import {storeTitle} from "../../store/storeTitle"

    export default {
        mixins: [ContentMixin, validToken],
        name: "GenerateContent",
        store: storeTitle,
        data() {
            return {
                meta_id: '',
                meta: {meta_id: 'No Id', title_name_en: '', title_name_th: ''},
                options_meta_id: [
                    {
                        meta_id: '001', title_name_en: 'test', title_name_th: 'test', roles: [
                            {
                                role: 'none',
                                peoples: [{name: 'ttt'}, {name: 'rrr'}]
                            }
                        ]
                    },
                    {
                        meta_id: '002', title_name_en: 'test2', title_name_th: 'test2', roles: [
                            {
                                role: 'actor',
                                peoples: [{name: 'ttt'}, {name: 'rrr'}]
                            }
                        ]
                    }
                ],
                content: {content: '', content_no: 1, meta: {meta_id: 0, title_name_en: '', title_name_th: ''},},
                roleOfPeople: [],
                a: [],
                people: [],
                peoples: [],
                people_role: [
                    {role: '', people: []}
                ],
                people_list: [],
                options_role: [
                    {name: 'actor'},
                    {name: 'director'}
                ],
                studios: [],
                studio: {
                    name: ''
                },
                studios_list: [
                    {name_en: 'marvel', name_th: 'มาร์เวล'},
                    {name_en: 'hollywood', name_th: 'ฮอลลีวูด'}
                ],
                options_studio: [
                    {key: '1', name: 'Hollywood'},
                    {key: '2', name: 'Marvel'},
                ],
                perPage: 10,
                currentPage: 1,
                Action: 'create',
                total_episode: 1,
                ep_no_suffix_flag: 'Y',
                selected: [],
                editRoles: [],
                selectedEditRoles: {},
                temData: [],
                contentStage: null,
                license_geo: {
                    license_id: 'test', lang_code: 'thai'
                },
                fieldsLicense: [
                    {key: 'license_id', sortable: true},
                    {key: 'series_id', sortable: true},
                    {key: 'show_detail', label: 'License Geo', sortable: true},
                ],
                fields_people_role: [
                    {key: 'role', sortable: true,},
                    {key: 'people', sortable: true,},
                    {key: 'actions'}
                ],
                fields_studio: [
                    {key: 'name_en', sortable: true,},
                    {key: 'name_th', sortable: true,},
                    {key: 'actions'}
                ],
                license: [{
                    series_id: 'test', rights_start: 'test', rights_expire: 'test', license_id: 'test'
                }],
                message_success: '',
                name_en: '',
                name_th: '',
                synopsis_en: '',
                synopsis_th: '',
                content_no: 1,
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        computed: {
            rowsCreated() {
                return this.contents.length
            },
            rowsUpdated() {
                return this.temData.content_list.length;
            }
        },
        async created() {
            console.log(this.$store.getters.roles)
            if (this.$store.state) {
                this.content = this.$store.state
                this.meta = this.$store.state.meta
            }
            console.log(this.$store.state.meta.meta_id)
            // try {
            //     this.content = JSON.parse(localStorage.content);
            // } catch (e) {
            //     return undefined
            // }
            // try {
            //     this.meta = JSON.parse(localStorage.meta);
            // } catch (e) {
            //     return undefined
            // }
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
            if (this.$route.params.id) {
                try {
                    this.Action = 'update';
                    const {data} = await this.$services.program.getByIdSeries(this.$route.params.id)
                    if (data) {
                        const {content_list, ep_no_suffix_flag, total_episode, series_id, name_en, name_th, Synopsis_en, synopsis_th} = data;
                        this.temData = data;
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            } else {
            }
        },
        methods: {
            setContent() {
                this.$store.dispatch('toContentName', this.content.content_name);
                this.$store.dispatch('toContentNo', this.content.content_no);
            },
            setMeta() {
                this.$store.dispatch('toMetaId', this.meta.meta_id);
                this.$store.dispatch('toMetaTitleNameEn', this.meta.title_name_en);
                this.$store.dispatch('toMetaTitleNameTh', this.meta.title_name_th);
            },
            onChange(event) {
                console.log(event)
                const parsedContent = JSON.stringify(this.content);
                const parsedMeta = JSON.stringify(this.meta);
                localStorage.setItem('content', parsedContent);
                localStorage.setItem('meta', parsedMeta);
            },
            selectedMetaId() {
                console.log(this.$store.state.meta.meta_id, this.meta_id)
                this.$store.state.meta.meta_id = this.meta_id;
                // this.meta = this.options_meta_id.filter(x => x.meta_id === this.meta_id);
                // const convertArrayToObject = (array, key) => {
                //     const initialValue = {};
                //     return array.reduce((obj, item) => {
                //         return {
                //             ...obj,
                //             [item[key]]: item,
                //         };
                //     }, initialValue);
                // };
                // this.meta = convertArrayToObject(this.meta);
                // this.meta = this.meta.undefined;
                // const parsedContent = JSON.stringify(this.content);
                // const parsedMeta = JSON.stringify(this.meta);
                // localStorage.setItem('content', parsedContent);
                // localStorage.setItem('meta', parsedMeta);
                // this.meta_id = '';
            },


            // resetContent() {
            //     this.content = {content_name: '', content_no: 1};
            //     this.meta = {meta_id: 'No Id.', title_name_en: '', title_name_th: ''}
            // },
            // resetMeta() {
            //     localStorage.removeItem('meta');
            //     this.meta = {meta_id: 'No Id.', title_name_en: '', title_name_th: ''}
            // },
            // resetStorage() {
            //     localStorage.removeItem('content');
            //     localStorage.removeItem('meta');
            //     this.resetContent();
            // },
            addCreatedPeopleRole() {
                const nameOfSelect = this.selected;
                console.log('nameOfSelect', nameOfSelect)
                let peopleOfSelect1 = this.people.map(({name}) => name);
                console.log('people', peopleOfSelect1)
                let peopleOfSelect2 = this.editRoles.peoples;
                console.log('peopleOfSelect', peopleOfSelect1)
                console.log(this.$store.state.meta.roles)
                if (!this.$store.state.meta.roles) {
                    console.log('metaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
                    let roles = [];
                    this.$store.state.meta = {...this.meta, roles};
                }
                console.log(this.$store.state.meta.roles)
                console.log(this.$store.state.meta.roles.find(({role}) => role === nameOfSelect))
                if (this.$store.state.meta.roles.length > 0 && this.$store.state.meta.roles.find(({role}) => role === nameOfSelect)) {
                    console.log('a')
                    console.log(nameOfSelect)
                    this.$store.state.meta.roles = this.$store.state.meta.roles.map(function ({role, peoples}) {
                        console.log('asadf', peopleOfSelect1)
                        if (role === nameOfSelect) {
                            for (let item of peopleOfSelect1) {
                                console.log(item, 'aaaaaaaaa', peoples.map(({name}) => name))
                                console.log(!peoples.map(({name}) => name).includes(item))
                                if (!peoples.map(({name}) => name).includes(item)) {
                                    console.log('bbbbbbbbb')
                                    peoples.push({name: item})
                                }
                            }
                        }
                        console.log(role, peoples)
                        return {role, peoples}
                    })
                    // to update
                } else {
                    peopleOfSelect1.reduce((items, item) => items.includes(item) ? items : [...items, item], [])
                    console.log('b')
                    this.$store.state.meta.roles.push({
                        role: nameOfSelect,
                        peoples: peopleOfSelect1.reduce((items, item) => items.includes(item) ? items : [...items, item], []).map(name => ({name}))
                    })
                }
                console.log(this.$store.state)
                this.selected = "";
                this.peoples = [];
            },
            addInputStudio() {
                this.studios.push(this.studio)
            },
            removeInputStudio(studio) {
                this.studios.splice(this.studios.indexOf(studio), 1)
            },
            addInputPeople() {
                this.people.push({name: ""})
            },
            removeInputPeople(person) {
                this.people.splice(this.people.indexOf(person), 1)
            },
            removeInputRoles(roles) {
                this.$store.state.meta.roles.splice(this.$store.state.meta.roles.indexOf(roles), 1)
            },
            removeInputEditRole(index) {
                this.selectedEditRoles.peoples.splice(index, 1)
            },
            addPeopleRole() {
                console.log(this.selectedEditRoles)
                const nameOfSelect = this.editRoles.role;
                console.log('nameOfSelect', nameOfSelect)
                let peopleOfSelect1 = this.people.map(({name}) => name);
                console.log('people', peopleOfSelect1)
                console.log('peopleOfSelect', peopleOfSelect1)
                console.log(this.$store.state.meta.roles)
                if (!this.$store.state.meta.roles) {
                    let roles = [];
                    this.meta = {...this.meta, roles};
                }
                console.log(this.$store.state.meta.roles.find(({role}) => role === nameOfSelect))
                if (this.$store.state.meta.roles.length > 0 && this.$store.state.meta.roles.find(({role}) => role === nameOfSelect)) {
                    console.log('a')
                    const x = Object.assign(this.editRoles, this.selectedEditRoles)
                    console.log(x)
                    console.log(nameOfSelect)
                    this.$store.state.meta.roles = this.$store.state.meta.roles.map(function ({role, peoples}) {
                        console.log('asadf', peopleOfSelect1)
                        console.log(role, peoples)
                        if (role === nameOfSelect) {
                            for (let item of peopleOfSelect1) {
                                console.log(item, 'aaaaaaaaa', peoples.map(({name}) => name))
                                console.log(!peoples.map(({name}) => name).includes(item))
                                if (!peoples.map(({name}) => name).includes(item)) {
                                    console.log('bbbbbbbbb')
                                    peoples.push({name: item})
                                } else {
                                    console.log('ghj', peoples)
                                }
                            }
                        }
                        let valueArr = peoples.map(function (item) {
                            return item.name
                        });
                        let isDuplicate = valueArr.some(function (item, idx) {
                            return valueArr.indexOf(item) !== idx
                        });
                        if (isDuplicate) {
                            valueArr = valueArr.reduce((items, item) => items.includes(item) ? items : [...items, item], [])
                            let temp = [];
                            for (let item of valueArr) {
                                temp.push({name: item})
                            }
                            peoples = temp;
                        }
                        return {role, peoples}
                    })
                    // to update
                } else {
                    console.log('b')
                    this.$store.state.meta.roles.push({
                        role: nameOfSelect,
                        peoples: peopleOfSelect1.reduce((items, item) => items.includes(item) ? items : [...items, item], [])
                    })
                }
            },
            async loadPeople(person) {
                try {
                    this.editRoles = person;
                    Object.entries(this.editRoles)
                    const parsedEditRoles = JSON.stringify(this.editRoles);
                    localStorage.setItem('editRoles', parsedEditRoles);
                    if (localStorage.getItem('editRoles')) {
                        try {
                            this.selectedEditRoles = JSON.parse(localStorage.getItem('editRoles'));
                        } catch (e) {
                            localStorage.removeItem('editRoles');
                        }
                    }
                    this.$bvModal.show('edit-people')

                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async loadStudio(studio) {
                try {
                    if (studio) {
                        this.selected = studio;
                        this.$bvModal.show('edit-studies')
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.contentStage = valid ? 'valid' : 'invalid';
                return valid
            },
            resetModal() {
                this.selected = [];
                this.people = [];
            },
            loadCreateContent(content) {
                let {name_en, name_th, content_no, synopsis_en, synopsis_th, duration} = content;
                const content_id = -1;
                this.selected = {name_en, name_th, content_no, synopsis_en, synopsis_th, duration, content_id};
                this.$bvModal.show('edit-create-content')
            },
            loadUpdateContent(content) {
                let {name_en, name_th, content_no, synopsis_en, synopsis_th, duration, content_id} = content;
                this.selected = {name_en, name_th, content_no, synopsis_en, synopsis_th, duration, content_id};
                this.$bvModal.show('edit-update-content')
            },
            async editCreateContent(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    const toMapping = selected => content => selected.content_no === content.content_no ? selected : content;
                    this.contents = this.contents.map(toMapping(this.selected));
                    this.selected = {};
                    this.$bvModal.hide('edit-create-content');
                    this.editSuccess()
                } else {
                    return undefined;
                }
            },
            async editUpdateContent(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    if (this.selected.content_id) {
                        const {content_id, name_en, name_th, synopsis_en, synopsis_th, duration} = this.selected;
                        try {
                            await this.$services.program.updateContent(content_id, {
                                name_en,
                                name_th,
                                synopsis_en,
                                synopsis_th,
                                duration
                            });
                            const toMapping = selected => temData => selected.content_no === temData.content_no ? selected : temData;
                            this.temData.content_list = this.temData.content_list.map(toMapping(this.selected));
                            this.selected = {};
                            this.editSuccess();
                            this.$bvModal.hide('edit-update-content')
                        } catch (e) {
                            if (e.request.status === 404) {
                                await this.$bvModal.msgBoxOk('Not Found (404)');
                            }
                            if (e.request.status === 500) {
                                await this.$bvModal.msgBoxOk('Server Error (500)');
                            }
                            this.editError();
                        }
                    } else {
                        const toMapping = selected => temData => selected.content_no === temData.content_no ? selected : temData;
                        this.temData.content_list = this.temData.content_list.map(toMapping(this.selected));
                        this.selected = {};
                        this.$bvModal.hide('edit-update-content');
                        this.editSuccess()
                    }
                } else {
                    return undefined;
                }
            },
            async deleteCreateContent(content) {
                if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
                    this.contents.splice(this.contents.indexOf(content), 1)
                    this.deleteSuccess()
                } else {
                    this.deleteError()
                }
            },
            async deleteUpdateContent(content) {
                if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
                    if (content.content_id) {
                        const {content_id} = content;
                        try {
                            await this.$services.program.removeContent(content_id);
                            this.temData.content_list.splice(this.temData.content_list.indexOf(content), 1)
                            this.deleteSuccess()
                        } catch (e) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                            this.deleteError();
                        }
                    } else {
                        this.temData.content_list.splice(this.temData.content_list.indexOf(content), 1)
                        this.deleteSuccess()
                    }
                } else {
                    return undefined;
                }
            },
            addContentList(isReset, template, index, suffix_en, suffix_th, isGen) {
                let {name_en, name_th, content_no, synopsis_en, synopsis_th, duration} = template;
                content_no = index;
                if (isGen) {
                    name_en = name_en + suffix_en + String(index);
                    name_th = name_th + suffix_th + String(index);
                } else {
                    name_en = name_en + suffix_en;
                    name_th = name_th + suffix_th;
                }
                this.$super(ContentMixin).addContentList(isReset, {
                    name_en,
                    name_th,
                    synopsis_th,
                    content_no,
                    synopsis_en,
                    duration,
                })
            },
            GenerateContent() {
                console.log(this.$store.state)

                // const parsedContent = JSON.stringify(this.content);
                // const parsedMeta = JSON.stringify(this.meta);
                // localStorage.setItem('content', parsedContent);
                // localStorage.setItem('meta', parsedMeta);
                // console.log(this.meta)


                // if (this.Action === "create") {
                //     this.contents = [];
                //     const template = this.content;
                //
                //     const isGen = this.ep_no_suffix_flag === 'Y';
                //     let suffix_en = isGen ? ' ep ' : '';
                //     let suffix_th = isGen ? ' ตอนที่ ' : '';
                //
                //     for (let index = 1; index <= this.total_episode; index++) {
                //         this.addContentList(false, template, index, suffix_en, suffix_th, isGen)
                //     }
                // } else {
                //     const template = this.temData.content_list;
                //
                //     const isGen = this.temData.ep_no_suffix_flag === 'Y';
                //     let suffix_en = isGen ? ' ep ' : '';
                //     let suffix_th = isGen ? ' ตอนที่ ' : '';
                //
                //     // for (let index = template[template.length - 1].total_episode +1; index <= this.temData.total_episode; index++) {
                //     for (let index = this.temData.content_list.length + 1; index <= this.temData.total_episode; index++) {
                //         this.temData.content_list.push({
                //             name_en: this.temData.name_en + suffix_en + (this.temData.content_list[this.temData.content_list.length - 1].content_no + 1),
                //             name_th: this.temData.name_th + suffix_th + (this.temData.content_list[this.temData.content_list.length - 1].content_no + 1),
                //             synopsis_en: this.temData.synopsis_en,
                //             synopsis_th: this.temData.synopsis_th,
                //             duration: this.temData.duration,
                //             content_no: this.temData.content_list[this.temData.content_list.length - 1].content_no + 1
                //         })
                //     }
                //
                // }
            },
            async saveCreateContent(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
                    const {name_th, name_en, synopsis_en, synopsis_th, duration, content_no} = this.content;
                    try {
                        const response = await this.$services.program.addSeries({
                            name_th,
                            name_en,
                            synopsis_en,
                            synopsis_th,
                            duration,
                            content_no,
                            total_episode: this.total_episode,
                            ep_no_suffix_flag: this.ep_no_suffix_flag
                        });
                        const series = response.data;
                        const {series_id} = series;
                        const pros = [];
                        const addId = series_id => content => Object.assign(content, {series_id});
                        this.contents = this.contents.map(addId(series_id));
                        await this.$services.program.CreateContentList(this.contents);
                        this.contents = [];
                        this.resetContent();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    this.checkFormValidity();
                    return undefined;
                }
            },
            async saveUpdateContent(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
                    if (!this.selected.content_id) {
                        const {series_id, name_en, name_th, synopsis_en, synopsis_th, duration, ep_no_suffix_flag, total_episode} = this.temData;
                        try {
                            await this.$services.program.updateSeries(series_id, {
                                name_en,
                                name_th,
                                synopsis_en,
                                synopsis_th,
                                duration,
                                total_episode,
                                ep_no_suffix_flag
                            });
                            const addId = series_id => temData => Object.assign(temData, {series_id});
                            this.temData.content_list = this.temData.content_list.map(addId(series_id));
                            await this.$services.program.CreateContentList(this.temData.content_list.filter(content => !content.content_id));

                            this.temData = {};
                            this.addSuccess();
                            this.$nextTick(() => {
                                this.$refs.modal.hide()
                            })
                        } catch (e) {
                            if (e.request.status === 404) {
                                await this.$bvModal.msgBoxOk('Not Found (404)');
                            }
                            if (e.request.status === 500) {
                                await this.$bvModal.msgBoxOk('Server Error (500)');
                            }
                            this.addError();
                        }
                    } else {
                        return undefined;
                    }
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style scoped>
</style>
