<template>
  <b-container fluid>
    <div class="animated fadeIn">
      <b-button to="/program/series" variant="primary" class="btn btn-primary float-left">
        <i class="fa fa-arrow-circle-left"></i> Back
      </b-button>
      <br><br>

      <!-- ---Updated-- -->
      <b-row v-if="Action === 'update'">
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Edit Series</strong>
            </div>
              <b-form-group validated
                            label="Name"
                            label-for="name"
                            description="Please enter name.">
                <b-form-input id="name" type="text" placeholder="Enter Name.." required autocomplete="name"
                              v-model="temData.name">
                </b-form-input>
              </b-form-group>
              <b-form-group
                validated
                label="Duration"
                label-for="duration"
                description="Please enter duration.">
                <b-form-input class="col-md-2" id="hours" type="number" min="0"
                              onKeyPress="if(this.value.length==6) return false;" placeholder="duration" required
                              v-model="temData.duration"
                              autocomplete="name" style="display: inline-flex">
                </b-form-input>
                Ex. 010203 = 1 hr 2 min 3 sec
              </b-form-group>
              <b-form-group validated
                            label="Generate Suffix"
                            label-for="ep_no_suffix_flag">
                <b-form-checkbox id="ep_no_suffix_flag" type="checkbox" v-model="temData.ep_no_suffix_flag" value="Y"
                                 required
                                 autocomplete="checkbox">
                </b-form-checkbox>
              </b-form-group>
              <b-form-group validated
                            label="Total of Episode"
                            label-for="total_episode"
                            description="Please enter total of episode.">
                <b-form-input id="total_episode" type="number" v-model="temData.total_episode"
                              placeholder="Enter Total of Episode.."
                              value="1" required autocomplete="number">
                </b-form-input>
              </b-form-group>
              <div slot="footer">
                <b-button class="float-right" type="reset" size="sm" variant="danger">
                  <i class="fa fa-remove"></i> Reset
                </b-button>
                <b-button class="float-right mr-2" size="sm" variant="primary" @click="GenerateContent">
                  <i class="fa fa-plus-circle"></i>  Generate
                </b-button>
              </div>
          </b-card>
        </b-col>

        <b-alert
          :show="dismissCountDownEditSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedEditSuccess">
          Edit content success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit content error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownAddSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedAddSuccess">
          Add content success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownAddError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedAddError">
          Add content error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownDeleteSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedDeleteSuccess">
          Delete content success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownDeleteError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedDeleteError">
          Delete content error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
        </b-alert>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Content List</strong>
            </div>
            <b-table
              :items="Array.isArray(temData.content_list) ? temData.content_list: []"
              :fields="fields"
              responsive="sm"
              :sort-by.sync="sortBy"
              style="text-align: center"
              id="content-table"
              :per-page="perPage"
              :current-page="currentPage">
              <template slot="duration" slot-scope="row">
                {{row.item.duration[0] + row.item.duration[1]}}:{{row.item.duration[2] + row.item.duration[3]}}:{{row.item.duration[4] + row.item.duration[5]}}
              </template>
              <template slot="actions" slot-scope="row">
                <b-button @click="loadUpdateContent(row.item)" variant="outline-primary" size="sm" class="mr-1">
                  <i class="fa fa-edit"></i> Edit
                </b-button>
                <b-button @click="deleteUpdateContent(row.item)" variant="danger" size="sm" class="mr-1">
                  <i class="fa fa-remove"></i> Delete
                </b-button>
              </template>
            </b-table>
            <b-pagination
              v-if="this.temData.series_id"
              v-model="currentPage"
              :total-rows="rowsUpdated"
              :per-page="perPage"
              aria-controls="content-table"
              align="right">
            </b-pagination>
            <b-button v-if="this.temData.series_id" class="float-right mr-2" type="submit" size="sm" variant="success"
                      @click="saveUpdateContent">
              <i class="fa fa-check-circle"></i> Save
            </b-button>
          </b-card>
        </b-col>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Add Meta</strong>
            </div>
            <b-form>
              <b-form-group validated
                            label="Meta Id"
                            label-for="meta_id"
                            description="Please enter Meta Id.">
                <div style="display: flex">
                  <b-form-input  id="meta_id" type="text" placeholder="Enter Name.." required autocomplete="name">
                  </b-form-input>
                  <b-button class="ml-1" variant="primary" style="display: flex"><i class="fa fa-search" style="margin-top: 3px;"></i>&nbsp;Browse</b-button>
                  <b-button class="ml-1" variant="success" style="display: flex"><i class="fa fa-plus-circle" style="margin-top: 3px;"></i>&nbsp;New</b-button>
                </div>
              </b-form-group>
              <b-form-group validated
                            label="Title Name En"
                            label-for="title_name_en"
                            description="Please enter Title Name En.">
                <b-form-input id="title_name_en" type="text" placeholder="Enter Name.." required autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Title Name Th"
                            label-for="title_name_th"
                            description="Please enter Title Name Th.">
                <b-form-input id="title_name_th" type="text" placeholder="Enter Name.." required autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Synopsis En"
                            label-for="synopsis_en"
                            description="Please enter Synopsis En.">
                <b-form-textarea rows="4" id="synopsis_en" type="text" placeholder="Enter Synopsis.."
                                 v-model="content.synopsis_en"
                                 autocomplete="name">
                </b-form-textarea>
              </b-form-group>
              <b-form-group validated
                            label="Synopsis Th"
                            label-for="synopsis_th"
                            description="Please enter Synopsis Th.">
                <b-form-textarea rows="4" id="synopsis_th" type="text" placeholder="Enter Synopsis.."
                                 v-model="content.synopsis_th"
                                 autocomplete="name">
                </b-form-textarea>
              </b-form-group>
              <b-form-group validated
                            label="Country"
                            label-for="country"
                            description="Please enter country.">
                <b-form-input id="country" type="text" placeholder="Enter Country.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Release Year"
                            label-for="release_year"
                            description="Please enter Release Year.">
                <b-form-input id="release_year" type="text" placeholder="Enter Release Year.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Title Type"
                            label-for="title_type"
                            description="Please enter Title Type.">
                <b-form-select id="title_type" type="text" placeholder="Enter Title Type.."
                               autocomplete="name" required>
                </b-form-select>
              </b-form-group>
              <b-form-group validated
                            label="Studio Id"
                            label-for="studio_id"
                            description="Please enter Studio Id.">
                <b-form-input id="studio_id" type="text" placeholder="Enter Studio Id.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Rating Code"
                            label-for="rating_code"
                            description="Please enter Rating Code.">
                <b-form-input id="rating_code" type="text" placeholder="Enter Rating Code.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Genre Id"
                            label-for="genre_id"
                            description="Please enter Genre Id.">
                <b-form-input id="genre_id" type="text" placeholder="Enter Genre Id.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-card>
                <div slot="header">
                  <strong>People</strong>
                </div>
                <b-button v-b-modal.add-people variant="primary">Add Role</b-button>
                <b-table
                  :items="people_role"
                  :fields="fields_people"
                  responsive="sm"
                  :sort-by.sync="sortBy"
                  style="text-align: center;margin-top: 1rem"
                  id="content-table">
                  <template slot="role" slot-scope="row">
                    <div>
                      {{row.item}}
                    </div>
                  </template>
                  <template slot="people" slot-scope="row">
                    <div v-for="(people, index) in  people_list[row.item]" v-bind:key="index">
                      {{people.name_en}}
                    </div>
                  </template>
                  <template slot="actions" slot-scope="row">
                    <b-button @click="loadPeople(row.item)" variant="outline-primary" size="sm" class="mr-1">
                      <i class="fa fa-edit"></i> Edit
                    </b-button>
                    <b-button variant="danger" size="sm" class="mr-1">
                      <i class="fa fa-remove"></i> Delete
                    </b-button>
                  </template>
                </b-table>

              </b-card>
              <b-card>
                <div slot="header">
                  <strong>Studio</strong>
                </div>
                <b-button v-b-modal.add-studio variant="primary">Add Studio</b-button>
                <b-table
                  :items="studios_list"
                  :fields="fields_studio"
                  responsive="sm"
                  :sort-by.sync="sortBy"
                  style="text-align: center;margin-top: 1rem"
                  id="studio-table">
                  <template slot="name_en" slot-scope="row">
                    {{row.item.name_en}}
                  </template>
                  <template slot="name_th" slot-scope="row">
                    {{row.item.name_th}}
                  </template>
                  <template slot="actions" slot-scope="row">
                    <b-button @click="loadStudio(row.item)" variant="outline-primary" size="sm" class="mr-1">
                      <i class="fa fa-edit"></i> Edit
                    </b-button>
                    <b-button variant="danger" size="sm" class="mr-1">
                      <i class="fa fa-remove"></i> Delete
                    </b-button>
                  </template>
                </b-table>
              </b-card>
            </b-form>
          </b-card>
        </b-col>
        <b-col sm="12">
        <b-card>
          <div slot="header">
            <strong>License</strong>
          </div>
          <b-table :items="Array.isArray(license) ? license: []"
                   :fields="fieldsLicense"
                   striped
                   style="text-align: center"
                   responsive="sm">
            <b-form-group slot="show_detail" slot-scope="row">
              <b-button size="sm" @click="row.toggleDetails" class="mr-2" variant="dark">
                {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
              </b-button>
            </b-form-group>
            <template v-slot:row-details="row">
              <b-card>
                <b-row class="mb-2">
                  <b-col sm="3" class="text-sm-right"><b>License Id:</b></b-col>
                  <b-col class="text-sm-left">{{ license_geo.license_id}}</b-col>
                </b-row>
                <b-row class="mb-2">
                  <b-col sm="3" class="text-sm-right"><b>Language:</b></b-col>
                  <b-col class="text-sm-left">{{ license_geo.lang_code}}</b-col>
                </b-row>
              </b-card>
            </template>
          </b-table>
        </b-card>
        </b-col>
        <b-col class="pr-0">
          <b-button class="float-right" variant="primary" @click="GenerateContent">
            <i class="fa fa-check-circle"></i> Save
          </b-button>
        </b-col>
        <b-col>
          <b-button class="justify-content-center" type="reset" variant="danger">
            <i class="fa fa-ban"></i> Reset
          </b-button>
        </b-col>
      </b-row>

      <!-- ---Created-- -->
      <b-row v-if="Action === 'create'">
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Add Series</strong>
            </div>
            <b-form>
              <b-form-group validated
                            label="Name"
                            label-for="name"
                            description="Please enter name.">
                <b-form-input id="name" type="text" placeholder="Enter Name.." required autocomplete="name"
                              v-model="content.name">
                </b-form-input>
              </b-form-group>
              <b-form-group
                validated
                label="Duration"
                label-for="duration"
                description="Please enter duration.">
                <b-form-input class="col-md-2" id="hours" type="number" min="0"
                              onKeyPress="if(this.value.length==6) return false;" placeholder="duration" required
                              v-model="content.duration"
                              autocomplete="name" style="display: inline-flex">
                </b-form-input>&nbsp;
                Ex. 010203 = 1 hr 2 min 3 sec
              </b-form-group>
              <b-form-group validated
                            label="Generate Suffix"
                            label-for="ep_no_suffix_flag">
                <b-form-checkbox id="ep_no_suffix_flag" type="checkbox" v-model="ep_no_suffix_flag" value="Y" required
                                 autocomplete="checkbox">
                </b-form-checkbox>
              </b-form-group>
              <b-form-group validated
                            label="Total of Episode"
                            label-for="total_episode"
                            description="Please enter total of episode.">
                <b-form-input id="total_episode" type="number" v-model="total_episode"
                              placeholder="Enter Total of Episode.."
                              value="1" required autocomplete="number">
                </b-form-input>
              </b-form-group>
              <div slot="footer">
                <b-button class="float-right" type="reset" size="sm" variant="danger">
                  <i class="fa fa-ban"></i> Reset
                </b-button>
                <b-button class="float-right mr-2" size="sm" variant="primary" @click="GenerateContent">
                  <i class="fa fa-check-circle"></i> Generate
                </b-button>
              </div>
            </b-form>
          </b-card>
        </b-col>

        <b-alert
          :show="dismissCountDownEditSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedEditSuccess">
          Edit content success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit content error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownAddSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedAddSuccess">
          Add content success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownAddError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedAddError">
          Add content error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownDeleteSuccess"
          dismissible
          fade
          variant="success"
          @dismiss-count-down="countDownChangedDeleteSuccess">
          Delete content success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
        </b-alert>
        <b-alert
          :show="dismissCountDownDeleteError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedDeleteError">
          Delete content error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
        </b-alert>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Content List</strong>
            </div>
            <b-table
              :items="Array.isArray(contents) ? contents: []"
              :fields="fields"
              responsive="sm"
              :sort-by.sync="sortBy"
              style="text-align: center"
              id="content-table"
              :per-page="perPage"
              :current-page="currentPage">
              <template slot="duration" slot-scope="row">
                {{row.item.duration[0] + row.item.duration[1]}}:{{row.item.duration[2] + row.item.duration[3]}}:{{row.item.duration[4] + row.item.duration[5]}}
              </template>
              <template slot="actions" slot-scope="row">
                <b-button @click="loadCreateContent(row.item)" variant="outline-primary" size="sm" class="mr-1">
                  Edit
                </b-button>
                <b-button @click="deleteCreateContent(row.item)" variant="danger" size="sm" class="mr-1">
                  Delete
                </b-button>
              </template>
            </b-table>
            <b-pagination
              v-if="this.contents.length"
              v-model="currentPage"
              :total-rows="rowsCreated"
              :per-page="perPage"
              aria-controls="content-table"
              align="right">
            </b-pagination>
            <b-button v-if="this.contents.length" class="float-right mr-2" type="submit" size="sm" variant="success"
                      @click="saveCreateContent">
              <i class="fa fa-check-circle"></i> Save
            </b-button>
          </b-card>
        </b-col>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Add Meta</strong>
            </div>
            <b-form>
              <b-form-group validated
                            label="Meta Id"
                            label-for="meta_id"
                            description="Please enter Meta Id.">
                <div style="display: flex">
                  <b-form-input  id="meta_id" type="text" placeholder="Enter Name.." required autocomplete="name">
                  </b-form-input>
                  <b-button class="ml-1" variant="primary" style="display: flex"><i class="fa fa-search" style="margin-top: 3px;"></i>&nbsp;Browse</b-button>
                  <b-button class="ml-1" variant="success" style="display: flex"><i class="fa fa-plus-circle" style="margin-top: 3px;"></i>&nbsp;New</b-button>
                </div>
              </b-form-group>
              <b-form-group validated
                            label="Title Name En"
                            label-for="title_name_en"
                            description="Please enter Title Name En.">
                <b-form-input id="title_name_en" type="text" placeholder="Enter Name.." required autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Title Name Th"
                            label-for="title_name_th"
                            description="Please enter Title Name Th.">
                <b-form-input id="title_name_th" type="text" placeholder="Enter Name.." required autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Synopsis En"
                            label-for="synopsis_en"
                            description="Please enter Synopsis En.">
                <b-form-textarea rows="4" id="synopsis_en" type="text" placeholder="Enter Synopsis.."
                                 v-model="content.synopsis_en"
                                 autocomplete="name">
                </b-form-textarea>
              </b-form-group>
              <b-form-group validated
                            label="Synopsis Th"
                            label-for="synopsis_th"
                            description="Please enter Synopsis Th.">
                <b-form-textarea rows="4" id="synopsis_th" type="text" placeholder="Enter Synopsis.."
                                 v-model="content.synopsis_th"
                                 autocomplete="name">
                </b-form-textarea>
              </b-form-group>
              <b-form-group validated
                            label="Country"
                            label-for="country"
                            description="Please enter country.">
                <b-form-input id="country" type="text" placeholder="Enter Country.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Release Year"
                            label-for="release_year"
                            description="Please enter Release Year.">
                <b-form-input id="release_year" type="text" placeholder="Enter Release Year.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Title Type"
                            label-for="title_type"
                            description="Please enter Title Type.">
                <b-form-select id="title_type" type="text" placeholder="Enter Title Type.."
                               autocomplete="name" required>
                </b-form-select>
              </b-form-group>
              <b-form-group validated
                            label="Studio Id"
                            label-for="studio_id"
                            description="Please enter Studio Id.">
                <b-form-input id="studio_id" type="text" placeholder="Enter Studio Id.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Rating Code"
                            label-for="rating_code"
                            description="Please enter Rating Code.">
                <b-form-input id="rating_code" type="text" placeholder="Enter Rating Code.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
              <b-form-group validated
                            label="Genre Id"
                            label-for="genre_id"
                            description="Please enter Genre Id.">
                <b-form-input id="genre_id" type="text" placeholder="Enter Genre Id.."
                              autocomplete="name">
                </b-form-input>
              </b-form-group>
            </b-form>
            <b-card>
              <div slot="header">
                <strong>People</strong>
              </div>
              <b-button v-b-modal.add-people variant="primary">Add Role</b-button>
              <b-table
                :items="people_role"
                :fields="fields_people"
                responsive="sm"
                :sort-by.sync="sortBy"
                style="text-align: center;margin-top: 1rem"
                id="content-table">
                <template slot="role" slot-scope="row">
                  <div>
                    {{row.item}}
                  </div>
                </template>
                <template slot="people" slot-scope="row">
                  <div v-for="(people, index) in  people_list[row.item]" v-bind:key="index">
                    {{people.name_en}}
                  </div>
                </template>
                <template slot="actions" slot-scope="row">
                  <b-button @click="loadPeople(row.item)" variant="outline-primary" size="sm" class="mr-1">
                    <i class="fa fa-edit"></i> Edit
                  </b-button>
                  <b-button variant="danger" size="sm" class="mr-1">
                    <i class="fa fa-remove"></i> Delete
                  </b-button>
                </template>
              </b-table>

            </b-card>
            <b-card>
              <div slot="header">
                <strong>Studio</strong>
              </div>
              <b-button v-b-modal.add-studio variant="primary">Add Studio</b-button>
              <b-table
                :items="studios_list"
                :fields="fields_studio"
                responsive="sm"
                :sort-by.sync="sortBy"
                style="text-align: center;margin-top: 1rem"
                id="studio-table">
                <template slot="name_en" slot-scope="row">
                  {{row.item.name_en}}
                </template>
                <template slot="name_th" slot-scope="row">
                  {{row.item.name_th}}
                </template>
                <template slot="actions" slot-scope="row">
                  <b-button @click="loadStudio(row.item)" variant="outline-primary" size="sm" class="mr-1">
                    <i class="fa fa-edit"></i> Edit
                  </b-button>
                  <b-button variant="danger" size="sm" class="mr-1">
                    <i class="fa fa-remove"></i> Delete
                  </b-button>
                </template>
              </b-table>
            </b-card>
          </b-card>
        </b-col>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>License</strong>
            </div>
            <b-table :items="Array.isArray(license) ? license: []"
                     :fields="fieldsLicense"
                     striped
                     style="text-align: center"
                     responsive="sm">
              <b-form-group slot="show_detail" slot-scope="row">
                <b-button size="sm" @click="row.toggleDetails" class="mr-2" variant="dark">
                  {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                </b-button>
              </b-form-group>
              <template v-slot:row-details="row">
                <b-card>
                  <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right"><b>License Id:</b></b-col>
                    <b-col class="text-sm-left">{{ license_geo.license_id}}</b-col>
                  </b-row>
                  <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right"><b>Language:</b></b-col>
                    <b-col class="text-sm-left">{{ license_geo.lang_code}}</b-col>
                  </b-row>
                </b-card>
              </template>
            </b-table>
          </b-card>
        </b-col>
        <b-col class="pr-0">
          <b-button class="float-right" variant="primary" @click="GenerateContent">
            <i class="fa fa-check-circle"></i> Save
          </b-button>
        </b-col>
        <b-col>
          <b-button class="justify-content-center" type="reset" variant="danger">
            <i class="fa fa-ban"></i> Reset
          </b-button>
        </b-col>
      </b-row>
      <br>
    </div>

    <!-- ---Created-- -->
    <b-modal
      id="edit-create-content"
      ref="modal"
      title="Edit Content"
      @ok="editCreateContent">
      <form ref="form">
        <b-form-group
          validated
          :state="contentStage"
          label="Name En"
          label-for="name_en"
          invalid-feedback="Name En is required">
          <b-form-input
            :state="contentStage"
            id="name_en"
            v-model="selected.name_en"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          :state="contentStage"
          label="Message Th"
          label-for="name_th"
          invalid-feedback="Message Thai is required">
          <b-form-input
            :state="contentStage"
            id="name_th"
            v-model="selected.name_th"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Synopsis En"
          label-for="synopsis_en">
          <b-form-textarea
            rows="4"
            id="synopsis_en"
            v-model="selected.synopsis_en"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          label="Synopsis Th"
          label-for="synopsis_th">
          <b-form-textarea
            rows="4"
            id="synopsis_th"
            v-model="selected.synopsis_th">
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          :state="contentStage"
          label="Duration"
          label-for="duration"
          invalid-feedback="Duration is required">
          <b-form-input
            class="col-md-3" min="0"
            onKeyPress="if(this.value.length === 6) return false;" placeholder="duration"
            :state="contentStage"
            id="duration"
            v-model="selected.duration"
            type="number"
            style="display: inline-flex"
            required>
          </b-form-input>&nbsp;
          Ex. 010203 = 1 hr 2 min 3 sec
        </b-form-group>
        <b-form-group
          validated
          :state="contentStage"
          label="Content no"
          label-for="content_no"
          invalid-feedback="Content No is required">
          <b-form-input
            :state="contentStage"
            type="number"
            id="content_no"
            v-model="selected.content_no"
            disabled
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <!-- ---Updated-- -->
    <b-modal
      id="edit-update-content"
      ref="modal"
      title="Edit Content"
      @ok="editUpdateContent">
      <form ref="form">
        <b-form-group
          validated
          :state="contentStage"
          label="Name En"
          label-for="name_en"
          invalid-feedback="Name En is required">
          <b-form-input
            :state="contentStage"
            id="name_en"
            v-model="selected.name_en"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          :state="contentStage"
          label="Message Th"
          label-for="name_th"
          invalid-feedback="Message Thai is required">
          <b-form-input
            :state="contentStage"
            id="name_th"
            v-model="selected.name_th"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Synopsis En"
          label-for="synopsis_en">
          <b-form-textarea
            rows="4"
            id="synopsis_en"
            v-model="selected.synopsis_en"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          label="Synopsis Th"
          label-for="synopsis_th">
          <b-form-textarea
            rows="4"
            id="synopsis_th"
            v-model="selected.synopsis_th">
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          :state="contentStage"
          label="Duration"
          label-for="duration"
          invalid-feedback="Duration is required">
          <b-form-input
            class="col-md-3" min="0"
            onKeyPress="if(this.value.length === 6) return false;" placeholder="duration"
            :state="contentStage"
            id="duration"
            v-model="selected.duration"
            type="number"
            style="display: inline-flex"
            required>
          </b-form-input>&nbsp;
          Ex. 010203 = 1 hr 2 min 3 sec
        </b-form-group>
        <b-form-group
          validated
          :state="contentStage"
          label="Content no"
          label-for="content_no"
          invalid-feedback="Content No is required">
          <b-form-input
            :state="contentStage"
            type="number"
            id="content_no"
            v-model="selected.content_no"
            disabled
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal
      id="add-people"
      ref="modal"
      size="lg"
      title="Add Role"
      @show="resetModal"
      @hidden="resetModal">
      <b-row>
        <b-form-group
          validated
          class="col-md-12"
          label="Role:"
          label-for="role"
          style="font-weight:normal;"
          invalid-feedback="Role is required">
          <b-form-select v-model="selected" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in options_role" :key="index">
              {{ item.name }}
            </option>
          </b-form-select>
        </b-form-group>
      </b-row>
      <b-row>
        <b-form-group
          class="col-md-12">
          <b-button v-on:click="addInputPeople" variant="primary"><i class="fa fa-plus-circle"></i> Add People
          </b-button>
        </b-form-group>
      </b-row>
      <b-form style="display: flex; place-content: center" v-for="(people, index) in peoples" :key="index">
        <b-form-group
          validated
          class="col-md-10"
          label="People"
          label-for="name_en"
          invalid-feedback="Name En is required"
          v-model="people.name_en"
          required>
          <b-form-select v-model="people.name_en" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in people_list" :key="index">
              {{ item.name_en }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-2"
          style="margin-top: 29px;">
          <b-button v-on:click="removeInputPeople(index)" variant="danger">Delete <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
    </b-modal>
    <b-modal
      id="edit-people"
      ref="modal"
      size="lg"
      title="Edit Role"
      @show="resetModal"
      @hidden="resetModal">
      <b-row>
        <b-form-group
          validated
          class="col-md-12"
          label="Role:"
          label-for="role"
          style="font-weight:normal;"
          invalid-feedback="Role is required">
          <b-form-select v-model="selected" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in options_role" :key="index">
              {{ item.name }}
            </option>
          </b-form-select>
        </b-form-group>
      </b-row>
      <b-row>
        <b-form-group
          class="col-md-12">
          <b-button v-on:click="addInputPeople" variant="primary"><i class="fa fa-plus-circle"></i> Add People
          </b-button>
        </b-form-group>
      </b-row>
      <b-form style="display: flex; place-content: center" v-for="(people, index) in peoples" :key="index">
        <b-form-group
          validated
          class="col-md-10"
          label="People"
          label-for="name_en"
          invalid-feedback="Name En is required"
          v-model="people.name_en"
          required>
          <b-form-select v-model="people.name_en" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in people_list" :key="index">
              {{ item.name_en }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-2"
          style="margin-top: 29px;">
          <b-button v-on:click="removeInputPeople(index)" variant="danger">Delete <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
    </b-modal>
    <b-modal
      id="edit-studio"
      ref="modal"
      size="lg"
      title="Edit Studio"
      @show="resetModal"
      @hidden="resetModal">
      <b-row>
        <b-form-group
          class="col-md-12">
          <b-button v-on:click="addInputStudio" variant="primary"><i class="fa fa-plus-circle"></i> Add Studio
          </b-button>
        </b-form-group>
      </b-row>
      <b-form style="display: flex; place-content: center" v-for="(studio, index) in studios" :key="index">
        <b-form-group
          validated
          class="col-md-5"
          label="Name En"
          label-for="name_en"
          invalid-feedback="Name En is required"
          v-model="studio.name_en"
          required>
          <b-form-select v-model="studio.name_en" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in studios_list" :key="index">
              {{ item.name_en }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          class="col-md-5"
          label="Name Th"
          label-for="name_th"
          invalid-feedback="Name Th is required"
          v-model="studio.name_th"
          required>
          <b-form-select v-model="studio.name_th" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in studios_list" :key="index">
              {{ item.name_th }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-2"
          style="margin-top: 29px;">
          <b-button v-on:click="removeInputPeople(index)" variant="danger">Delete <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
    </b-modal>
    <b-modal
      id="add-studio"
      ref="modal"
      size="lg"
      title="Add Studio"
      @show="resetModal"
      @hidden="resetModal">
      <b-row>
      </b-row>
      <b-row>
        <b-form-group
          class="col-md-12">
          <b-button v-on:click="addInputStudio" variant="primary"><i class="fa fa-plus-circle"></i> Add Studio
          </b-button>
        </b-form-group>
      </b-row>
      <form ref="form" style="display: flex;" v-for="(studio, index) in studios" :key="index">
        <b-form-group
          validated
          class="col-md-5"
          label="Name En"
          label-for="name_en"
          invalid-feedback="Name En is required"
          v-model="studio.name_en"
          required>
          <b-form-select v-model="studio.name_en" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in studios_list" :key="index">
              {{ item.name_en }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          class="col-md-5"
          label="Name Th"
          label-for="name_th"
          invalid-feedback="Name Th is required"
          v-model="studio.name_th"
          required>
          <b-form-select v-model="studio.name_th" required>
            <template slot="first">
              <option value="none">none</option>
            </template>
            <option v-for="(item, index) in studios_list" :key="index">
              {{ item.name_th }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group
          class="col-md-2"
          style="margin-top: 29px;">
          <b-button v-on:click="removeInputStudio(index)" variant="danger">Delete <i
            class="fa fa-times-circle"></i></b-button>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [ContentMixin,validToken],
        name: "GenerateSeries",
        data() {
            return {
                peoples: [],
                people_role: ['actor', 'director'],
                people_list: [
                    {name_en: 'tony', name_th: 'โทนี่', role: 'actor'},
                    {name_en: 'tonee', name_th: 'โทนี่', role: 'actor'},
                    {name_en: 'robert', name_th: 'โรเบิร์ต', role: 'director'},
                    {name_en: 'rober', name_th: 'โรเบิร์', role: 'director'},
                ],
                options_role: [
                    {name: 'actor'},
                    {name: 'director'}
                ],
                people: {
                    name: '',
                    surname: '',
                    role: 'none'
                },
                studios: [],
                studio: {
                    name: ''
                },
                studios_list: [
                    {name: 'marvel'},
                    {name: 'hollywood'}
                ],
                options_studio: [
                    {key: '1', name: 'Hollywood'},
                    {key: '2', name: 'Marvel'},
                ],
                fields_studio: [
                    {key: 'name', sortable: true,},
                    {key: 'actions'}
                ],
                sortBy: 'content_no',
                perPage: 10,
                currentPage: 1,
                Action: 'create',
                total_episode: 1,
                ep_no_suffix_flag: 'Y',
                selected: {},
                temData: [],
                contentStage: null,
                license_geo: {
                    license_id: 'test', lang_code: 'thai'
                },
                fieldsLicense: [
                    {key: 'license_id', sortable: true},
                    {key: 'series_id', sortable: true},
                    {key: 'show_detail', label: 'License Geo', sortable: true},
                ],
                fields: [
                    {key: 'name', sortable: true,},
                    {key: 'duration', sortable: true,},
                    {key: 'content_no', sortable: true,},
                    {key: 'actions'}
                ],
                fields_people: [
                    {key: 'role', sortable: true,},
                    {key: 'people', sortable: true,},
                    {key: 'actions'}
                ],
                meta: {
                    meta_id: 'test', title_name_en: 'test', title_name_th: 'test', synopsis_en: 'test', synopsis_th: 'tseet', country: 'test', release_year: 'tset', title_type: ['movie'], studio_id: null, rating_code: null, genre_id: true
                },
                license: [{
                    series_id: 'test', rights_start: 'test', rights_expire: 'test', license_id: 'test'
                }],
                message_success: '',
                name_en: '',
                name_th: '',
                synopsis_en: '',
                synopsis_th: '',
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        computed: {
            rowsCreated() {
                return this.contents.length
            },
            rowsUpdated() {
                return this.temData.content_list.length;
            }
        },
        async created() {
            Array.prototype.groupBy = function(prop) {
                return this.reduce(function(groups, item) {
                    const val = item[prop];
                    groups[val] = groups[val] || [];
                    groups[val].push(item);
                    return groups
                }, {})
            };
            this.people_list = this.people_list.groupBy('role');
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
            if (this.$route.params.id) {
                try {
                    this.Action = 'update';
                    const {data} = await this.$services.program.getByIdSeries(this.$route.params.id)
                    if (data) {
                        const {content_list, ep_no_suffix_flag, total_episode, series_id, name_en, name_th, Synopsis_en, synopsis_th} = data;
                        this.temData = data;
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            } else {
            }
        },
        methods: {
            addInputStudio() {
                this.studios.push(this.studio)
            },
            removeInputStudio(studio) {
                this.studios.splice(this.studios.indexOf(studio), 1)
            },
            addInputPeople() {
                this.peoples.push(this.people)
            },
            removeInputPeople(people) {
                this.peoples.splice(this.peoples.indexOf(people), 1)
            },
            async loadPeople(people) {
                try {
                    if (people) {
                        this.selected = people;
                        this.$bvModal.show('edit-people')
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async loadStudio(studio) {
                try {
                    if (studio) {
                        this.selected = studio;
                        this.$bvModal.show('edit-studies')
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.contentStage = valid ? 'valid' : 'invalid';
                return valid
            },
            resetModal() {
                this.content = {
                    name_en: '',
                    name_th: '',
                    synopsis_en: '',
                    synopsis_th: '',
                    duration: '000000',
                    content_no: 1

                };
                this.contentStage = null
            },
            loadCreateContent(content) {
                let {name_en, name_th, content_no, synopsis_en, synopsis_th, duration} = content;
                const content_id = -1;
                this.selected = {name_en, name_th, content_no, synopsis_en, synopsis_th, duration, content_id};
                this.$bvModal.show('edit-create-content')
            },
            loadUpdateContent(content) {
                let {name_en, name_th, content_no, synopsis_en, synopsis_th, duration, content_id} = content;
                this.selected = {name_en, name_th, content_no, synopsis_en, synopsis_th, duration, content_id};
                this.$bvModal.show('edit-update-content')
            },
            async editCreateContent(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    const toMapping = selected => content => selected.content_no === content.content_no ? selected : content;
                    this.contents = this.contents.map(toMapping(this.selected));
                    this.selected = {};
                    this.$bvModal.hide('edit-create-content');
                    this.editSuccess()
                } else {
                    return undefined;
                }
            },
            async editUpdateContent(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    if (this.selected.content_id) {
                        const {content_id, name_en, name_th, synopsis_en, synopsis_th, duration} = this.selected;
                        try {
                            await this.$services.program.updateContent(content_id, {
                                name_en,
                                name_th,
                                synopsis_en,
                                synopsis_th,
                                duration
                            });
                            const toMapping = selected => temData => selected.content_no === temData.content_no ? selected : temData;
                            this.temData.content_list = this.temData.content_list.map(toMapping(this.selected));
                            this.selected = {};
                            this.editSuccess();
                            this.$bvModal.hide('edit-update-content')
                        } catch (e) {
                            if (e.request.status === 404) {
                                await this.$bvModal.msgBoxOk('Not Found (404)');
                            }
                            if (e.request.status === 500) {
                                await this.$bvModal.msgBoxOk('Server Error (500)');
                            }
                            this.editError();
                        }
                    } else {
                        const toMapping = selected => temData => selected.content_no === temData.content_no ? selected : temData;
                        this.temData.content_list = this.temData.content_list.map(toMapping(this.selected));
                        this.selected = {};
                        this.$bvModal.hide('edit-update-content');
                        this.editSuccess()
                    }
                } else {
                    return undefined;
                }
            },
            async deleteCreateContent(content) {
                if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
                    this.contents.splice(this.contents.indexOf(content), 1)
                    this.deleteSuccess()
                } else {
                    this.deleteError()
                }
            },
            async deleteUpdateContent(content) {
                if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
                    if (content.content_id) {
                        const {content_id} = content;
                        try {
                            await this.$services.program.removeContent(content_id);
                            this.temData.content_list.splice(this.temData.content_list.indexOf(content), 1)
                            this.deleteSuccess()
                        } catch (e) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                            this.deleteError();
                        }
                    } else {
                        this.temData.content_list.splice(this.temData.content_list.indexOf(content), 1)
                        this.deleteSuccess()
                    }
                } else {
                    return undefined;
                }
            },
            addContentList(isReset, template, index, suffix_en, suffix_th, isGen) {
                let {name_en, name_th, content_no, synopsis_en, synopsis_th, duration} = template;
                content_no = index;
                if (isGen) {
                    name_en = name_en + suffix_en + String(index);
                    name_th = name_th + suffix_th + String(index);
                } else {
                    name_en = name_en + suffix_en;
                    name_th = name_th + suffix_th;
                }
                this.$super(ContentMixin).addContentList(isReset, {
                    name_en,
                    name_th,
                    synopsis_th,
                    content_no,
                    synopsis_en,
                    duration,
                })
            },
            GenerateContent() {
                if (this.Action === "create") {
                    this.contents = [];
                    const template = this.content;

                    const isGen = this.ep_no_suffix_flag === 'Y';
                    let suffix_en = isGen ? ' ep ' : '';
                    let suffix_th = isGen ? ' ตอนที่ ' : '';

                    for (let index = 1; index <= this.total_episode; index++) {
                        this.addContentList(false, template, index, suffix_en, suffix_th, isGen)
                    }
                } else {
                    const template = this.temData.content_list;

                    const isGen = this.temData.ep_no_suffix_flag === 'Y';
                    let suffix_en = isGen ? ' ep ' : '';
                    let suffix_th = isGen ? ' ตอนที่ ' : '';

                    // for (let index = template[template.length - 1].total_episode +1; index <= this.temData.total_episode; index++) {
                    for (let index = this.temData.content_list.length + 1 ; index <= this.temData.total_episode; index++) {
                        this.temData.content_list.push({
                            name_en: this.temData.name_en + suffix_en + (this.temData.content_list[this.temData.content_list.length - 1].content_no + 1),
                            name_th: this.temData.name_th + suffix_th + (this.temData.content_list[this.temData.content_list.length - 1].content_no + 1),
                            synopsis_en: this.temData.synopsis_en,
                            synopsis_th: this.temData.synopsis_th,
                            duration: this.temData.duration,
                            content_no: this.temData.content_list[this.temData.content_list.length - 1].content_no + 1
                        })
                    }

                }
            },
            async saveCreateContent(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
                    const {name_th, name_en, synopsis_en, synopsis_th, duration, content_no} = this.content;
                    try {
                        const response = await this.$services.program.addSeries({
                            name_th,
                            name_en,
                            synopsis_en,
                            synopsis_th,
                            duration,
                            content_no,
                            total_episode: this.total_episode,
                            ep_no_suffix_flag: this.ep_no_suffix_flag
                        });
                        const series = response.data;
                        const {series_id} = series;
                        const pros = [];
                        const addId = series_id => content => Object.assign(content, {series_id});
                        this.contents = this.contents.map(addId(series_id));
                        await this.$services.program.CreateContentList(this.contents);
                        this.contents = [];
                        this.resetContent();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    this.checkFormValidity();
                    return undefined;
                }
            },
            async saveUpdateContent(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (await this.$bvModal.msgBoxConfirm('Do you really want to save?')) {
                    if (!this.selected.content_id) {
                        const {series_id, name_en, name_th, synopsis_en, synopsis_th, duration, ep_no_suffix_flag, total_episode} = this.temData;
                        try {
                            await this.$services.program.updateSeries(series_id, {
                                name_en,
                                name_th,
                                synopsis_en,
                                synopsis_th,
                                duration,
                                total_episode,
                                ep_no_suffix_flag
                            });
                            const addId = series_id => temData => Object.assign(temData, {series_id});
                            this.temData.content_list = this.temData.content_list.map(addId(series_id));
                            await this.$services.program.CreateContentList(this.temData.content_list.filter(content => !content.content_id));

                            this.temData = {};
                            this.addSuccess();
                            this.$nextTick(() => {
                                this.$refs.modal.hide()
                            })
                        } catch (e) {
                            if (e.request.status === 404) {
                                await this.$bvModal.msgBoxOk('Not Found (404)');
                            }
                            if (e.request.status === 500) {
                                await this.$bvModal.msgBoxOk('Server Error (500)');
                            }
                            this.addError();
                        }
                    } else {
                        return undefined;
                    }
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style scoped>
</style>
