<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit license success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add license success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete license success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete license error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="OnSearch()">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button v-b-modal.add-license class="float-right mr-2" variant="primary">
              <i class="fa fa-plus-circle"></i> Add License</b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>License</strong>
        </div>
        <b-table
          :items="Array.isArray(licenses) ? licenses: []"
          :fields="fields"
          responsive="sm"
          :sort-by.sync="sortBy"
          style="text-align: center"
          id="content-table">
          <template slot="duration" slot-scope="row">
            {{row.item.duration[0] + row.item.duration[1]}}:{{row.item.duration[2] + row.item.duration[3]}}:{{row.item.duration[4] + row.item.duration[5]}}
          </template>
          <template slot="actions" slot-scope="row">
            <b-button @click="loadLicense(row.item)" variant="outline-primary" size="sm" class="mr-1">
              <i class="fa fa-edit"></i> Edit
            </b-button>
            <b-button @click="deleteContent(row.item)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" :class="previous ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadContents({page: previous, search})">Previous</a>
            </li>
            <li v-for="page_number in page_of_number" class="page-item" :class="page_number === page ? 'active': '' "
                v-if="Math.abs(page_number - page) < 3 || page_number === page_of_number - 1 || page_number === 0">
              <a class="page-link pageNum" href="#" @click="loadContents({page: page_number, search})"
              >{{page_number}}</a></li>
            <li class="page-item" :class="next ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadContents({page: next, search})">Next</a>
            </li>
          </ul>
        </nav>
      </b-card>

    </div>

    <!-- Add License Modal -->
    <b-modal
      id="add-license"
      ref="modal"
      size="lg"
      title="Add License"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmAdd">
      <b-alert
        :show="dismissCountDownAddError"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedAddError">
        Add license error!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
      </b-alert>
      <form ref="form">
        <b-form-group
          validated
          label="License No"
          label-for="license_no"
          invalid-feedback="License No is required"
          required>
          <b-form-input
            id="license_no"
            v-model="license.license_no"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Description"
          label-for="description"
          invalid-feedback="Description is required"
          required>
          <b-form-textarea
            id="description"
            v-model="license.description"
            required>
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          label="License Type"
          label-for="license_type">
          <b-form-select
            id="license_type"
            v-model="license.license_type">
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          label="Rights Start"
          label-for="rights_start">
          <kendo-datetimepicker
            id="rights_start"
            v-model="license.rights_start"
            style="width: 100%;">
          </kendo-datetimepicker>
        </b-form-group>
        <b-form-group
          validated
          label="Rights Expire"
          label-for="rights_expire"
          invalid-feedback="Rights Expire is required">
          <kendo-datetimepicker
            id="duration"
            v-model="license.rights_expire"
            style="width: 100%;"
            required>
          </kendo-datetimepicker>&nbsp;
        </b-form-group>
        <b-form-group
          label="Max Run"
          label-for="max_run">
          <b-form-input
            id="max_run"
            type="number"
            v-model="license.max_run">
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="Deem Price"
          label-for="deem_price">
          <b-form-input
            id="deem_price"
            type="number"
            v-model="license.deem_price">
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="MG"
          label-for="mg">
          <b-form-input
            id="mg"
            type="number"
            v-model="license.mg">
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="Rev Share"
          label-for="rev_share"
          invalid-feedback="Rev Share is required">
          <b-form-input
            id="rev_share"
            type="number"
            v-model="license.rev_share">
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Studio Id"
          label-for="studio_id"
          invalid-feedback="Studio Id is required">
          <b-form-input
            id="studio_id"
            type="text"
            v-model="license.studio_id"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="DRM"
          label-for="drm"
          invalid-feedback="DRM is required">
          <b-form-select
            id="drm"
            type="text"
            v-model="license.drm"
            required>
          </b-form-select>
        </b-form-group>
      </form>
    </b-modal>

    <!-- Edit License Modal -->
    <b-modal
      id="edit-license"
      ref="modal"
      size="lg"
      title="Edit License"
      @show="resetModal"
      @hidden="resetModal"
      @ok="confirmSave">
      <form ref="form">
        <b-alert
          :show="dismissCountDownEditError"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChangedEditError">
          Edit license error!. This alert will dismiss after {{ dismissCountDownEditError }} seconds...
        </b-alert>
        <b-form-group
          validated
          label="License No"
          label-for="license_no"
          invalid-feedback="License No is required"
          required>
          <b-form-input
            id="license_no"
            v-model="selected.license_no"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Description"
          label-for="description"
          invalid-feedback="Description is required"
          required>
          <b-form-textarea
            id="description"
            v-model="selected.description"
            required>
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          validated
          label="License Type"
          label-for="license_type">
          <b-form-select
            id="license_type"
            v-model="selected.license_type">
          </b-form-select>
        </b-form-group>
        <b-form-group
          validated
          label="Rights Start"
          label-for="rights_start">
          <kendo-datetimepicker
            style="width: 100%;"
            v-model="selected.rights_start">
          </kendo-datetimepicker>
        </b-form-group>
        <b-form-group
          validated
          label="Rights Expire"
          label-for="rights_expire"
          invalid-feedback="Rights Expire is required">
          <kendo-datetimepicker
            style="width: 100%;"
            v-model="selected.rights_expire"
            required>
          </kendo-datetimepicker>&nbsp;
        </b-form-group>
        <b-form-group
          label="Max Run"
          label-for="max_run">
          <b-form-input
            id="max_run"
            type="number"
            v-model="selected.max_run">
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="Deem Price"
          label-for="deem_price">
          <b-form-input
            id="deem_price"
            type="number"
            v-model="selected.deem_price">
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="MG"
          label-for="mg">
          <b-form-input
            id="mg"
            type="number"
            v-model="selected.mg">
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="Rev Share"
          label-for="rev_share"
          invalid-feedback="Rev Share is required">
          <b-form-input
            id="rev_share"
            type="number"
            v-model="selected.rev_share">
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Studio Id"
          label-for="studio_id"
          invalid-feedback="Studio Id is required">
          <b-form-input
            id="studio_id"
            type="text"
            v-model="selected.studio_id"
            required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="DRM"
          label-for="drm"
          invalid-feedback="DRM is required">
          <b-form-select
            id="drm"
            type="text"
            v-model="selected.drm"
            required>
          </b-form-select>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [ContentMixin,validToken],
        data() {
            return {
                sortBy: 'content_no',
                search: '',
                license: {
                    license_no: '',
                    description: '', // textarea
                    license_type: '', // LIVE,CURRENT,LIBRARY
                    rights_start: null,
                    rights_expire: null,
                    max_run: 0,
                    deem_price: 0,
                    mg: 0,
                    rev_share: 0,
                    studio_id: '',
                    drm: '' // VW_FP,AES
                },
                page_of_number: [],
                next: 0,
                previous: 0,
                page: 1,
                page_total: 0,
                licenses: [
                    {
                        license_no: '',
                        description: '', // textarea
                        license_type: '', // LIVE,CURRENT,LIBRARY
                        rights_start: null,
                        rights_expire: null,
                        max_run: 0,
                        deem_price: 0,
                        mg: 0,
                        rev_share: 0,
                        studio_id: '',
                        drm: '' // VW_FP,AES
                    }
                ],
                contentStage: null,
                selected: {},
                fields: [
                    {key: 'license_no', sortable: true, sortDirection: 'desc'},
                    {key: 'description', sortable: true,},
                    {key: 'license_type', sortable: true,},
                    {key: 'rights_start', sortable: true,},
                    {key: 'rights_expire', sortable: true,},
                    {key: 'max_run', sortable: true,},
                    {key: 'deem_price', sortable: true,},
                    {key: 'mg', sortable: true,},
                    {key: 'rev_share', sortable: true,},
                    {key: 'studio_id', sortable: true,},
                    {key: 'drm', sortable: true,},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        async created() {
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
            await this.loadContents()
        },
        computed: {
            rows() {
                return this.contents.length
            },
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        methods: {
            async loadContents(params = {}) {
                try {
                    const {data} = await this.$services.program.getAllContent(params);
                    const {results, next, page, previous, page_total} = data;
                    this.page = page;
                    this.next = next;
                    this.previous = previous;
                    this.page_total = page_total;
                    this.page_of_number = Array.from({length: page_total}, (v, k) => k + 1);
                    this.contents = results
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },

            async OnSearch() {
                if (this.search && this.search.length > 0)
                    await this.loadContents({page: this.page, search: this.search})
                else {
                    this.loadContents({page: this.page})
                }
            },
            async loadLicense(license) {
                try {
                    if (license) {
                        this.selected = license;
                        this.$bvModal.show('edit-license')
                    }
                }catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.contentStage = valid ? 'valid' : 'invalid';
                return valid
            },
            resetModal() {
                this.content = {
                    content_id: -1,
                    name_th: '',
                    name_en: '',
                    synopsis_en: '',
                    synopsis_th: '',
                    duration: '000000',
                    content_no: 1
                };
                this.contentStage = null
            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                this.confirmAdd();
            },
            async confirmSave(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    const {content_id, name_en, name_th, synopsis_en, synopsis_th, duration, content_no} = this.selected;
                    try {
                        await this.$services.program.updateContent(content_id, this.selected);
                        await this.loadContents();
                        this.selected = {};
                        this.editSuccess();
                        this.$bvModal.hide('edit-content')
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.editError();
                    }
                } else {
                    this.checkFormValidity();
                }
            },
            async confirmAdd(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {name_th, name_en, synopsis_en, synopsis_th, duration, content_no} = this.content;
                    try {
                        await this.$services.program.addContent({
                            name_en,
                            name_th,
                            synopsis_en,
                            synopsis_th,
                            duration,
                            content_no
                        });
                        await this.loadContents();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    this.checkFormValidity();
                    this.$nextTick(() => {
                        this.$refs.modal.hide()
                    })
                }
            },
            async deleteContent(content) {
                if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
                    const {content_id} = content;
                    try {
                        await this.$services.program.removeContent(content_id);
                        await this.loadContents();
                        this.deleteSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.deleteError();
                    }
                } else {
                    this.$bvModal.hide('edit-content')
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
