<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit content success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add content success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete content success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete content error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-8">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search" @input="OnSearch()">
            </b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button v-b-modal.add-content class="float-right mr-2" variant="primary" to="/program/generate-meta">
              <i class="fa fa-plus-circle"></i> Add Meta</b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>Meta</strong>
        </div>
        <b-table
          :items="Array.isArray(metas) ? metas: []"
          :fields="fields"
          responsive="sm"
          :sort-by.sync="sortBy"
          style="text-align: center"
          id="content-table">
          <template slot="duration" slot-scope="row">
            {{row.item.duration[0] + row.item.duration[1]}}:{{row.item.duration[2] + row.item.duration[3]}}:{{row.item.duration[4] + row.item.duration[5]}}
          </template>
          <template slot="actions" slot-scope="row">
            <router-link :to="{name: 'GenerateMeta', params: {id: row.item.id}}">
              <b-button variant="outline-primary" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit</b-button>
            </router-link>
            <b-button @click="deleteContent(row.item)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" :class="previous ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadContents({page: previous, search})">Previous</a>
            </li>
            <li v-for="(page_number, index) in page_of_number"  :key="index" class="page-item" :class="page_number === page ? 'active': '' "
                v-if="Math.abs(page_number - page) < 3 || page_number === page_of_number - 1 || page_number === 0">
              <a class="page-link pageNum" href="#" @click="loadContents({page: page_number, search})"
              >{{page_number}}</a></li>
            <li class="page-item" :class="next ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadContents({page: next, search})">Next</a>
            </li>
          </ul>
        </nav>
      </b-card>

    </div>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [ContentMixin,validToken],
        data() {
            return {
                sortBy: 'content_no',
                search: '',
                content: {
                    content_id: -1,
                    name_en: '',
                    name_th: '',
                },
                page_of_number: [],
                next: 0,
                previous: 0,
                page: 1,
                page_total: 0,
                metas: [
                    {id: 'abcdefghijk', series_name_en: 'test', series_name_th: 'ทดสอบ', content_name_en: 'test ep.1', content_name_th: 'ทดสอบ ตอนที่ 1', synopsis_en:'system', synopsis_th: 'ระบบ'}
                ],
                contentStage: null,
                selected: {},
                fields: [
                    {key: 'meta_id', sortable: true, sortDirection: 'desc'},
                    {key: 'title_name_en', sortable: true, sortDirection: 'desc'},
                    {key: 'title_name_th', sortable: true, sortDirection: 'desc'},
                    {key: 'synopsis_en', sortable: true, sortDirection: 'desc'},
                    {key: 'synopsis_th', sortable: true, sortDirection: 'desc'},
                    {key: 'country', sortable: true, sortDirection: 'desc'},
                    {key: 'release_year', sortable: true, sortDirection: 'desc'},
                    {key: 'title_type', sortable: true, sortDirection: 'desc'},
                    {key: 'studio_id', sortable: true, sortDirection: 'desc'},
                    {key: 'rating_code', sortable: true, sortDirection: 'desc'},
                    {key: 'genre_id', sortable: true, sortDirection: 'desc'},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
            }
        },
        async created() {
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
            await this.loadContents()
        },
        computed: {
            rows() {
                return this.contents.length
            },
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        methods: {
            async loadContents(params = {}) {
                try {
                    const {data} = await this.$services.program.getAllContent(params);
                    const {results, next, page, previous, page_total} = data;
                    this.page = page;
                    this.next = next;
                    this.previous = previous;
                    this.page_total = page_total;
                    this.page_of_number = Array.from({length: page_total}, (v, k) => k + 1);
                    this.contents = results
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },

            async OnSearch() {
                if (this.search && this.search.length > 0)
                    await this.loadContents({page: this.page, search: this.search})
                else {
                    this.loadContents({page: this.page})
                }
            },
            async loadContent(content) {
                try {
                    const {content_id} = content;
                    const {data} = await this.$services.program.getByIdContent(content_id);
                    if (data) {
                        this.selected = data;
                        this.$bvModal.show('edit-content')
                    }
                }catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.contentStage = valid ? 'valid' : 'invalid';
                return valid
            },
            resetModal() {
                this.content = {
                    content_id: -1,
                    name_th: '',
                    name_en: '',
                    synopsis_en: '',
                    synopsis_th: '',
                    duration: '000000',
                    content_no: 1
                };
                this.contentStage = null
            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                this.confirmAdd();
            },
            async confirmSave(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to edit ?')) {
                    const {content_id, name_en, name_th, synopsis_en, synopsis_th, duration, content_no} = this.selected;
                    try {
                        await this.$services.program.updateContent(content_id, this.selected);
                        await this.loadContents();
                        this.selected = {};
                        this.editSuccess();
                        this.$bvModal.hide('edit-content')
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.editError();
                    }
                } else {
                    this.checkFormValidity();
                }
            },
            async confirmAdd(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity() && await this.$bvModal.msgBoxConfirm('Do you really want to add ?')) {
                    const {name_th, name_en, synopsis_en, synopsis_th, duration, content_no} = this.content;
                    try {
                        await this.$services.program.addContent({
                            name_en,
                            name_th,
                            synopsis_en,
                            synopsis_th,
                            duration,
                            content_no
                        });
                        await this.loadContents();
                        this.addSuccess();
                        this.$nextTick(() => {
                            this.$refs.modal.hide()
                        })
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.addError();
                    }
                } else {
                    this.checkFormValidity();
                    this.$nextTick(() => {
                        this.$refs.modal.hide()
                    })
                }
            },
            async deleteContent(content) {
                if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
                    const {content_id} = content;
                    try {
                        await this.$services.program.removeContent(content_id);
                        await this.loadContents();
                        this.deleteSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.deleteError();
                    }
                } else {
                    this.$bvModal.hide('edit-content')
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
        }
    }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }
</style>
