<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownEditSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedEditSuccess">
      Edit series success!. This alert will dismiss after {{ dismissCountDownEditSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess">
      Add series success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError">
      Name En is duplicate!. This alert will dismiss after {{ dismissCountDownAddError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess">
      Delete series success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError">
      Delete series error!. This alert will dismiss after {{ dismissCountDownDeleteError }} seconds...
    </b-alert>

    <div>
      <b-row class="justify-content-center">
      <b-form-group class="col-md-8">
        <b-input-group>
          <b-input-group-prepend>
            <b-button variant="primary">
              <i class="fa fa-search"></i> Search
            </b-button>
          </b-input-group-prepend>
          <b-form-input type="text" placeholder="Ex. Id, Name, .." v-model="search"
                        @input="onSearchSeriesList()">
          </b-form-input>
        </b-input-group>
      </b-form-group>
        <b-form-group class="col-md-2">
          <b-button-group>
            <b-button variant="primary" class="btn btn-primary float-right" to="/program/generate-series">
              <i class="fa fa-plus-circle"></i> Add Series
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-card>
        <div slot="header">
          <strong>Series</strong>
        </div>
        <b-table
          :items="Array.isArray(series) ? series: []"
          :fields="fields"
          responsive="sm"
          id="series-table"
          style="text-align: center">
          <template slot="duration" slot-scope="row">
            {{row.item.duration[0] + row.item.duration[1]}}:{{row.item.duration[2] + row.item.duration[3]}}:{{row.item.duration[4] + row.item.duration[5]}}
          </template>
          <template slot="actions" slot-scope="row">
            <router-link :to="{name: 'GenerateSeries', params: {id: row.item.series_id}}">
              <b-button variant="outline-primary" size="sm" class="mr-1">
                <i class="fa fa-edit"></i> Edit</b-button>
            </router-link>
            <b-button @click="deleteSeries(row.item)" variant="danger" size="sm" class="mr-1">
              <i class="fa fa-remove"></i> Delete
            </b-button>
          </template>
        </b-table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" :class="previous ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadSeriesList({page: previous, search})">Previous</a>
            </li>
            <li v-for="page_number in page_of_number" :key="page_number" class="page-item"
                :class="page_number === page ? 'active': '' "
                v-if="Math.abs(page_number - page) < 3 || page_number === page_of_number - 1 || page_number === 0">
              <a class="page-link" href="#" @click="loadSeriesList({page: page_number, search})">{{page_number}}</a>
            </li>
            <li class="page-item" :class="next ?  '': 'disabled' ">
              <a class="page-link" href="#" @click="loadSeriesList({page: next, search})">Next</a>
            </li>
          </ul>
        </nav>
      </b-card>
    </div>
  </b-container>
</template>

<script>
    import ContentMixin from "../../mixins/ContentMixin";
    import validToken from "../../mixins/validToken";

    export default {
        mixins: [ContentMixin,validToken],
        data() {
            return {
                search: '',
                page_of_number: [],
                next: 0,
                previous: 0,
                page: 1,
                page_total: 0,
                series: [
                    {series_id: 'aaa', name: 'test', ep_no_suffix_flag: true, duration: '111111', total_episode: 1}
                ],
                seriesStage: null,
                selected: {},
                fields: [
                    {key: 'series_id', sortable: true, sortDirection: 'desc'},
                    {key: 'name', sortable: true,},
                    {key: 'ep_no_suffix_flag', label: 'Generate Suffix', sortable: true,},
                    {key: 'duration', sortable: true,},
                    {key: 'total_episode', sortable: true,},
                    {key: 'actions'}
                ],
                dismissSecsEditSuccess: 5,
                dismissCountDownEditSuccess: 0,
                dismissSecsEditError: 5,
                dismissCountDownEditError: 0,
                dismissSecsAddSuccess: 5,
                dismissCountDownAddSuccess: 0,
                dismissSecsAddError: 5,
                dismissCountDownAddError: 0,
                dismissSecsDeleteSuccess: 5,
                dismissCountDownDeleteSuccess: 0,
                dismissSecsDeleteError: 5,
                dismissCountDownDeleteError: 0,
                perPage: 10,
                currentPage: 1,
                total_episode: 1,
                ep_no_suffix_flag: 'Y',
                selected2: {},
                contentStage: null,
                fields2: [
                    {key: 'name_en', sortable: true,},
                    {key: 'name_th', sortable: true,},
                    {key: 'duration', sortable: true,},
                    {key: 'content_no', sortable: true,},
                    {key: 'actions'}
                ],
                message_success: '',
                name_en: '',
                name_th: '',
                synopsis_en: '',
                synopsis_th: '',
            }
        },
        async created() {
            try {
                const token = localStorage.getItem('token');
            } catch (e) {
                this.$router.push({name: 'Page401'})
            }
            await this.loadSeriesList()
        },
        computed: {
            rows() {
                return this.series.length
            },
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        methods: {
            async addSeries() {
                await this.resetModal();
            },
            async loadSeriesList(params = {}) {
                try {
                    const {data} = await this.$services.program.getAllSeries(params);
                    const {results, next, page, previous, page_total} = data;
                    this.page = page;
                    this.next = next;
                    this.previous = previous;
                    this.page_total = page_total;
                    this.page_of_number = Array.from({length: page_total}, (v, k) => k + 1);
                    this.series = results
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async onSearchSeriesList() {
                if (this.search && this.search.length > 0)
                    await this.loadSeriesList({page: this.page, search: this.search})
                else {
                    this.loadSeriesList({page: this.page})
                }
            },
            async loadSeries(series) {
                try {
                    const {series_id} = series;
                    const {data} = await this.$services.program.getByIdSeries(series_id);
                    if (data) {
                        this.selected = data;
                        this.$bvModal.show('edit-series')
                    }
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            checkFormValidity() {
                const valid = this.$refs.form.checkValidity();
                this.seriesStage = valid ? 'valid' : 'invalid';
                return valid
            },
            resetModal() {
                this.seriesStage = null;
                this.selected = {
                    name_en: '',
                    name_th: '',
                    synopsis_en: '',
                    synopsis_th: '',
                    duration: '000000',
                    ep_no_suffix_flag: 'Y',
                    total_episode: 1
                }
            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
            },
            async confirmSave(bvModalEvt) {
                bvModalEvt.preventDefault();
                if (this.checkFormValidity()) {
                    try {
                        let {series_id, name_en, name_th, synopsis_en, synopsis_th, ep_no_suffix_flag, total_episode} = this.selected;
                        if (String(ep_no_suffix_flag).toUpperCase() !== 'Y')
                            ep_no_suffix_flag = 'N';
                        await this.$services.program.updateSeries(series_id, {
                            name_en,
                            name_th,
                            synopsis_en,
                            synopsis_th,
                            ep_no_suffix_flag,
                            total_episode
                        });
                        await this.loadSeriesList();
                        this.selected = {};
                        this.editSuccess();
                        this.$bvModal.hide('edit-series')
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.editError();
                    }
                } else {
                    this.checkFormValidity();
                    return undefined;
                }
            },
            async loadContents(params = {}) {
                try {
                    const {data} = await this.$services.program.getAllContent(params);
                    const {results, next, page, previous, page_total} = data;
                    this.page = page;
                    this.next = next;
                    this.previous = previous;
                    this.page_total = page_total;
                    this.page_of_number = Array.from({length: page_total}, (v, k) => k + 1);
                    this.contents = results
                } catch (e) {
                    if (e.request.status === 404) {
                        await this.$bvModal.msgBoxOk('Not Found (404)');
                    }
                    if (e.request.status === 500) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                    }
                }
            },
            async deleteSeries(serie) {
                if (await this.$bvModal.msgBoxConfirm('Do you really want to delete?')) {
                    const {series_id} = serie;
                    try {
                        await this.$services.program.removeSeries(series_id);
                        await this.loadSeriesList();
                        this.deleteSuccess();
                    } catch (e) {
                        if (e.request.status === 404) {
                            await this.$bvModal.msgBoxOk('Not Found (404)');
                        }
                        if (e.request.status === 500) {
                            await this.$bvModal.msgBoxOk('Server Error (500)');
                        }
                        this.deleteError();
                    }
                } else {
                    return undefined;
                }
            },
            editSuccess() {
                this.dismissCountDownEditSuccess = this.dismissSecsEditSuccess
            },
            editError() {
                this.dismissCountDownEditError = this.dismissSecsEditError
            },
            addSuccess() {
                this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess
            },
            addError() {
                this.dismissCountDownAddError = this.dismissSecsAddError
            },
            deleteSuccess() {
                this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess
            },
            deleteError() {
                this.dismissCountDownDeleteError = this.dismissSecsDeleteError
            },
            mounted() {
            },
            countDownChangedEditSuccess(dismissCountDownEditSuccess) {
                this.dismissCountDownEditSuccess = dismissCountDownEditSuccess
            },
            countDownChangedEditError(dismissCountDownEditError) {
                this.dismissCountDownEditError = dismissCountDownEditError
            },
            countDownChangedAddSuccess(dismissCountDownAddSuccess) {
                this.dismissCountDownAddSuccess = dismissCountDownAddSuccess
            },
            countDownChangedAddError(dismissCountDownAddError) {
                this.dismissCountDownAddError = dismissCountDownAddError
            },
            countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
                this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess
            },
            countDownChangedDeleteError(dismissCountDownDeleteError) {
                this.dismissCountDownDeleteError = dismissCountDownDeleteError
            },
            loadContent(content) {
                let {content_id, name_en, name_th, content_no, synopsis_en, synopsis_th, duration} = content;
                this.selected2 = {content_id, name_en, name_th, content_no, synopsis_en, synopsis_th, duration};
                this.$bvModal.show('edit-content')
            },
            checkFormValidity2() {
                const valid = this.$refs.form.checkValidity();
                this.contentStage = valid ? 'valid' : 'invalid';
                return valid
            },
            async deleteContent(content) {
                if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
                    const {content_id} = content;
                    try {
                        await this.$services.program.removeContent(content_id);
                        await this.loadSeries();
                        this.deleteSuccess();
                    } catch (e) {
                        await this.$bvModal.msgBoxOk('Server Error (500)');
                        this.deleteError();
                    }
                } else {
                    return undefined;
                }
            },
            addContentList(isReset, template, index, suffix_en, suffix_th, isGen) {
                let {name_en, name_th, content_no, synopsis_en, synopsis_th, duration} = template;
                content_no = index;
                if (isGen) {
                    name_en = name_en + suffix_en + String(index);
                    name_th = name_th + suffix_th + String(index);
                } else {
                    name_en = name_en + suffix_en;
                    name_th = name_th + suffix_th;
                }
                this.$super(ContentMixin).addContentList(isReset, {
                    name_en,
                    name_th,
                    synopsis_th,
                    content_no,
                    synopsis_en,
                    duration,
                })
            },
            GenerateContent() {
                this.contents = [];
                const template = this.content;
                const isGen = this.ep_no_suffix_flag === 'Y';
                let suffix_en = isGen ? ' ep ' : '';
                let suffix_th = isGen ? ' ตอนที่ ' : '';
                for (let index = 1; index <= this.total_episode; index++) {
                    this.addContentList(false, template, index, suffix_en, suffix_th, isGen)
                }
            },
            resetContent() {
                this.$super(ContentMixin).resetContent();
                this.total_episode = 1;
                this.ep_no_suffix_flag = 'N'
            },
        }
    }
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline;
    margin: 5px 5px;
  }

  .disabledTab {
    pointer-events: none;
  }
</style>
