<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess"
    >Update title success!. This alert will dismiss after {{ dismissCountDownUpdateSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess"
    >Add title success!. This alert will dismiss after {{ dismissCountDownAddSuccess }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownMsgError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedMsgError"
    >{{ messageError }}. This alert will dismiss after {{ dismissCountDownMsgError }} seconds...
    </b-alert>
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess"
    >Delete title success!. This alert will dismiss after {{ dismissCountDownDeleteSuccess }} seconds...
    </b-alert>

    <div>
      <b-row class="text-center">
        <!-- <b-col cols="1" v-if="!isCreate() && titleAllow.isEdit"> -->
        <b-col cols="1" v-if="!isCreate()">
          <a @click="saveUpdateTitle">
            <i class="fa fa-save fa-lg mt-4"></i>
            <br/>Save
          </a>
        </b-col>
        <b-col cols="1" v-if="isCreate() && titleAllow.isAdd">
          <a @click="saveUpdateTitle">
            <i class="fa fa-save fa-lg mt-4"></i>
            <br/>Add
          </a>
        </b-col>
        <b-col cols="1" v-if="!isCreate() && titleAllow.isDelete">
          <a @click="deleteTitle($route.params.id)">
            <i class="fa fa-trash-o fa-lg mt-4"></i>
            <br/>Delete
          </a>
        </b-col>
        <b-col cols="1">
          <a style="border: none;background-color: #fff" class="p-0 m-0" @click="backPage()">
            <i class="fa fa-mail-reply fa-lg mt-4"></i>
            <br/>Back
          </a>
        </b-col>
      </b-row>
      <b-row sm="12" class="mt-3">
        <b-form inline class="col-12" ref="form">
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Title Id:" validated>
              <b-form-input v-model="title.id" class="ml-2" style="width: 100%" disabled></b-form-input>
            </b-form-group>
          </b-col>

          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Status:" validated>
              <b-form-select
                v-model="title.status"
                class="ml-2"
                style="width: 100%"
                required
                :disabled="titleAllow.isDisabled"
              >
                <template slot="first">
                  <option v-for="(item, index) in statusChoices" :value="item.value">{{ item.value }}</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Title Name:" validated>
              <b-form-input
                v-model="title.name"
                :disabled="titleAllow.isDisabled"
                class="ml-2"
                style="width: 100%"
                @input="fetchTitleName"
                required
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="BU:" validated>
              <b-form-select
                rows="4"
                class="ml-2"
                style="width: 100%"
                v-model="title.bu_id"
                :disabled="titleAllow.isDisabled"
              >
                <template>
                  <option
                    v-for="(item, index) in buChoices"
                    :key="index"
                    :value="item.id"
                  >{{ item.name }}
                  </option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Vendor:" validated>
              <b-form-select
                v-model="title.vendor_id"
                class="ml-2"
                style="width: 100%"
                :disabled="titleAllow.isDisabled"
                @change="fetchStudioByVendor(title.vendor_id)"
              >
                <template>
                  <option v-for="(item, index) in vendors" :value="item.id">{{ item.name }}</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Studio:" validated>
              <b-form-select
                v-model="title.studio_id"
                class="ml-2"
                style="width: 100%"
                :disabled="titleAllow.isDisabled || !this.studios.length"
              >
                <template slot="first">
                  <option v-for="item in studios" :value="item.id">{{ item.name }}</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Title Type:" validated>
              <b-form-select
                v-model="title.title_type"
                class="ml-2"
                style="width: 100%"
                required
                :disabled="titleAllow.isDisabled"
              >
                <template slot="first">
                  <option v-for="item in typeChoices" :value="item.value">{{ item.value }}</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Total of Episode:" validated>
              <b-form-input
                :disabled="title.total_episode === 1 || title.total_episode === '1' || titleAllow.isDisabled"
                v-if="title.title_type === 'NON-SERIES'"
                min="1"
                max="1"
                type="number"
                v-model="title.total_episode"
                class="ml-2"
                style="width: 100%"
                required
              ></b-form-input>
              <b-form-input
                v-if="title.title_type === 'SERIES'"
                min="2"
                type="number"
                v-model="title.total_episode"
                class="ml-2"
                style="width: 100%"
                :disabled="titleAllow.isDisabled"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Rating:" validated>
              <b-form-select
                v-model="title.rating_id"
                class="ml-2"
                style="width: 100%"
                :disabled="titleAllow.isDisabled"
              >
                <template slot="first">
                  <option
                    v-for="item in ratings"
                    :value="item.id"
                    v-bind:key="item.id"
                  >{{ item.name }}
                  </option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Country:" validated>
              <b-form-select
                v-model="title.country_id"
                class="ml-2"
                style="width: 100%"
                :disabled="titleAllow.isDisabled"
              >
                <template slot="first">
                  <option
                    v-for="item in countries"
                    v-bind:key="item.code"
                    :value="item.code"
                  >{{ item.name }}
                  </option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Release Year:" validated>
              <b-form-input
                v-model="title.release_year"
                rows="4"
                class="ml-2"
                style="width: 100%"
                :disabled="titleAllow.isDisabled"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Genre:" validated>
              <b-form-select
                v-model="title.genre_id"
                class="ml-2"
                style="width: 100%"
                :disabled="titleAllow.isDisabled"
              >
                <template slot="first">
                  <option v-for="item in genres" v-bind:key="item.id" :value="item.id">{{ item.name }}</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Other Type:" validated>
              <b-form-select
                v-model="title.other_id"
                class="ml-2"
                style="width: 100%"
                :disabled="titleAllow.isDisabled"
              >
                <template slot="first">
                  <option
                    v-for="item in otherType"
                    v-bind:key="item.id"
                    :value="item.id"
                  >{{ item.name }}
                  </option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Duration:" validated>
              <!--              <vue-timepicker format="HH:mm:ss" style="overflow-wrap: break-word;" v-model="title.duration"-->
              <!--                              required>-->
              <!--              </vue-timepicker>-->
              <b-form-input
                :disabled="titleAllow.isDisabled"
                class="ml-2"
                min="0"
                id="duration"
                v-model="title.duration"
                @input="autoGenerateNoneEpisode"
                type="number"
                style="display: inline-flex"
              ></b-form-input>
              Ex. 010203 = 1 hr 2 min 3 sec
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Cost:" validated>
              <b-form-input v-model="title.cost" class="ml-2" style="width: 100%" disabled></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="6" class="mb-2" style="display: inline-table;justify-content: flex-end">
            <b-form-group class="mr-2" style="display:block" label="Amortize Category:" validated>
              <b-form-select
                v-model="title.amortize_category_id"
                class="ml-2"
                style="width: 100%"
                :disabled="titleAllow.isDisabled"
              >
                <template slot="first">
                  <option
                    v-for="item in amortize_category"
                    v-bind:key="item.id"
                    :value="item.id"
                  >{{ item.name }}
                  </option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-col>
        </b-form>
      </b-row>
      <b-row sm="12">
        <b-tabs
          class="col-12"
          active-nav-item-class="font-weight-bold"
          nav-item-class="font-weight-bold"
        >
          <!-- <b-tab v-if="dealAllow.isView" title="Rights"> -->
          <b-tab title="Rights" v-if="dealVideoAllow.isView || dealVideoAllow.isView">
            <b-row>
              <b-button variant="primary" class="ml-3" v-b-modal.add-period>
                <i class="fa fa-plus-circle"></i> Add Period
              </b-button>
            </b-row>
            <br/>
            <b-card>
              <b-row>
                <b-table
                  style="text-align: center"
                  head-variant="light"
                  sort-by="start"
                  :items="Array.isArray(title.right_list) ? title.right_list: []"
                  :fields="fieldsRights"
                >
                  <template
                    v-slot:cell(datetime_right_start)="row"
                  >{{ moment(row.item.datetime_right_start).format('DD/MM/YYYY HH:mm:ss') }}
                  </template>
                  <template
                    v-slot:cell(datetime_right_end)="row"
                  >{{ moment(row.item.datetime_right_end).format('DD/MM/YYYY HH:mm:ss') }}
                  </template>
                  <template v-slot:cell(action)="row">
                    <b-button @click="deletePeriod(row.item)" variant="danger" class="mr-1">
                      <i class="fa fa-remove"></i> Delete
                    </b-button>
                  </template>
                </b-table>
              </b-row>
            </b-card>
          </b-tab>
          <b-tab title="Episode">
            <b-card>
              <div class="mb-2" style="display: inline-flex">
                <label class="mr-2">
                  <b>Suffix:</b>
                </label>
                <b-form-input
                  class="mr-3"
                  v-model="is_suffix"
                  style="align-self: center"
                  :disabled="title.title_type === 'NON-SERIES'"
                ></b-form-input>
                <b-button
                  :disabled="title.title_type === 'NON-SERIES' || !is_suffix.length"
                  variant="primary"
                  @click="generateEpisode"
                >Generate
                </b-button>
              </div>
              <b-row>
                <b-table
                  style="text-align: center"
                  head-variant="light"
                  :items="Array.isArray(title.episode_list) ? title.episode_list: []"
                  :fields="fieldsEpisode"
                >
                  <template v-slot:cell(episode_name)="row">
                    <b-form-input
                      v-model="row.item.episode_name"
                      :disabled="title.title_type === 'NON-SERIES'"
                    ></b-form-input>
                  </template>
                  <template v-slot:cell(pac_no)="row">
                    <b-form-input
                      type="number"
                      v-model="row.item.pac_no"
                      :disabled="title.title_type === 'NON-SERIES'"
                    ></b-form-input>
                  </template>
                  <template v-slot:cell(duration)="row">
                    <!--                    <vue-timepicker format="HH:mm:ss" style="overflow-wrap: break-word;"-->
                    <!--                                    v-model="row.item.duration">-->
                    <!--                    </vue-timepicker>-->
                    <b-form-input
                      min="0"
                      id="duration"
                      v-model="row.item.duration"
                      type="number"
                      :disabled="title.title_type === 'NON-SERIES'"
                      style="display: inline-flex"
                    ></b-form-input>
                  </template>
                  <template v-slot:cell(action)="row">
                    <b-button
                      @click="removeGenEpisode(row.item)"
                      :disabled="title.title_type === 'NON-SERIES'"
                      variant="danger"
                      size="sm"
                      class="mr-1"
                    >
                      <i class="fa fa-remove"></i> Delete
                    </b-button>
                  </template>
                </b-table>
              </b-row>
            </b-card>
          </b-tab>
          <!-- <b-tab active title="AKA & Synopsis" v-if="akaAllow.isView"> -->
          <b-tab active title="AKA & Synopsis">
            <b-card>
              <b-row>
                <b-table
                  style="text-align: center"
                  head-variant="light"
                  :items="Array.isArray(title.aka_synopsis_list) ? title.aka_synopsis_list: []"
                  :fields="fieldsAkaSynopsis"
                >
                  <template v-slot:cell(name)="row">
                    <b-form-input
                      v-model="row.item.name"
                      @input="setAkaNameOfNull"
                      :disabled="!akaAllow.isEdit"
                    ></b-form-input>
                  </template>
                  <template v-slot:cell(synopsis)="row">
                    <b-form-textarea v-model="row.item.synopsis" :disabled="!akaAllow.isEdit"></b-form-textarea>
                  </template>
                </b-table>
              </b-row>
            </b-card>
          </b-tab>
          <!-- <b-tab title="Cast" v-if="castAllow.isView"> -->
          <b-tab title="Cast">
            <b-card>
              <b-button v-b-modal.add-people variant="primary" v-if="castAllow.isAdd">Add Cast</b-button>
              <b-table
                :items="title.cast_list"
                :fields="fields_people_role"
                responsive="sm"
                style="text-align: center;margin-top: 1rem"
                id="cast-table"
              >
                <template v-slot:cell(role)="row">
                  <div>{{ row.item.name }}</div>
                </template>
                <template v-slot:cell(people)="row">
                  <div v-for="(item, index) in row.item.people_list" v-bind:key="index">
                    <div>{{ item.name }}</div>
                  </div>
                </template>
                <template v-slot:cell(actions)="row">
                  <b-button
                    @click="loadPeople(row.item)"
                    variant="outline-primary"
                    v-if="castAllow.isEdit"
                    size="sm"
                    class="mr-1"
                  >
                    <i class="fa fa-edit"></i> Edit
                  </b-button>
                  <b-button
                    @click="removeInputRoles(row.item)"
                    variant="danger"
                    size="sm"
                    class="mr-1"
                    v-if="castAllow.isDelete"
                  >
                    <i class="fa fa-remove"></i> Delete
                  </b-button>
                </template>
              </b-table>
            </b-card>
          </b-tab>
          <!-- <b-tab title="Thumbnail" v-if="thumbAllow.isView"> -->
          <b-tab title="Thumbnail">
            <b-card>
              <b-col
                sm="12"
                class="mb-2"
                style="display: inline-flex;justify-content: start"
                v-if="thumbAllow.isAdd"
              >
                <label class="mr-2">
                  <b>Tag:</b>
                </label>
                <b-form-group validated style="width: 35%">
                  <b-form-select class="ml-2" v-model="selectedTag">
                    <template slot="first">
                      <option
                        v-for="(item, index) in thumbnailTagChoices"
                        :value="item.value"
                      >{{ item.value }}
                      </option>
                    </template>
                  </b-form-select>
                </b-form-group>
                <b-form-file
                  :disabled="!selectedTag"
                  class="ml-3"
                  accept="image/*"
                  v-model="selectedImage"
                  plain
                  @input="convertImg($event)"
                ></b-form-file>
              </b-col>
              <b-row>
                <b-col
                  sm="4"
                  style="text-align: center"
                  v-if="title.thumbnail_list.length"
                  v-for="(item, index) in title.thumbnail_list"
                  v-bind:key="index"
                >
                  <div style="display: inline-flex">
                    <b-img thumbnail fluid :src="item.uri" alt="Image 1"></b-img>
                    <a @click="deleteThumbnail(item)" v-if="thumbAllow.isDelete">
                      <i class="fa fa-times-circle" style="color: red"></i>
                    </a>
                  </div>
                  <br/>
                  <span>{{ item.tag }}</span>
                </b-col>
              </b-row>
            </b-card>
          </b-tab>
          <!-- <b-tab title="Title Cost" v-if="costAllow.isView"> -->
          <b-tab title="Title Cost">
            <b-card>
              <b-row>
                <b-button
                  class="ml-3"
                  v-b-modal.title-cost
                  variant="primary"
                  v-if="costAllow.isAdd"
                >Add Title Cost
                </b-button>
              </b-row>
              <br/>
              <b-table
                style="text-align: center"
                head-variant="light"
                :items="title.title_cost_list"
                :fields="fieldsTitleCost"
              >
                <template v-slot:cell(action)="row">
                  <b-button
                    variant="danger"
                    @click="removeTitleCost(row.item)"
                    v-if="costAllow.isDelete"
                  >Delete
                  </b-button>
                </template>
              </b-table>
            </b-card>
          </b-tab>
          <!-- <b-tab title="Localize" v-if="localizeAllow.isView"> -->
          <b-tab title="Localize">
            <b-card v-for="(item, index) in title.localize_list" v-bind:key="index">
              <div slot="header">
                <strong>{{ item.name }}</strong>
              </div>
              <b-form-group v-for="(temp, index) in item.language_list" v-bind:key="index">
                <div style="display: inline-flex;justify-content: flex-start; align-self: center">
                  <b-form-checkbox
                    class="mb-3"
                    @input="setStatus(temp)"
                    v-model="temp.is_checked"
                    :disabled="!localizeAllow.isEdit"
                  >
                    <b>{{ temp.name }}</b>
                  </b-form-checkbox>
                  <b-form-select
                    v-if="temp.is_checked === true"
                    label="IL Status"
                    class="ml-2"
                    v-model="temp.status"
                  >
                    <template slot="first">
                      <option value="RECEIVE">RECEIVE</option>
                      <option value="LOCALIZE">LOCALIZE</option>
                    </template>
                  </b-form-select>
                </div>
              </b-form-group>
            </b-card>
          </b-tab>
          <!-- <b-tab title="Sub Genre" v-if="localizeAllow.isView"> -->
          <b-tab title="Sub Genre">
            <b-card>
              <b-col sm="4" class="mb-2" style="display: inline-flex;justify-content: flex-end">
                <b-form-select v-model="selectedSubGenre" required>
                  <template slot="first" v-for="(item, index) in subGenre">
                    <option
                      :value="item"
                      :disabled="Array.isArray(title.sub_genre_list) ? title.sub_genre_list.map(x => x.id).includes(item.id) : true "
                    >{{ item.name }}
                    </option>
                  </template>
                </b-form-select>
              </b-col>
              <b-col sm="3" class="mb-2" style="display: inline-flex;justify-content: flex-start">
                <b-button
                  @click="addSubGenre()"
                  :disabled="Object.keys(this.selectedSubGenre).length === 0"
                  variant="primary"
                  v-if="costAllow.isAdd"
                >Add Sub Genre
                </b-button>
              </b-col>
              <br/>
              <b-table
                style="text-align: center"
                head-variant="light"
                :items="title.sub_genre_list"
                :fields="fieldsSubGenre"
              >
                <template v-slot:cell(action)="row">
                  <b-button variant="danger" @click="deleteSubGenre(row.item)">Delete</b-button>
                </template>
              </b-table>
            </b-card>
          </b-tab>
          <b-tab title="Expect Receive">
            <b-card>
              <b-row>
                <b-button class="ml-3" v-b-modal.add-expect variant="primary">Add Expect Receive</b-button>
              </b-row>
              <br/>
              <b-row>
                <b-table
                  style="text-align: center"
                  head-variant="light"
                  sort-by="start"
                  :items="Array.isArray(title.expect_receive_list) ? title.expect_receive_list: []"
                  :fields="fieldsExpectReceive"
                >
                  <template v-slot:cell(action)="row">
                    <b-button
                      @click="loadExpectReceive(row)"
                      variant="outline-primary"
                      size="sm"
                      class="mr-1"
                    >
                      <i class="fa fa-edit"></i> Edit
                    </b-button>
                    <b-button
                      @click="removeExpectReceive(row)"
                      variant="danger"
                      size="sm"
                      class="mr-1"
                    >
                      <i class="fa fa-remove"></i> Delete
                    </b-button>
                  </template>
                </b-table>
              </b-row>
            </b-card>
          </b-tab>
          <b-tab title="Material">
            <b-card>
              <div class="mb-2" style="display: inline-flex">
                <b-col sm="3" style="display: inline-flex">
                  <label class="mr-2">
                    <b>Prefix:</b>
                  </label>
                  <b-form-select
                    v-model="is_prefix_material"
                  >
                    <template>
                      <option value="TEASER">TEASER</option>
                      <option value="TRAILER">TRAILER</option>
                    </template>
                  </b-form-select>
                </b-col>
                <b-col sm="3" style="display: inline-flex">
                  <label class="mr-2">
                    <b>Suffix:</b>
                  </label>
                  <b-form-input
                    v-model="is_suffix_material"
                  >
                  </b-form-input>
                </b-col>
                <b-col sm="3" style="display: inline-flex">
                  <label style="min-width: fit-content" class="mr-2">
                    <b>Total of material:</b>
                  </label>
                  <b-form-input
                    :disabled="titleAllow.isDisabled"
                    min="1"
                    type="number"
                    v-model="title.total_episode_material"
                    style="width: 100%"
                    required
                  ></b-form-input>
                </b-col>
                <b-button
                  :disabled="!title.total_episode_material"
                  variant="primary"
                  @click="generateMaterial"
                >Generate
                </b-button>
              </div>
              <b-row>
                <b-table
                  style="text-align: center"
                  head-variant="light"
                  :items="Array.isArray(title.material_list) ? title.material_list: []"
                  :fields="fieldsMaterial"
                >
                  <template v-slot:cell(episode_name)="row">
                    <b-form-input v-model="row.item.name"></b-form-input>
                  </template>
                  <template v-slot:cell(pac_no)="row">
                    <b-form-input type="number" v-model="row.item.pac_no"></b-form-input>
                  </template>
                  <template v-slot:cell(duration)="row">
                    <!--                    <vue-timepicker format="HH:mm:ss" style="overflow-wrap: break-word;"-->
                    <!--                                    v-model="row.item.duration">-->
                    <!--                    </vue-timepicker>-->
                    <b-form-input
                      min="0"
                      id="duration"
                      v-model="row.item.duration"
                      type="number"
                      style="display: inline-flex"
                    ></b-form-input>
                  </template>
                  <template v-slot:cell(action)="row">
                    <b-button
                      @click="removeMaterial(row.item)"
                      variant="danger"
                      size="sm"
                      class="mr-1"
                    >
                      <i class="fa fa-remove"></i> Delete
                    </b-button>
                  </template>
                </b-table>
              </b-row>
            </b-card>
          </b-tab>
        </b-tabs>
      </b-row>
    </div>

    <!-- Modal -->
    <b-modal
      id="title-cost"
      size="md"
      ref="modal"
      title="Add Title Cost"
      no-close-on-backdrop
      @reset="resetNewCost"
      @hidden="resetNewCost"
      @ok="saveCost"
    >
      <b-alert
        :show="dismissCountDownCostDuplicate"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedCostDuplicate"
      >Cost name is duplicate!. This alert will dismiss after {{ dismissCountDownCostDuplicate }} seconds...
      </b-alert>
      <b-row>
        <b-col sm="12" class="mb-2" style="display: inline-flex;justify-content: flex-end">
          <label class="mr-2">
            <b>Cost Name:</b>
          </label>
          <b-form-select
            v-model="cost.cost_id"
            class="ml-2"
            style="width: 70%"
            @change="isExistsCost($event)"
          >
            <template slot="first">
              <option
                v-for="cost in costs"
                :value="cost.id"
                v-bind:key="cost.id"
                :disabled="isCostExist(cost.id)"
              >{{ cost.name }}
              </option>
            </template>
          </b-form-select>
        </b-col>
        <b-col
          v-if="cost.cost_id"
          sm="12"
          class="mb-2"
          style="display: inline-flex;justify-content: flex-end"
        >
          <label class="mr-2">
            <b>Episode Cost:</b>
          </label>
          <b-form-input type="number" v-model="cost.episode_cost" class="ml-2" style="width: 70%"></b-form-input>
        </b-col>
        <b-col
          v-if="cost.cost_id"
          sm="12"
          class="mb-2"
          style="display: inline-flex;justify-content: flex-end"
        >
          <label class="mr-2">
            <b>Unit Cost:</b>
          </label>
          <b-form-input type="number" class="ml-2" style="width: 70%" v-model="cost.unit_cost"></b-form-input>
        </b-col>
        <b-col
          v-if="cost.cost_id"
          sm="12"
          class="mb-2"
          style="display: inline-flex;justify-content: flex-end"
        >
          <label class="mr-2">
            <b>Total Cost:</b>
          </label>
          <b-form-input
            type="number"
            class="ml-2"
            style="width: 70%"
            v-model="cost.total_cost"
            disabled
          >{{ cost.total_cost = Number(cost.episode_cost * title.total_episode) + Number(cost.unit_cost) }}
          </b-form-input>
        </b-col>
      </b-row>
    </b-modal>

    <b-modal
      id="add-people"
      ref="modal"
      size="lg"
      title="Add Cast"
      no-close-on-backdrop
      :ok-disabled="this.selectedRoleId === ''"
      @ok="createdAddPeopleRole"
      @show="resetModal"
      @hidden="resetModal"
    >
      <b-alert
        :show="dismissCountDownRoleDuplicate"
        dismissible
        fade
        variant="danger"
        @dismiss-count-down="countDownChangedRoleDuplicate"
      >Role Id is duplicate!. This alert will dismiss after {{ dismissCountDownRoleDuplicate }} seconds...
      </b-alert>
      <b-row>
        <b-form-group
          validated
          class="col-md-12"
          label=" Select People Role Name:"
          label-for="role"
          style="font-weight:normal;"
          invalid-feedback="People Role Name is required"
        >
          <b-form-select v-model="selectedRoleId" @input="showSelectRole($event)" required>
            <template slot="first" v-for="item in roles">
              <option :value="item.id" :disabled="isCastRoleExists(item.id)">{{ item.name }}</option>
            </template>
          </b-form-select>
        </b-form-group>
      </b-row>
      <b-row>
        <b-form-group class="col-md-12">
          <b-button v-on:click="addInputPeople" variant="primary">
            <i class="fa fa-plus-circle"></i> Add People Name
          </b-button>
        </b-form-group>
      </b-row>
      <b-form
        style="display: flex; place-content: center"
        v-for="(item, index) in people"
        v-bind:key="index"
      >
        <b-form-group
          validated
          class="col-md-10"
          label="People Name:"
          label-for="people"
          invalid-feedback="People is required"
          required
        >
          <b-form-select v-model="item.id" @change="showSelectPeople($event, index)" required>
            <template slot="first" v-for="peopleItem in peopleChoices">
              <option
                :value="peopleItem.id"
                :disabled="people.includes(peopleItem)"
              >{{ peopleItem.name }}
              </option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group class="col-md-2" style="margin-top: 29px;">
          <b-button v-on:click="removeInputPeople(index)" variant="danger">
            Delete
            <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
    </b-modal>
    <b-modal
      id="edit-people"
      ref="modal"
      size="lg"
      title="Edit Role"
      @show="resetModal"
      no-close-on-backdrop
      @ok="createdEditPeopleRole"
      @hidden="resetModal"
    >
      <b-row>
        <b-form-group
          validated
          class="col-md-12"
          label="Select Role Id:"
          label-for="role"
          style="font-weight:normal;"
          invalid-feedback="Role Id is required"
        >
          <div>
            <b-form-input v-model="selectedCast.name" disabled required></b-form-input>
          </div>
        </b-form-group>
      </b-row>
      <b-row>
        <b-form-group class="col-md-12">
          <b-button v-on:click="addInputPeople" variant="primary">
            <i class="fa fa-plus-circle"></i> Add People
          </b-button>
        </b-form-group>
      </b-row>
      <div>
        <b-form
          style="display: flex; place-content: center"
          v-for="(item, index) in selectedCast.people_list"
          v-bind:key="index"
        >
          <div class="col-md-10">
            <b-form-group
              validated
              label="People"
              label-for="people"
              invalid-feedback="People is required"
              required
            >
              <b-form-select
                v-model="item.id"
                @input="showSelectPeople($event, index, true)"
                v-bind:key="item.id"
                required
              >
                <template slot="first" v-for="data in peopleChoices">
                  <option
                    :value="data.id"
                    :disabled="selectedCast.people_list.includes(data)"
                  >{{ data.name }}
                  </option>
                </template>
              </b-form-select>
            </b-form-group>
          </div>
          <b-form-group class="col-md-2" style="margin-top: 29px;">
            <b-button v-on:click="removeInputEditRole(item.id)" variant="danger">
              Delete
              <i class="fa fa-times-circle"></i>
            </b-button>
          </b-form-group>
        </b-form>
      </div>

      <b-form
        style="display: flex; place-content: center"
        v-for="(item, index) in people"
        v-bind:key="index"
      >
        <b-form-group
          validated
          class="col-md-10"
          label="People"
          label-for="people"
          invalid-feedback="People is required"
          required
        >
          <b-form-select v-model="item.id" @input="showSelectPeople($event, index)" required>
            <template slot="first">
              <option
                v-for="data in peopleChoices"
                :value="data.id"
                :disabled="people.includes(data)"
              >{{ data.name }}
              </option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group class="col-md-2" style="margin-top: 29px;">
          <b-button v-on:click="removeInputPeople(index)" variant="danger">
            Delete
            <i class="fa fa-times-circle"></i>
          </b-button>
        </b-form-group>
      </b-form>
    </b-modal>

    <!-- Add Expect Receive -->
    <b-modal
      no-close-on-backdrop
      id="add-expect"
      ref="modal"
      title="Add Expect Receive"
      @show="resetModal"
      @hidden="resetModal"
      @ok="add_expect"
    >
      <form ref="form_expect">
        <b-form-group
          validated
          label="Start Pac"
          label-for="start_pac"
          invalid-feedback="Start Pac is required"
          required
        >
          <b-form-input id="start_pac" v-model="expect_receive.start_pac" type="number" required></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="End Pac"
          label-for="end_pac"
          invalid-feedback="End Pac is required"
          required
        >
          <b-form-input id="end_pac" v-model="expect_receive.end_pac" type="number" required></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Expect Receive Date"
          label-for="datetime_expect_receive"
          invalid-feedback="Expect Receive Date is required"
          required
        >
          <kendo-datetimepicker
            type="date"
            class="ml-2"
            style="width: 100%"
            v-model="expect_receive.datetime_expect_receive"
            id="datetime_expect_receive"
            :time-format="'HH:mm:ss'"
            :interval="5"
            :format="'dd/MM/yyyy HH:mm:ss'"
          ></kendo-datetimepicker>
          <span
            style="color: #f86c6b; font-size: 10px"
            v-if="expect_receive.datetime_expect_receive === '' || expect_receive.datetime_expect_receive === undefined || expect_receive.datetime_expect_receive === null "
          >* Please fill expect receive date.</span>

          <!-- <b-form-datepicker
            id="datetime_expect_receive"
            v-model="expect_receive.datetime_expect_receive"
            :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
            locale="en"
            required
          ></b-form-datepicker>-->
        </b-form-group>
      </form>
    </b-modal>

    <!-- edit Expect Receive -->
    <b-modal
      no-close-on-backdrop
      id="edit-expect"
      ref="modal"
      title="Edit Expect Receive"
      @show="resetModal"
      @hidden="resetModal"
      @ok="update_expect"
    >
      <form ref="form_expect">
        <b-form-group
          validated
          label="Start Pac"
          label-for="start_pac"
          invalid-feedback="Start Pac is required"
          required
        >
          <b-form-input
            id="start_pac"
            v-model="edit_expect_receive.start_pac"
            type="number"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="End Pac"
          label-for="end_pac"
          invalid-feedback="End Pac is required"
          required
        >
          <b-form-input id="end_pac" v-model="edit_expect_receive.end_pac" type="number" required></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Expect Receive Date"
          label-for="datetime_expect_receive"
          invalid-feedback="Expect Receive Date is required"
          required
        >
          <kendo-datetimepicker
            type="date"
            class="ml-2"
            style="width: 100%"
            v-model="edit_expect_receive.datetime_expect_receive"
            id="datetime_expect_receive"
            :time-format="'HH:mm:ss'"
            :interval="5"
            :format="'dd/MM/yyyy HH:mm:ss'"
          ></kendo-datetimepicker>
          <span
            style="color: #f86c6b; font-size: 10px"
            v-if="edit_expect_receive.datetime_expect_receive === '' || edit_expect_receive.datetime_expect_receive === undefined || edit_expect_receive.datetime_expect_receive === null "
          >* Please fill expect receive date.</span>
        </b-form-group>
      </form>
    </b-modal>

    <!-- add period -->
    <b-modal
      no-close-on-backdrop
      id="add-period"
      ref="modal"
      title="Add Period"
      @reset="resetPeriod"
      @cancel="resetPeriod"
      @show="resetPeriod"
      @hidden="resetPeriod"
      @ok="add_period"
    >
      <form ref="form_period">
        <b-form-group label="Deal">
          <multiselect
            v-model="wordDeal"
            :options="deal_list"
            @search-change="fetchDeal"
            :seachable="true"
            :multiple="false"
            :close-on-select="true"
            :clear-on-select="false"
            :preserve-search="true"
            placeholder="Select deal"
            label="ref_no"
            track-by="deal_no"
            :preselect-first="true"
          ></multiselect>
        </b-form-group>
        <b-form-group
          validated
          label="Right type"
          label-for="type"
          invalid-feedback="Right type is required"
          required
        >
          <b-form-select v-model="right_list.type" style="width: 100%;" required>
            <option :value="linear_type.type">Linear</option>
            <option
              v-for="(item, index) in vodType"
              :key="index"
              :value="item.value.type"
            >{{ item.value.type }}
            </option>
          </b-form-select>
        </b-form-group>
        <b-form-group v-if="right_list.type === 'Linear'" label="Max Run" validated>
          <b-form-input type="number" v-model="right_list.max_run" style="width: 100%;"></b-form-input>
        </b-form-group>
        <b-form-group v-if="right_list.type === 'TVOD'" label="MG" validated>
          <b-form-input type="number" v-model="right_list.mg" style="width: 100%;"></b-form-input>
        </b-form-group>
        <b-form-group v-if="right_list.type === 'TVOD'" label="Deem Price" validated>
          <b-form-input type="number" v-model="right_list.deem_price" style="width: 100%;"></b-form-input>
        </b-form-group>
        <b-form-group
          v-if="right_list.type === 'AVOD' || right_list.type === 'TVOD'"
          label="Rev Share (to partner)"
          validated
        >
          <b-form-input type="number" v-model="right_list.rev_share" style="width: 100%;"></b-form-input>
        </b-form-group>
        <b-form-group
          validated
          label="Right Start"
          label-for="datetime_right_start"
          invalid-feedback="Right Start is required"
          required
        >
          <kendo-datetimepicker
            type="date"
            style="width: 100%"
            v-model="right_list.datetime_right_start"
            id="datetime_right_start"
            :time-format="'HH:mm:ss'"
            :interval="5"
            :format="'dd/MM/yyyy HH:mm:ss'"
          ></kendo-datetimepicker>
          <span
            style="color: #f86c6b; font-size: 10px"
            v-if="right_list.datetime_right_start === '' || right_list.datetime_right_start === undefined"
          >* Please fill Datetime right start.</span>
        </b-form-group>
        <b-form-group
          validated
          label="Right End"
          label-for="datetime_right_end"
          invalid-feedback="Right End is required"
          required
        >
          <kendo-datetimepicker
            type="date"
            style="width: 100%"
            v-model="right_list.datetime_right_end"
            id="datetime_right_end"
            :time-format="'HH:mm:ss'"
            :interval="5"
            :format="'dd/MM/yyyy HH:mm:ss'"
          ></kendo-datetimepicker>
          <span
            style="color: #f86c6b; font-size: 10px"
            v-if="right_list.datetime_right_end === '' || right_list.datetime_right_end === undefined"
          >* Please fill Datetime right end.</span>
        </b-form-group>
      </form>
    </b-modal>
  </b-container>
</template>

<script>
import moment from "moment";
import VueTimepicker from "vue2-timepicker";
import PermissionMixin from "../../mixins/PermissionMixin";
import Multiselect from "vue-multiselect";

export default {
  mixins: [PermissionMixin],
  name: "Title",
  components: {VueTimepicker, Multiselect},
  data() {
    return {
      right_list: {},
      moment,
      base64: "",
      is_suffix: "#",
      is_suffix_material: "",
      is_prefix_material: "",
      linear_type: {
        type: "Linear",
        is_max_run: true,
      },
      cost: {
        cost_id: "",
        cost_name: "",
        episode_cost: 0,
        total_cost: 0,
        unit_cost: 0,
      },
      people: [],
      peoples: [],
      deal_list: [],
      amortize_category: [],
      selectedSubGenre: {},
      selectedTag: "",
      selectedImage: null,
      selectedRoleId: "",
      editRoles: [],
      selectedCast: {},
      fields_people_role: [
        {key: "role", label: "People Role Name", sortable: true},
        {key: "people", label: "People Name", sortable: true},
        {key: "actions"},
      ],
      title: {
        id: "auto",
        name: "",
        vendor_id: "",
        country_id: "",
        studio_id: "",
        sub_genre_list: [],
        rating_id: "",
        other_id: "",
        status: "Select",
        title_type: "NON-SERIES",
        total_episode: 1,
        total_episode_material: 1,
        release_year: 2019,
        cost: 0,
        bu_id: "",
        duration: "000000",
        title_cost_list: [],
        aka_synopsis_list: [],
        cast_list: [],
        episode_list: [],
        material_list: [],
        localize_list: [],
        thumbnail_list: [],
        right_list: [],
        genre_list: [],
        amortize_category_id: "",
        expect_receive_list: [],
      },
      fieldsRights: [
        {key: "datetime_right_start", label: "Rights Start", sortable: true},
        {key: "datetime_right_end", label: "Rights End", sortable: true},
        {key: "deal_id", sortable: true},
        {key: "type", label: "Right Type", sortable: true},
        {key: "remark", label: "Description", sortable: true},
        {key: "action", sortable: true},
      ],
      fieldsSubGenre: [
        {key: "id", sortable: true},
        {key: "name", sortable: true},
        {key: "action", sortable: true},
      ],
      fieldsEpisode: [
        {key: "episode_name", sortable: true},
        {key: "pac_no", sortable: true},
        {key: "duration", sortable: true},
        {key: "action", sortable: true},
      ],
      fieldsMaterial: [
        {key: "episode_name", sortable: true},
        {key: "duration", sortable: true},
        {key: "action", sortable: true},
      ],
      fieldsAkaSynopsis: [
        {key: "language", sortable: true},
        {key: "name", sortable: true},
        {key: "synopsis", sortable: true},
      ],
      fieldsTitleCost: [
        {key: "cost_name", sortable: true},
        {key: "episode_cost", sortable: true},
        {key: "unit_cost", sortable: true},
        {key: "total_cost", sortable: true},
        {key: "action", sortable: true},
      ],
      fieldsExpectReceive: [
        {key: "start_pac", sortable: true},
        {key: "end_pac", sortable: true},
        {
          key: "datetime_expect_receive",
          label: "Expect Receive Date",
          sortable: true,
        },
        {key: "action", sortable: true},
      ],
      expect_receive: {
        start_pac: "",
        end_pac: "",
        datetime_expect_receive: "",
      },
      edit_expect_receive: {},
      expect_receive_index: "",
      dismissSecsUpdateSuccess: 5,
      dismissCountDownUpdateSuccess: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsMsgError: 5,
      dismissCountDownMsgError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsRoleDuplicate: 5,
      dismissCountDownRoleDuplicate: 0,
      dismissSecsCostDuplicate: 5,
      dismissCountDownCostDuplicate: 0,
      messageError: "",
      nameAkaOfNull: [],
      vendors: [],
      studios: [],
      costs: [],
      ratings: [],
      countries: [],
      languages: [],
      genres: [],
      peopleChoices: [],
      roles: [],
      typeChoices: [],
      statusChoices: [],
      thumbnailTagChoices: [],
      subGenre: [],
      otherType: [],
      localizeChoices: [],
      url: null,
      titleStage: null,
      text_source_update: "",
      buChoices: [],
      checkPermission: {},
      isAdd: false,
      isEdit: false,
      isDelete: false,
      isViewCast: false,
      isAddCast: false,
      isEditCast: false,
      isDeleteCast: false,
      isViewCost: false,
      isAddCost: false,
      isEditCost: false,
      isDeleteCost: false,
      isViewLocal: false,
      isAddLocal: false,
      isEditLocal: false,
      isDeleteLocal: false,
      isViewThumbnail: false,
      isAddThumbnail: false,
      isEditThumbnail: false,
      isDeleteThumbnail: false,
      isViewAka: false,
      isAddAka: false,
      isEditAka: false,
      isDeleteAka: false,
      titleAllow: {},
      akaAllow: {},
      castAllow: {},
      costAllow: {},
      localizeAllow: {},
      thumbAllow: {},
      dealVideoAllow: {},
      dealLinearAllow: {},
      isDisabled: false,
      wordDeal: "",
      vodType: [],
    };
  },
  computed: {},
  async created() {
    this.titleAllow = await this.initialPermission("title", "title");
    this.akaAllow = await this.initialPermission("title", "aka");
    this.castAllow = await this.initialPermission("title", "cast");
    this.localizeAllow = await this.initialPermission("title", "localization");
    this.thumbAllow = await this.initialPermission("title", "thumbnail");
    this.costAllow = await this.initialPermission("title", "cost");
    this.dealVideoAllow = await this.initialPermission("deal", "video");
    this.dealLinearAllow = await this.initialPermission("deal", "linear");
    // if (!this.titleAllow.isDetail) {
    //   this.$router.push({name: 'Page403'})
    // }
    // this.isAdd = this.checkPermission.permission_code.includes('title_title_add_title')
    // this.isEdit = this.checkPermission.permission_code.includes('title_title_change_title')
    // this.isDelete = this.checkPermission.permission_code.includes('title_title_delete_title')
    //
    // this.isViewCast = this.checkPermission.permission_code.includes('title_cast_view_cast')
    // this.isAddCast = this.checkPermission.permission_code.includes('title_cast_add_cast')
    // this.isEditCast = this.checkPermission.permission_code.includes('title_cast_change_cast')
    // this.isDeleteCast = this.checkPermission.permission_code.includes('title_cast_delete_cast')
    // this.isViewCost = this.checkPermission.permission_code.includes('title_cost_view_cost')
    // this.isAddCost = this.checkPermission.permission_code.includes('title_cost_add_cost')
    // this.isEditCost = this.checkPermission.permission_code.includes('title_cost_change_cost')
    // this.isDeleteCost = this.checkPermission.permission_code.includes('title_cost_delete_cost')
    // this.isViewLocal = this.checkPermission.permission_code.includes('title_localization_view_localization')
    // this.isAddLocal = this.checkPermission.permission_code.includes('title_localization_add_localization')
    // this.isEditLocal = this.checkPermission.permission_code.includes('title_localization_change_localization')
    // this.isDeleteLocal = this.checkPermission.permission_code.includes('title_localization_delete_localization')
    // this.isViewThumbnail = this.checkPermission.permission_code.includes('title_thumbnail_view_thumbnail')
    // this.isAddThumbnail = this.checkPermission.permission_code.includes('title_thumbnail_add_thumbnail')
    // this.isEditThumbnail = this.checkPermission.permission_code.includes('title_thumbnail_change_thumbnail')
    // this.isDeleteThumbnail = this.checkPermission.permission_code.includes('title_thumbnail_delete_thumbnail')
    // this.isViewAka = this.checkPermission.permission_code.includes('title_aka_view_aka')
    // this.isAddAka = this.checkPermission.permission_code.includes('title_aka_add_aka')
    // this.isEditAka = this.checkPermission.permission_code.includes('title_aka_change_aka')
    // this.isDeleteAka = this.checkPermission.permission_code.includes('title_aka_delete_aka')
    await this.initSelected();
    await this.fetch();
    await this.setAkaNameOfNull();
    if (this.buChoices.length === 1) {
      this.title.bu_id = this.buChoices[0].id;
    }
    if (this.statusChoices.length === 1) {
      this.title.status = this.statusChoices[0].value;
    }
    if (this.vendors.length === 1) {
      this.title.vendor_id = this.vendors[0].id;
    }
    if (this.studios.length === 1) {
      this.title.studio_id = this.studios[0].id;
    }
    if (this.typeChoices.length === 1) {
      this.title.title_type = this.typeChoices[0].value;
    }
    if (this.ratings.length === 1) {
      this.title.rating_id = this.ratings[0].id;
    }
    if (this.countries.length === 1) {
      this.title.country_id = this.countries[0].code;
    }
    if (this.genres.length === 1) {
      this.title.genre_id = this.genres[0].id;
    }
    if (this.roles.length === 1) {
      this.selectedRoleId = this.roles[0].id;
    }
    if (this.thumbnailTagChoices.length === 1) {
      this.selectedTag = this.thumbnailTagChoices[0].id;
    }
    if (this.costs.length === 1) {
      this.cost.cost_id = this.costs[0].value;
    }
    if (this.otherType.length === 1) {
      this.title.other_id = this.otherType[0].value;
    }
  },
  methods: {
    setStatus(data) {
      if (data.is_checked === true) {
        let status = {status: "RECEIVE"};
        Object.assign(data, status);
      } else {
        delete data.status;
      }
    },
    backPage() {
      this.$router.push({name: "Title List"});
    },
    async fetch() {
      const ctx = this;
      const {params} = ctx.$route;
      if (params && params.id) {
        await ctx.$services.title
          .findById(ctx.$route.params.id)
          .then(function (title) {
            ctx.title = title;
            let {duration, episode_list, material_list} = ctx.title;
            // duration = ctx.convertDuration(duration);
            episode_list = episode_list.map((episode) => ({
              ...episode,
              // duration: ctx.convertDuration(episode.duration)
            }));
            material_list = material_list.map((material) => ({
              ...material,
            }));
            ctx.title = {
              ...ctx.title,
              duration,
              episode_list,
              material_list,
            };
            if (ctx.title.vendor_id) {
              ctx.fetchStudioByVendor(ctx.title.vendor_id);
            }
          })
          .catch(({request}) => {
            ctx.errorHttp(request);
          });
      } else {
        await ctx.mock().catch(console.log);
      }
    },
    async errorHttp(statusCode) {
      if (statusCode === 404) {
        await this.$bvModal.msgBoxOk("Not Found (404)");
      } else if (statusCode === 500) {
        await this.$bvModal.msgBoxOk("Server Error (500)");
      }
    },
    convertDuration: (duration) =>
      `${duration.slice(0, 2)}:${duration.slice(2, 4)}:${duration.slice(4, 6)}`,
    toDuration: (duration) => duration.split(":").join(""),
    isExistsCost(costId) {
      const {title_cost_list} = this.title;
      if (title_cost_list.find(({cost_id}) => cost_id === costId)) {
        this.cost = {
          cost_id: -1,
          cost_name: "",
          unit_cost: 0,
          total_cost: 0,
          episode_cost: 0,
        };
        this.costDuplicate();
      }
    },
    initSelected() {
      const ctx = this;

      ctx.$services.language
        .find({is_aka: "Y"})
        .then((languages) => {
          ctx.languages = languages;
        })
        .catch(console.log);
      ctx.$services.cost
        .find()
        .then((costs) => {
          ctx.costs = costs;
        })
        .catch(console.log);
      ctx.$services.rating
        .find()
        .then((rating) => {
          ctx.ratings = rating;
        })
        .catch(console.log);

      ctx.$services.owner
        .find()
        .then((owner) => {
          ctx.buChoices = owner;
        })
        .catch(console.log);
      // set vendors
      ctx.$services.vendor
        .find()
        .then((vendors) => {
          ctx.vendors = vendors;
        })
        .catch(console.log);

      // set countries
      ctx.$services.country
        .find()
        .then((countries) => {
          ctx.countries = countries;
        })
        .catch(console.log);

      // set genres
      ctx.$services.genre
        .find()
        .then((genres) => {
          ctx.genres = genres;
        })
        .catch(console.log);

      // set roles
      ctx.$services.role
        .find()
        .then((roles) => {
          ctx.roles = roles;
        })
        .catch(console.log);

      // set peoples
      ctx.$services.people
        .find()
        .then((peoples) => {
          ctx.peopleChoices = peoples;
        })
        .catch(console.log);

      // set System config
      ctx.$services.config
        .findByTitleStatus()
        .then((config) => {
          ctx.statusChoices = config;
        })
        .catch(console.log);

      ctx.$services.config
        .findByTitleType()
        .then((config) => {
          ctx.typeChoices = config;
        })
        .catch(console.log);

      ctx.$services.config
        .findByTagThumbnail()
        .then((config) => {
          ctx.thumbnailTagChoices = config;
        })
        .catch(console.log);

      ctx.$services.amortize
        .find()
        .then((config) => {
          ctx.amortize_category = config;
        })
        .catch(console.log);

      ctx.$services.dealConfig
        .findByVodType()
        .then((config) => {
          ctx.vodType = config;
        })
        .catch(console.log);

      ctx.$services.config
        .findByLocalization({is_localize: "Y"})
        .then((config) => {
          ctx.localizeChoices = config;
        })
        .catch(console.log);

      ctx.$services.otherType
        .find()
        .then((data) => {
          ctx.otherType = data;
        })
        .catch(console.log);

      ctx.$services.subGenre
        .find()
        .then((data) => {
          ctx.subGenre = data;
        })
        .catch(console.log);
    },
    async fetchStudioByVendor(vendor_id) {
      const ctx = this;
      await ctx.$services.vendor
        .findStudioByVendor(vendor_id)
        .then((studios) => {
          ctx.studios = studios.data;
        })
        .catch(console.log);
    },
    checkFormValidity() {
      try {
        const valid = this.$refs.form.checkValidity();
        this.titleStage = valid ? "valid" : "invalid";
        return valid;
      } catch (e) {
        console.error(e)
      }
    },
    async fetchDeal(word) {
      const ctx = this;
      ctx.wordDeal = word;
      let params =
        ctx.wordDeal !== "" && ctx.wordDeal !== null
          ? {...params, search: ctx.wordDeal}
          : undefined;
      if (ctx.wordDeal !== "") {
        try {
          const deal = await this.$services.deal.find(params);
          this.deal_list = deal.results;
        } catch (e) {
          console.log(e);
        }
      }
    },
    toBase64: (file) =>
      new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      }),
    async convertImg(e) {
      const file = e;
      if (!file.type.includes("image/")) {
        alert("Please select an image file");
        return;
      }
      if (typeof FileReader === "function") {
        this.url = URL.createObjectURL(file);
        this.title.thumbnail_list.push({
          tag: this.selectedTag,
          file_name: file.name,
          text_source: await this.toBase64(file),
          uri: this.url,
        });
      } else {
        alert("Sorry, FileReader API not supported");
      }
      // console.log(e)
      // const file = e;
      // console.log(file)
      // console.log(this.url)
      // if (file) {
      //   this.url = URL.createObjectURL(file);
      //   let canvas, ctx, dataURL, base64;
      //   console.log(dataURL)
      //   canvas = document.createElement("canvas");
      //   dataURL = canvas.toDataURL("image/png");
      //   base64 = dataURL.replace("/^data:image\/png;base64,/", "");
      //   this.title.thumbnail_list.push({
      //     tag: this.selectedTag,
      //     file_name: file.name,
      //     text_source: base64,
      //     url: this.url
      //   });
      // }
    },
    deleteThumbnail(thumbnail) {
      this.title.thumbnail_list.splice(
        this.title.thumbnail_list.indexOf(thumbnail),
        1
      );
    },
    deletePeriod(period) {
      this.title.right_list.splice(this.title.right_list.indexOf(period), 1);
    },
    isCastRoleExists(roleId) {
      if (Array.isArray(this.title.title_cost_list)) {
        return !!this.title.cast_list.find(({id}) => roleId === id);
      }
      return false;
    },
    isCostExist(costId) {
      if (Array.isArray(this.title.title_cost_list)) {
        return !!this.title.title_cost_list.find(
          ({cost_id}) => costId === cost_id
        );
      }
      return false;
    },
    showSelectRole(roleId) {
      if (this.isCastRoleExists(roleId)) {
        this.roleDuplicate();
        this.selectedRoleId = -1;
      }
    },
    async showSelectPeople(peopleId, index, is_select = false) {
      let item = await this.$services.people.findById(peopleId);
      if (is_select && item) {
        this.selectedCast.people_list[index] = item;
      } else if (item) {
        this.people[index] = item;
      }
    },
    saveCost() {
      const {unit_cost, total_cost, episode_cost, cost_id} = this.cost;
      const costItem = this.costs.find(({id}) => cost_id === id);
      const {name} = costItem;
      this.title.title_cost_list.push({
        cost_id,
        cost_name: name,
        unit_cost,
        total_cost,
        episode_cost,
      });
      this.cost = {
        cost_id: -1,
        cost_name: "",
        unit_cost: 0,
        total_cost: 0,
        episode_cost: 0,
      };
      let sumTotalCost = this.title.title_cost_list.map((x) => x.total_cost);
      this.title.cost = sumTotalCost.reduce((a, b) => a + b, 0);
      // const a = this.title.title_cost_list.reduce((a, b) => a.total_cost + b.total_cost, 0);
      // console.log(a)
    },
    isCreate() {
      return !this.$route.params.id;
    },
    resetNewCost() {
      this.cost = {
        cost_name: "",
        episode_cost: 0,
        unit_cost: 0,
        total_cost: 0,
      };
    },
    async deleteTitle(titleId) {
      if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
        try {
          await this.$services.title.remove(titleId);
          await this.$bvModal.msgBoxOk("Delete title success.");
          this.$router.push({name: "Title List"});
        } catch (e) {

        }
      }
    },
    addSubGenre() {
      if (Object.keys(this.selectedSubGenre).length !== 0) {
        this.title.sub_genre_list.push(this.selectedSubGenre);
      }
      // this.title.sub_genre_list.push(this.selectedSubGenre)
    },
    deleteSubGenre(index) {
      this.title.sub_genre_list.splice(
        this.title.sub_genre_list.indexOf(index),
        1
      );
    },
    autoGenerateNoneEpisode() {
      if (this.title.title_type === "NON-SERIES") {
        const {name, duration} = this.title
        let [episode] = this.title.episode_list
        if (episode) {
          episode = {...episode, duration: this.toDuration(duration)}
        }else{
          episode = {
            episode_name: name,
            pac_no: 1,
            duration: this.toDuration(duration),
          }
        }
        this.title.episode_list = [episode]

      }
    },
    generateEpisode() {
      this.title.episode_list = [];
      let suffixEn = " " + this.is_suffix;
      let {episode_list, total_episode} = this.title;
      episode_list = Array.isArray(episode_list) ? episode_list : [];
      const episodeSize = episode_list.length;
      if (episodeSize !== total_episode) {
        if (episodeSize < total_episode) {
          const {name, duration} = this.title;
          const size = total_episode - episodeSize;
          let items = new Array(size).fill(
            {
              episode_name: name + suffixEn,
              duration,
              pac_no: episodeSize,
            },
            0,
            size
          );
          const ctx = this;
          items = items.map(({episode_name, pac_no, duration}, index) => ({
            duration,
            episode_name: ctx.is_suffix
              ? episode_name + (episodeSize + index + 1)
              : episode_name,
            pac_no: pac_no + index + 1,
          }));
          this.title.episode_list.push(...items);
        } else {
          this.title.episode_list = episode_list.slice(0, total_episode);
        }
      }
    },
    generateMaterial() {
      if (this.title.material_list) {
        let material_list = [];
        this.title = {...this.title, material_list};
      }
      if (typeof (this.title.total_episode_material) !== 'number') {
        this.title.total_episode_material = Number(this.title.total_episode_material)
      }
      this.title.material_list = [];
      let prefix = this.is_prefix_material + " ";
      let suffix = " " + this.is_suffix_material;
      let {material_list, total_episode_material} = this.title;
      material_list = Array.isArray(material_list) ? material_list : [];
      const ctx = this
      const episodeSize = material_list.length;
      if (episodeSize !== total_episode_material) {
        if (episodeSize < total_episode_material) {
          const {name, duration} = this.title;
          const size = total_episode_material - episodeSize;
          let items = new Array(size).fill(
            {
              id: '',
              episode_type: 'NONE-EPISODE',
              title_id: ctx.$route.params.id ? ctx.$route.params.id : '',
              name: prefix + name + " " + suffix,
              duration,
            },
            0,
            size
          );
          items = items.map(({name, duration}, index) => ({
            duration,
            title_id: ctx.$route.params.id ? ctx.$route.params.id : "",
            id: '',
            episode_type: 'NONE-EPISODE',
            name: ctx.is_prefix_material
              ? name + (episodeSize + index + 1)
              : name + (episodeSize + index + 1)
          }));
          this.title.material_list.push(...items);
        } else {
          this.title.material_list = material_list.slice(
            0,
            total_episode_material
          );
        }
      }
    },
    async mockLocalize() {
      const ctx = this;
      const localize_list = [];
      let results = await ctx.$services.language.find({is_localize: "Y"});
      for (let type of await this.$services.config.findByLocalization()) {
        let name = type.value;
        let language_list = [];
        for (let language of results) {
          language_list.push({
            code: language.code,
            name: language.name,
            is_checked: false,
            status: "RECEIVE",
          });
        }
        localize_list.push({
          name,
          language_list,
        });
      }
      this.title.localize_list = localize_list;
    },
    async mockAKA() {
      let aka_synopsis_list = [];
      for (let language of this.languages) {
        let data = {
          language: language.code,
          name: "",
          synopsis: "",
        };
        aka_synopsis_list.push(data);
      }
      this.title.aka_synopsis_list = aka_synopsis_list;
    },
    async mock() {
      if (this.isCreate()) {
        await this.mockLocalize();
        await this.mockAKA();
      }
    },
    removeGenEpisode(episode) {
      this.title.episode_list.splice(
        this.title.episode_list.indexOf(episode),
        1
      );
    },
    removeTitleCost(titleCost) {
      let {title_cost_list} = this.title;
      this.title.title_cost_list = [];
      title_cost_list.splice(title_cost_list.indexOf(titleCost), 1);
      this.title.title_cost_list = title_cost_list;
    },
    async createdAddPeopleRole() {
      let peopleIds = this.people.map(({id}) => id);
      peopleIds = peopleIds.reduce(
        (total, id) => (total.includes(id) ? total : [...total, id]),
        []
      );
      let role = this.roles.find(({id}) => id === this.selectedRoleId);
      const ctx = this;
      role.people_list = peopleIds.map((id) => {
        return ctx.peopleChoices.find((p) => p.id === id);
      });
      this.title.cast_list.push(role);
      const cast_list = this.title.cast_list;
      this.title.cast_list = [];
      this.title.cast_list = cast_list;
    },
    async createdEditPeopleRole() {
      const ctx = this;
      const peopleIds = this.people
        .map(({id}) => id)
        .map((id) => ctx.$services.people.findById(id));
      let people_list = this.selectedCast.people_list
        .map(({id}) => id)
        .map((id) => ctx.$services.people.findById(id));
      let peoples = await Promise.all(peopleIds);
      people_list = await Promise.all(people_list);

      this.selectedCast.people_list = people_list;
      this.selectedCast.people_list.push(...peoples);
      const index = this.title.cast_list.findIndex(
        (item) => item.id === this.selectedCast.id
      );
      this.title.cast_list[index] = this.selectedCast;
      let cast_list = this.title.cast_list;
      cast_list = cast_list.map((item) => {
        let {people_list} = item;
        people_list = people_list.reduce((total, p) => {
          return total.find((item) => item.id === p.id) ? total : [...total, p];
        }, []);
        return {...item, people_list};
      });
      this.title.cast_list = [];
      this.title.cast_list.push(...cast_list);
    },
    resetModal() {
      this.selectedRoleId = "";
      this.people = [];
      this.expect_receive = {
        start_pac: "",
        end_pac: "",
        datetime_expect_receive: "",
      };
    },
    fetchTitleName() {
      this.autoGenerateNoneEpisode();
      for (let item of this.nameAkaOfNull) {
        item.name = this.title.name;
      }
    },
    setAkaNameOfNull() {
      this.nameAkaOfNull = this.title.aka_synopsis_list.filter(
        (x) => x.name === ""
      );
    },
    addInputPeople() {
      if (!Array.isArray(this.people)) {
        this.people = [];
      }
      this.people.push({id: ""});
    },
    removeInputPeople(person) {
      this.people.splice(this.people.indexOf(person), 1);
    },
    removeInputRoles(role) {
      let cast_list = this.title.cast_list;
      this.title.cast_list = [];
      const index = cast_list.findIndex((item) => role.id === item.id);
      cast_list.splice(index, 1);
      this.title.cast_list = cast_list;
    },
    removeInputEditRole(itemId) {
      this.selectedCast.people_list = this.selectedCast.people_list.filter(
        ({id}) => id !== itemId
      );
    },
    async loadPeople(person) {
      try {
        this.editRoles = person;
        const parsedEditRoles = JSON.stringify(person);
        localStorage.setItem("editRoles", parsedEditRoles);
        if (localStorage.getItem("editRoles")) {
          try {
            this.selectedCast = JSON.parse(localStorage.getItem("editRoles"));
          } catch (e) {
            localStorage.removeItem("editRoles");
          }
        }
        this.$bvModal.show("edit-people");
      } catch (e) {
        if (e.request.status === 404) {
          await this.$bvModal.msgBoxOk("Not Found (404)");
        }
        if (e.request.status === 500) {
          await this.$bvModal.msgBoxOk("Server Error (500)");
        }
      }
    },
    matchBase64Update2(ctx, uri) {
      return new Promise(function (resolve, reject) {
        ctx.matchBase64Update1(uri, function (data) {
          resolve(data);
        });
      });
    },
    matchBase64Update1(url, callback) {
      const xhr = new XMLHttpRequest();
      xhr.onload = function () {
        const reader = new FileReader();

        reader.onloadend = function () {
          callback(reader.result);
        };
        reader.readAsDataURL(xhr.response);
      };
      xhr.open("GET", url);
      xhr.responseType = "blob";
      xhr.send();
    },
    async resultBase64(url) {
      const ctx = this;
      ctx.text_source_update = await ctx.matchBase64Update2(ctx, url);
    },
    async updateThumbnail() {
      for (let item of this.title.thumbnail_list) {
        await this.resultBase64(item.uri);
        item.text_source = this.text_source_update;
      }
    },
    removeMaterial(material){
      const indexOfMaterial = this.title.material_list.indexOf(material)
      if (indexOfMaterial >= 0)  {
         this.title.material_list.splice(indexOfMaterial, 1)
      }
    },
    async saveUpdateTitle() {
      if (
        this.title.episode_list.length &&
        this.checkFormValidity() &&
        (await this.$bvModal.msgBoxConfirm("Do you really want to save?"))
      ) {
        try {
          for (let i in this.title.expect_receive_list) {
            this.title.expect_receive_list[i].datetime_expect_receive = moment(
              this.convertDate(
                this.title.expect_receive_list[i].datetime_expect_receive
              )
            ).format();
          }
          this.title.duration = this.toDuration(this.title.duration);
          if (this.title.duration.length === 5) {
            this.title.duration = "0" + this.title.duration;
          }
          if (this.title.duration.length === 4) {
            this.title.duration = "00" + this.title.duration;
          }
          if (this.title.duration.length === 3) {
            this.title.duration = "000" + this.title.duration;
          }
          if (this.title.duration.length === 2) {
            this.title.duration = "0000" + this.title.duration;
          }
          if (this.title.duration.length === 1) {
            this.title.duration = "00000" + this.title.duration;
          }
          // const ctx = this;
          this.title.episode_list = this.title.episode_list.map((item) => ({
            ...item,
            duration: this.toDuration(item.duration),
          }));
          this.title.name = this.title.name.trim().toUpperCase();
          let {aka_synopsis_list} = this.title;
          if (aka_synopsis_list.length > 0) {
            for (let item of aka_synopsis_list) {
              if (item.name === "") {
                item.name = this.title.name;
              }
            }
          }
          if (this.isCreate()) {
            try {
              this.title = await this.$services.title.add(this.title);
              await this.$bvModal
                .msgBoxOk("Add title is success.")
                .then(() => {
                  this.$router.push({name: "Title List"});
                })
                .catch(console.log);
            } catch (e) {
              this.messageError = Object.values(e.response.data)[0][0];
              this.msgError();
              this.fetch();
            }
          } else {
            try {
              await this.updateThumbnail();
              await this.$services.title.updateById(this.title.id, this.title);
              await this.$bvModal
                .msgBoxOk("Save title is success.")
                .then(() => {
                  this.$router.push({name: "Title List"});
                })
                .catch(console.log);
            } catch (e) {
              this.messageError = Object.values(e.response.data)[0][0];
              this.msgError();
              this.fetch();
            }
          }
        } catch (e) {
        }
      } else {
        if (!this.checkFormValidity()) {
          await this.$bvModal.msgBoxOk("Please fill in the blank.");
        }
        if (!this.title.episode_list.length) {
          await this.$bvModal.msgBoxOk("Please generate episode.");
        }
      }
    },
    async add_expect(bvModalEvt) {
      bvModalEvt.preventDefault();
      if (
        this.checkFormValidityExpect() &&
        this.expect_receive.datetime_expect_receive &&
        (await this.$bvModal.msgBoxConfirm("Do you really want to save?"))
      ) {
        try {
          this.title.expect_receive_list.push({
            start_pac: this.expect_receive.start_pac,
            end_pac: this.expect_receive.end_pac,
            datetime_expect_receive: this.expect_receive
              .datetime_expect_receive,
          });
          this.$nextTick(() => {
            this.$refs.modal.hide();
          });
        } catch (e) {
          console.log(e);
        }
      } else {
        this.$nextTick(() => {
          this.$refs.modal.show();
        });
      }
    },
    async add_period(bvModalEvt) {
      bvModalEvt.preventDefault();
      if (
        this.checkFormValidityPeriod() &&
        this.right_list.datetime_right_start &&
        this.right_list.datetime_right_end &&
        (await this.$bvModal.msgBoxConfirm("Do you really want to save?"))
      ) {
        try {
          this.title.right_list.push({
            deal_id: this.wordDeal.deal_no,
            type: this.right_list.type,
            max_run: Number(
              this.right_list.max_run ? this.right_list.max_run : 0
            ),
            rev_share: Number(
              this.right_list.rev_share ? this.right_list.rev_share : 0
            ),
            deem_price: Number(
              this.right_list.deem_price ? this.right_list.deem_price : 0
            ),
            mg: Number(this.right_list.mg ? this.right_list.mg : 0),
            datetime_right_start: moment(
              this.convertDate(this.right_list.datetime_right_start)
            ).format(),
            datetime_right_end: moment(
              this.convertDate(this.right_list.datetime_right_end)
            ).format(),
          });
          this.$nextTick(() => {
            this.$refs.modal.hide();
          });
        } catch (e) {
          await this.$bvModal.msgBoxOk("Please fill in the blank.");
        }
      } else {
        this.$nextTick(() => {
          this.$bvModal.msgBoxOk("Please fill in the blank.");
          this.$refs.modal.show();
        });
      }
    },
    resetPeriod() {
      this.wordDeal = {};
      this.right_list = {};
    },
    checkFormValidityExpect() {
      const valid = this.$refs.form_expect.checkValidity();
      return valid;
    },
    checkFormValidityPeriod() {
      const valid = this.$refs.form_period.checkValidity();
      return valid;
    },
    async loadExpectReceive(row) {
      try {
        if (row) {
          this.edit_expect_receive = row.item;
          this.expect_receive_index = row.index;
          this.$bvModal.show("edit-expect");
        }
      } catch (e) {
        console.log(e);
      }
    },

    async update_expect(bvModalEvt) {
      bvModalEvt.preventDefault();
      if (
        this.checkFormValidityExpect() &&
        this.edit_expect_receive.datetime_expect_receive &&
        (await this.$bvModal.msgBoxConfirm("Do you really want to save?"))
      ) {
        try {
          this.title.expect_receive_list[
            this.expect_receive_index
            ].start_pac = this.edit_expect_receive.start_pac;
          this.title.expect_receive_list[
            this.expect_receive_index
            ].end_pac = this.edit_expect_receive.end_pac;
          this.title.expect_receive_list[
            this.expect_receive_index
            ].datetime_expect_receive = this.edit_expect_receive.datetime_expect_receive;
          this.$nextTick(() => {
            this.$refs.modal.hide();
          });
          this.expect_receive_index = "";
          this.edit_expect_receive = {};
        } catch (e) {
          this.$bvModal.show("edit-expect");
          console.log(e);
        }
      } else {
        this.$bvModal.show("edit-expect");
        await this.$bvModal.msgBoxOk("Please fill in the blank.");
      }
    },

    convertDate(datetime) {
      if (datetime.search("T") == -1) {
        let [date, time] = datetime.split(" ");
        let [day, month, year] = date.split("/");
        let [hour, minutes, seconds] = time.split(":");
        return `${[year, month, day].join("-")}T${[hour, minutes, seconds].join(
          ":"
        )}`;
      } else {
        return datetime;
      }
    },

    async removeExpectReceive(row) {
      if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
        this.$delete(this.title.expect_receive_list, row.index);
      } else {
        this.$bvModal.hide();
      }
    },

    updateSuccess() {
      this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess;
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess;
    },
    msgError() {
      this.dismissCountDownMsgError = this.dismissSecsMsgError;
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess;
    },
    roleDuplicate() {
      this.dismissCountDownRoleDuplicate = this.dismissSecsRoleDuplicate;
    },
    costDuplicate() {
      this.dismissCountDownCostDuplicate = this.dismissSecsCostDuplicate;
    },
    countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
      this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess;
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess;
    },
    countDownChangedMsgError(dismissCountDownMsgError) {
      this.dismissCountDownMsgError = dismissCountDownMsgError;
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess;
    },
    countDownChangedRoleDuplicate(dismissCountDownRoleDuplicate) {
      this.dismissCountDownRoleDuplicate = dismissCountDownRoleDuplicate;
    },
    countDownChangedCostDuplicate(dismissCountDownCostDuplicate) {
      this.dismissCountDownCostDuplicate = dismissCountDownCostDuplicate;
    },
  },
};
</script>

<style scoped>
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
