<template>
  <b-container fluid>
    <b-alert
      :show="dismissCountDownSyncSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedSyncSuccess"
      >Sync cms title success!. This alert will dismiss after
      {{ dismissCountDownSyncSuccess }} seconds...</b-alert
    >
    <b-alert
      :show="dismissCountDownSyncError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedSyncError"
      >Sync cms title error!. This alert will dismiss after
      {{ dismissCountDownSyncError }} seconds...</b-alert
    >
    <b-alert
      :show="dismissCountDownUpdateSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedUpdateSuccess"
      >Update title success!. This alert will dismiss after
      {{ dismissCountDownUpdateSuccess }} seconds...</b-alert
    >
    <b-alert
      :show="dismissCountDownUpdateError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedUpdateError"
      >Update title error!. This alert will dismiss after
      {{ dismissCountDownUpdateError }} seconds...</b-alert
    >
    <b-alert
      :show="dismissCountDownAddSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedAddSuccess"
      >Add title success!. This alert will dismiss after
      {{ dismissCountDownAddSuccess }} seconds...</b-alert
    >
    <b-alert
      :show="dismissCountDownAddError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedAddError"
      >Add title error!. This alert will dismiss after
      {{ dismissCountDownAddError }} seconds...</b-alert
    >
    <b-alert
      :show="dismissCountDownDeleteSuccess"
      dismissible
      fade
      variant="success"
      @dismiss-count-down="countDownChangedDeleteSuccess"
      >Delete title success!. This alert will dismiss after
      {{ dismissCountDownDeleteSuccess }} seconds...</b-alert
    >
    <b-alert
      :show="dismissCountDownDeleteError"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChangedDeleteError"
      >Delete title error!. This alert will dismiss after
      {{ dismissCountDownDeleteError }} seconds...</b-alert
    >

    <div>
      <b-row class="justify-content-center">
        <b-form-group class="col-md-5">
          <b-input-group>
            <b-input-group-prepend>
              <b-button variant="primary">
                <i class="fa fa-search"></i> Search
              </b-button>
            </b-input-group-prepend>
            <b-form-input
              type="text"
              placeholder="Ex. Id, Name, Page"
              v-model="word"
              @input="fetch"
            ></b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-group class="col-md-3">
          <b-button-group style="width: 100%">
            <b-button
              class="float-right mr-2"
              variant="primary"
              v-b-toggle.advance-search
            >
              <i class="fa fa-search"></i> Advance Search
            </b-button>
          </b-button-group>
        </b-form-group>
        <b-form-group class="col-md-2" v-if="appAllow.isAdd">
          <!-- <b-form-group class="col-md-2"> -->
          <b-button-group style="width: 100%">
            <b-button
              class="float-right mr-2"
              variant="primary"
              to="/program/title"
            >
              <i class="fa fa-plus-circle"></i> Add Title
            </b-button>
          </b-button-group>
        </b-form-group>
        <b-form-group class="col-md-2" v-if="appAllow.isAdd">
          <!-- <b-form-group class="col-md-2"> -->
          <b-button-group style="width: 100%">
            <b-button
              class="float-right mr-2"
              @click="syncCms"
              variant="primary"
            >
              Sync Cms
            </b-button>
          </b-button-group>
        </b-form-group>
      </b-row>
      <b-collapse id="advance-search">
        <b-col
          sm="6"
          style="
            display: inline-table;
            justify-content: flex-end;
            font-size: small;
          "
        >
          <b-form-group
            class="mr-2"
            label="Datetime Start:"
            :horizontal="true"
            validated
          >
            <kendo-datetimepicker
              class="ml-1"
              style="width: 100%; font-size: x-small !important"
              v-model="word_datetime_start"
              v-on:close="fetch"
              :time-format="'HH:mm:ss'"
              disabled
              :interval="5"
              :format="'yyyy-MM-dd HH:mm:ss'"
            ></kendo-datetimepicker>
          </b-form-group>
        </b-col>
        <b-col
          sm="6"
          style="
            display: inline-table;
            justify-content: flex-end;
            font-size: small;
          "
        >
          <b-form-group
            class="mr-2"
            label="Datetime End:"
            :horizontal="true"
            validated
          >
            <kendo-datetimepicker
              class="ml-1"
              style="width: 100%; font-size: x-small !important"
              v-model="word_datetime_end"
              disabled
              v-on:close="fetch"
              :time-format="'HH:mm:ss'"
              :interval="5"
              :format="'yyyy-MM-dd HH:mm:ss'"
            ></kendo-datetimepicker>
          </b-form-group>
        </b-col>
        <b-col
          sm="4"
          style="
            display: inline-table;
            justify-content: flex-end;
            font-size: small;
          "
        >
          <b-form-group
            class="mr-2"
            label="Vendor:"
            :horizontal="true"
            validated
          >
            <b-form-select
              v-model="wordVendor"
              @change="fetch"
              style="width: 100%; font-size: x-small"
            >
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option
                v-for="(item, index) in vendors"
                :key="item.id"
                :value="item.id"
              >
                {{ item.name }}
              </option>
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col
          sm="4"
          style="
            display: inline-table;
            justify-content: flex-end;
            font-size: small;
          "
        >
          <b-form-group
            class="mr-2"
            label="Studio:"
            :horizontal="true"
            validated
          >
            <b-form-select
              v-model="wordStudio"
              @input="fetch"
              style="width: 100%; font-size: x-small"
            >
              <template v-if="studios.length < 1" slot="first">
                <option :value="''">-- No studio --</option>
              </template>
              <template v-else slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option
                v-for="(item, index) in studios"
                :key="item.id"
                :value="item.id"
              >
                {{ item.name }}
              </option>
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col
          sm="4"
          style="
            display: inline-table;
            justify-content: flex-end;
            font-size: small;
          "
        >
          <b-form-group
            class="mr-2"
            label="Title Type:"
            :horizontal="true"
            validated
          >
            <b-form-select
              v-model="wordTitleType"
              @input="fetch"
              style="width: 100%; font-size: x-small"
            >
              <template slot="first">
                <option :value="''">-- Select All --</option>
              </template>
              <option
                v-for="(item, index) in typeChoices"
                :key="index"
                :value="item.value"
              >
                {{ item.value }}
              </option>
            </b-form-select>
          </b-form-group>
        </b-col>
      </b-collapse>
      <b-overlay :show="showOverlay" rounded="sm">
        <template v-slot:overlay>
          <b-spinner label="Loading..."></b-spinner>
        </template>
        <b-card>
          <div slot="header">
            <strong>Title</strong>
          </div>
          <b-col sm="2" style="display: inline; font-size: small">
            <b-button
              size="sm"
              class="mr-2"
              variant="primary"
              @click="selectAll"
              >Select all</b-button
            >
            <b-button size="sm" variant="primary" @click="resetAll"
              >Reset all</b-button
            >
          </b-col>
          <b-table
            v-bind:items.sync="titles"
            :fields="fields"
            responsive
            class="mt-2"
            style="text-align: center"
            id="title-table"
          >
            <template v-slot:cell(selected)="row">
              <b-form-checkbox
                v-model="selectedTitleModal"
                :value="row.item"
              ></b-form-checkbox>
            </template>
            <template v-slot:cell(duration)="row">{{
              durationDisplay(row.item.duration)
            }}</template>
            <template v-slot:cell(name)="row">
              <span v-b-tooltip :title="row.item.name">{{
                row.item.name
              }}</span>
            </template>
            <template v-slot:cell(actions)="row">
              <router-link
                :to="{ name: 'Title', params: { id: row.item.id } }"
                v-if="appAllow.isEdit"
              >
                <!-- <router-link :to="{name: 'Title', params: {id: row.item.id}}"> -->
                <b-button variant="outline-primary" size="sm" class="mr-1">
                  <i class="fa fa-edit"></i> Edit
                </b-button>
              </router-link>
              <b-button
                variant="danger"
                size="sm"
                type="reset"
                class="mr-1"
                @click="confirmRemove(row.item.id)"
                v-if="appAllow.isDelete"
              >
                <i class="fa fa-remove"></i> Delete
              </b-button>
            </template>
          </b-table>
          <div
            class="overflow-auto"
            style="float: right"
            v-if="this.titles.length"
          >
            <b-pagination
              v-model="pagination.current"
              :total-rows="pagination.count"
              :per-page="pagination.page_size"
              @change="fetch"
              first-text="First"
              prev-text="Prev"
              next-text="Next"
              last-text="Last"
            ></b-pagination>
          </div>
        </b-card>
      </b-overlay>
    </div>
  </b-container>
</template>

<script>
import PermissionMixin from "../../mixins/PermissionMixin";

export default {
  mixins: [PermissionMixin],
  data() {
    return {
      word_datetime_start: "",
      word_datetime_end: "",
      word: null,
      titles: [],
      pagination: {},
      selectedTitle: [],
      selectedTitleModal: [],
      fields: [
        { key: "selected", sortable: true },
        { key: "id", label: "Title Id", sortable: true, sortDirection: "desc" },
        {
          key: "name",
          label: "Title Name",
          sortable: true,
          tdClass: "titleName",
        },
        { key: "duration", sortable: true },
        { key: "total_episode", label: "Total of Episode", sortable: true },
        { key: "actions" },
      ],
      id: -1,
      permissionConfig: {
        app: "title",
        moduleApp: "title",
      },
      dismissSecsSyncSuccess: 5,
      dismissCountDownSyncSuccess: 0,
      dismissSecsSyncError: 5,
      dismissCountDownSyncError: 0,
      dismissSecsUpdateSuccess: 5,
      dismissCountDownUpdateSuccess: 0,
      dismissSecsUpdateError: 5,
      dismissCountDownUpdateError: 0,
      dismissSecsAddSuccess: 5,
      dismissCountDownAddSuccess: 0,
      dismissSecsAddError: 5,
      dismissCountDownAddError: 0,
      dismissSecsDeleteSuccess: 5,
      dismissCountDownDeleteSuccess: 0,
      dismissSecsDeleteError: 5,
      dismissCountDownDeleteError: 0,
      view_detail: {},
      delete_title: {},
      add_title: {},
      studios: [],
      vendors: [],
      typeChoices: [],
      wordStudio: "",
      wordVendor: "",
      wordTitleType: "",
      checkPermission: {},
      appAllow: {},
      isAdd: false,
      isEdit: false,
      isDelete: false,
      showOverlay: false,
    };
  },
  async created() {
    this.appAllow = await this.initialPermission("title", "title");

    // await this.fetchGroupPermission()
    // this.checkPermission = this.groupPermission.find(x => x.name === 'Program Library')
    // let isViewTitle = this.checkPermission.permission_code.includes('title_title_view_title')
    // if (!isViewTitle) {
    //   this.$router.push({name: 'Page403'})
    // }
    //
    // this.isAdd = this.checkPermission.permission_code.includes('title_title_add_title')
    // this.isEdit = this.checkPermission.permission_code.includes('title_title_view_detail_title')
    // this.isDelete = this.checkPermission.permission_code.includes('title_title_delete_title')
    await this.fetch();
    this.initSelected();
  },
  computed: {},
  methods: {
    async fetch(pageNumber) {
      const ctx = this;
      try {
        ctx.showOverlay = true;
        let page = Number(pageNumber);
        page = Number.isNaN(page) ? ctx.titles.page : page;
        const toNext = (titles) => {
          ctx.SetInitial(titles);
        };
        let params = { page };
        let clean = function (key, obj) {
          delete obj[key];
          return obj;
        };
        params =
          (ctx.word !== "" && ctx.word !== null) ||
          (ctx.word_datetime_start !== "" &&
            ctx.word_datetime_start !== null) ||
          (ctx.word_datetime_end !== "" && ctx.word_datetime_end !== null) ||
          (ctx.wordStudio !== "" && ctx.wordStudio !== null) ||
          (ctx.wordVendor !== "" && ctx.wordVendor !== null) ||
          (ctx.wordTitleType !== "" && ctx.wordTitleType !== null)
            ? {
                ...params,
                search: ctx.word,
                datetime_right_start: ctx.word_datetime_start,
                datetime_right_end: ctx.word_datetime_end,
                studio_id: ctx.wordStudio,
                vendor_id: ctx.wordVendor,
                title_type: ctx.wordTitleType,
              }
            : clean("search", params);
        if (params.page === 0) {
          params.page = 1;
        }
        if (ctx.wordVendor !== "") {
          await ctx.fetchStudioByVendor(ctx.wordVendor);
        } else {
          ctx.studios = [];
        }
        this.$services.title
          .find(params)
          .then(toNext)
          .catch((err) => err);
      } catch (e) {}
      if (ctx.wordVendor === "") {
        ctx.wordStudio = "";
      }
    },
    SetInitial({ results, current, page_size, count }) {
      this.pagination = { current, page_size, count };
      this.titles = results;
      this.showOverlay = false;
    },
    syncCmsTitleModal() {
      for (let item of this.titles) {
        if (!this.selectedTitleModal.map((x) => x.id).includes(item.id)) {
          this.selectedTitleModal.push(item);
        } else {
        }
      }
      // this.selectedTitle = this.selectedTitleModal;
      // this.selectedConfirmTitle = this.selectedTitle;
    },
    selectAll() {
      for (let item of this.titles) {
        if (!this.selectedTitleModal.map((x) => x.id).includes(item.id)) {
          this.selectedTitleModal.push(item);
        } else {
        }
      }
    },
    // matchAll() {
    //   // this.selectedTitleModal = []
    //   this.selectedTitleModal = this.selectedTitle;
    // },
    resetAll() {
      this.selectedTitleModal = [];
      // this.selectedTitle = this.selectedTitleModal
    },
    async fetchStudioByVendor(vendor_id) {
      const ctx = this;
      await ctx.$services.vendor
        .findStudioByVendor(vendor_id)
        .then((studios) => {
          ctx.studios = studios.data;
        })
        .catch(console.log);
    },
    initSelected() {
      const ctx = this;

      // set vendors
      ctx.$services.vendor
        .find()
        .then((vendors) => {
          ctx.vendors = vendors;
        })
        .catch(console.log);

      ctx.$services.config
        .findByTitleType()
        .then((config) => {
          ctx.typeChoices = config;
        })
        .catch(console.log);
    },
    async remove() {
      try {
        await this.$services.title.remove(this.id);
        await this.deleteSuccess();
        await this.fetch();
      } catch (e) {
        await this.deleteError();
      }
    },
    async syncCms() {
      if (
        await this.$bvModal.msgBoxConfirm("Do you really want to sync cms?")
      ) {
        let syncTitle = [];
        syncTitle = this.selectedTitleModal.map((x) => (x = { id: x.id }));
          this.showOverlay = true;
          await this.$services.title
            .syncTitle(syncTitle)
            .then((title) => {
              this.showOverlay = false;
              this.syncSuccess();
            })
            .catch((e) => {
              this.showOverlay = false;
              this.syncError();
            });
      }
    },
    async confirmRemove(id) {
      if (await this.$bvModal.msgBoxConfirm("Do you really want to delete?")) {
        this.id = id;
        await this.remove();
      }
    },
    mounted() {},
    durationDisplay(duration) {
      return `${duration.slice(0, 2)}:${duration.slice(2, 4)}:${duration.slice(
        4,
        6
      )}`;
    },
    syncSuccess() {
      this.dismissCountDownSyncSuccess = this.dismissSecsSyncSuccess;
    },
    syncError() {
      this.dismissCountDownSyncError = this.dismissSecsSyncError;
    },
    updateSuccess() {
      this.dismissCountDownUpdateSuccess = this.dismissSecsUpdateSuccess;
    },
    updateError() {
      this.dismissCountDownUpdateError = this.dismissSecsUpdateError;
    },
    addSuccess() {
      this.dismissCountDownAddSuccess = this.dismissSecsAddSuccess;
    },
    addError() {
      this.dismissCountDownAddError = this.dismissSecsAddError;
    },
    deleteSuccess() {
      this.dismissCountDownDeleteSuccess = this.dismissSecsDeleteSuccess;
    },
    deleteError() {
      this.dismissCountDownDeleteError = this.dismissSecsDeleteError;
    },
    countDownChangedSyncSuccess(dismissCountDownSyncSuccess) {
      this.dismissCountDownSyncSuccess = dismissCountDownSyncSuccess;
    },
    countDownChangedSyncError(dismissCountDownSyncError) {
      this.dismissCountDownSyncError = dismissCountDownSyncError;
    },
    countDownChangedUpdateSuccess(dismissCountDownUpdateSuccess) {
      this.dismissCountDownUpdateSuccess = dismissCountDownUpdateSuccess;
    },
    countDownChangedUpdateError(dismissCountDownUpdateError) {
      this.dismissCountDownUpdateError = dismissCountDownUpdateError;
    },
    countDownChangedAddSuccess(dismissCountDownAddSuccess) {
      this.dismissCountDownAddSuccess = dismissCountDownAddSuccess;
    },
    countDownChangedAddError(dismissCountDownAddError) {
      this.dismissCountDownAddError = dismissCountDownAddError;
    },
    countDownChangedDeleteSuccess(dismissCountDownDeleteSuccess) {
      this.dismissCountDownDeleteSuccess = dismissCountDownDeleteSuccess;
    },
    countDownChangedDeleteError(dismissCountDownDeleteError) {
      this.dismissCountDownDeleteError = dismissCountDownDeleteError;
    },
  },
};
</script>

<style>
ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 5px 5px;
}

.titleName {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
</style>
